[2018-04-25 12:34] dobrochtaKCI commented on #244
The first email was the only one mentioned that we needed to update so that should be fine.

[2018-04-25 14:44] dobrochtaKCI commented on #56
The export to FGDB returns a 'bad Request-Invalid URL' for any export request based on a geographic filter. This is true for all layers PID Points, Structures, BMPs, and Conveyances.

![bad request](https://user-images.githubusercontent.com/37631196/39252612-07f48b7c-4874-11e8-81fc-fa4a19c87266.JPG)

I am also still receiving blank file geodatabases when querying any type of conveyance using the a

[2018-04-25 15:03] dobrochtaKCI commented on #1
I agree this makes sense based on the fields you described. The tool appears to be working for all of the queries, I have tested except when the features returned is significantly large (thousands of records returned). Is there a known limit to the number of records that can be returned successfully? I have been successful returning up to about 3000 records or so, but anything larger than that ret

[2018-04-27 03:45] kanglu666 commented on #233
Since the relationship between BMP and BMP drainage area is 1:1.
and we only need to show the size of drainage area.
i think it's better just put the size of drainage area in to the BMP detail page, just under the BMP Type.
it's not necessary to create an new tab and only show one field there.

[2018-04-27 20:47] dobrochtaKCI commented on #240
Lu republish the base layers maps C:\DelDotWebViewer\BaseData_1_Primary.mxd it has been updated to source the 3 county parcel layers.
Labels in this map have been updated to address #249

[2018-04-27 20:49] dobrochtaKCI commented on #249
Lu please republish the base layers map C:\DelDotWebViewer\BaseData_1_Primary.mxd

This map includes the resourced parcel data from issue #240

[2018-04-27 20:53] dobrochtaKCI commented on #180
Lu I updated the layers to not used Groups in the npdes map  located on vm-arcgis103 C:\DelDotWebViewer\DEV\target_viewer_npdes_101_Label_Option.mxd  please try and publish this map and incorporate it into the viewer.

The labels in this map have been updated in reference to issue #249

[2018-04-28 01:45] kanglu666 commented on #233
;updated, ready for testing in dev:
1: BMP Drainage Areas will not be returned in the selected features list using a select by map function
2: Drainage area value added in to the BMO detail page under the BMp type

[2018-04-28 01:46] kanglu666 commented on #249
BaseData_1_Primary.mxd has been republished in dev deldot103.
ready for testing in dev

[2018-04-28 01:47] kanglu666 commented on #240
base layers maps C:\DelDotWebViewer\BaseData_1_Primary.mxd has been republished in dev,
ready for testing in dev

[2018-04-29 23:57] kanglu666 commented on #180
starting working on this:
publish the label layer.
build the function.

[2018-04-30 01:37] kanglu666 commented on #180
please also create another three mxds  include the label layers,
one for COD, one for NCC, and one for Maintenance

[2018-04-30 13:09] leeensminger commented on #186
@kanglu666 the link to use is this - this should be the publicly accessible one:

https://firstmap.delaware.gov/arcgis/rest/services/Elevation/DE_Lidar_DEM_Spectrum/ImageServer

[2018-04-30 13:12] leeensminger commented on #95
@kanglu666 please proceed with this.  Let us know if you exceed 10 hours on this.

[2018-04-30 13:18] #219 closed

[2018-04-30 13:46] leeensminger commented on #227
@cstevenson1 Is this still an issue?  Gerry appears to have fixed this, based on the above.

[2018-04-30 17:08] gerrykelly commented on #235
@leeensminger
There were actually two unrelated issues here:
1)  The photo shown was always from the latest inspection regardless of the year input.  This was correct from the original spec document.  You had flagged that as questionable, but the logic was never changed.  I have now updated it in dev and prod to get the most recent photo that is from an inspection with a date during or before the

[2018-04-30 17:57] gerrykelly commented on #228
@leeensminger
I am not getting an error running 2017 reports for any of these.  Perhaps the last-spillway fix for bug #235 fixed it.

[2018-04-30 21:01] dobrochtaKCI commented on #180
I created 3 more mxds and saved them here C:\DelDotWebViewer\DEV

The mxds that end with 'Lable_Option.mxd' are the ones you should use.

[2018-04-30 21:15] dobrochtaKCI commented on #240
I made an update to one of the parcel layers. Can you please republish again.

[2018-04-30 22:05] gerrykelly commented on #243
@leeensminger  Am I missing some more info for the template, source target mapping, etc?  The BMP type="Sand Filter" generally  only have related BMP_INSPECTIONS from 2008/9 so I assume I want to use BMP_DSF_INSPECTION_DRY (only 74 records there) (and BMP_DSF_INSPECTION_WET?  4 records, not many columns) and I also need to use the BMP_**DSF**_INSP_PHOTOS.  If that's basically true, I can proceed,

[2018-05-01 01:26] kanglu666 commented on #95
This one needs some effort.

note: using textSymbol

[2018-05-01 18:56] leeensminger commented on #243
@gerrykelly also include date stamp in the footer, like the othe reports

[2018-05-02 04:02] kanglu666 commented on #180
all four new map services with label options have been updated,
and the Turn on/off Feature Labels function has been built into the web viewer, ready for testing in next release

[2018-05-03 15:47] leeensminger commented on #1
@kanglu666 see question above

[2018-05-04 17:29] dobrochtaKCI commented on #56
@kanglu666 I tested this and the conveyances still do not seem to be exporting properly, whether using the geographic filter or the advanced query builder. My selection returns hundreds or thousands of records as in the photo here :
![image](https://user-images.githubusercontent.com/37631196/39642223-ff951e6a-4f9e-11e8-9059-8e2cadae62cd.png)

However, the export only contains 11 conveyance feature

[2018-05-05 04:31] kanglu666 commented on #56
updated, ready for testing in dev.

two issues found:
1: when download big data, there is a time out 90 seconds set up before, updated.
2: Legacy_convey_number_double filed is a double field type, but lots of records have null value on it.
service code does not allow null value on double type field. updated

[2018-05-05 04:32] kanglu666 commented on #186
lidar data layer added, ready for testing in dev

[2018-05-07 13:01] #186 closed

[2018-05-08 13:32] #56 closed

[2018-05-11 13:07] cstevenson1 opened #254 "Add ability to query Phase II Area"
Per DelDOT request on 5/8/18 "To be able to query on permit area.  Phase I is easy since you can do county = NCC, but not that lucky with Phase II. "

We have the Phase II polygon layer that can be added to the viewer but will need to confirm if we should use the 2000 or 2010 layer (will depend on the new Phase II permit). I'd say it would work as a geographic filter but we have the issue with own

[2018-05-11 13:10] cstevenson1 opened #255 "Add Zoom to Results Option"
Per DelDOT request on 5/8/18 "When you query, have the list populated in the map.  Ie, right now you can only zoom to one at a time, but it would be nice to see the results in relation to each other on the map. "

DelDOT basically wants the option to "zoom to selected features" and have them selected on the map so they can spatially see how close together their selected features are.

[2018-05-11 13:34] cstevenson1 commented on #235
When the inventory photo is present for the inspection it appears to be working properly. When there is not a 2018 photo (this should never be the case excluding just from human error) it still generates the report but uses the 2017 photo. I think this is fine because it should be picked up when we QC the BMP inspections. The snips below are for BMP 21 and I confirmed the photo on the 2017 report

[2018-05-11 13:34] #235 closed

[2018-05-11 13:45] cstevenson1 commented on #228
I think Gerry's fix for #235 must have fixed it too. I have checked all of the ones that weren't working before and they are generating now. Thanks!

[2018-05-11 13:45] #228 closed

[2018-05-11 13:54] cstevenson1 commented on #227
That report is also generating for me now. Closing issue and will reopen if we have any more server errors for WQI Reports. Thanks

[2018-05-11 13:54] #227 closed

[2018-05-11 14:55] cstevenson1 commented on #237
Example is Structure 0207120917

There are 3 photos in the database but only 2 show in the WQI Report
![image](https://user-images.githubusercontent.com/16919898/39930820-b88a89d6-5509-11e8-87c2-ccb737e291a3.png)

[2018-05-11 22:05] gerrykelly commented on #243
@leeensminger
The BMP_DSF_INSPECTION_DRY records seem to have multiple related photos.  (Always 4?).
![image](https://user-images.githubusercontent.com/8259136/39948745-61394514-5545-11e8-8825-9ed09fa71b08.png)
What should I show on the report (I assume "Overall Landscape" only)

[2018-05-14 15:11] leeensminger commented on #243
@gerrykelly Yes use overall landscape.  If there is no overall landscape, then use none.

[2018-05-14 16:36] gerrykelly commented on #243
@leeensminger
Ready for review and testing in dev and prod (I went ahead and deployed in prod bc that where good data is, and adding this new report should not impact anything else)
 - I did not see a source for Sand Chamber "Oil or Grease Present", but left that line as a placeholder
 - I take it that "INVASIVE SPECIES SPRAY LIST" does not apply (?) but left that line in bc it is in their example

[2018-05-14 16:45] leeensminger commented on #251
@dobrochtaKCI Please define a view for Lu, including all key business fields, from both the BMP Sand Filter fc and regular BMP fc.  @kanglu666 should then implement this view here, so when user selects "BMPs" in the geographic query, they are returning ALL bmps (both sand filter and regular).

[2018-05-14 18:40] leeensminger commented on #251
@kanglu666 Why doesn't the geographic filter include Sand Filter BMPs?  The BMPs below should be returned when doing a geographic filter based upon the given county, but they are excluded.

![image](https://user-images.githubusercontent.com/4103847/40016593-cabc06b6-5784-11e8-9f9b-e077c4dff315.png)

[2018-05-14 18:47] leeensminger commented on #243
@cstevenson1 please confirm
1. the source for Sand Chamber Oil or Grease Present
2. INVASIVE SPECIES SPRAY LIST is still displayed in the action item grid, per your template

[2018-05-14 18:55] leeensminger commented on #243
@cstevenson1 also note the typo in the template, that has correctly persisted to the output available now:
![image](https://user-images.githubusercontent.com/4103847/40017254-cd344488-5786-11e8-8c5c-86d44afd7ec1.png)

[2018-05-14 20:13] leeensminger commented on #233
@kanglu666  please update the label to add the acres units ==> "Drainage Area (ac):"

@dobrochtaKCI Other than that this is fine

[2018-05-15 15:04] cstevenson1 opened #256 "WQI Report - Update reason, reported by, and report type logic"
The original logic provided in the report template for the WQI Report Form 1 (Tracking Form) is copied below. It does not account for any new coded domain values that may need to be added (we need one added now). I have also included updated logic that should take care of this problem.

OLD LOGIC –
Referred By:
	If [*WQ_INVESTIGATIONS.INVESTIGATION_REASON] = “Targeted”, then populate “Targeted” n

[2018-05-15 17:28] gerrykelly commented on #216
@leeensminger
Your turn to enjoy this.  Based on yesterday's discussion you should understand why you are seeing what you are seeing and why it is (hopefully) "correct" within the existing logic for scores in the inspection table and now having individual action scores.
 - So there are (legitimately) two ways that inspection actions get into the Minors table
   - in the particular case that action

[2018-05-16 01:46] kanglu666 commented on #251
Because when we update the search in the Advanced query, we split the BMPs query to Sand Filter and Not Sand Filter, and we did not update anything from the geo filter.
the default BMPs layer hits the Sand Filter BMP, that results the geo filter not query Not Sand Filter layer.

The easiest way is to update the Current BMPs layer name to BMPs Sand Filter, and add another BMPs Not Snad Filter, the

[2018-05-16 02:16] kanglu666 commented on #251
BMPs Not Sand Filter,
BMPs Sand Filter,
have been added into the geo filter.

ready for testing in dev

[2018-05-16 12:58] dobrochtaKCI commented on #251
Lu thanks for working on this, but we really need to have the Geographic query all the BMPs as a single BMP layer rather than having the query broken up into two layers (BMP sand Filter and BMP not sand filter) even if this requires additional effort on your end.

[2018-05-17 19:49] gerrykelly commented on #243
@leeensminger
ready in dev and prod

[2018-05-18 15:57] gerrykelly commented on #256
@leeensminger
I think this logic works and I don't need more info or examples to test against.  Dev has just enough info to test that it works.  I'll develop the modification and implement there, but meanwhile you can run the following SQL to verify that I will be returning the intended values for "referred by" (and note that value 'External Report' from the new logic is actually 'External Report*

[2018-05-18 16:47] gerrykelly commented on #256
@leeensminger
Revised in dev, but I don't think you can easily test there after all since since the first page of the report (where "referred by" resides) only gets generated if you have an incident ID and supportive data.  I tested in prod and then rolled back the update.  You'll probably just want me to re-update in prod and you'll test and call it a day.  I don't know that there is a test case

[2018-05-21 02:11] kanglu666 commented on #251
OK, i will update this

[2018-05-22 02:50] kanglu666 commented on #95
Add text function has been added, ready for testing in dev.

[2018-05-23 02:10] kanglu666 commented on #233
updated, ready for testing in dev

[2018-05-23 02:20] kanglu666 commented on #232
Begin working on this one.

Note: Create PID Point detail loading logic . PID Point detail page was not in the design at the very beginning.

[2018-05-24 03:20] kanglu666 commented on #251
updated, ready for testing in dev

[2018-05-24 14:08] #233 closed

[2018-05-24 14:30] dobrochtaKCI commented on #95
Lu this is great, any chance we can add a small 1pt halo to the text? They previously requested similar halos for the NPDES features so if it possible to add it, lets try and do that. Thanks,

[2018-05-24 14:32] #251 closed

[2018-05-25 13:33] leeensminger opened #257 "Password reset - system-generated reset email is not received when sent to non-KCI email"
When KCI users request a password change, the email with the new password is received within 1-2 minutes.  For users outside the KCI domain, the email does not arrive.

This was working correctly prior to the KCI IT ransomware attach in early May.

[2018-05-26 16:08] kanglu666 commented on #232
updated, ready for testing in dev

[2018-05-28 01:49] kanglu666 commented on #95
yes, we can add the halo style on the text. What halo color you prefer?

[2018-05-28 02:05] kanglu666 commented on #239
begin to working on this.

create new view join Structure and Outfall
update the search field config.

[2018-05-29 02:11] kanglu666 commented on #95
Text Halo added, ready for testing in dev

[2018-05-30 02:07] kanglu666 commented on #239
updated, ready for testing in dev

[2018-05-30 15:54] leeensminger commented on #256
@cstevenson1 I took a look at this but am not clear enough about what needed to happen, to ensure it is working correctly.  Please test and close if good.

[2018-05-30 15:56] leeensminger commented on #239
Tested OK

[2018-05-30 15:59] leeensminger commented on #243
tested OK

[2018-05-30 15:59] #243 closed

[2018-05-30 17:35] leeensminger opened #258 "Password Reset - page is the same as login"
The dev site password reset does not move the user into the forgot password workflow.  This is a recent change.  Prod works as it should.

When user clicks Forgot Password? they get this screen, which is the same as the sign in page.
![image](https://user-images.githubusercontent.com/4103847/40737312-532b13f8-640e-11e8-829d-9d260be1a39d.png)

[2018-05-30 20:07] leeensminger commented on #242
@kanglu666 BC projected maybe 4 hours for this.  We're somewhat flexible but please get in touch with him if needed.

[2018-06-01 01:41] kanglu666 commented on #257
tested, works fine. keep monitor.

[2018-06-01 03:30] kanglu666 commented on #1
after testing, it is the sql server connection timeout issue. i will make the code updates and bump the time out limit.

[2018-06-03 04:57] kanglu666 commented on #1
updated, ready for testing in dev.

updated SQL query, and increase the sql command timeout number.

[2018-06-03 14:04] kanglu666 commented on #258
after testing, look like it works fine in dev. keep monitor it, let me know if the issue come up again.

[2018-06-04 03:46] kanglu666 commented on #236
updated, ready for testing in dev

[2018-06-04 03:47] kanglu666 commented on #230
updated, ready for testing in dev

[2018-06-04 04:16] kanglu666 commented on #242
updated, ready for testing in dev

[2018-06-04 12:17] cstevenson1 commented on #206
@leeensminger It does not appear to be fixed in Dev or Prod. The example you provided had the invasive rated as a 2 so it was not placed in the invasive spray list on the report. If you look at BMP 851 the invasive was a 3 so it was placed in the spray box at the bottom of the report and it is still a colon instead of semicolon.

![image](https://user-images.githubusercontent.com/16919898/40916896

[2018-06-04 13:12] cstevenson1 opened #259 "BMP Report - Update logic for invasives in Minor Issues box"
There is a semicolon after the invasive species name when it is placed in the Minor Issues Not Affecting Performance box, which is correct. However, for certain ones such as canada thistle there is a space before the semicolon but for others such as cattails there is not (see areas 1 and 2 in snip below). These should be consistent and have no space before the semicolon. Example is from BMP 194 fo

[2018-06-04 13:17] cstevenson1 opened #260 "BMP Report - Issues(s) should be Issue(s)"
Issues(s) should be changed to Issue(s) in the header for the Minor Issue(s) Not Affecting Performance box.

![image](https://user-images.githubusercontent.com/16919898/40919555-cb9d20a2-67d7-11e8-8c0a-1e2736c6ec81.png)

[2018-06-04 13:42] cstevenson1 opened #261 "BMP Report - Semicolon should be a period following sq ft"
For INVASIVE SPECIES in the minor issues or spray list box, there should be a period after the area instead of a semicolon. The example below is for BMP 194, 2017 inspection and both highlighted areas should be periods. It does not matter if there is or is not a comment for the invasive. Please note this only applies to invasive species.

![image](https://user-images.githubusercontent.com/16919898

[2018-06-04 13:56] cstevenson1 opened #262 "BMP Report - Display full text in minor issues box"
The BMP Inspection Action is being cut-off in select scenarios as shown in the highlighted snip below. Perhaps it is a length issue because the text should say REVEGETATE PER PLAN. The example is for the 2018 report for BMP 327.

![image](https://user-images.githubusercontent.com/16919898/40921414-61898e48-67dd-11e8-87e9-2099b9b059bc.png)

[2018-06-07 17:01] leeensminger commented on #27
@kanglu666 The roadway feature class is here: M:\2014\17141728.A\GIS\Roadway_ID\RoadwayID.gdb\Roadway_ID

1.  Add a field to Structures, Conveyances, and BMPs for "ROADWAY_ID" (Type = Long, nullable).
2.  Update GP script to do the following for each NPDES feature class (Structures, Conveyances, BMPs), as a loop
   a.  Perform "Generate Near Table" analysis
          Input feature = the NPDES laye

[2018-06-08 16:04] leeensminger commented on #257
Will continue to monitor

[2018-06-08 16:04] #257 closed

[2018-06-11 14:53] leeensminger commented on #258
Looks ok in dev

[2018-06-11 14:54] leeensminger commented on #242
Looks ok in dev

[2018-06-11 14:54] #242 closed

[2018-06-11 14:56] leeensminger commented on #232
@kanglu666 the page looks good, but please remove the "View Report"' button, since there is no report for PID structures.

![image](https://user-images.githubusercontent.com/4103847/41239324-14bf79ea-6d66-11e8-8e28-659e1ff45f62.png)

[2018-06-11 14:58] leeensminger commented on #1
Looks ok in dev.  Exported 88,000+ records to csv and all records are shown in the csv.

[2018-06-11 15:11] leeensminger commented on #56
This appears to be working still.  I hit the timeout when I tried to export 88,000 records, but there needs to be an understanding that there is a maximum service availability.  @cstevenson1 What is the frequency that DelDOT would be exporting 88,000 records at a time?

[2018-06-11 17:59] cstevenson1 commented on #180
1. Now that we have the ability to turn the labels on/off, I think the scale extent can be changed for Structure/Conveyances so the labels don't wait so long to be turned on. In the old viewer I think it was around 1:3500
2. I don't see the Parcel labels or an option to turn them on/off
![image](https://user-images.githubusercontent.com/16919898/41248628-a0a2199a-6d7f-11e8-98bb-c4bb79bcf22c.png)

[2018-06-13 17:27] cstevenson1 commented on #219
Looks updated in Dev
![image](https://user-images.githubusercontent.com/16919898/41367608-86c22c2e-6f0d-11e8-8684-3d6a65020d8b.png)

[2018-06-13 17:40] cstevenson1 commented on #95
Text is difficult to read. Please update.
![image](https://user-images.githubusercontent.com/16919898/41368165-1ad2cf58-6f0f-11e8-8365-73fbf7c3b734.png)

[2018-06-13 17:48] cstevenson1 opened #263 "Add More Options (colors and size) For Draw Graphics"
The standard options for draw graphics are difficult to see on the map. Users have stated it would be nice to be able to select the color of the line, point, or polygon drawn. The light pink/red for the point doesn't stand out and the yellow for the line is difficult to see. We may want to go with an outline and no fill for point to make visibility easier.

![image](https://user-images.githubuserc

[2018-06-13 17:50] cstevenson1 commented on #251
both appear to be included

![image](https://user-images.githubusercontent.com/16919898/41368732-c569afd0-6f10-11e8-95d0-f0d68e1478e6.png)

[2018-06-13 17:56] cstevenson1 commented on #242
seems ok in dev

![image](https://user-images.githubusercontent.com/16919898/41368987-922dc9b6-6f11-11e8-8964-c3bfb270bc1b.png)

[2018-06-13 19:36] cstevenson1 commented on #240
Looks updated in dev as far as i can tell

![image](https://user-images.githubusercontent.com/16919898/41373444-62a80190-6f1e-11e8-802d-506dfb47ddf2.png)

[2018-06-15 13:09] dobrochtaKCI commented on #21
@kanglu666

We are going to add this functionality as a new query type called "Basemap Query" that will be included along with the canned query, geographic filters, and advanced query builder. The Basemap Query will allow the user to query the communities, bridges, flowlines (streams), and maintenance area layers from #222 #245 and #246 based on a single field. Each layer is using a different fiel

[2018-06-15 14:52] dobrochtaKCI commented on #180
@cstevenson1 The new parcel layers for each county that were incorporated in DEV do not have a consistent ID field that uses the same Parcel ID format across all layers. The following are the fields I believe should be used can you confirm and I will have the labels added.
Kent County Parcels Layer - Field = "Name"
New Castle Count Parcels Layer - Field = "Parcel ID"
Sussex County Parcels Layer -

[2018-06-18 17:01] leeensminger commented on #95
@kanglu666 can you please make the halo white?

sorry we didn't provide that to you before.

[2018-06-18 17:21] #256 closed

[2018-06-18 17:30] cstevenson1 commented on #233
Looks fine in dev

![image](https://user-images.githubusercontent.com/16919898/41552005-897d1630-72fb-11e8-9d87-c911f6f3525f.png)

[2018-06-18 18:14] cstevenson1 commented on #249
centerline labels are not very visible in dev with aerial on

![image](https://user-images.githubusercontent.com/16919898/41554038-a25f9fdc-7301-11e8-8f44-28273270fd9b.png)

[2018-06-18 19:27] cstevenson1 commented on #244
I haven't tested but based on the comments above, logo should be on all emails.

[2018-06-19 16:14] cstevenson1 commented on #243
Looks fine in prod. Had DG confirm

[2018-06-20 14:12] cstevenson1 commented on #239
@leeensminger The fields to be added weren't confirmed as you mentioned above so there are several that we don't need. At this point, I doubt they would want to prioritize removing them over other bugs. The Of should be OF in the fields highlighted below but also a low priority.

![image](https://user-images.githubusercontent.com/16919898/41663859-645db65c-7472-11e8-947d-9dd041e1bdde.png)

[2018-06-20 14:31] cstevenson1 commented on #1
Typically when you export to excel, it names the file Structures, Conveyances or BMPS. However there are a number of scenarios that will generate files titled Export. These files do not open/work.

Examples (there are more beyond these examples):
1. Using Geographic Filter to query BMPs in New Castle
2. Using Advanced Query Builder to query Swale Connections in the Army Creek Watershed
3. Using Ad

[2018-06-21 01:10] leeensminger commented on #244
@cstevenson1 This is different than the original request.  This needs to be closed, and we'll open a new issue with this enhancement.

[2018-06-21 01:10] #244 closed

[2018-06-21 01:11] leeensminger opened #264 "Add DelDOT logo to all system-generated emails"
Add the DelDOT logo to all system generated emails.

[2018-06-21 01:11] leeensminger commented on #244
See #264

[2018-06-21 23:31] kanglu666 commented on #27
updated, ready in dev

[2018-06-22 15:13] cstevenson1 commented on #180
If possible two label layers would be preferable for the parcels, one for owner and one for address. If only one label layer can be done please use the address labels.

OWNER FIELDS
New Castle County - CNTCTLAST
Kent County - OWNERNAME
Sussex County - FULLNAME

ADDRESS FIELDS
New Castle County - ADDRESS
Kent County - LOCATION

The Sussex County  layer does not have good address data and should the

[2018-06-23 21:45] kanglu666 commented on #232
updated, ready for testing in dev

[2018-06-23 21:46] kanglu666 commented on #95
updated, ready for testing in dev

[2018-06-24 00:43] leeensminger commented on #95
@cstevenson1 looks much better. please reopen if still unsatisfactory.

[2018-06-24 00:43] #95 closed

[2018-06-24 00:50] leeensminger commented on #1
@kanglu666 looks like this is correct, the queries above result in an "export" csv that is empty. Thoughts?

[2018-06-24 00:51] leeensminger commented on #232
looks good

[2018-06-24 00:51] #232 closed

[2018-06-24 00:57] leeensminger commented on #239
OK - then I'm going to consider this complete for this milestone.  We will keep this GH item active, but move it out of the FY18 Enhancements milestone.  We will revisit later the "Of" and removing some of the fields.

[2018-06-24 00:59] leeensminger opened #265 "Change labels in Structures query from "Of" to "OF""
See #239

![image](https://user-images.githubusercontent.com/4103847/41814878-36ec65de-7728-11e8-898b-23777971ebb3.png)

[2018-06-24 01:00] leeensminger opened #266 "Remove some Outfall fields for structure query"
to be defined by Newark.  See #239

[2018-06-24 01:00] leeensminger commented on #239
Let's call this complete.  I created two new issues for the "Of" item, and removing some of the fields.  We may try to get to the former this next week.

[2018-06-24 01:00] #239 closed

[2018-06-24 01:12] leeensminger commented on #27
@kanglu666 it looks like the ROADWAY_ID field for the NPDES features was populated with the Object ID.  This should be populated with the RDWAY_ID field.

[2018-06-24 12:47] leeensminger commented on #27
looks good

[2018-06-24 12:47] #27 closed

[2018-06-25 18:09] leeensminger commented on #249
updates in BaseData_1_Primary.mxd on vm-arcgis103 - C:\DelDotWebViewer\BaseData_1_Primary.mxd

Lu please republish to dev and prod

[2018-06-25 18:32] leeensminger commented on #180
updated in BaseData_1_Primary.mxd on vm-arcgis103 - C:\DelDotWebViewer\BaseData_1_Primary.mxd

@kanglu666 please republish to dev and prod

[2018-07-05 12:09] leeensminger commented on #249
Updated

[2018-07-05 12:09] #249 closed

[2018-07-05 12:11] leeensminger commented on #180
Updated

[2018-07-05 12:11] #180 closed

[2018-07-05 12:12] leeensminger commented on #218
Updated

[2018-07-05 12:12] #218 closed

[2018-07-07 09:38] kanglu666 commented on #1
1: Using Geographic Filter to query BMPs in New Castle
This one has been fixed, updated in PROD.

will test and work on other query combinations

[2018-07-11 03:39] kanglu666 commented on #1
updated, ready for testing in both DEV and PROD.

NOTE: i would suggest that someone test all query combinations in dev to make sure we are not missing anything,

[2018-07-11 18:49] cstevenson1 opened #267 "Default Parcel Layers Labels to Off"
Per DelDOT's request, the labels for parcels should default to off. They should only be on when the user turns them on through the table of contents. This is primarily because the labels can take up a lot of space on the map and are not always used. DelDOT also stated New Castle County does not include the street name in their parcel labels, just the house number and DelDOT would not be opposed to

[2018-07-11 18:51] cstevenson1 commented on #267
![image](https://user-images.githubusercontent.com/16919898/42593235-e04cde70-8519-11e8-8521-f178377c0ab6.png)

[2018-07-11 19:16] cstevenson1 opened #268 "Display all Structure and Conveyance ID labels"
Currently, all Structure and Conveyance ID labels do not always display, even if both label layers are turned on (see snip below). I am guessing it has to do with preventing overlapping labels but DelDOT has stated that they need to have the ability to see all the IDs because they had an instance where they could not get the one label they wanted to show to display on the map. They are open to sug

[2018-07-12 01:16] leeensminger commented on #1
These three work in prod.

@kanglu666 please fix Control Structures where Watershed = Army Creek

[2018-07-12 16:34] cstevenson1 opened #269 "Conveyance Report - "Upstream Structure" is listed twice"
In the structure report there is supposed to be a line for upstream structure and downstream structure. However, in the current report, both lines read upstream stream as shown in the snip below. The boxes are properly populating so the second upstream structure line is actually populating with the downstream structure ID. The upstream circled in red should be changed to Downstream.

![image](http

[2018-07-16 14:40] gerrykelly commented on #269
@leeensminger  Done

[2018-07-16 14:57] cstevenson1 commented on #269
Thanks Gerry!

@leeensminger I checked swales and pipes in Prod and it says downstream now so feel free to close this bug after you do your check.

[2018-07-16 15:33] leeensminger commented on #269
@cstevenson1 @gerrykelly Yes looks good

[2018-07-16 15:33] #269 closed

[2018-07-16 17:49] cstevenson1 opened #270 "Conveyance ID sometimes displays last edit device"
If you use select by map to select a conveyance, it will put those conveyances in the feature list. However, sometimes the Number shown is the Conveyance ID and sometimes it displays the last edit device as shown in the snip below. The Conveyance ID is correct in the database and when you open the details for the feature so it appears to be a display issue.

![image](https://user-images.githubuser

[2018-07-19 11:57] dobrochtaKCI opened #271 "Basemaps are not present in WQI Report Map"
@gerrykelly There is currently an issue with the map that is generated for PID Point WQI Reports. The basemap in the report map is not displayed. The maps appears to be centered correctly on the PID point associated with the report, but neither the PID Point or the basemap is drawn.  I tested running the report with multiple PID Points as well as different basemaps toggled on in the map viewer at

[2018-07-19 16:10] gerrykelly commented on #271
@dobrochtaKCI
The first part of this problem seems to be issues with 2 servers that provide the data.  I'll look into the rest when that is resolved.  I would not think the issues are specific for PID points only.

Also note that the reports do not use the map service at all.  They read from databases and the maps are generated through code using an mxd file.

[2018-07-19 21:40] gerrykelly commented on #271
@dobrochtaKCI
Now that the database is back up (noting that I still need to handle getting the basemap data back in the report) I think the problems you saw were due to:
1)  When I developed this, PID_POINTS were not ready to be included.  I turned on their display in the map so you will now see the feature.
2)  The rest was due to database issues,
         EXCEPT for PID Point 2.  This is an odd

[2018-07-20 13:14] leeensminger commented on #271
@gerrykelly  to answer your question - can you further clarify what you mean by "a report cannot be generated because there is no content available"?  I attempted to review Pid Point 2 to Pid Point 814 (the report generates fine for 814), but the viewer appears to be down and I cannot compare the two features.  When it is back up I can get back in and compare and get back to you.

[2018-07-20 15:04] gerrykelly commented on #271
@leeensminger @dobrochtaKCI
What I mean is that a feature will have a WQI associated with it, so from the UI it's assumed a report can be generated.  But then when the report GP runs because there is no incident_id, fieldsheet, memos, attachments (that are valid PDFs) there is nothing to put into the report doc.
So what I did (in part to avoid needing to work on the UI side) is update the GP so th

[2018-07-20 18:40] leeensminger commented on #271
@gerrykelly understood, now.  thanks for clarying.  I'm fine with this approach.  I see this is in prod, I'm assuming its in dev also.

[2018-07-31 18:50] cstevenson1 opened #272 "Resource Maintenance Road on Report to Database"
I believe Maintenance Road Number on the Feature Reports is currently filled out through a spatial join. Maintenance Road has been added as a field to the database and the report should pull from this field.

@leeensminger to look into options that would allow us to manually update this field when we come across features that have the wrong road associated (primarily an issue near intersections an

[2018-08-01 11:27] cstevenson1 commented on #224
The IDDE team would like the ability to select Odor "No" and check the settings even where there is no field sheet/door hanger.

[2018-08-01 16:16] cstevenson1 commented on #102
Replaced by Bug #216

[2018-08-01 16:16] #102 closed

[2018-08-01 16:53] mjuber-kci commented on #214
The line within the SUBJECT section with the KCI Project numbers, "KCI Projects 17151749C / 17161749N1" should be completely removed from the memo.  Additionally, the bullets for the memo should line up with the line of text it is next to.

[2018-08-22 20:57] leeensminger commented on #258
Some users are experiencing issues, whereby when they click the "Forgot Password" link, nothing happens.  The system does not display the change password page; there's effectively no response from the system.  It is very inconsistent, as some users have no problem.  I just tested on all browsers and had no issue.

@ehsan67 Please work to maybe initially just review the code and see if anything sta

[2018-09-24 11:15] cstevenson1 opened #273 "BMP Report - Sand Filter Report Pulling Wrong Photo"
We can now generate 2018 sand filter reports but it appears it is pulling the photo from the 2017 inspection. See BMP 144 as an example.

![image](https://user-images.githubusercontent.com/16919898/45949269-69410280-bfc9-11e8-8d9e-901f02c3abc1.png)

[2018-09-24 12:20] gerrykelly commented on #273
@leeensminger
I'm not sure why this was happening, but I updated the code slightly and I am getting the correct image every time.

[2018-09-24 15:09] dobrochtaKCI commented on #273
@gerrykelly  I tested this and now the 2017 report for BMP#144 is using the inspection image from the 2018 inspection. I also checked this with the other BMP that currently has a 2018 BMP inspection, BMP# 538. This BMP has a 2018 inspection but no 2018 inspection photos. The 2018 report for BMP#538 will pull the 2017 inspection photo. It appears that the report is pulling the most current inspecti

[2018-09-24 15:40] gerrykelly commented on #262
@leeensminger
Fixed.  This happens bc of a bug in Reportlab where sometimes the code for a space in a sentence (&nbsp) causes the next word to be deleted.

[2018-09-24 17:49] gerrykelly commented on #273
@dobrochtaKCI @leeensminger
1)  I made the change to get the Overall Landscape photo for the sought BMP_DSF_INSPECTION_DRY inspection.  Using the most recent Overall Landscape (if any) when there was no Overall Landscape for the sought BMP_DSF_INSPECTION_DRY inspection was intentional but I don't remember why.  Now you will see a stock image labeled "Placeholder" instead.  I can create an "image"

[2018-09-24 18:02] gerrykelly commented on #273
@dobrochtaKCI @leeensminger
The report failing in dev looks like it was an ArcGIS Server problem, not the GP code.  I restarted the service and it worked

[2018-09-24 20:55] dobrochtaKCI commented on #273
The BMP report appear to be correctly pulling the Overall photo associated with the selected inspection year, and using a placeholder image where no inspection photos were attached to an inspection record.

@cstevenson1  please confirm this is working for you.

[2018-09-28 12:55] cstevenson1 commented on #261
Fine as is.

[2018-09-28 13:01] cstevenson1 commented on #262
Appears to be fixed

![image](https://user-images.githubusercontent.com/16919898/46209864-11720680-c2fd-11e8-97bb-a4b2e5cca208.png)

[2018-09-28 13:01] #262 closed

[2018-09-28 13:02] cstevenson1 commented on #273
Appears to be working properly.

[2018-09-28 13:02] #273 closed

[2018-10-04 15:17] gerrykelly commented on #215
@leeensminger
This has been updated in prod and dev:
-- I think that for " multiple unique dates, the date range would go from the oldest to the most recent, such as 11-10-17 to 11-16-17" it was already working correctly, but let me know if not
-- I also think it was already working correctly for the memo date(s) ... keep in mind that date info is pulled from the WQI_MEMOS.MEMO_COMMENT field, so p

[2018-10-05 16:15] gerrykelly commented on #209
@cstevenson1   @leeensminger
the Invasive Spray List checkbox "X" was based on the BMP_INSPECTIONS.OV_INVASIVE_SCORE > 3 (probably I should have used ">=") .... as per the design doc BMP_INSPECTION_INVASIVES.INVASIVE_VEG_SCORE was not used here.  The change have made (not yet deployed) is to add the X if the max BMP_INSPECTION_INVASIVES.INVASIVE_VEG_SCORE (for records related to the inspection) >=

[2018-10-10 15:32] gerrykelly commented on #237
@leeensminger
Ready for test in dev (working when one or more pics are "other")
This work led to finding other problems in the WQI reports that did not come up before for lack of data and testing.  I am going to update prod also at this point, then try to proceed with other updates only in the dev DB.

[2018-10-10 15:41] leeensminger opened #274 "Google View - system displays empty panel"
I received the email below from Sara. I confirmed it using Google Chrome. If you try to use the Google View in the Web Viewer, the window looks like the snip below. Please let me know when this has been resolved so I can update DelDOT.

![googleview](https://user-images.githubusercontent.com/4103847/46748322-4bd68e80-cc81-11e8-9df1-956db442efb4.jpg)

[2018-10-10 15:46] dobrochtaKCI commented on #274
Here is an image of the send failure
![image](https://user-images.githubusercontent.com/37631196/46748697-2433f600-cc82-11e8-8982-61d4bebc63fa.png)

[2018-10-10 15:46] #274 closed

[2018-10-10 15:54] gerrykelly commented on #237
@leeensminger
I updated the code related to prod WQI reports to head off some problems that became apparent in dev now that it has the prod data.  I tested for a few different scenarios

[2018-10-10 16:16] gerrykelly commented on #237
@leeensminger
This is updated in dev and prod and I think I prevented the trailing comma from happening elsewhere.  I notice that in a couple places in the WQI report there can be checkboxes that would be for "other" values that still appear (unchecked) without text next to them.  Leaving it for now but if it has not already come up as an issue I suspect it will at some point.

[2018-10-10 16:18] gerrykelly commented on #224
@leeensminger
This is updated in dev and prod (the comma issue + "not check any of the odor boxes on the report") and I think I prevented the trailing comma from happening elsewhere. I notice that in a couple places in the WQI report there can be checkboxes that would be for "other" values that still appear (unchecked) without text next to them. Leaving it for now but if it has not already come up

[2018-10-10 16:40] gerrykelly commented on #214
example is WQI objectid 13159

[2018-10-10 18:18] gerrykelly commented on #214
@leeensminger
Done in dev.

Note that the KCI Project #s were considered fixed during development.  They are params in the GP config files (I updated the values in prod also):
KCIprjs = 'KCI Projects 17151749C / 17161749N2'
in "C:\arcgisserver\directories\arcgissystem\arcgisinput\DelDOT_NPDES_Reports\makeReport.GPServer\extracted\v101\deldotreports\appConfig.py"
for both the prod and dev server.

[2018-10-10 18:40] gerrykelly commented on #238
@leeensminger
Fixed in dev

[2018-10-10 18:53] gerrykelly commented on #64
@leeensminger
not seeing this field

[2018-10-10 18:57] gerrykelly commented on #241
looks like for inlets and manholes only

[2018-10-11 14:46] gerrykelly commented on #241
@leeensminger
Done ( inlets and manholes ) in dev.  Now shows "0" when zero or one decimal place when >0

[2018-10-11 20:49] gerrykelly commented on #229
@leeensminger
done in dev

[2018-10-11 21:52] gerrykelly commented on #259
@leeensminger
I'll fix this by trimming the value, but that extra space is coming from the data not the code (so technically violates the domain value)  Run the following SQL and you'd see 591 such values.  Is the UI doing this?

   SELECT INVASIVE_TYPE FROM [deldot_migration2].[dbo].BMP_INSPECTION_INVASIVES_evw WHERE INVASIVE_TYPE LIKE '% '

[2018-10-11 22:00] gerrykelly commented on #207
@leeensminger
done in dev

[2018-10-12 11:05] gerrykelly commented on #259
@leeensminger
fixed in dev by trimming the value from table

[2018-10-15 00:41] leeensminger opened #275 "Add Street Sweeping layer to Viewer"
@cstevenson1 Please provide the street sweeping layers.  Please include:

- Data
- Mxd with intended symbology
- Do you want it to show up in the Identify function? (yes/no)
- If yes, what fields do you want displayed when a user identifies this?

[2018-10-15 00:49] #271 closed

[2018-10-15 00:57] leeensminger commented on #208
@gerrykelly so, two updates here:

1. Insert an 'x' in the Action Items box (image above) when the Invasive Veg Comments, for the given inspection, contains "TO BE CUT"
2. Ensure that Invasive Veg is populated into the Invasive Cut List box in the BMP Report (not sure if this is done or not - let me know if more details are needed).

[2018-10-15 01:35] leeensminger commented on #255
@cstevenson1 Do you want a new button to make users explicitly choose to "Zoom to Selected Features"?

Or do you want the map to automatically zoom to all selected features, anytime the system displays the Feature List?

[2018-10-15 11:35] cstevenson1 commented on #241
Appears fixed in Dev

![image](https://user-images.githubusercontent.com/16919898/46948251-5c08b800-d04b-11e8-8afc-d01faab065f3.png)

![image](https://user-images.githubusercontent.com/16919898/46948358-d0435b80-d04b-11e8-88cc-41e16f1d8fd0.png)

![image](https://user-images.githubusercontent.com/16919898/46948464-329c5c00-d04c-11e8-8049-9b59273ef79f.png)

![image](https://user-images.githubusercon

[2018-10-15 12:37] cstevenson1 commented on #64
Not sure what input is needed from me. As far as I know, Field Tool Github Bug #309 has not been resolved so per the initial comment, I don't think this issue can be addressed until the field is added.

[2018-10-15 13:35] leeensminger commented on #64
@gerrykelly this is unfortunately on hold until this field is added to the database.

[2018-10-15 16:26] cstevenson1 opened #276 "BMP Reports - Update Invasive Species Logic"
This bug is a consolidation/update for Bugs #208 and #209.

Each invasive species associated with a BMP inspection should be addressed individually using the logic listed below, in the order listed below.  As soon as the invasive meets one of the 3 listed steps/criteria, you should move to the next invasive species associated with the inspection.

1.	If BMP_INSPECTION_INVASIVES.INVASIVE_VEG_COMMEN

[2018-10-15 16:29] cstevenson1 commented on #276
Good Example is BMP 82. Below are snips from the reports we edited to submit to DelDOT.

This example has a "TO BE CUT" comment on cattails, a score of 3 for canada thistle, and a score of 2 for both bradford pear and purple loosestrife.

Action Items Boxes on First Page of Report
![image](https://user-images.githubusercontent.com/16919898/46964198-91c29680-d075-11e8-9e8e-0ddcf5d80960.png)

Invasi

[2018-10-15 17:10] cstevenson1 commented on #208
See Bug #276

[2018-10-15 17:10] #208 closed

[2018-10-15 17:10] cstevenson1 commented on #209
See Bug #276

[2018-10-15 17:10] #209 closed

[2018-10-15 18:05] cstevenson1 commented on #216
Actions Items with a Score of 2 appear to be duplicated; appearing in the Minor Issue(s) box where is belongs and in the main Contracted Work box. The @ symbols should also be removed from the comment when placed in the minor issues box.

![image](https://user-images.githubusercontent.com/16919898/46969190-43b48f80-d083-11e8-9fe0-6529279a2dc4.png)

[2018-10-15 18:31] cstevenson1 commented on #216
It also appears to be duplicating some of the action items at the very end of the report. The heading on the duplicated items says "ACTION ITEM SUMMARY --- from individual action scores"

Page 4 of 2018 BMP 9 Report

![image](https://user-images.githubusercontent.com/16919898/46970322-c5f28300-d086-11e8-9902-c9871c34dbea.png)

Page 8 of 2018 BMP 9 Report
![image](https://user-images.githubusercont

[2018-10-15 20:38] cstevenson1 opened #277 "BMP Reports - Invasive Spray List Box Formatting"
In the production viewer, the invasive species spray list box looks like this for 2018 BMP 82 Report:
![image](https://user-images.githubusercontent.com/16919898/46976427-7bc5cd80-d097-11e8-95d8-571b50a3d198.png)

In dev viewer the same report looks like this:
![image](https://user-images.githubusercontent.com/16919898/46976462-9009ca80-d097-11e8-89eb-85dbd440817c.png)

The formatting should be re

[2018-10-15 20:39] cstevenson1 commented on #259
appears fixed in dev

![image](https://user-images.githubusercontent.com/16919898/46976964-d7448b00-d098-11e8-9793-c7ba42283d84.png)

[2018-10-16 22:41] gerrykelly commented on #259
@leeensminger
Done in prod.  Lee, as these issues are moved ahead for prod or revision is needed, please assign them to me so I don't miss anything.

[2018-10-16 22:42] gerrykelly commented on #241
@leeensminger
done in prod

[2018-10-19 17:12] gerrykelly commented on #216
@leeensminger @cstevenson1
From the original requirements ACTION ITEM SUMMARY (Contracted Work/Maintenance WorkOrders/Retrofits) was to include
**Any** parameter _SCORE in BMP_INSPECTIONS = 3 or 4 or 5, and
(2)	 There are related records in BMP_INSPECTION_ACTION

I'm am revising this so that if for the related BMP_INSPECTION_ACTION the parameter _SCORE is less than 3 AND any embedded-in-the-commen

[2018-10-19 17:51] leeensminger commented on #277
ok, so the data is correct in dev, but the formatting needs to match that of prod

[2018-10-19 17:54] gerrykelly commented on #216
@leeensminger
Just verifying that these 2 scores and actions are paired up right (that I don't have them reversed)

WQ_CONTAM_SCORE | 'WaterQC'
WQ_TREATMENT_SCORE | 'WaterQT'

[2018-10-19 18:11] leeensminger commented on #263
@ehsan67 The new graphic options need to be displayed within the print map widget/functinality.  This is currently the case - but remains a requirement of the new options.

[2018-10-19 18:18] leeensminger commented on #19
@ehsan67 Per Lu's comment we know "this is how the UI widget works".  We need this to work differently, or find a workaround.  Schedule a discussion with me / BC if you feel it is needed, to discuss options.

[2018-10-19 18:29] leeensminger commented on #216
@gerrykelly Yes, correct.

[2018-10-22 11:52] cstevenson1 commented on #238
fixed in dev

[2018-10-22 11:53] cstevenson1 commented on #229
fixed in dev

[2018-10-22 18:01] gerrykelly commented on #229
@leeensminger updated in prod

[2018-10-22 18:07] gerrykelly commented on #238
@leeensminger
updated in prod

[2018-10-23 11:45] cstevenson1 commented on #215
Not working properly in dev. See Structure 0110120849 as an example. Memo is showing multiple dates but the tracking form is not.

![image](https://user-images.githubusercontent.com/16919898/47358333-7704a900-d697-11e8-9991-0883ee33bcb1.png)

![image](https://user-images.githubusercontent.com/16919898/47358364-8ab00f80-d697-11e8-8932-ff6f65de993b.png)

[2018-10-23 12:02] cstevenson1 commented on #237
The photos are showing in dev, however the page format/layout is not the same as the structure/landscape photos. The heading with the incident ID should be present.

Other Photos Page
![image](https://user-images.githubusercontent.com/16919898/47358756-b5e72e80-d698-11e8-86c0-78680e54960b.png)

Structure/Landscape Page
![image](https://user-images.githubusercontent.com/16919898/47359003-81c03d80-d

[2018-10-23 12:07] cstevenson1 commented on #214
Per comment on Aug 1. The project numbers should be removed from the subject and the bullets in the memo should line up.

Remove Project Numbers
![image](https://user-images.githubusercontent.com/16919898/47359351-89341680-d69a-11e8-9079-78f4b3e9c034.png)

Align Bullets - Some appears at the bottom of the line text and some appear at the top
![image](https://user-images.githubusercontent.com/16919

[2018-10-23 12:43] cstevenson1 commented on #224
The Dec. 11, 2017 comment has been addressed in Dev but the Aug 1 one has not. If the Aug 1 comment cannot be addressed at this time then "None" should be checked for odor when there is no field sheet and we will manually edit the report before submitting to DelDOT if needed. @leeensminger we need to discuss options for populating Odor when there is no field sheet.

Could we replace the coded valu

[2018-10-23 18:20] gerrykelly commented on #216
@leeensminger @cstevenson1
I revised, in dev, three reporting routines that deal with the actions and scores.  The behavior should now be that:
1) The action/info will be included in the ACTION ITEM SUMMARY ... If an action scores 3 or higher from EITHER the "*_SCORE" field from the inspection or from a score embedded in the inspection action comment
2) If _only_ the embedded score is >=3 then the

[2018-10-23 18:42] gerrykelly commented on #214
@leeensminger
updated in dev

[2018-10-23 19:04] gerrykelly commented on #237
@leeensminger
Updated in dev so page heading repeats for all photo pages

[2018-10-23 20:43] gerrykelly commented on #215
@cstevenson1 @leeensminger
Updated in dev ....
That lack of a date range for the tracking sheet was a carryover from the report requirements using DATE from the memos table rather than dates embedded in the comments (so you would only get a range if there was more than one memo records related to the WQI ... that should not be the case anymore -- although WQI DC8EFC74-B8BC-41BA-B08A-DE8FD15C1FFD i

[2018-10-23 21:35] gerrykelly commented on #277
@leeensminger
format updated in dev

[2018-10-23 22:28] gerrykelly commented on #276
@cstevenson1 @leeensminger
1)  I did not see where adding the INVASIVE SPECIES CUT LIST table and item in the action items originated, but I'll add them as is shown in this issue.
2) The criteria for checking ("X") the INVASIVE SPECIES SPRAY LIST line has changed a bit between here and the original requirements.  Right now -- for right or wrong -- it is X'd if BMP_INSPECTION_INVASIVES.INVASIVE_VEG

[2018-10-24 16:44] leeensminger opened #278 "Print Widget - Submit button fails to display when printing multiple maps"
@ehsan67

On production - when printing a map (map export), the first time the map is generating is no problem.  The second, or sometimes third, time that a user closes and reopens the Print widget, the Submit button fails to display.

On dev - when printing a map (map export), after the map is generated, the print widget displays the Download button, but not the Submit button.  Upon the user hitt

[2018-10-26 14:43] ehsan67 commented on #278
fixed in KCI dev

[2018-10-26 15:07] leeensminger commented on #278
@ehsan67 I do not see any difference in dev.  The behavior appears to be the same.  I'm wondering though if the workflow and system-responses described above are actually correct as is.

My suggestion would be to deploy to prod after-hours, and we can confirm there - since the primary issue was identified there (versus staging)

[2018-10-26 15:20] ehsan67 commented on #278
@leeensminger  did you clear your cache? from my testing I realized the problem is when the user generates a pdf and instead of downloading, closes the print window. the next time the submit button won't be there. So I fixed that

[2018-10-26 15:40] leeensminger commented on #278
@ehsan67 Confirmed good.  please deploy to prod after business hours and confirm back when done.

[2018-10-29 14:56] cstevenson1 commented on #275
Further clarification and discussion is needed with DelDOT. Bruce said to place this item on hold.

[2018-10-29 18:41] cstevenson1 commented on #207
appears to be working in dev

![image](https://user-images.githubusercontent.com/16919898/47672561-ba27b600-db88-11e8-95a7-8e004cf3434f.png)

[2018-10-29 19:03] cstevenson1 opened #279 "Update Imagery to 2017 Layer"
The aerial imagery currently used in the web viewer is from 2012. This should be updated with the imagery supplied through FirstMap for 2017. All reports/maps using imagery should pull from the new layer.

https://firstmap.delaware.gov/arcgis/rest/services/DE_Imagery

[2018-10-30 15:42] gerrykelly commented on #207
@leeensminger @leeensminger
This has been updated in prod.  In doing so I had to bring over a few other related updates that were done in dev but might not have been explicitly identified as ready for prod in their GH issues (with issues having been revised, combined etc. you can't really follow the exact updates for some things, but now for this report dev and prod are in sync)

[2018-10-30 18:47] cstevenson1 commented on #255
Spoke with DelDOT and they would prefer automatically zoom unless there is a good reason not to go that route, such as major speed reduction.

[2018-11-02 08:13] leeensminger commented on #277
@cstevenson1

[2018-11-02 08:13] leeensminger commented on #276
@cstevenson1

[2018-11-02 08:14] leeensminger commented on #275
In that case I'm removing this from the update package # 3.

[2018-11-02 08:15] leeensminger commented on #275
assigned @cstevenson1 to determine next steps.

[2018-11-02 08:37] leeensminger commented on #259
@cstevenson1 please test in prod and close

[2018-11-02 08:37] leeensminger commented on #207
@cstevenson1 please test in prod and close

[2018-11-02 08:38] leeensminger commented on #216
@cstevenson1 please test in dev

[2018-11-02 08:39] leeensminger commented on #272
@cstevenson1 please test in dev

[2018-11-02 08:39] leeensminger commented on #229
@cstevenson1 please test in prod and close

[2018-11-02 08:44] leeensminger commented on #241
@cstevenson1 please test in prod and close

[2018-11-02 08:45] leeensminger commented on #238
@cstevenson1 please test in prod and close

[2018-11-02 08:46] leeensminger commented on #215
@cstevenson1 please test in dev, review logic above, and provide direction.

[2018-11-02 08:46] leeensminger commented on #214
@cstevenson1 please test in dev

[2018-11-02 08:47] leeensminger commented on #237
@cstevenson1 please test in dev

[2018-11-02 10:07] leeensminger commented on #279
@cstevenson1 And field tool?

[2018-11-02 14:21] cstevenson1 commented on #241
good in prod

![image](https://user-images.githubusercontent.com/16919898/47920710-193b4280-de89-11e8-882f-ad7f10763ae7.png)

[2018-11-02 14:21] #241 closed

[2018-11-02 14:45] leeensminger commented on #224
@gerrykelly After talking with Christina, the only update that needs to be made in this arena is as follows:

- Currently, the logic is such that when there is NO field sheet, then on the report under Odor, no items are 'checked'.  This is correct based on the logic previously provided.
- Going forward, we want to update this so that when there is no field sheet, the report 'checks' the "None" val

[2018-11-02 14:49] #207 closed

[2018-11-02 16:33] #259 closed

[2018-11-02 16:50] cstevenson1 commented on #261
If there is a comment after the SQ FT then there should be a semi colon and if there is no comment then it should be a period. Based on the snip above, the first invasive listed (canada thistle) would be in the correct format and the second one (cattails) would not be. The semicolon should be a period after 100 SQ FT

[2018-11-02 17:11] #238 closed

[2018-11-02 17:13] #229 closed

[2018-11-02 17:55] cstevenson1 commented on #237
appears to be working in dev

![image](https://user-images.githubusercontent.com/16919898/47932021-dbe5ad80-dea6-11e8-964c-4e2fe3d35a96.png)

[2018-11-02 18:03] cstevenson1 commented on #214
appears updated in Dev

![image](https://user-images.githubusercontent.com/16919898/47932444-1ac83300-dea8-11e8-80f5-ed8b0870baab.png)

[2018-11-02 19:28] cstevenson1 opened #280 "WQI Report - Odor Field"
Upon completion of Field Tool Bug 336, the WQI report needs to be updated so that the new odor field in the database is accounted for when populating odor on the WQI report.

[2018-11-02 21:07] ehsan67 commented on #278
@leeensminger  done

[2018-11-03 22:28] leeensminger commented on #278
@cstevenson1 I tested this good in prod.  Please confirm.

[2018-11-06 15:06] cstevenson1 commented on #277
fixed in Dev
![image](https://user-images.githubusercontent.com/16919898/48072943-a04f2a00-e1ab-11e8-9bfd-7d55aecf3801.png)

[2018-11-06 15:44] cstevenson1 commented on #278
I don't think it is functioning as planned.

A map automatically comes up after clicking 'Submit' which is labeled as a bunch of number and letters in the tab heading. Then when I click download a new tab is created with the map that says MapPdf in the tab heading. You have to click 'Download' in order to get the submit button back so this essentially is making you create two maps.

![image](https

[2018-11-07 15:57] cstevenson1 opened #281 "WQI Report - Memo Comment does not show when there is only 1"
The snip below shows the same memo section of a WQI report that was generated on different days.

The one on the left was generated 9/13 and correctly shows the bullet comments in the red box. The one on the right was generated on 11/07 and does not display the bullet comments shown in the memo on the left. If there is more than one comment that would receive a bullet for that date then it appears

[2018-11-07 17:33] cstevenson1 commented on #276
Yes, we are interested in the BMP_INSPECTION_INVASIVES.INVASIVE_VEG_SCORE not the OV_INVASIVE_SCORE. Proceed with changing it to BMP_INSPECTION_INVASIVES.INVASIVE_VEG_SCORE >= 3 (this will hopefully help with historical inspections that included scores of 4).

Appears to be working in Dev! Thanks Gerry

BMP 82
![image](https://user-images.githubusercontent.com/16919898/48148961-fc3bb080-e288-11e8-

[2018-11-07 17:42] cstevenson1 commented on #215
Yes I think this is correct now because of the updates made to the field tool for the memo that require the dates to be embedded in the comments.

Appears to be working in Dev
![image](https://user-images.githubusercontent.com/16919898/48149579-73257900-e28a-11e8-95e6-b7cdabd93832.png)

[2018-11-07 20:30] cstevenson1 commented on #272
The report appears to be pulling from the field in the database now, however the leading 0's for the roadway number are not showing. I'm guessing this is related to the type of field used when it was added to the database.

Current Prod Report (not based on field in database but formatted correctly)
![image](https://user-images.githubusercontent.com/16919898/48158641-09fd3000-e2a1-11e8-9102-0af503

[2018-11-08 13:29] cstevenson1 commented on #272
hold off until clarification with DelDOT if this should be ROAD_NO or RDWAY_ID

[2018-11-09 02:42] leeensminger commented on #276
@gerrykelly move to prod

[2018-11-09 02:43] leeensminger commented on #237
@gerrykelly move to prod

[2018-11-09 02:43] leeensminger commented on #214
@gerrykelly move to prod

[2018-11-09 02:44] leeensminger commented on #215
@gerrykelly move to prod

[2018-11-09 12:56] leeensminger commented on #281
@gerrykelly can you please look into this

[2018-11-09 13:10] cstevenson1 opened #282 "BMP Report - Change Area 2 to Brideville"
AREA 2 – SEAFORD should be changed to AREA 2 – BRIDGEVILLE for the maintenance area field on the BMP Report.

Included is an updated text file from the one included in issue #119
[MAINTENANCE.AREAS.BMP.REPORT (2).txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/2565950/MAINTENANCE.AREAS.BMP.REPORT.2.txt)

[2018-11-09 14:13] cstevenson1 commented on #272
Per discussion with DelDOT, this fix should not be pushed to prod. They want RDWAY_ID in the database and ROAD_NO on the report, which is how it is currently set up in prod. They may eventually want to add ROAD_NO to the database to handle the cases near intersections where the spatial function does not produce values that match the field assessment.

[2018-11-09 18:21] cstevenson1 commented on #216
I don't think this is completely working.

I can't generate reports on BMPs that are a D - Retrofit in the Dev Viewer but I can in Prod (I get a server error in Dev - examples include 192, 75, and 184 for 2018).

I also couldn't get most of the A's I tried to generate. It may have to do with if the BMP has any action items with a score of 2 because I could generate the report for BMP 786 but could

[2018-11-12 13:14] leeensminger commented on #278
@impittman Please confirm you can reproduce, and if so, assign Ehsan with any additional notes as needed.

[2018-11-12 13:21] leeensminger commented on #268
@impittman I think this might be able to be resolved by modifying the labeling engine settings within the mxd (vm-arcgis103 as gs_admin, then C:\DelDOTDev (I think)).  Please make a local copy of the mxd, then adjust settings as needed to fix the issue, then let me know here.

[2018-11-12 13:59] cstevenson1 opened #283 "BMP - Location Map Should Go on Page 1"
Bug #276 has caused the location page of the BMP report to push to the second page when the invasive cut list box is checked. The map should be resized so that it fits on the first page of the report. Extra lines have also been added above the action item's section on the first page of the report, which should be removed. Could not add a snip to this issue because I am receiving Server Error when

[2018-11-12 17:15] impittman commented on #278
I received the same results as @cstevenson1  Here are the steps I took to replicate:
1)	Zoomed in to an area with features.
2)	Clicked “Export Map pdf” icon to Print.
3)	Entered info in the parameters box:
![print fail](https://user-images.githubusercontent.com/16418393/48363608-50250b80-e674-11e8-96b6-81a049f7cb8f.png)
4)	Clicked “Submit” to generate the export pdf.
5)	The following appeared in t

[2018-11-12 19:29] cstevenson1 opened #284 "Conveyance Report -Two Headings on One Page"
If you have a conveyance report that does not have two photos, such as a swale report (see snip below), which would only have one general photo AND that conveyance also has a work order, the heading shows on one page and the actual defect photo shows on another. The work order photo should either fit on the page with the general photo or be on its own page with the heading. I imagine this would al

[2018-11-13 19:34] impittman commented on #268
@leeensminger logged into this VM as admin. I did not find the folder or a similar Dev for NPDES and did not want to edit the wrong MXD.

[2018-11-15 15:08] cstevenson1 opened #285 "Export Map Grays out Background when Zoomed In"
A few people have observed the following:

![image](https://user-images.githubusercontent.com/16919898/48561597-4858a780-e8be-11e8-967f-8b14f1b561d0.png)

[2018-11-15 15:09] leeensminger commented on #285
This is because the Esri base map is not available at that zoom level.  Cannot fix.

[2018-11-15 15:10] impittman commented on #268
@leeensminger I made a local copy of the mxd and it is here:
V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\MARIA\target_viewer_npdes_101_Label_Option_IMP

Adjusted the overlapping settings from high to medium, allowing both Conveyance and Structure labels to appear on the mxd.

You may eventually want to consider dynamic text vs scale size to allow the text of the label t

[2018-11-15 15:13] cstevenson1 commented on #285
Ok that's fine. I will close the issue. We were all confused because it displayed on the map but not the exported map. Thanks.

[2018-11-15 15:13] #285 closed

[2018-11-16 13:16] leeensminger commented on #268
@cstevenson1 can you please pop open Maria's mxd, and see how these labels look to you?  If you think it looks ok we can publish in dev.

[2018-11-16 18:39] leeensminger commented on #279
per christina 20181116 - higher priority to 1) show up in the BMP reports, and then 2) in the viewer, and 3) - depending on LOE, in the field tool

[2018-11-18 01:02] kanglu666 commented on #278
Submit button fails to display issue has been fixed.
1:the Submit button will always shows, when the printing process is running, the button will be disabled.
once the process is done, the button will be enabled
2: the download button will show up once the submit button clicked and the printing process is done.
3: when user close the printing tool, then reopen the printing tool, the download butto

[2018-11-19 16:11] impittman commented on #278
Here are the steps I took to validate the corrections:
1)	I believe there is a bit of a workflow change here to work around the map legend not showing in Prod. In order to get the full map with a legend:
a.	 The user Zooms to the area
b.	 Hits Map Export
c.	 Names the Map
d.	Clicks Submit
e.	The map generates in the a separate tab (windows explorer), the map does not include the legend as Lu noted

[2018-11-26 16:42] gerrykelly commented on #216
@leeensminger @cstevenson1
I was unable to replicate these errors.  The dev AGS is known to be buggy and we really should move to a different server.  It should be the same code in the dev & prod GP service and the same data (to a point) in the dev and prod GDBs, so if we don't see a problem in prod but we do it dev it will usually be AGS

[2018-11-26 17:31] gerrykelly commented on #284
@leeensminger @cstevenson1
updated in dev

[2018-11-26 19:44] gerrykelly commented on #283
@leeensminger @cstevenson1
updated in dev.  I did need to resize the image.
I don't see the "Extra lines have also been added above the action item's section" problem.
Another case where the "Server Error when I try to generate a BMP Report." is an AGS problem in dev.  When this happens you need to restart the service.

[2018-11-27 18:49] gerrykelly commented on #272
@leeensminger @cstevenson1
This has been restored in dev (and I think I might have inadvertently updated this for non-SF BMP reports in prod ... I rolled that back if that was the case).  The original routine seems to keep the leading zeros.

[2018-11-27 20:57] gerrykelly commented on #237
@leeensminger @cstevenson1
done in prod

[2018-11-27 21:21] gerrykelly commented on #215
@leeensminger @cstevenson1
updated in prod

[2018-11-27 22:33] gerrykelly commented on #224
@leeensminger @cstevenson1
dev updated to "when there is no field sheet, the report 'checks' the "None" value."

[2018-11-27 22:40] gerrykelly commented on #214
@leeensminger @cstevenson1
updated in prod

[2018-11-27 23:39] leeensminger commented on #224
@cstevenson1 please review in dev.  Also, is there an existing GH item for the field tool update we discussed in the comments above?

[2018-11-28 03:02] leeensminger commented on #272
@cstevenson1 pushing to you to confirm things are as you want them, and close or otherwise deal with this issue as you see fit

[2018-11-28 12:22] leeensminger commented on #216
@cstevenson1 Skype me when you work to retest this.  If you have the same issues as before in dev, let me know and I can restart the service to hopefully flush, temporarily, whatever is causing the issue.

[2018-11-28 13:48] cstevenson1 commented on #214
looks updated.

![image](https://user-images.githubusercontent.com/16919898/49155993-48a76880-f2ea-11e8-880b-9340b7a79254.png)

[2018-11-28 13:48] #214 closed

[2018-11-28 14:49] cstevenson1 commented on #237
appears updated
![image](https://user-images.githubusercontent.com/16919898/49159612-e737c780-f2f2-11e8-861d-a94b8432b72f.png)

[2018-11-28 14:49] #237 closed

[2018-11-28 16:19] cstevenson1 commented on #215
![image](https://user-images.githubusercontent.com/16919898/49157522-fbc59100-f2ed-11e8-89ea-2896764b3b9d.png)

![image](https://user-images.githubusercontent.com/16919898/49165550-79de6380-f2ff-11e8-8bd3-8e42a28c945a.png)

[2018-11-28 16:19] #215 closed

[2018-11-29 01:43] kanglu666 commented on #278
latest esri javascript api version has been applied to the web viewer that fix the printing tool issue.
work flow:
a.	The user Zooms to the area
b.	Hits Map Export
c.	Names the Map
d.	Clicks Submit, when the printing is in process the "submit" button is disabled
f.	when the printing process is finished, the download button shows, user click download, an tab appears with the Map and related Legend.

[2018-11-29 15:23] impittman commented on #278
tested in Prod using IE, Chrome, Edge: worked as expected, believe the issue is resolved and closing

[2018-11-29 15:23] #278 closed

[2018-11-30 12:41] leeensminger commented on #279
@kanglu666 Can you remove the existing aerial imagery in the viewer, and use this service instead?  I believe it is open and freely accessible

https://firstmap.delaware.gov/arcgis/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer

[2018-12-04 14:10] impittman opened #286 "Select by Map Does Not Function"
Features are available and show in the NPDES Viewer, both Prod and Dev. However, the Select by Map feature is not functioning. The following steps were taken to attempt to "Select by Map":

1)	Zoomed in to an area with DelDOT features as that is Admin’s group.
2)	Clicked on the Select by Map tool’s icon.
3)	Clicked on several features and also areas of the map as the Select by Map tool appeared to

[2018-12-04 15:00] impittman commented on #286
This was related to a license issue. After making the adjustments, the feature is now working as expected in Prod.

[2018-12-04 15:00] #286 closed

[2018-12-04 16:06] cstevenson1 commented on #281
appears fixed in dev and prod
![image](https://user-images.githubusercontent.com/16919898/49455092-8c9be100-f7b4-11e8-8162-b17972cc3dd3.png)

[2018-12-04 16:06] #281 closed

[2018-12-04 16:16] cstevenson1 commented on #284
example above is fixed in dev
![image](https://user-images.githubusercontent.com/16919898/49455959-15674c80-f7b6-11e8-986a-8aa37aa079b5.png)

[2018-12-04 16:23] cstevenson1 commented on #224
@leeensminger Yes, it is field tool Bug 336

[2018-12-04 16:34] cstevenson1 commented on #224
"None" is checking, however "Other" is no longer showing in multiple places on the documentation. There appears to be just a checkbox in cases where Other was not selected.

![image](https://user-images.githubusercontent.com/16919898/49457239-7a23a680-f7b8-11e8-9ad7-d3aaaa513cf2.png)

![image](https://user-images.githubusercontent.com/16919898/49457282-8f003a00-f7b8-11e8-8ba3-7c1b62131847.png)

[2018-12-04 18:44] cstevenson1 commented on #268
@impittman @leeensminger what version is the MXD? I have been unable to open it (we have 10.3.1)

[2018-12-06 12:48] leeensminger commented on #268
@impittman can you resave the mxd in 1031??

[2018-12-06 18:04] impittman commented on #268
@leeensminger @cstevenson1
updated the map to 10.3 version, use this one here, confirmed it worked after the restart of the services :
V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\MARIA\target_viewer_npdes_101_Label_Option_IMP_103

[2018-12-07 13:40] cstevenson1 commented on #277
fixed in prod

![image](https://user-images.githubusercontent.com/16919898/49650920-cad71180-f9fb-11e8-8652-8659fe6e5ebe.png)

[2018-12-07 13:40] #277 closed

[2018-12-07 13:47] cstevenson1 commented on #284
fixed in prod

![image](https://user-images.githubusercontent.com/16919898/49651243-a7f92d00-f9fc-11e8-95c5-4f0a2cb9388c.png)

[2018-12-07 13:47] #284 closed

[2018-12-07 20:20] cstevenson1 commented on #283
![image](https://user-images.githubusercontent.com/16919898/49670723-997a3800-fa33-11e8-9556-b9d0b36e35e3.png)

[2018-12-07 20:22] cstevenson1 commented on #283
This is example of what Ryan submits
![image](https://user-images.githubusercontent.com/16919898/49670809-e78f3b80-fa33-11e8-8592-43b10031d069.png)

[2018-12-10 14:41] cstevenson1 commented on #121
It's cutting off the first word for minor issues not affecting performance (score of 2) action items. The below example is from the dev viewer

![image](https://user-images.githubusercontent.com/16919898/49739313-94013580-fc5f-11e8-8274-ed553601b9a8.png)

![image](https://user-images.githubusercontent.com/16919898/49739323-9f546100-fc5f-11e8-9b03-c142f9d75f1b.png)

[2018-12-11 15:15] cstevenson1 commented on #283
Please push to prod. Map now fits on first page and no action is needed for the landscape vs portrait photo.

![image](https://user-images.githubusercontent.com/16919898/49809734-a5b10e80-fd2d-11e8-9084-ae367995e806.png)

[2018-12-11 15:19] cstevenson1 commented on #276
appears to be updated in prod
![image](https://user-images.githubusercontent.com/16919898/49809941-296afb00-fd2e-11e8-980f-a90f29a15ca2.png)

[2018-12-11 15:22] #276 closed

[2018-12-11 17:36] cstevenson1 commented on #270
![image](https://user-images.githubusercontent.com/16919898/49818652-45c46300-fd41-11e8-8dd0-99cef7d7f6db.png)

Still an issue and sometimes the 'Select by Map' does not appear to grab all of the conveyances within the box drawn by the user, ie the user draws a box containing 2 conveyances but it only lists 1 in the selected features list.

[2018-12-11 18:01] cstevenson1 opened #288 "Conveyance Report - Not pulling most recent inspection"
When a conveyance report is generated (for a pipe for example), the inspection information on the report should be from the most recent inspection and the photos included should only be from the most recent inspection. If there is a photo missing (Example -  there is an upstream photo but no downstream photo), only the photo associated with the recent inspection (upstream photo in this example) sh

[2018-12-11 19:00] cstevenson1 opened #289 "Feature Reports - Source Maintenance Road Number to Maintenance No field"
Per discussion with DelDOT, they want RDWAY_ID in the database and ROAD_NO on the report, which is how it is currently set up in prod. They eventually want to add ROAD_NO to the database to handle the cases near intersections where the spatial function does not produce values that match the field assessment and resource the report to that field.

This cannot be done until the ROAD_NO field is adde

[2018-12-11 19:02] cstevenson1 commented on #272
dev and prod appear to be based on the spatial function using Road No. Closing this bug and opened #289  to account for sourcing to the new field once it is added to the database.

[2018-12-11 19:02] #272 closed

[2018-12-12 19:36] cstevenson1 commented on #268
All labels display in the MXD but still curious on the level of effort and effectiveness of the dynamic text Maria suggested. The labels are difficult to read when there are more than a few features in view.

[2018-12-12 22:22] gerrykelly commented on #121
@cstevenson1 @leeensminger
Fixed in dev and in prod.  It's a bug with the reporting software for how it generates text from html that we've seen a number of places.  Hopefully this is the last one.

[2018-12-13 15:39] kanglu666 commented on #279
updated, ready for testing in dev

[2018-12-13 16:59] impittman commented on #279
The 2017 aerial imagery in the link provided above is not currently visible in Dev. I cleared my cache, logged in the DelDot - Dev as admin and the old map still appears:
![not aerial](https://user-images.githubusercontent.com/16418393/49954347-41798080-fece-11e8-97ba-a7ddf1d44cb0.png)

[2018-12-13 17:10] impittman commented on #268
So I thought this through a bit more after the edits were publish and have the following comments:
1) The MXD definitely would need some dynamic text when viewing the labels. This is because the size of the text is static, let’s say 10 font regardless of the map scale. This is a relatively easy script to write into the label. I did similar for plot size in acres.
2) However, in taking the whole pi

[2018-12-13 21:04] gerrykelly commented on #288
@cstevenson1 @leeensminger
I fixed the not-getting the latest inspection problem in dev and in prod.  Obviously this is a critical fix.  It was a bug where inspection date was being sorted as text rather than a date.  I found the same problem in one other place that was not yet observed as an issue and fixed there too.
The using the most recent up or down photo even if it's not from the latest ins

[2018-12-13 22:19] kanglu666 commented on #279
the image layer is turned off by default. you need go to the TOC and turn it on.

[2018-12-14 04:12] kanglu666 commented on #263
working on this one, will add options for users to choose all different colors and styles for the draw function

[2018-12-14 13:50] cstevenson1 commented on #121
appears fixed in dev and prod
![image](https://user-images.githubusercontent.com/16919898/50006919-45b0a700-ff7d-11e8-9f5e-0e571eec5d6a.png)

[2018-12-14 13:50] #121 closed

[2018-12-14 14:05] impittman commented on #279
it is updated

[2018-12-14 15:14] impittman commented on #282
@leeensminger
This value needs to be added to the Domain  D_Maintenance_Areas. I believe this would solve the problem. However, I am unable to save domain changes, so it would need to be someone with full access to the database. In addition, have we considered what will be done with the already existing records that are ‘SEAFORD” in the data. Will the current data ever need to be changed to be “BR

[2018-12-14 16:30] impittman commented on #282
Table/Field = BMPS.MAINT_AREA
Per Lee - Newark will update the domain to reflect Bridgeville.
No records reflect this value currently.

Update the key/value pairs as below:
dicAreas={'Laurel':'AREA 1 - LAUREL','Bridgeville':'AREA 2 - BRIDGEVILLE','Ellendale':'AREA 3 - ELLENDALE','Gravel Hill':'AREA 4 - GRAVEL HILL','Dagsboro':'AREA 5 - DAGSBORO','Harrington':'AREA 6 - HARRINGTON','Magnolia':'AREA

[2018-12-17 05:11] kanglu666 commented on #21
start working on this one.

[2018-12-17 13:56] cstevenson1 commented on #203
Moved to the latest milestone since it involves the reports and there is currently no work around to make the map look more presentable.

![image](https://user-images.githubusercontent.com/16919898/50091496-8e649c00-01d9-11e9-8139-8e9fc1c745cd.png)

[2018-12-17 14:49] cstevenson1 commented on #270
moved to current milestone since DelDOT is also commenting on this issue.

[2018-12-17 15:35] cstevenson1 commented on #283
![image](https://user-images.githubusercontent.com/16919898/50097268-814ea980-01e7-11e9-85d4-ca4ccbff7577.png)

[2018-12-17 15:35] #283 closed

[2018-12-17 19:43] cstevenson1 opened #290 "BMP Report - add period after SQ"
a period should be added after SQ in the invasive cut, spray, and minor issues box on the BMP Report. Example "100 SQ. FT."

![image](https://user-images.githubusercontent.com/16919898/50111129-0ea2f580-020a-11e9-9972-4c9a422eb479.png)

[2018-12-17 20:00] cstevenson1 commented on #288
Confirmed - report is now pulling the latest inspection info in prod and photos were left as is.

@gerrykelly Yes, you were right that the inspection info is more critical than the photos issue (still should be done with this milestone though). Thanks for taking care of that so quickly.

[2018-12-18 02:50] kanglu666 commented on #263
ok, i will make that change

[2018-12-18 03:00] kanglu666 commented on #279
does this one need push to prod?

[2018-12-18 04:34] kanglu666 commented on #263
Both item 1 and item 2 have been updated, ready for testing in dev:
http://deldot103.kci.com/deldotwebviewer/index.html

[2018-12-18 12:23] cstevenson1 opened #291 "Structure Report - Source Ownership Downstream to correct field"
It appears the Ownership Downstream field for swale points is pulling from the correct field in the viewer itself but not on the report.

Swale Point tab in Viewer
![image](https://user-images.githubusercontent.com/16919898/50153869-a8fc4b00-0295-11e9-8c1c-26f9e47b5f2b.png)

Swale Point Report
![image](https://user-images.githubusercontent.com/16919898/50153895-be717500-0295-11e9-838a-99070927f619

[2018-12-18 12:36] impittman commented on #279
@kanglu666 this can be pushed to prod, all was good when testing.

[2018-12-18 12:54] leeensminger commented on #279
@cstevenson1 Do you need to confirm before prod deployment?

[2018-12-18 13:00] cstevenson1 commented on #216
So far so good. We have been able to generate reports, the @ symbols are gone and actions appear to be populating in the correct boxes for all of the ones we have checked.

[2018-12-18 13:08] impittman commented on #270
assigning to @cstevenson1  to confirm that all is fixed as expected.

[2018-12-18 13:12] impittman commented on #263
assigning to @cstevenson1  to confirm the updates are a definite go.

[2018-12-18 20:02] cstevenson1 commented on #263
The update meets the basic needs. Once it is pushed to prod we anticipate feedback from DelDOT and will likely log them as enhancements. In particular, it would be nice to be able to erase select drawings instead of all drawings so that if you place the text in the wrong place, you can just redo the text instead of all of the drawings on the map. With that said, if it is a low effort, please make

[2018-12-18 20:04] cstevenson1 commented on #263
also, should there be a space in between words for the line style? there is for marker style
![image](https://user-images.githubusercontent.com/16919898/50179898-32337200-02d6-11e9-9021-4049316038ef.png)

[2018-12-19 03:14] leeensminger commented on #263
@kanglu666 please move to prod.  Please be sure you are managing the code correctly.

[2018-12-19 13:27] cstevenson1 opened #292 "BMP Report - Populate Previous Inspection on First Page"
On the first page of the BMP Report there is supposed to be the current performance rating (based on the inspection year selected) and the performance rating from the most recent previous inspection. This is working when the prior inspection is one year prior (i.e. the report correctly shows 2018 and 2017 ratings). However, when the prior inspection is more than one year apart, the report displays

[2018-12-20 04:08] kanglu666 commented on #263
updated in PROD, ready for testing.

[2018-12-20 12:56] impittman commented on #263
Tested in Prod, the "Options" to select color, line style, etc. is missing in Prod.

Current Prod:
![prod missing color](https://user-images.githubusercontent.com/16418393/50286227-c3b4f800-042c-11e9-97fa-6f0540f388d6.png)

Current Dev:
![in dev](https://user-images.githubusercontent.com/16418393/50286236-ca436f80-042c-11e9-8e2c-098a9cf2f77d.png)

[2018-12-20 15:33] kanglu666 commented on #263
please clear your browser cache to reload it. then it will show up

[2018-12-20 15:43] impittman commented on #263
Cache cleared, options show and work.. @cstevenson1 please test to make sure it is working as expected

[2018-12-21 00:37] kanglu666 commented on #21
updated in dev, ready for testing in dev

[2018-12-24 16:03] kanglu666 commented on #19
in the selection result page, Sorting apples to the entire selection based on the Number field (Structure Number, BMP number, Conveyance Number).

[2018-12-24 16:40] leeensminger commented on #268
@cstevenson1 please confirm if we are approved to deploy the updates (as reflected in the mxds Maria provided) to production

[2018-12-27 00:09] kanglu666 commented on #270
Start working on this one

[2018-12-27 16:57] impittman commented on #270
This appears to be updated in Prod. @cstevenson1  please also test to make sure this is good to go

[2018-12-28 15:05] cstevenson1 commented on #263
If you change the color for the polygon fill, it appears properly on the exported map but on the map viewer screen it displays the fill as black. The outline color for the map viewer is correct though.

Exported Map
![image](https://user-images.githubusercontent.com/16919898/50519247-f479da80-0a87-11e9-8ea9-d69c34b301b5.png)

Map Viewer
![image](https://user-images.githubusercontent.com/16919898/5

[2018-12-28 15:12] cstevenson1 commented on #279
Please push to prod

Dev
![image](https://user-images.githubusercontent.com/16919898/50519444-f09a8800-0a88-11e9-85d3-2a10e9d27a25.png)

Prod
![image](https://user-images.githubusercontent.com/16919898/50519462-0b6cfc80-0a89-11e9-86d0-ab2881221306.png)

[2018-12-28 15:42] cstevenson1 commented on #268
KCI Newark discussed and we think the labels are better but not necessarily ideal since they are still fairly jumbled. We don't know if there is another option though and agreed to deploy these updates and can log enhancements based on DelDOT feedback if needed.

[2018-12-28 16:00] cstevenson1 commented on #58
In addressing the June 26, 2017 comment about "Other Structures", please make sure this is also updated in the table of contents. After discussion, we think "Non-DelDOT Structures" would be more appropriate and can adjust the others accordingly such as "Non-Dover Structures".

[2018-12-28 16:17] cstevenson1 opened #293 "BMP Report - Remove line between invasive species"
The invasive spray, invasive cut, and minor issues not affecting performance boxes are placed at the end of the report. The line in between invasive species should be removed (for spray and cut boxes) to match the format of the minor issues not affecting performance box.

![image](https://user-images.githubusercontent.com/16919898/50521095-03658a80-0a92-11e9-800a-4f9cd8f73173.png)

[2018-12-28 17:43] impittman commented on #58
@cstevenson1  do you want the other bmps to also show the same? ie Non-Dover BMP

[2018-12-28 18:07] cstevenson1 commented on #58
@impittman yes and conveyances

[2018-12-28 19:08] impittman commented on #58
@cstevenson1 looking at the smyrna mxd copy i have, the label shows private/other, do you just want this to show smyrna or does it need to show private/smyrna or something else?

![bmp smyrna](https://user-images.githubusercontent.com/16418393/50525544-09fffc00-0aaa-11e9-9855-db4a569f3859.JPG)

[2019-01-03 14:54] impittman commented on #264
I tested the emails and have attached screenshots of the auto-generated emails with the logo. @cstevenson1 please confirm the logo below is correct. The rest is just reference of the emails sent (3 in total).

Logo to confirm is correct:
![logo](https://user-images.githubusercontent.com/16418393/50643807-10c0c000-0f3d-11e9-81c4-c8fca4e0840d.JPG)

Emails:
Account Access
![account access email](http

[2019-01-11 11:51] leeensminger commented on #268
One thing you could consider is show less labels in the map.  Cartographically speaking, there is way too much information being displayed, and one of the downsides is that things look jumbled.

Or only turn on conveyance labels when zoomed WAY in.

[2019-01-11 11:51] leeensminger commented on #268
@impittman please coordinate with Lu to publish these mxds to dev, then upon approval from Newark, push to prod.

[2019-01-11 12:01] leeensminger commented on #21
@kanglu666 Can the action buttons be changed for the Base Map Query functions?  For all of these base map queries, "Trace Upstream" and "Load Details Information" action buttons do not apply.  Can they both be removed? (These two buttons should remain for other selections like Advanced Query and Geographic Filters).

[2019-01-11 12:48] impittman commented on #268
@kanglu666
Please take this mxd and place into Dev. It contains the structures/conveyance labels need for this issue.
V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\MARIA\target_viewer_npdes_101_Label_Option_IMP_103

[2019-01-11 20:34] cstevenson1 opened #294 "Add Pipe Inspection Ratings to Pipe Inspection Tab"
![image](https://user-images.githubusercontent.com/16919898/51058238-1dd15500-15b6-11e9-9c68-77e380f1a826.png)

Please add the associated ratings for each pipe inspection to the pipe inspection form in the viewer. The ratings are in a separate table. This includes the upstream and downstream seal ratings, overall rating, and debris amount.

[2019-01-14 02:20] leeensminger commented on #294
@cstevenson1 We'll go ahead and add this to the queue  - but please add to the Milestone Update Package #3 if you'd like this to be completed as a priority item

[2019-01-18 00:51] kanglu666 commented on #279
updated in prod, ready for testing

[2019-01-18 03:32] kanglu666 commented on #268
npdes map service has been published in dev, ready for testing

[2019-01-18 16:19] impittman commented on #279
I am not seeing the update in Prod, even after clearing my cache. @cstevenson1 do you see the same?

DE Imagery source:
![de source](https://user-images.githubusercontent.com/16418393/51398789-7baff080-1b12-11e9-99ac-6a9713b4921f.JPG)

Dev - same as DE Imagery
![dev](https://user-images.githubusercontent.com/16418393/51398799-810d3b00-1b12-11e9-97f6-9705258f5240.JPG)

Prod - not the same
![prod](h

[2019-01-19 05:40] kanglu666 commented on #294
![pipeinspectionrating](https://user-images.githubusercontent.com/6352480/51422763-873b0000-1b82-11e9-9b13-9896e296113a.jpg)
this will be the new pipe inspection detail page that has the pipe inspection ratings info included.
Just did the mock up in the picture, please take a look, i will finish the service and logic.

[2019-01-21 17:31] cstevenson1 commented on #294
@leeensminger If it's not a large effort can we please have the fields listed in the order of Overall Rating, Upstream Seal, Downstream Seal, then Debris. Can we also remove Inspection GlobalID from Pipe Inspection info so the user does not have to scroll down as a result of the new ratings section?

Also, just to confirm, the ratings that will be displayed will only correspond with the inspection

[2019-01-21 19:21] cstevenson1 commented on #279
Same observations @impittman

Prod
![image](https://user-images.githubusercontent.com/16919898/51494714-9e970a80-1d87-11e9-9b36-2433229c9e92.png)

Dev
![image](https://user-images.githubusercontent.com/16919898/51494760-e0c04c00-1d87-11e9-8f8e-36140f337c1d.png)

[2019-01-21 20:03] cstevenson1 commented on #264
@impittman yes that is the correct logo and looks good.

[2019-01-21 20:05] impittman commented on #264
@kanglu666 please move this to prod

[2019-01-21 20:21] cstevenson1 commented on #264
@impittman I had Matt create an account in Dev and he just forwarded me his email. His text didn't match yours for creating his account. Not sure if they were different emails (like system vs module/widget access). All of his had the logo though.

![image](https://user-images.githubusercontent.com/16919898/51496694-ba51df00-1d8e-11e9-8bd2-181a9edc87e6.png)

[2019-01-22 02:34] kanglu666 commented on #279
it should be updated this time, please test in PROD

[2019-01-22 02:37] kanglu666 commented on #264
updated in PROD, please test

[2019-01-22 02:42] kanglu666 commented on #21
@leeensminger  yes, i will hide those two button for the basemap query.

[2019-01-22 02:45] kanglu666 commented on #294
@cstevenson1
1. it's easy to change the order
2: i will remove the globalID field.
3: yes, only display ratings for the selected inspection

[2019-01-22 14:39] impittman commented on #279
appears updated in prod

[2019-01-22 14:56] impittman commented on #264
logo is updated in prod emails

[2019-01-22 20:32] cstevenson1 opened #295 "Update Scale Extent for Ortho"
The Ortho imagery automatically turns off after zooming in past a certain point and thus does not show in exported maps.

Snip below shows approximately how far we can zoom in before it turns off. The old imagery did not do this and users will want the ability to zoom in further.

![image](https://user-images.githubusercontent.com/16919898/51563564-cc994f00-1e5a-11e9-855b-9cf1d3f13cfd.png)

[2019-01-22 20:33] cstevenson1 commented on #279
updated in prod but see bug #295

[2019-01-22 20:33] #279 closed

[2019-01-22 20:55] impittman commented on #295
Agree, I zoomed in and lost my ortho imagery at 1:575 (see below). I zoomed in with only 2 layers on as well, NPDES and Ortho.

![bad imagery on zoom in](https://user-images.githubusercontent.com/16418393/51564751-1e8fa400-1e5e-11e9-9686-05b43893b001.JPG)

[2019-01-23 16:02] leeensminger commented on #295
@kanglu666 please address at your earliest opportunity

It appears the feature service supports zooming in further, so it must be the viewer that is limiting users. Thanks

[2019-01-23 17:07] gerrykelly commented on #216
@leeensminger @cstevenson1
I think the BMP report code in dev and prod is now identical (and the reports I compared also are), please verify for one of your noted was-a-problem BMPs

[2019-01-23 17:54] gerrykelly commented on #290
@leeensminger @cstevenson1
Updated in dev and prod -- I also added the period after FT in the last example (for consistency, but with the semi-colon you might not want it ... easy to change it back, let me know)

[2019-01-23 18:15] gerrykelly commented on #293
@leeensminger @cstevenson1
Revised in dev and prod.  (again if when logging an issue you can identify the example by a key ID/(inspection year) that saves me time since I often spend more time finding a test case than it takes to fix it)

[2019-01-23 18:19] gerrykelly commented on #292
@cstevenson1 @leeensminger
I'm addressing this now, but note that the original requirements doc called for "(Current Year Selected – Minus 1 calendar year)  Performance Rating") ... so just noting that this issue changes the standard in case that impacts anything else

[2019-01-23 19:56] gerrykelly commented on #292
@cstevenson1 @leeensminger
This is addressed in prod and dev. (Note that the dev DB does not have a 2018 inspection for the cited BMP so you can't test this particular case in dev)
I had to also hand the case now where there is no inspection earlier that the sought reporting year, in which case you'll see: No Prior Performance Rating   -- and "N/A"

[2019-01-23 19:59] gerrykelly commented on #290
@cstevenson1 @leeensminger
I see that #261 -- BMP Report - Semicolon should be a period following sq ft -- relates to this issue/my earlier comment so I'll address it there

[2019-01-23 22:44] kanglu666 commented on #21
"Trace Upstream" and "Load Details Information" action buttons have been removed when perform the basemap query.,
Ready for testing in dev

[2019-01-24 12:51] impittman commented on #21
The 2 action buttons have been removed from the basemap query in dev:
![image](https://user-images.githubusercontent.com/16418393/51679383-d632cc00-1fac-11e9-834c-04ff1a920118.png)

[2019-01-24 15:29] gerrykelly opened #296 "Investigate handling of ampersand in report text"
(from Wed 1/23/2019 4:41 PM email -- Christina A. Stevenson): Is the “&” symbol off limits within the text of all reports? One of our Illicit Discharges recently took place behind J&C Cuisine restaurant. In the MEMO_COMMENT field, it appears to be saving correctly as “J&C Cuisine”, however, upon downloading the report from the Viewer, it comes out as “J Cuisine”.

This is PID POINT OBJECT ID 2033

[2019-01-24 16:30] gerrykelly commented on #296
@leeensminger @cstevenson1
This was due to a bug in report lab that I had not heard about until now.

Supposedly an updated version of how reportlab handles & and other special characters resolves this, but will not work with our existing code libraries.  So, what seems to work is per-processing the text with a Python function.  I have revised the code for the memo in the WQI report (in dev and pr

[2019-01-24 18:49] gerrykelly commented on #261
@cstevenson1 @leeensminger
Should be good in dev for this and in sync with #290
Pending move to prod after Monday

[2019-01-24 18:54] gerrykelly commented on #260
@cstevenson1 @leeensminger
Simple typo, updated in dev and prod, closing

[2019-01-24 18:54] #260 closed

[2019-01-24 19:11] gerrykelly commented on #291
@cstevenson1 @leeensminger
Fixed in dev (and prod where it was a no-risk change during the code "freeze")

[2019-01-24 22:11] gerrykelly commented on #282
@cstevenson1 @leeensminger
I made this update in dev (only),
Note:
-You no longer will have the "Area #" part of the Maintenance Area
-I do not see (in prod or dev) that Bridgeville was added to D_Maintenance_Area
  -- from prod the following are the values and counts for BMPS.MAINT_AREA

SELECT MAINT_AREA, count(*) as cnt from dbo.BMPS_evw group by MAINT_AREA order by 1
Bear	1330
Cheswold	57
Dags

[2019-01-25 02:49] kanglu666 commented on #294
updated, ready for testing in dev

[2019-01-25 16:00] impittman commented on #294
assigning to @cstevenson1 to confirm it is functioning as anticipated

[2019-01-25 16:51] gerrykelly commented on #224
@cstevenson1 @leeensminger
Should be good in dev now

[2019-01-25 20:04] gerrykelly commented on #203
@leeensminger @cstevenson1
I've developed the functionality for the geoprocessing task to display/not-display the parcel layer or its labels.  This can now easily be extended to control any layer if requested, but again I think this might be all that is needed for the issue at hand.

Because of ArcGIS version/mxd differences it would be some work to get the map in dev like in prod (figures this is

[2019-01-28 12:57] cstevenson1 commented on #296
@gerrykelly The example above looks correct now in the memo. We plan on avoiding the symbol unless it is in the facility name like this case and will notify Lee if we have any more. Thanks.

![image](https://user-images.githubusercontent.com/16919898/51837721-45246380-22d2-11e9-98a7-eee460d093e7.png)

@leeensminger do we close this or leave open?

[2019-01-28 13:39] leeensminger commented on #296
Marking closed for now since the update was made in prod as well as dev;  @cstevenson1 please re-open this issue if any more are encountered.

[2019-01-28 13:39] #296 closed

[2019-01-28 18:11] cstevenson1 commented on #293
Tested in Dev and Prod - Appears line still needs to be removed from Cut List

BMP 22 - 2018 BMP Inspection
Line has been removed from Spray List
![image](https://user-images.githubusercontent.com/16919898/51856524-eecd1a00-22fd-11e9-9c8e-e85f05b759dd.png)

BMP 298 - 2018 BMP Inspection
Line has not been removed from Cut List
![image](https://user-images.githubusercontent.com/16919898/51856554-060

[2019-01-28 18:40] cstevenson1 commented on #261
Tested in Dev and noted the following

Appears fine for the minor issues box (BMP 194 - 2017 Inspection)
![image](https://user-images.githubusercontent.com/16919898/51857976-99930780-2301-11e9-9793-a224545d2bcf.png)

Appears not fixed for the spray and cut list boxes (BMP 525 - 2018 Inspection). The cut list was not originally mentioned, however the fix was for all invasive species and should be i

[2019-01-28 18:47] cstevenson1 commented on #206
This fix is for invasive spray and cut list boxes. It is correct in the minor issues not affecting performance box. Moving to current milestone since it is report related.

[2019-01-28 19:01] cstevenson1 commented on #290
BMP 82 - 2018 Inspection. The period after SQ is good in dev and prod.
@gerrykelly agreed that #261 takes care of your comment. thanks

PROD
![image](https://user-images.githubusercontent.com/16919898/51859119-63a35280-2304-11e9-8e92-cd4ef9fdd916.png)

DEV
![image](https://user-images.githubusercontent.com/16919898/51859180-8afa1f80-2304-11e9-9646-754aadaf4313.png)

[2019-01-28 19:01] #290 closed

[2019-01-28 19:14] cstevenson1 commented on #292
BMP 900 was an initial for 2018, meaning it would have no prior inspections. Confirmed with Ryan that he is good with the No Prior Performance Rating and N/A.
![image](https://user-images.githubusercontent.com/16919898/51859881-3192f000-2306-11e9-9a76-6184fe9c2151.png)

Tested other scenarios in PROD and so far so good.
![image](https://user-images.githubusercontent.com/16919898/51860034-9ea68580-

[2019-01-28 19:14] #292 closed

[2019-01-28 19:42] cstevenson1 commented on #291
appears fixed based on example referenced above
![image](https://user-images.githubusercontent.com/16919898/51861705-e0d1c600-230a-11e9-903d-03835e2e83f0.png)

![image](https://user-images.githubusercontent.com/16919898/51861730-ed561e80-230a-11e9-88fb-8c3368907cec.png)

[2019-01-28 19:42] #291 closed

[2019-01-28 21:21] cstevenson1 commented on #264
![hgfh](https://user-images.githubusercontent.com/16919898/51867161-c0a90380-2318-11e9-96bd-23acc5914c9c.png)

[2019-01-28 21:21] #264 closed

[2019-01-29 14:35] cstevenson1 commented on #203
@gerrykelly being variable for the parcel label layer would be fine (and the parcel layer since it sounds like that is completed). Another/bigger concern is that the parcel labels in the WQI map do not always match the web map. Below is a snip of the web map for the same area from my December 17 comment. The labels are a lot more chaotic in the WQI Report Map.

![fsf](https://user-images.githubuse

[2019-01-29 14:53] gerrykelly commented on #293
@cstevenson1
Should be good now for Cut List in Prod and Dev

[2019-01-29 16:36] gerrykelly commented on #261
@cstevenson1
Updated in dev and prod

[2019-01-29 16:44] gerrykelly commented on #206
@cstevenson1
updated in dev and prod

[2019-01-29 18:01] cstevenson1 commented on #293
cut box has been fixed in prod
![image](https://user-images.githubusercontent.com/16919898/51929339-f9eb7d00-23c5-11e9-828e-b0d5fce33a1a.png)

[2019-01-29 18:01] #293 closed

[2019-01-29 18:12] cstevenson1 commented on #261
Appears fixed in Prod for Cut and Spray List
![image](https://user-images.githubusercontent.com/16919898/51929917-5bf8b200-23c7-11e9-81e0-026ceeaff773.png)

![image](https://user-images.githubusercontent.com/16919898/51929955-6e72eb80-23c7-11e9-98c7-268bf6ea43c8.png)

[2019-01-29 18:12] #261 closed

[2019-01-29 18:14] cstevenson1 commented on #206
appears fixed in PROD
![image](https://user-images.githubusercontent.com/16919898/51930087-c578c080-23c7-11e9-9b72-ec622dac020c.png)

[2019-01-29 18:14] #206 closed

[2019-01-29 18:56] cstevenson1 commented on #216
@gerrykelly I don't think the code is identical. See BMP 82 - 2018 Inspection
The action with a 2 score shows up in the prod report twice (once in action items section and once in minor issues box at the bottom). That same action item only shows once in the dev report (minor issue section where it belongs)

PROD
![image](https://user-images.githubusercontent.com/16919898/51932675-9e24f200-23cd-11e

[2019-01-29 19:35] cstevenson1 commented on #294
layout looked fine in Dev (Example is for Conveyance 0109039976)

![image](https://user-images.githubusercontent.com/16919898/51935024-ff02f900-23d2-11e9-80eb-41194ed2869c.png)

[2019-01-29 19:52] cstevenson1 commented on #288
Example referenced above appears to be fine in PROD now

![fsf](https://user-images.githubusercontent.com/16919898/51935301-99633c80-23d3-11e9-8f71-42b738318abf.png)

[2019-01-29 19:52] #288 closed

[2019-01-29 20:16] cstevenson1 commented on #224
appears fixed in Dev. please push to prod so we can test a good test case that is not available in dev

![image](https://user-images.githubusercontent.com/16919898/51937373-7b4c0b00-23d8-11e9-8d5f-3d35a1207a29.png)

[2019-01-30 15:52] cstevenson1 commented on #282
BMP Report appears to be pulling from database since the Maintenance Area Number is no longer showing. However, the name should be in all caps.

![image](https://user-images.githubusercontent.com/16919898/51993488-f5ce6680-247c-11e9-8fcf-d8fcec9ec904.png)

Also, once bug 341 from the field tool repository is addressed, the field should be in the format as it was before with the area number in fron

[2019-01-31 01:37] kanglu666 commented on #295
the ortho image server only has 20 tiles, the last tile scale is 1128.497176.
http://firstmap.delaware.gov/arcgis/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer/

[2019-02-01 03:10] kanglu666 commented on #255
I did some mock up and testing function for the “Zoom to Results”. Please see the attached pic, I did a query conveyance by county Kent, you will see there are over 79000+ records.

![1](https://user-images.githubusercontent.com/6352480/52100299-f3ffc280-25a4-11e9-86d3-67f2ddda1676.JPG)
I add the checkbox in the grid, by default, after user do the selection, all records in the showing page are che

[2019-02-01 11:50] leeensminger commented on #255
@kanglu666 let's talk about this one - this is good, but need some more info.  Please hit me up on Skype when you are logged on

[2019-02-01 12:18] leeensminger commented on #295
@kanglu666 let's talk about this one too.  hit me up on Skype

[2019-02-02 14:03] impittman commented on #19
All fields appear to sort ascending or descending and this sorting carries through on the following pages. @leeensminger please confirm there is nothing else i missed in testing from our conversation on 2/1/19

[2019-02-02 14:10] impittman opened #297 "the >> last page button does not work in DEV"
When testing the sorting issue, I noticed that the >> button that takes the user to the last page does not work. I brought this up with @leeensminger on 2/1/19 and he suggested to create an issue for this.

When clicking the >> button, the process appears to work, but the list does not change. I let this sit for 20 minutes, no change. I tested several times as well

last page,note the number and c

[2019-02-03 21:53] kanglu666 commented on #297
fixed, ready for testing in dev.

[2019-02-04 13:03] impittman commented on #297
this is fixed in dev when testing

[2019-02-06 13:33] impittman commented on #297
this works in prod after testing, closing issue

[2019-02-06 13:33] #297 closed

[2019-02-06 15:03] impittman commented on #294
tested on  several instances and it appears to work. @cstevenson1 please confirm as well prior to closing

[2019-02-06 15:09] impittman commented on #21
tested and appears to be working as expected in prod. @cstevenson1 please confirm prior to closing.

[2019-02-06 17:17] gerrykelly commented on #282
@cstevenson1 @leeensminger
I made that minor change to upper case in dev (and for the sand filter version of the report which I had forgotten about before)   ... so back to the issue-assignment merry-go-round until the next step

[2019-02-06 17:57] gerrykelly commented on #216
@leeensminger @cstevenson1
The prod BMP report should now be in sync with dev, except for the maintenance area issue

[2019-02-07 15:45] cstevenson1 commented on #216
Unable to generate report to test in prod. The loading spinning wheel to the left of the inspection year appears for a very brief second and then disappears. I had someone else try and they had the same result. I tried clearing cache and still no luck.

[2019-02-07 19:27] gerrykelly commented on #216
@leeensminger @cstevenson1
I can't reproduce this from my side ... things look fine (as they did for me yesterday with the update)  I restarted the report service for what that's worth.
If this continues I need more info (at least for now a BMP# & year failing -- even if it's all of them on the UI side -- just so we are on the same page.  A developer may need to look at it from the UI side if I st

[2019-02-07 20:04] cstevenson1 commented on #21
General functionality seems fine. The drop-down does not work until you have typed in the first 3 characters but I think DelDOT will be ok with this to help speed I am assuming. However,

@leeensminger is there any customization to the display of the columns between query types? For example, can the "Type" default to showing for Advanced Query Builder but Not Base Map Query. With the base map quer

[2019-02-08 13:54] cstevenson1 commented on #216
Still having the issue but noticed a shield in my address bar this morning when I tried again. The message was for unsafe scripts. I clicked allow and refreshed the page. When I tried again the URL turned red and said not secure.

![image](https://user-images.githubusercontent.com/16919898/52482302-e63ad600-2b7e-11e9-8cd3-49c0725a5e0f.png)

![image](https://user-images.githubusercontent.com/169198

[2019-02-08 14:46] cstevenson1 commented on #294
appeared to work for me as well
![image](https://user-images.githubusercontent.com/16919898/52485253-6f094000-2b86-11e9-9224-31a04630dfcd.png)

[2019-02-08 15:01] cstevenson1 commented on #216
Just an FYI, the unsafe scripts mentioned above are occurring on all reports (Structure, Conveyance, BMP, and WQI). I can make this its own issue if needed.

[2019-02-08 15:09] gerrykelly commented on #216
@cstevenson1 @leeensminger
Yes, this should be its own issue ... thanks

[2019-02-08 15:10] leeensminger commented on #216
@cstevenson1 please close this issue if the other functionality is good.  If you need to test it first, but are prevented from testing due to the unsafe scripts issue, then reassign yourself and hold until resolved.

[2019-02-08 15:16] cstevenson1 opened #298 "Cannot Generate Reports - Unsafe Scripts"
Users are unable to generate all reports (Structure, Conveyance, BMP, WQI). We noticed the shield in the address bar and the URL saying not secure after we tried refreshing. Unable to test #216 until this is resolved.

![image](https://user-images.githubusercontent.com/16919898/52486764-0328d680-2b8a-11e9-918c-4d8a123c496a.png)

[2019-02-11 15:18] cstevenson1 opened #299 "Clip Flowlines to Watershed or State Boundary"
The Flowline layer appears to contain data outside of Delaware and should be clipped to help with drawing speed.

![image](https://user-images.githubusercontent.com/16919898/52567514-83de1180-2dda-11e9-9b98-1bb98f41df3d.png)

[2019-02-11 15:21] cstevenson1 commented on #299
Appears to be clipped in the viewer but not in the MXD Newark was provided to update. Closing issue

[2019-02-11 15:21] #299 closed

[2019-02-11 17:04] cstevenson1 commented on #216
@leeensminger @gerrykelly functionality is not good, same as before where level 2 action items are being duplicated. See 2018 reports for BMP 82 or 505

![image](https://user-images.githubusercontent.com/16919898/52579874-23a89900-2df5-11e9-8711-2bf48d790dd1.png)

[2019-02-11 17:27] cstevenson1 commented on #263
Same issue as before (see Dec 28 comment). If you select a color, such as red and then select a fill, such as cross, the web map will display a polygon with a red outline but with a black cross fill. If you export the map to PDF, the PDF will correctly have the polygon outline as red and the cross fill as red.

[2019-02-11 17:35] cstevenson1 commented on #19
appears to be properly sorting. please confirm this has been pushed to prod.

[2019-02-11 17:40] cstevenson1 commented on #268
cannot test. structures/conveyances are not displaying in dev. I can query features but cannot see the symbology on the map.

[2019-02-11 19:11] gerrykelly commented on #216
@cstevenson1 @leeensminger
I think this is fixed.  While the code for the BMP report was OK in prod, there was a difference in the app config file causing the error; now the config should match dev and work correctly.

[2019-02-11 20:13] cstevenson1 commented on #282
It's in all caps now. @gerrykelly I think it's good to go to prod

@leeensminger the number doesn't show because we made the change in prod. do we need to add all the values in Dev?

![image](https://user-images.githubusercontent.com/16919898/52590468-59f31200-2e0f-11e9-9146-1771b3a7ddb3.png)

[2019-02-11 20:25] gerrykelly commented on #282
@cstevenson1
I updated prod. You'll see like -- 3 - ELLENDALE -- in prod reports, so let me know if you want the word "AREA" to precede the Maint_area values or else I'll consider this OK as it is now.

[2019-02-12 00:50] kanglu666 commented on #295
new image service has been published and used in the viewer (both PROD and DEV)

https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/Ortho2018/ImageServer

[2019-02-12 12:43] cstevenson1 commented on #295
appears to be working in dev
![image](https://user-images.githubusercontent.com/16919898/52636171-d92d2800-2e99-11e9-883b-5a60012b4153.png)

[2019-02-12 13:18] cstevenson1 commented on #282
Matt/Ryan said it is fine as-is

![image](https://user-images.githubusercontent.com/16919898/52637871-902ba280-2e9e-11e9-977e-cbcffa2b97f1.png)

[2019-02-12 13:18] #282 closed

[2019-02-12 17:21] impittman opened #300 "Update Base Map Data"
Please update the Base Map data using the MXD found here:
M:\2014\17141728.A\GIS\BaseData\Base_Data_Viewer

[2019-02-13 00:02] kanglu666 commented on #295
updated in prod, ready for testing

[2019-02-13 01:38] impittman commented on #295
imagery appears as expected in prod, tested zooming in to small scale and also within various locations within the 3 counties.

[2019-02-13 01:43] impittman commented on #268
feature service has been updated in dev and appears to be working upon testing

[2019-02-13 03:55] kanglu666 commented on #300
published in dev, ready for testing

[2019-02-13 14:19] impittman commented on #300
The base data layer is missing in DEV. When I selected the Base Map drop down icon, nothing was listed as well. Steps taken:
1) Cleared cache - entire history cleared
2) Logged into Dev as Admin
3) Selected NPDES Web Viewer
4) Created a query, zoomed to a Structure
5) Discovered no base data was visible like centerlines, flowlines etc.
![no base data 2](https://user-images.githubusercontent.com/16

[2019-02-15 01:05] kanglu666 commented on #300
base map service has been re-published on dev, ready for testing

[2019-02-15 14:34] leeensminger commented on #298
@cstevenson1 we discussed via email that htis was complete; please confirm and close this as needed

[2019-02-15 15:58] cstevenson1 commented on #298
reports are generating

[2019-02-15 15:58] #298 closed

[2019-02-15 16:01] impittman commented on #300
this is updated as requested in Dev, @cstevenson1  please confirm this base map reflects all changes prior to pushing to prod

[2019-02-15 17:16] cstevenson1 commented on #216
@gerrykelly @leeensminger I think this is now working when the parameter only has one action item and it has a score of 2 like the examples above. However, I don't think it is working when a single parameter like overall site stability has multiple actions items and one is a 2 and the other has a score > 2. It appears to still be duplicating the 2s in those cases. See BMP 528 - 2018 inspection as

[2019-02-19 17:45] leeensminger opened #301 "User permissions prevent access to NPDES Viewer"
When user has the roles: NPDES-View, ES2M-admin, ES2M-Field Inspector, they cannot access the NPDES Viewer.  When user only has NPDES Viewer role, they can see the viewer.

[2019-02-19 18:40] gerrykelly commented on #216
@cstevenson1
The issue was basically as you thought it was.  I updated it in dev.  If verified fixed, Please check a couple of the cases other than where you saw problem to make sure nothing changed there.

[2019-02-19 19:48] cstevenson1 commented on #224
appears to be fixed
![image](https://user-images.githubusercontent.com/16919898/53042965-6271cb00-3455-11e9-92a0-2da1f2dc7bbd.png)

[2019-02-19 19:48] #224 closed

[2019-02-19 19:57] cstevenson1 opened #302 "WQI Report - Setting Field"
Resource Setting field in WQI report to the Setting field in database once field tool bug 342 is addressed. This goes along with bug #280

[2019-02-19 20:29] kanglu666 commented on #301
updated, ready for testing in dev

[2019-02-19 20:32] cstevenson1 opened #303 "WQI Report - Other Visual Section"
The "Other" checkbox in the Visual section on the WQI report for PID_Point 2032 does not have "(Diesel)"  following Other as it should. This seems to be the only WQI that is not working, PID_Point 1626 is working correctly.

PID 2032
![image](https://user-images.githubusercontent.com/16919898/53045404-87693c80-345b-11e9-9906-ecace823e76c.png)

PID 1626
![image](https://user-images.githubuserconten

[2019-02-19 21:12] impittman commented on #301
I changed my permissions to exclude NPDES Viewer and I am able to see the features within Viewer without issue. I also tested with just the NPDES Viewer and not admin, same results. I think this is good.

![viewer](https://user-images.githubusercontent.com/16418393/53047424-60f9d000-3460-11e9-8f45-e3fe812ea51a.png)

![viewer](https://user-images.githubusercontent.com/16418393/53047712-0745d580-346

[2019-02-20 11:59] leeensminger commented on #301
@kanglu666 deploy to prod

[2019-02-20 12:00] leeensminger commented on #19
@kanglu666 please push to prod

[2019-02-20 12:04] leeensminger commented on #21
@kanglu666  Two issues:

**1. The results grid is not correct per the requirements.**

The fields (columns) that should be shown are:
"Layer"
"Name/Number"

The fields (columns) that are currently shown are:
Layer
Number
Type
Ownership

**2. When a result item is removed from the results list, the count of records is not updated**

[2019-02-20 14:01] cstevenson1 opened #304 "Load Details Button Does Not Work Before Running A Query"
Recently we have noticed that if you run a query first, there are no problems using the load details information button. However, if the first thing you do is use the Select by Map feature and then try to use the load details information button, it will not work. This has not always been the case.

![image](https://user-images.githubusercontent.com/16919898/53096795-ef686300-34ed-11e9-84e3-9b333c6

[2019-02-20 16:18] gerrykelly commented on #303
@cstevenson1 @leeensminger
This came from a bug when a WQI fieldsheet had a related dumping record, but no related flowchar ... I think I fixed correctly (in prod and dev)

[2019-02-20 17:16] kanglu666 commented on #304
updated, ready for testing in dev

[2019-02-20 17:17] kanglu666 commented on #19
confirmed, it's already in PROD

[2019-02-20 18:10] cstevenson1 commented on #304
I was able to use load details information button on first try using the Select by Map. I think its good to push to prod

[2019-02-20 18:29] #19 closed

[2019-02-20 18:48] #295 closed

[2019-02-20 19:03] cstevenson1 commented on #303
this particular case appears to be fixed. we will keep an eye out in the future but closing bug for now. thanks

![image](https://user-images.githubusercontent.com/16919898/53117101-1d629d00-3518-11e9-8b80-3d7b5c040ed8.png)

[2019-02-20 19:03] #303 closed

[2019-02-21 01:04] kanglu666 commented on #301
updated in PROD

[2019-02-21 01:05] kanglu666 commented on #304
updated in PROD

[2019-02-21 12:28] impittman commented on #301
tested in prod as admin and it worked. i do not have an active personal account to validate further. @leeensminger or @cstevenson1 can you please confirm it works with your personal, not admin account?

[2019-02-22 03:08] kanglu666 commented on #21
working on this one.

[2019-02-23 22:39] kanglu666 commented on #21
updated, ready for testing in dev

[2019-02-26 12:55] cstevenson1 opened #305 "Can the viewer support multi-part features?"
In a few cases, particularly for New Castle County there are BMPs that are made of multiple polygons like sand filters (BMP 20637 or 20503 are examples). The zoom to location does not work for these features but works when the BMP record is one polygon. Is it possible for the zoom to location to work with multi part features?

Two are two records for 20637 right now because NCC duplicated work KCI

[2019-02-26 20:00] cstevenson1 opened #306 "Action Buttons Should Not Change In Advanced Query"
The basemap query appears to be functioning properly where only the first two buttons are shown in the actions column. However, if you toggle back to the advanced query builder workspace, the two buttons do not reappear and I cannot open the structure details.

![image](https://user-images.githubusercontent.com/16919898/53442380-2e5b5480-39d7-11e9-8f7c-8b16ab57d296.png)

[2019-02-28 16:24] impittman opened #307 "Update Email Address from state.de.us to delaware.gov in DelDOT_Auth database"
I am unable to connect/edit in the SSMS for the database below. However, we need to get the following values updated in **DEV** only.
-In DEV- DELDOT_AUTH.AspNetUsers please update the following:
In the EMAIL field, replace only the emails ending in “state.de.us” to end in “delaware.gov” instead. For example:
matthew.ortynski@state.de.us would be changed to matthew.ortynski@delaware.gov

-Confirm

[2019-02-28 23:20] kanglu666 commented on #307
updated in dev, please test.

for example use email :  matthew.ortynski@delaware.gov and the existing password to login.

[2019-03-01 11:37] impittman commented on #307
this is updated in dev, both the database and the website

[2019-03-03 04:58] leeensminger commented on #307
All was confirmed good by Newark and DelDOT

[2019-03-03 04:58] #307 closed

[2019-03-03 05:01] leeensminger commented on #203
@gerrykelly what is the source of the WQI report map?

[2019-03-04 15:01] gerrykelly commented on #203
@leeensminger
"C:\Projects\DelDOT_NPDES_Reports\mxds\WQIprod.mxd" on deldot-prod-AGS
or
for dev .... "C:\Projects\DelDOT_NPDES_Reports\mxds\WQIdev.mxd" on vm-city102

[2019-03-04 15:27] leeensminger commented on #203
@impittman can you please pop these mxds open, and compare the labeling to the web viewer base mxd?

[2019-03-04 15:51] impittman commented on #203
@leeensminger I cannot connect to the first link (deldot - prod- ags) if you have a full link that would help as I don't have this path.
The MXD below does not match labeling as Parcels and other features are not in the Target Viewer NPDES 101 MXD (see screenshot) and labeling is turned off for a couple features BMP/Outfall DA's:
"C:\Projects\DelDOT_NPDES_Reports\mxds\WQIdev.mxd" on vm-city102

Cu

[2019-03-06 01:13] leeensminger opened #308 "Add line in BMP Report for Maintenance Area (Work)"
Please add a spot directly BELOW the existing Maintenance Area field int he BMP report.

The existing Maint Area field captures the actual geography of where the BMP is.
We need a spot in the report that identifies which maintenance area is actually doing the repair work (because they are not always the same).

For now, there is no source for this field.  We simply need to create the space, so New

[2019-03-06 01:19] leeensminger opened #309 "Add Maintenance Area field to Work Orders"
Please add a field to the Work Orders table, for Maintenace Area.

This field will represent the maintenance area that is actually performing the work.  This should be a text field approx 50 characters.

Please add to the WORK_ORDERS table.  Please make it nullable.  Call the field MAINT_AREA_WORK.

[2019-03-06 01:19] leeensminger commented on #309
@cstevenson1 for the MS4 side, does this need to be reflected in the Structures or Conveyances reports??

[2019-03-06 02:13] impittman opened #310 "Slow functionality for Conveyance and Structure Number Queries"
Newark reports that the type ahead functionality for structures and conveyance number queries is very slow.  This is causing DelDOT to incorrectly believe the application is not working correctly.  A work around is needed to speed up the process.

[2019-03-06 16:39] gerrykelly commented on #308
@leeensminger
I simply added (in dev and prod) a carriage return to the label and value like ...
![image](https://user-images.githubusercontent.com/8259136/53897567-69c3d780-4004-11e9-9b85-8d1feb9fc800.png)
... and checked that the table still remains entirely on the page.

Let me know if you want another label .... a gridline ....

[2019-03-06 20:29] cstevenson1 opened #311 "WQI Report - Visual on Tracking Form"
PID POINT ObjectID 2035 is the example referenced below.

There is an extra comma between Grease (which came from Deposits/Stains on page 2 of the WQI) and Cooking Grease (which came from page 3 of the WQI – door hanger info).

![image](https://user-images.githubusercontent.com/16919898/53911468-7a844580-4024-11e9-9c8c-89f5f9481f0e.png)

[2019-03-06 20:35] cstevenson1 opened #312 "WQI Report - Incorrect date on field sheet"
Below is in reference to PID Point ObjectID 2035

Date in the field tool is 2/24/19 9:00 PM, date on the field sheet is 2/25/19. This may be related to the several date fields in the database that are 3 or so hours off.

![image](https://user-images.githubusercontent.com/16919898/53911579-d51da180-4024-11e9-98ef-2cc6aaab4a50.png)

[2019-03-07 20:09] cstevenson1 commented on #216
Ryan and I think this is good now. Thanks Gerry

[2019-03-17 23:21] leeensminger commented on #312
@cstevenson1 when you say the "date on the field sheet", do you mean the date in the database?  or the date in the field sheet report export, as identified in your screenshot?

[2019-03-17 23:24] leeensminger commented on #308
@gerrykelly yes, actually, we need another label/gridline.  The label can read [something] - need to confirm with Christina.

@cstevenson1 what is the preferred label?  perhaps "Maintenance Area (Executing)"?

[2019-03-17 23:25] leeensminger commented on #305
@impittman can you please coordinate with Lu to find this answer?

[2019-03-17 23:33] leeensminger commented on #302
@impittman please address after the appropriate schema change

[2019-03-17 23:34] leeensminger commented on #301
@cstevenson1 if you are good with this please close

[2019-03-17 23:34] leeensminger commented on #280
@impittman please address after the appropriate schema changes are made

[2019-03-17 23:42] leeensminger commented on #203
@impittman please Skype message me... I don't understand why you cannot access this path.  I just did to confirm, and have no issues.

1. RDP to deldot-prod-ags
2. Use gs_admin creds
3. Navigate to the path provided

[2019-03-17 23:44] leeensminger commented on #64
@impittman please address after the appropriate schema changes are made

[2019-03-17 23:45] leeensminger commented on #21
@cstevenson1 please give it a test

[2019-03-17 23:46] leeensminger commented on #304
@cstevenson1 please confirm in prod, and close this if needed

[2019-03-18 16:18] cstevenson1 commented on #304
Loading a little slow today but is working. Closing bug and will monitor speed.

[2019-03-18 16:18] #304 closed

[2019-03-18 16:37] cstevenson1 commented on #309
@leeensminger Spoke with Sara from DelDOT and she said yes to do to reports.

[2019-03-18 16:49] cstevenson1 commented on #308
@leeensminger Below is a snip from a BMP Report Ryan submitted to DelDOT. They want the label formatting to be the same (excluding the word "Area" before the maintenance area number). The value for Maintenance Area (Work Order) may be a little longer since it is a manual text field with the area and supervisor name but should not be significantly longer.

![image](https://user-images.githubusercon

[2019-03-18 16:54] cstevenson1 commented on #301
no issues in prod so far but may need to retest once ES2M is in prod

[2019-03-18 16:54] #301 closed

[2019-03-18 17:11] leeensminger commented on #308
@gerrykelly please create a separate GH item if you think its necessary, but please:
1) Add "(Location)" to the existing maint area field
2) Add the second gridline with "Maintenance Area (Work Order)"

Please ensure the parenthesis items are on a new line, as shown in the image.

[2019-03-18 17:20] cstevenson1 opened #313 "Remove type ahead for Structure and Conveyance ID"
Type ahead in the advanced query builder for Structure and Conveyance ID is slowing down search process and should be removed.

[2019-03-18 17:51] cstevenson1 opened #314 "Default to Advanced Query Builder"
Per DelDOT request, the viewer should default to the advanced query builder instead of canned query since no canned queries are built and most of the searches are completed from the advanced query work space.

![image](https://user-images.githubusercontent.com/16919898/54551614-cfa94b00-4984-11e9-9277-708c2f0aeb39.png)

[2019-03-20 11:43] impittman commented on #305
@kanglu666 I took the following steps to replicate the issue in the Viewer. One of the multi-part polygons zooms to location, the other does not. Please confirm if multi-part polygons are supported. I used @cstevenson1 example BMP for the process outlined below.

1) DEV as Admin
2) Selected Advanced Query Builder
3) Parameters were BMP Sand Filter , BMP # = 20637
4) Attempted to Zoom to Location f

[2019-03-20 11:45] cstevenson1 commented on #21
@leeensminger Last Edit Date and Ownership were not removed in Dev. I'm ok with leaving the Name column as is.

![image](https://user-images.githubusercontent.com/16919898/54681585-2036ba80-4ae3-11e9-9ee2-332e5608e7b9.png)

Unable to test in Dev but I know in prod that you cannot easily switch between base map query and advanced query builder. If I use base map query to zoom to a community, I can

[2019-03-20 11:51] impittman commented on #309
@kanglu666
Add the following field to the database:

Field:
MAINT_AREA_WORK

Table:
WORK_ORDERS

Type:
Text

Character:
50

[2019-03-20 13:15] cstevenson1 commented on #312
@leeensminger the date is wrong in the database and thus the report.

![image](https://user-images.githubusercontent.com/16919898/54686910-b8876c00-4af0-11e9-9c1f-a06810c4ac1a.png)

[2019-03-20 22:56] leeensminger commented on #313
@cstevenson1  two options:
1) instead of triggering the type ahead list at 3 characters, we can trigger it at 4 or 5 characters.  so users have to type more before the list shows.  this is about 1 hour to do .
2) remove the type ahead altogether.  this is more complex than you and I originally though, and is about 16 hours total - basically, because we have to restructure the entire field and all

[2019-03-21 09:26] cstevenson1 commented on #313
option 1 is fine and just use the max number of characters possible before triggering the list (within that 1 hour to do range)

[2019-03-21 22:09] kanglu666 commented on #313
updated in dev, ready for testing

[2019-03-28 15:17] cstevenson1 commented on #300
Issue @impittman noted on 2/13 is occurring again. Cannot test

![image](https://user-images.githubusercontent.com/16919898/55169339-02a0cb00-514b-11e9-90ca-e97b2e50d866.png)

[2019-03-28 15:26] cstevenson1 commented on #313
Searching for ID is definitely faster than it was. Used conveyance 0112107720  and structure 0112117531 to test both manually entering and copying and pasting. Both methods of entry seemed faster than they were before. If 7 is the max number then this is good to push to prod.

[2019-03-28 16:12] cstevenson1 commented on #310
type ahead for structures and conveyance IDs is being address in #313 . Closing bug

[2019-03-28 16:12] #310 closed

[2019-03-28 16:16] cstevenson1 opened #315 "Default BMP Report to Most Recent Inspection"
Per DelDOT request, the BMP Inspection Year should default to the most recent inspection for the BMP, instead of the current year. Numerous BMPs do not have an inspection for the current year causing confusion or extra effort by users to select the most recent inspection.

![image](https://user-images.githubusercontent.com/16919898/55174045-2536e200-5153-11e9-8d07-ca6b25d6ed17.png)

[2019-03-29 11:51] leeensminger commented on #313
@kanglu666 please push to prod

[2019-03-29 14:40] impittman opened #316 "Add the City of New Castle user group into the viewer"
Please add the City of New Castle user group into the viewer (similar to how users are associated to “NCC”, or “DelDOT”, or “Maintenance”).  It may also be necessary to publish the service and create the user group in the Users table. An mxd will be forwarded to @kanglu666 for deploying.

[2019-03-30 14:47] impittman opened #317 "Add Other user group into the Viewer"
Please add a new user group to the Viewer. The user group will be "Other". An mxd will be forward to @kanglu666   This should be done in Dev first.

[2019-03-31 19:26] kanglu666 commented on #316
new group " City of New Castle  " added:
new map service has been published in dev:
http://vm-deldot103:6080/arcgis/rest/services/DelDotWebViewer/CNC/MapServer

ready for testing in dev

[2019-03-31 19:27] kanglu666 commented on #317
new group " City of New Castle " added:
new map service has been published in dev:
http://vm-deldot103:6080/arcgis/rest/services/DelDotWebViewer/Other/MapServer

ready for testing in dev

[2019-04-02 13:00] cstevenson1 opened #318 "BMP Report - white background for BMP location map"
This is a new issue where the BMP location map on the first page of the BMP Report is displaying with a white background instead of the imagery. Snip below is from BMP 486 - 2019 inspection. I also tried BMP 20 - 2018 inspection and received the same results.

![image](https://user-images.githubusercontent.com/16919898/55404363-c04e0400-5525-11e9-8724-498d8ef0a5ed.png)

[2019-04-02 16:51] gerrykelly commented on #308
@leeensminger
Updated in dev and prod, please review

[2019-04-02 20:50] gerrykelly commented on #318
@impittman
Fixed in dev and prod (by replacing ortho photos in source mxd with current source in  \\deldot-prod-ags\data\DE_MOSIAC.gdb)

[2019-04-04 18:19] cstevenson1 commented on #318
![image](https://user-images.githubusercontent.com/16919898/55578762-a60e5480-56e4-11e9-9b55-f39880832ee8.png)

2018 Inspection for BMP 20 worked in prod

[2019-04-04 18:19] #318 closed

[2019-04-04 18:22] cstevenson1 commented on #308
@leeensminger the line has been added but Gerry will need to source it to the new field in the database once it is added. Is that being covered under this bug?

![image](https://user-images.githubusercontent.com/16919898/55578921-08675500-56e5-11e9-9f00-41a45d574e13.png)

[2019-04-07 01:25] kanglu666 commented on #316
Updated in PROD, ready for testing

[2019-04-07 01:26] kanglu666 commented on #317
updated in PROD

[2019-04-07 01:39] kanglu666 commented on #313
updated in PROD

[2019-04-08 11:19] impittman commented on #317
this matches the updated user group mxd, I believe it is good to go

[2019-04-08 11:20] impittman commented on #316
this matches the updated user group mxd, I believe it is good to go

[2019-04-08 11:37] impittman commented on #280
@gerrykelly the database edit to adjust the WQI report field has been created. please update the WQI report field in DEV first to pull data from the following field:
deldot_migration2.DBO.WQ_INVESTIGATIONS.ODOR

[2019-04-08 11:44] impittman commented on #302
@gerrykelly the database edit to adjust the WQI report field has been created. please update the WQI report field in DEV first to pull data from the following field:

deldot_migration2.DBO.WQ_INVESTIGATIONS.SETTING

[2019-04-08 11:47] impittman commented on #64
@gerrykelly the database edit to adjust the WQI report field has been created. please update the WQI report field in DEV first to pull data from the following field:

deldot_migration2.DBO.WQ_INVESTIGATIONS.NEAREST_STREAM

[2019-04-08 11:52] impittman commented on #308
@gerrykelly please link the Mainteance Area (Work Order) field to the following field recently created in DEV:
deldot_migration2.DBO.WORK_ORDERS.MAINT_AREA_WORK

[2019-04-08 12:03] impittman commented on #203
this one looks more accurate:
"C:\Projects\DelDOT_NPDES_Reports\mxds\WQIprod.mxd" on deldot-prod-AGS

[2019-04-10 15:25] impittman opened #319 "Update NPDES User Group Email"
Please Update the Text for the NPDES User group assignment email. All font should be Times New Roman 12, including the hyperlink. This update needs to apply to all NPDES user group emails for when a user is assigned, NPDESAdmin, NPDES-Viewer, NPDES-Editor. Note, email with hyperlinks and text has been sent to @kanglu666 to use in the updates.

Your current user role(s) have been updated, you are n

[2019-04-12 19:00] leeensminger commented on #309
@cstevenson1 can you confirm, does the field tool need to enter this field value?  i think this is just on the database end - and you will go through on some regular cycle, to identify the logic needed, and assign a maintenance area completing the work - therefore, we don't need to add to field tool - right?

[2019-04-12 19:06] impittman opened #320 "Add Line for Maintenance Area Work in Structures Report"
Similar to issue #308 we will need to add a line to the Structures Report for Maintenance Area (Work Order). Please use the field WORK_ORDERS.MAINT_AREA_WORK to populate this field in the report.

[2019-04-12 19:08] impittman opened #321 "Add Line for Maintenance Area Work Order in Conveyance Report"
Similar to issue #308 we will need to add a line to the Conveyance Report for Maintenance Area (Work Order). Please use the field WORK_ORDERS.MAINT_AREA_WORK to populate this field in the report.

[2019-04-15 21:27] gerrykelly opened #322 "Add Line for Maintenance Area Work Order in BMP Sandfilter Report"
Similar to issue #308 we will need to add a line to the Structures Report for Maintenance Area (Work Order). Please use the field WORK_ORDERS.MAINT_AREA_WORK to populate this field in the report.

[2019-04-15 22:25] kanglu666 commented on #309
MAINT_AREA_WORK has been added into the Work_Order table

[2019-04-16 00:09] kanglu666 commented on #306
fixed in Dev, Ready for testing

[2019-04-16 11:54] impittman commented on #306
@cstevenson1  please test to confirm expected functionality. the action buttons are present in both advanced query and base map query upon toggling back and forth now. however, i had to re-enter my query parameters when i toggled. i am unsure if this is expected, normal or a requested change for having to re enter parameters.

[2019-04-16 15:56] kanglu666 commented on #305
For BMP number 20637 in dev
The first record in the grid has "MULTIPOLYGON" sahpe
the second on in the grid has  "POLYGON".

the esri javascript api only has geometry types: "Extent, Multipoint, Point, Polygon, Polyline".

How about zoom to one of the Multi part polygon?

[2019-04-16 18:40] gerrykelly commented on #322
done in dev and prod

[2019-04-16 19:44] gerrykelly commented on #320
Ready for test (working in dev, -- prod will requires another update when WORK_ORDERS.MAINT_AREA_WORK added)

[2019-04-16 21:23] gerrykelly commented on #321
Ready for test (working in dev, -- prod will requires another update when WORK_ORDERS.MAINT_AREA_WORK added)

[2019-04-16 21:23] gerrykelly commented on #322
Ready for test (working in dev, -- prod will requires another update when WORK_ORDERS.MAINT_AREA_WORK added)

[2019-04-16 21:41] gerrykelly commented on #308
Ready for test (working in dev, -- prod will requires another update when WORK_ORDERS.MAINT_AREA_WORK added)

[2019-04-17 12:50] cstevenson1 commented on #313
working in PROD

[2019-04-17 12:50] #313 closed

[2019-04-19 11:22] leeensminger commented on #305
@impittman see above

[2019-04-19 11:25] leeensminger commented on #21
@impittman can you please translate this to specific, detailed actions for Lu?

[2019-04-19 11:52] impittman commented on #305
@kanglu666 I cannot zoom to the multi-part polygon when clicking the pin icon beside the multi-part record. No action occurs. Instead, I have to zoom to the non-multipart feature to see these features. I noticed that the multipart features are in the map, but the ability to zoom to them from the list of selected features is not an option. Only one worked from the list  and its type is "Polygon".

[2019-04-19 12:10] impittman commented on #300
In Dev, tested today 4/19, and I see flow lines, center lines, etc: This may have been a server issue perhaps. See below:

![image](https://user-images.githubusercontent.com/16418393/56423533-85183880-627a-11e9-81ef-353d2a08ab82.png)

[2019-04-19 12:33] impittman commented on #21
@kanglu666 Please edit the following in Dev:
-In the Advanced Query Grid, remove the following items from the grid:
         Last Edit Date
         Ownership
![image](https://user-images.githubusercontent.com/16418393/56424187-2dc79780-627d-11e9-878c-f412bc05886e.png)

-Please confirm that the the "select by map" option works in Advanced Query. When testing today (4/19), this feature was not avai

[2019-04-19 17:08] gerrykelly commented on #216
@leeensminger @cstevenson1
Updated in prod

[2019-04-19 17:52] #317 closed

[2019-04-19 18:05] #316 closed

[2019-04-19 18:29] cstevenson1 commented on #322
confirmed line has been added in dev and prod. will test again after the additional update is made
![image](https://user-images.githubusercontent.com/16919898/56438027-8fa0f500-62af-11e9-94c7-67eddee32741.png)

[2019-04-20 17:53] kanglu666 commented on #314
updated ready for testing

[2019-04-22 11:31] impittman commented on #314
updated in Dev, please push to Prod

[2019-04-22 12:31] cstevenson1 commented on #320
confirmed in dev. please make necessary updates in prod

[2019-04-22 12:51] cstevenson1 commented on #321
confirmed in dev. please make necessary updates in prod
![image](https://user-images.githubusercontent.com/16919898/56501167-cbb89d80-64db-11e9-9a7f-7079037e6e29.png)

[2019-04-22 16:04] impittman commented on #314
After clearing cache, this is updated in PROD as well to default to Advanced Query Page. Closing issue.

[2019-04-22 16:04] #314 closed

[2019-04-22 17:09] cstevenson1 commented on #309
@leeensminger per our phone call the other day, we will wait until next fiscal year to address adding the field in the field tool. I have confirmed the field was added in dev. please make necessary updates in prod.

[2019-05-03 12:38] cstevenson1 commented on #306
the buttons now stay when you toggle between the two, which is good. it's fine that is clears the query. typical workflow would be to search for community in base map query and then toggle to advanced query to use select by map to open a feature. that workflow is supported in the latest update. please push to prod

[2019-05-03 13:06] #216 closed

[2019-05-10 16:58] cstevenson1 opened #323 "Resource Parcel Layer - 2019"
This was completed with bug #240 however DelDOT would like to update the parcel layer in the first quarter of each year. The latest layers are located at the path below. This should be a high priority in the next fiscal year.

M:\2017\17171852D DelDOT MS4-BMP\Database\Base Data\State of Delaware Parcel Data - April 2019

[2019-05-14 19:46] leeensminger commented on #289
@cstevenson1 is the ROAD_NO field supposed to go into the report(s) anywhere?  what is the need for a second field - couldn't the "correct" value be updated, using the same field?  please clarify

[2019-05-14 20:03] leeensminger commented on #253
@cstevenson1 is this a duplicate with #255

[2019-05-14 20:10] leeensminger commented on #255
@cstevenson1 please confirm highlighting is not a requirement here.  assumed not.  this will cause a problem.

[2019-05-14 20:17] leeensminger commented on #255
This will involve:
1. Adding a button to zoom to all (all recrods, on all pages)
2. User does not select specific records
3. User clicks Zoom to All button, and system zooms to MBR of the results

[2019-05-14 20:24] leeensminger commented on #252
This will require signicant amounts of time to test - suggest this item is cancelled to not do.  Not sure the value in completing this.

[2019-05-16 01:18] leeensminger commented on #225
Brendan, this is related to opening file attachments, and having them display in another browser tab/window.

I think we said this is browser specific, and not driven by the app...?

[2019-05-16 01:26] leeensminger commented on #205
Already done

[2019-05-16 01:26] #205 closed

[2019-05-16 02:08] leeensminger commented on #199
closing for now

[2019-05-16 02:08] #199 closed

[2019-05-16 02:09] leeensminger commented on #193
@cstevenson1 can Newark do this, and do you need assistance from GS?

[2019-05-16 02:10] leeensminger commented on #183
@cstevenson1 can you confirm this was resolved?  I think it was.

[2019-05-16 11:51] cstevenson1 opened #324 "Add ability to query pipe ratings"
Per bug #16 we wanted to be able to query at least OVERALL_RATING and DEBRIS fields from PIPE_INSPECTION_RATINGS in the advanced query builder. Since these fields require another join, the issue was placed on hold but the ratings were included in the pipe inspection tab of the feature details. Please include them in the advanced query builder for Pipe_Segments.

[2019-05-16 13:27] cstevenson1 opened #325 "Contacts tab does not reset for work orders"
If I search for a work order in the map viewer that is an immediate action (that has the Contacts tab filled out) and then search for a work order that is not an immediate action (should not have the Contacts tab filled out) the Contacts tab does not reset.  Therefore it shows the information related to the immediate action associated with the non-immediate action work order.  For example:

1.	Sea

[2019-05-16 13:37] cstevenson1 opened #326 "Duplicate fields in Contacts tab"
![image](https://user-images.githubusercontent.com/16919898/57857932-1d440780-77be-11e9-878f-4c4925960162.png)

1. The duplicate "Person Contacted" field should be removed (highlighted in snip)
2. The duplicate District field should be removed (highlighted in snip)

[2019-05-16 14:26] cstevenson1 opened #327 "WQI Report - Other for Visual not populating correctly"
Structure 0110016859 is an example

If Other is selected for the Visual section of the tracking form of a water quality investigation, "Other" should not be displayed in the parentheses. This was previously working correctly.

Incorrect - how it currently displays
![image](https://user-images.githubusercontent.com/16919898/57861517-be35c100-77c4-11e9-8e5f-26896db0a92e.png)

Correct - how it use to

[2019-05-17 11:45] leeensminger commented on #171
Brendan, this is similar to the "save session' type functionality we've done elsewhere.  We don't have UI/UX mockups.  I think basic reqs are:
1. user can save their session, that includes:
   a. saving/persisting layer list settings (layers toggled on/off)
   b. saving a base map preference
2. each user will have one session that they can manage (i.e,. 1 user may have only one session).
3. upon a

[2019-05-17 11:47] leeensminger commented on #164
Schema update: simply kill the FILE_ATTACHMENT table in SDE, and test/verify as appropriate across the various tools

[2019-05-17 11:49] leeensminger commented on #162
Brendan: I think the solution here is to remove paging from the Users Admin page.  YES I'm aware it will take slightly longer to load the page.  This is what we need to happen.

[2019-05-17 11:50] leeensminger commented on #161
Brendan: I agree with a statement you made some time ago... why can't users simply delete the query.  With that in mind, I still want to provide a ROM to do this, and we can discuss implications, need, and priorities off of that.

[2019-05-17 11:53] leeensminger commented on #160
Brendan: the user guide already exists.  This feature would include/require:
1. a button, probably in the map toolbar, that allows users to launch the users guide
1a. the technology can drive the user experience, but i'm guessing this looks like launching a PDF in a new browser tab, OR effectively downloading the users guide as a web download.  Either way.
2. we'd have to store the user's guide so

[2019-05-17 11:55] leeensminger commented on #157
https://github.com/leeensminger/DelDOT-NPDES-Field-Tool/issues/194

[2019-05-17 11:56] leeensminger commented on #156
Brendan: the field already exists.

Need to add the field to the UI, in the area identified in the screenshot.

Also need to query (Advanced Query Builder) for values int his field for Conveyances.

[2019-05-17 11:58] leeensminger commented on #150
Lumping this in with the typo group for updating

[2019-05-17 11:59] leeensminger commented on #147
Adjust margins around the map in the report

[2019-05-17 11:59] leeensminger commented on #144
@cstevenson1 is this really a valuable activity for us to undertake?

[2019-05-17 12:04] leeensminger commented on #140
Brendan: this basically involves adding functionality into the "Canned Query" search (currently, there's nothing in this search).  The search would include three labels, with three associated input values:
BMP Number: [user input, with type ahead]
Structure ID: [user input, with NO type ahead]
Conveyance ID: [user input, with NO type ahead]

[2019-05-17 12:05] leeensminger commented on #138
Brendan: this is in the "print map" function, that is available as a map toolbar item

[2019-05-17 12:07] leeensminger commented on #112
Seems like this item is adding very little value, but we will provide an estimate, if it is even technically feasible.

[2019-05-17 12:08] leeensminger commented on #111
@cstevenson1 is this still the case?

[2019-05-17 12:08] leeensminger commented on #110
Map the map parameters (title, and layout) required fields in the UI.

[2019-05-17 14:16] leeensminger commented on #266
When user does an advance query, and they select to search Outfalls.... the system provides a list of values in the dropdown menu.  This enhancement speaks to removing some of those searchable fields.

[2019-05-17 14:23] leeensminger commented on #144
Brendan: we will provide estimate

[2019-05-23 02:27] leeensminger commented on #324
Brendan, need another view in the db, or an expansion to an existing view, for this request

[2019-05-24 08:04] leeensminger commented on #305
@cstevenson1 does that answer the question

[2019-05-24 08:10] leeensminger commented on #263
Brendan, the original issue/enhancement stands, but there are some bugs to work out.

[2019-05-24 08:13] leeensminger commented on #203
Brendan, Gerry hooked this up on the back end to allow for this.  Need to tie it in from the UI and the Layer List in the app, and pipe the needed parameters to Gerry's piece.

[2019-05-24 08:20] leeensminger commented on #103
Brendan, this basically involves taking existing PDF documents that currently live somewhere on the M drive, and storing them somewhere the app can access them, and then linking them through our database relationships.  This represents new means of accessing reports that we'd have to wire up.

[2019-05-24 08:34] leeensminger commented on #1
Brendan, this was basically done, but needs some minor bug squashing

[2019-05-24 08:38] leeensminger commented on #50
@cstevenson1 can this be closed?

[2019-05-30 13:31] cstevenson1 commented on #183
@leeensminger I don't think it was. I think it still looks a decent amount more blurry than ArcMap.

![image](https://user-images.githubusercontent.com/16919898/58636127-9a42a700-82bd-11e9-9755-be654e6be7f4.png)

[2019-05-30 13:57] cstevenson1 commented on #268
@leeensminger The clutter caused by the overlapping labels is not being received well. We need to brainstorm other items that will allow users to see labels when needed but not overwhelm the map, which I know is difficult due to the sheer number of features. I don't know if its even possible but a way for the user to choose which features display the label or a quick access to turn them on and off

[2019-05-30 14:18] cstevenson1 commented on #275
@mortynsky to discuss with DelDOT and KCI Newark will update the bug afterwards

[2019-05-30 15:23] cstevenson1 commented on #289
@leeensminger RDWAY_ID and ROAD_NO are two different things/values (both fields are in the DelDOT Centerlines layer). Right now RDWAY_ID is in the database and ROAD_NO is on the reports (through spatial join). However, sometimes the spatial function doesn't produce the intended result due to intersections so DelDOT wants to add ROAD_NO to the database and then source the reports to the new field.

[2019-05-30 17:11] cstevenson1 commented on #157
@leeensminger this is from a long time of going with the fastest fix instead of the most effective. Essentially there is a CREATE_TIME and CREATE_DATE in the Water Quality Investigations table. This however should have been CREATE_DATE and INSPECTION_DATE (like most of the other tables in the database). Inspection Date should then be editable in the field tool and used to populate date and time on

[2019-05-30 17:31] cstevenson1 commented on #58
@leeensminger per the email chain from January/February...

"Smyrna BMP Labels as originally shown. Note, the pdf and the map symbology have been updated to show “Smyrna BMP” instead of Private/Other. If this needs to go back to Private/Other, I will adjust. Other BMPs have been changed to Non-Smyrna BMP.
**Private/Other should be changed to “Smyrna BMPs**"

Please let me know if you need addition

[2019-05-30 18:09] #157 closed

[2019-06-05 17:03] cstevenson1 commented on #105
fixed with #292

[2019-06-05 17:03] #105 closed

[2019-06-05 17:12] cstevenson1 commented on #106
fixed with #178

[2019-06-05 17:12] #106 closed

[2019-06-05 17:29] cstevenson1 commented on #50
@leeensminger what about Gerry's comment from July 10, 2017?

[2019-06-05 19:07] cstevenson1 commented on #213
header has been removed and no longer applies

[2019-06-05 19:07] #213 closed

[2019-06-05 19:15] cstevenson1 commented on #144
Julie stated this update is no longer necessary

[2019-06-05 19:15] #144 closed

[2019-06-05 19:15] cstevenson1 commented on #147
Julie stated the margins update is no longer necessary

[2019-06-05 19:15] #147 closed

[2019-06-11 17:57] cstevenson1 opened #328 "Cannot Scroll through Pipe Photos in Conveyances tab"
The most recent photos are displayed at the bottom of the feature class tab (Structures/Conveyances) in the viewer. There are arrows (Next/Previous) to scroll through the photos if multiple photos are present. This appears to be working properly for structures but you cannot scroll to the second photo for conveyances. It will continue to spin saying "Loading image........."

![image](https://user-

[2019-06-11 18:09] cstevenson1 opened #329 "WQI Report - Populate N/A when there is no Subdivision Name"
For both the tracking form and field sheet of the WQI report, Subdivision Name should either be populated with a name or say N/A. Currently, some reports come through as blank for the Subdivision Name and others say N/A. We do not want a blank value for Subdivision Name.

N/A Example = Structure 0111199468
![image](https://user-images.githubusercontent.com/16919898/59295735-69198d80-8c52-11e9-88b7

[2019-06-17 17:01] cstevenson1 commented on #246
Fixed for the purposes of this bug. May require tool tip in the future to indicate which field the query uses but I will create new enhancement if so.

![image](https://user-images.githubusercontent.com/16919898/59622549-da988680-90ff-11e9-8ac9-248dc0cf0407.png)

[2019-06-17 17:01] #246 closed

[2019-06-17 17:03] cstevenson1 commented on #245
Fixed for the purposes of this bug. Will create additional enhancements if needed

![image](https://user-images.githubusercontent.com/16919898/59622707-4da1fd00-9100-11e9-9795-fe52b44f5abb.png)

[2019-06-17 17:03] #245 closed

[2019-06-18 12:59] cstevenson1 commented on #8
Not specific to BMPs. Issue for all features

[2019-06-18 13:07] cstevenson1 commented on #28
No longer a required fix

[2019-06-18 13:07] #28 closed

[2019-06-18 13:39] cstevenson1 commented on #52
Identify appears to be working for base layers such as parcels, bridges, maintenance area, stream, etc.

![image](https://user-images.githubusercontent.com/16919898/59689035-dfffda80-91ac-11e9-91cd-52db8600a314.png)

[2019-06-18 13:39] #52 closed

[2019-06-18 16:49] cstevenson1 commented on #308
@leeensminger is WORK_ORDERS.MAINT_AREA_WORK the correct spot for BMPs/Sand Filters? That table is currently for MS4 work orders and BMP work orders are handled outside the app. The field on the report should be sourced to a new field in the BMP inspections table since the work order is specific to the inspection.

[2019-06-18 16:56] cstevenson1 commented on #322
@leeensminger is WORK_ORDERS.MAINT_AREA_WORK the correct spot for BMPs/Sand Filters? That table is currently for MS4 work orders and BMP work orders are handled outside the app. The field on the report should be sourced to a new field in the BMP DSF inspections table since the work order is specific to the inspection.

[2019-06-18 18:01] cstevenson1 commented on #111
@leeensminger yes

[2019-06-18 18:04] cstevenson1 commented on #112
Fix is no longer necessary

[2019-06-18 18:04] #112 closed

[2019-06-19 11:51] cstevenson1 commented on #305
@leeensminger it answers the question that it currently does not allow it but not if it can/what we should do about these few instances.

[2019-06-19 12:05] cstevenson1 commented on #263
editing graphic properties should also apply to text. the default text is difficult to see in most instances

![image](https://user-images.githubusercontent.com/16919898/59764063-f4091200-9268-11e9-8aca-b1df714dbffc.png)

[2019-06-19 12:09] cstevenson1 commented on #193
@leeensminger Newark can handle this

[2019-06-19 12:09] #193 closed

[2019-06-19 12:19] cstevenson1 commented on #59
Has changed since this bug was created 2 years ago but should be "Temporary Dummy Point". If that is too long then Temp Dummy Point will work.
![image](https://user-images.githubusercontent.com/16919898/59764815-91b11100-926a-11e9-82cc-e14098c34b4e.png)

[2019-06-19 17:09] cstevenson1 commented on #252
@leeensminger can this at least somehow be fully added to the nightly script? It seems to work for pipes added through the field tool but not aversion which makes it more difficult to ensure there are no duplicates.

[2019-06-19 17:52] cstevenson1 opened #330 "Use Select by Map to export to CSV"
same as #72 but for CSV

[2019-06-20 11:11] cstevenson1 commented on #230
Matt tested in prod
![image](https://user-images.githubusercontent.com/16919898/59845110-8ae9d300-932a-11e9-914c-6782389347e5.png)

[2019-06-20 11:11] #230 closed

[2019-06-20 18:05] cstevenson1 opened #331 "Add Query for PID Points"
There is currently no functionality to search for an individual PID Point. The only way to query them is through the geographic filter which will return all the PID points within a given area. PID points should be added to the advanced query builder or at least to Canned Query to search by individual ID. Level of effort will determine route taken.

[2019-06-25 17:29] cstevenson1 commented on #171
DelDOT stated no longer necessary

[2019-06-25 17:29] #171 closed

[2019-06-25 17:29] cstevenson1 commented on #225
DelDOT stated no longer necessary

[2019-06-25 17:29] #225 closed

[2019-06-25 17:30] cstevenson1 commented on #248
DelDOT stated no longer necessary

[2019-06-25 17:30] #248 closed

[2019-06-25 17:31] cstevenson1 commented on #254
on hold until new Phase II permit

[2019-06-25 17:35] cstevenson1 commented on #222
on hold until further instruction from DelDOT

[2019-06-25 17:38] cstevenson1 commented on #253
yes

[2019-06-25 17:38] #253 closed

[2019-08-02 15:51] cstevenson1 commented on #255
per discussion between WR and GSG, not worth pursuing- closing

[2019-08-02 15:51] #255 closed

[2019-08-02 16:20] cstevenson1 opened #332 "Show Pipe Length in Conveyance Report"
Add pipe length from geometry to Conveyance Report and "Pipe" tab in web viewer

[2019-08-02 17:02] cstevenson1 commented on #268
per discussion between GSG and WR - on hold. Newark to play with label engine

[2019-08-02 17:04] #268 closed

[2019-08-02 17:23] cstevenson1 commented on #1
KCI Newark will continue to monitor the errors and report back to GSG

[2019-08-02 18:07] cstevenson1 opened #333 "Upgrade to ArcGIS Server 10.6.1"
Per discussion between WR and GSG - upgrade to arcgis server 10.6.1

[2019-08-13 13:34] KCI-Ablowers commented on #103
**From @mortynsky 8/13/2019**

All,

Please see below for an update on Viewer Bug 103 in the DelDOT FY 19 Hours Estimate spreadsheet related to historical BMP reports from 2016 and prior:

1.	These reports are all located here:

\\\sparkssvm\DelDotPics\BMP_reports

2.	They are organized in the following manner
a.	Folder with the year inspected
i.	i.e. 2009
3.	Within each inspection year folder the

[2019-08-26 00:57] kanglu666 commented on #308
MAINT_AREA_WORK  has been added into table BMP_DSF_INSPECTION_DRY
in dev database

[2019-08-26 01:17] kanglu666 commented on #309
MAINT_AREA_WORK has been added into dev field tool. ready for testing
version 8.0 dev

[2019-08-26 01:20] kanglu666 commented on #322
MAINT_AREA_WORK filed has been added into BMP_DSF_INSPECTION_DRY table in dev database

[2019-08-26 02:24] kanglu666 commented on #306
This updates has already been deployed in PROD, ready for testing

[2019-08-30 14:53] KCI-Ablowers commented on #306
@kanglu666 tested and confirmed the update is currently in production. @cstevenson1 can you please verify the change?

[2019-08-30 15:11] cstevenson1 commented on #306
Tested and didn't work. Cleared cache and still didn't work for me. However, it appears to be working in Dev. @KCI-Ablowers please confirm. 1. Use basemap query to search for a community and zoom to feature 2. Toggle to advanced query builder 3. Use select by map to select structures on map (last two buttons under actions do not show which means you cannot open the details for the structure)

Dev

[2019-08-30 17:07] KCI-Ablowers commented on #306
@kanglu666 I agree with @cstevenson1 comment above. I was able to recreate her results in both prod and dev. This issue doesn't appear to be resolved in the prod viewer.

[2019-09-03 18:48] gerrykelly opened #334 "Fields "missing" from WQI_FIELD_SHEET in dev?"
@KCI-Ablowers

The following 2 fields were in WQI_FIELD_SHEET in dev and prod, but at some time were dropped from dev.  I don't see a record of this and can't update my code related to WQI reports unless I know which way to go (i.e. were they intentionally dropped? ... hundreds of records in prod have values for these fields and they are used in the report , so I doubt that)

[SETTING_OTHER_DESC]

[2019-09-03 18:51] gerrykelly commented on #64
@KCI-Ablowers
On hold pending #334

[2019-09-03 19:06] gerrykelly commented on #334
@KCI-Ablowers
So actually with this example, I see that the schema change was identified in #280 and #302 .  I'll work through those first and that _should_ take care of this ... so no need for you to address anything here and now.

[2019-09-03 19:40] gerrykelly commented on #280
So, this does need to be looked into and clarified and specced out more.
I'm going to have the same comments for #302 and reference this issue there
The following 5 fields have been added to WQ_INVESTIGATIONS in dev:
![image](https://user-images.githubusercontent.com/8259136/64202362-f68a0980-ce5e-11e9-8266-dbd72ad6d659.png)

The first three are as-advertised, but some issues:
- From " please upda

[2019-09-03 20:01] gerrykelly commented on #302
@KCI-Ablowers

So, unfortunately, this does need to be looked into and clarified and specced out more.
I'm going to have the same comments for #280 and reference this issue there
The following 5 fields have been added to WQ_INVESTIGATIONS in dev:
![image](https://user-images.githubusercontent.com/8259136/64202362-f68a0980-ce5e-11e9-8266-dbd72ad6d659.png)

The first three are as-advertised, but som

[2019-09-03 21:04] gerrykelly commented on #311
@cstevenson1
Updated in prod and dev. Please close when verified.

[2019-09-03 21:09] gerrykelly commented on #64
@KCI-Ablowers   This should be like a 5-minute simple, update but now waiting for info on #302 and #280

[2019-09-03 21:10] gerrykelly commented on #64
@gerrykelly
replace  'pending' as Stream  with [NEAREST_STREAM]

[2019-09-03 21:21] gerrykelly commented on #203
@KCI-Ablowers
As you see, this was left off needing a liaison for making appropriate updates on the UI side.  But (see my comment from 1/25) there might be no action needed.  I've never heard that anyone wants further updates after I did what I could in January.

So you might want to look into if we should do anything (and exactly what), or you might want to let sleeping dogs lie -- and if no one

[2019-09-03 21:34] gerrykelly commented on #321
@KCI-Ablowers
So, in this case it seems like it is still simply a matter of adding the dev code related to  WORK_ORDERS.MAINT_AREA_WORK to prod, once the field exists in prod (which it still does not).  So nothing for me to do until then.

[2019-09-03 21:40] gerrykelly commented on #322
@KCI-Ablowers
So, in this case it seems like it is still simply a matter of adding the dev code related to WORK_ORDERS.MAINT_AREA_WORK to prod, once the field exists in prod (which it still does not). So nothing for me to do until then.

[2019-09-03 21:41] gerrykelly commented on #320
@KCI-Ablowers
So, in this case it seems like it is still simply a matter of adding the dev code related to WORK_ORDERS.MAINT_AREA_WORK to prod, once the field exists in prod (which it still does not). So nothing for me to do until then.

[2019-09-03 21:47] gerrykelly commented on #322
@KCI-Ablowers
This is new work since it was not deployed in dev as expected before.  But, shouldn't that new MAINT_AREA_WORK field have a domain assigned to it?  (that won't affect me here since we now keep our domain values and descriptions identical, but it's good practice for QC, etc.)

[2019-09-03 21:57] gerrykelly commented on #308
@KCI-Ablowers
I see what to do here, but just noting that BMPS and WORKORDERS have a direct relationship in the GDB.  So the original code I had would have worked except that no BMP is actually related to a WO.  I would recommend deleting that relationship class, and if what Lee said as "work order is specific to the inspection", then RCs should be created for WO<>BMP_INSPECTION & WO<>BMP_DSF_INSP

[2019-09-03 21:57] gerrykelly commented on #322
@KCI-Ablowers
I see what to do here, but just noting that BMPS and WORKORDERS have a direct relationship in the GDB. So the original code I had would have worked except that no BMP is actually related to a WO. I would recommend deleting that relationship class, and if what Lee said as "work order is specific to the inspection", then RCs should be created for WO<>BMP_INSPECTION & WO<>BMP_DSF_INSPEC

[2019-09-03 22:40] gerrykelly commented on #322
@KCI-Ablowers

Updated in dev, please assign back to me when ready for prod.
Note so far as testing in dev, the reports often fail because of AGS problems .., the dev services should really be moved to a server.  Restarting the http://vm-city102:6080/arcgis/rest/services/DelDOT_NPDES_Reports
service always "fixes" this (if not then it is likely a Python code issue I need to fix).

[2019-09-03 22:41] gerrykelly commented on #308
@KCI-Ablowers

Updated in dev, please assign back to me when ready for prod.
Note so far as testing in dev, the reports often fail because of AGS problems .., the dev services should really be moved to another server. Restarting the http://vm-city102:6080/arcgis/rest/services/DelDOT_NPDES_Reports
service always "fixes" this (if not then it is likely a Python code issue I need to fix).

[2019-09-03 22:48] gerrykelly commented on #164
@KCI-Ablowers
Anything for me to do here?

If it's a matter of simply going into ArcCatalog and deleting
![image](https://user-images.githubusercontent.com/8259136/64213393-d36d5300-ce7a-11e9-83a5-9e661c58ff1b.png)

I can go ahead with that, but thought you should verify that is OK
- 1 -- make sure nothing has changed since Lee's last comment
- 2 Make sure the existing records have no value
- 3 ch

[2019-09-04 12:49] cstevenson1 commented on #308
Confirmed field has been added in Dev database to BMP_INSPECTIONS table.
![image](https://user-images.githubusercontent.com/16919898/64255366-3698cd00-ceef-11e9-8f3c-9b880bbd1582.png)

Confirmed field was used for Dev BMP reports.
![image](https://user-images.githubusercontent.com/16919898/64256050-a0fe3d00-cef0-11e9-8399-88b11ef58099.png)

@KCI-Ablowers please push to prod

[2019-09-04 12:55] cstevenson1 commented on #308
@KCI-Ablowers
@gerrykelly is correct that currently no BMPs are associated with a work order. The existing work order tables are specific to structures and conveyances. BMP work orders have been handled outside of the database because it was deemed too big of an effort to integrate into the database at this time. The changes made from this bug may only be a temporary fix until we can address the l

[2019-09-04 13:18] KCI-Ablowers commented on #308
@cstevenson1 confirmed changes in Dev.

@gerrykelly I will assign this task back to when the schema update is in Prod. I agree with @cstevenson1's second comment but will double-check the relationship delete you suggested with @kanglu666 and BC.

[2019-09-04 13:27] KCI-Ablowers commented on #309
@cstevenson1 We spoke about adding a domain to this field during out issues meeting in August. As @gerrykelly mentioned in https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/322 we should add the domain before the prod deployment. Can you provide me the values?

[2019-09-04 13:35] KCI-Ablowers commented on #164
@gerrykelly This issue is not a priority at this time so no further action needed.

[2019-09-04 13:36] KCI-Ablowers commented on #203
@gerrykelly This issue is not a priority at this time so no further action needed.

[2019-09-04 13:55] cstevenson1 commented on #322
@KCI-Ablowers

Confirmed field added to BMP_DSF_INSPECTION_DRY
![image](https://user-images.githubusercontent.com/16919898/64259260-c2622780-cef6-11e9-8cb4-6af82eac5c67.png)

Confirmed field was used for Dev Sand Filter Reports
![image](https://user-images.githubusercontent.com/16919898/64261179-1ae6f400-cefa-11e9-8ec8-17bd544c7111.png)

[2019-09-04 15:59] KCI-Ablowers commented on #322
@cstevenson1 confirmed changes in Dev.

@gerrykelly I will assign this task back to when the schema update is in Prod.

[2019-09-09 12:24] cstevenson1 commented on #302
@gerrykelly Please let me know if this clarifies

WQI_FIELD_SHEET.SETTING and WQI_PURPOSE_DUMPING.SETTING will be consolidated into one new field WQ_INVESTIGATIONS.SETTING. Any part of the report originally populating from WQI_FIELD_SHEET.SETTING or WQI_PURPOSE_DUMPING.SETTING should be repointed to WQ_INVESTIGATIONS.SETTING. Both WQI_FIELD_SHEET.SETTING and WQI_PURPOSE_DUMPING.SETTING will be del

[2019-09-09 12:25] cstevenson1 commented on #280
@gerrykelly Please let me know if this clarifies

WQI_FIELD_SHEET.SETTING and WQI_PURPOSE_DUMPING.SETTING will be consolidated into one new field WQ_INVESTIGATIONS.SETTING. Any part of the report originally populating from WQI_FIELD_SHEET.SETTING or WQI_PURPOSE_DUMPING.SETTING should be repointed to WQ_INVESTIGATIONS.SETTING. Both WQI_FIELD_SHEET.SETTING and WQI_PURPOSE_DUMPING.SETTING will be del

[2019-09-09 18:07] cstevenson1 commented on #309
@KCI-Ablowers  Field has been added in Dev Field Tool v8.0
![image](https://user-images.githubusercontent.com/16919898/64555021-7fdf8700-d30a-11e9-99d4-dfcca62f1784.png)

Values for the domain are included in the text file. Values are mostly the same as the ones provided in #322 so pending your recommendation, we are fine with one combined list or two individual ones

[MAINT_AREA_WORK_MS4_domain.t

[2019-09-09 18:19] KCI-Ablowers commented on #309
@cstevenson1 I think we can use one combined domain on this field. @kanglu666 please see the text file in the comment above (https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/309#issuecomment-529599133) to create the new domain.

[2019-09-09 18:35] cstevenson1 commented on #311
@gerrykelly confirmed in Prod. Example does not exist in Dev. 41 PID Points located in Prod and only 13 in Dev. I created test data on Structure 0111050094 but received Server Error when I tried to generate the report. @KCI-Ablowers Gerry had mentioned issues with the Dev server. Do you want to close issue or try to restart it so it can be tested in Dev?

Prod
![image](https://user-images.githubus

[2019-09-09 18:45] KCI-Ablowers commented on #311
@cstevenson1 I don't think this is on the priority list, can you double-check to confirm, please? Since it looks like it can be tested based on @gerrykelly's last comment, I'll ask Brendan if he can restart the server rather than close the issue.

[2019-09-09 19:07] cstevenson1 commented on #311
@KCI-Ablowers correct, it wasn't on the priority list but we did want it fixed so the client doesn't see what looks like a typo. Restarting the server would be great since report generation is needed for testing other issues.

[2019-09-10 11:45] cstevenson1 commented on #300
@KCI-Ablowers GSG to provide MXD for KCI Newark to update

[2019-09-10 12:29] cstevenson1 commented on #309
@KCI-Ablowers please make sure all values are included. As mentioned, the two lists provided are not the same.

[2019-09-10 13:12] KCI-Ablowers commented on #309
@cstevenson1 I don't see a list in #322. Should it be an attachment like you have above?

[2019-09-10 14:04] KCI-Ablowers commented on #311
@cstevenson1 Brendan restarted the server this morning, can you please check on this issue?

[2019-09-10 14:07] gerrykelly commented on #311
@KCI-Ablowers @cstevenson1
Hold off on this, the service is running but there is an issue with the change to SETTING_OTHER_DESC, etc. that is causing this to fail ... I am looking into it

[2019-09-10 15:06] KCI-Ablowers commented on #300
@cstevenson1 I assume this is the same MXD as the first comment - M:\2014\17141728.A\GIS\BaseData\Base_Data_Viewer.

The data sources appear to be broken but can be restored using the database in that folder.

[2019-09-10 15:59] KCI-Ablowers commented on #321
@cstevenson1 please confirm status the same as other issues in this milestone.

[2019-09-10 16:55] KCI-Ablowers commented on #308
As long as pushing this to won't affect any existing workflows, I think it should go through as-is, but asked BC to review. I will update this comment if necessary.

Push to Prod - Confirmed.

[2019-09-10 17:58] KCI-Ablowers commented on #334
@gerrykelly Leaving this open for now, but hopefully, we can close after #280 and #302 are addressed.

[2019-09-10 19:00] cstevenson1 commented on #309
@KCI-Ablowers attached list is the BMP related one mentioned above.

[MAINT_AREA_WORK_domain.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3597308/MAINT_AREA_WORK_domain.txt)

[2019-09-10 19:00] cstevenson1 commented on #322
[MAINT_AREA_WORK_domain.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3597331/MAINT_AREA_WORK_domain.txt)
per #309

[2019-09-10 19:32] cstevenson1 commented on #300
@KCI-Ablowers I believe that is the Sparks M drive so I am not sure where GSG is keeping the latest files. Last time I think it was shared with me through the V drive and then GSG copied it to the necessary file location for it to be consumed by the viewer.

[2019-09-10 23:07] gerrykelly commented on #302
@cstevenson1
Yes, that is exactly the description I needed to get this done.

The good part is that where I had assumed this affected the field-sheet form also, it seems like it is confined to the tracking form (is that your take on it too?)

Unfortunately from a standpoint of the time this is taking and what will need to be done for testing (that won't hold up getting report that runs deployed, j

[2019-09-11 11:45] cstevenson1 commented on #302
@gerrykelly
You are correct that the Setting fields in the database only affects the Tracking Form section of the report. The Odor fields affect both the Tracking Form and the Field Sheet within the Report. 

WQI_FIELD_SHEET and WQI_PURPOSE_DUMPING are not mutually exclusive. At one point during development that may have been the original goal, but that is not the case anymore. There are approxima

[2019-09-11 13:06] cstevenson1 commented on #321
@KCI-Ablowers cannot load feature details and therefore cannot generate report to test

[2019-09-11 13:07] KCI-Ablowers commented on #309
@cstevenson1 I combined the two text files into one. Can you please double-check the values?

[MAINT_AREA_WORK_DOMAIN_COMBINED.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3600898/MAINT_AREA_WORK_DOMAIN_COMBINED.txt)

[2019-09-11 13:49] KCI-Ablowers commented on #300
@cstevenson1 Do these MXDs look more familiar?

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\MARIA\Field Tool MXDs

[2019-09-11 17:20] gerrykelly commented on #302
@cstevenson1 @KCI-Ablowers
Updated and deployed to dev.  For me, the report ran without error (whether there is a WQI_FIELD_SHEET and/or WQI_PURPOSE_DUMPING or neither, incident ID or not) but please verify.
It would be good to be able to drop the couple remaining fields and test, just to make sure I no long have any references to them I did not catch.
I think the report results for setting and od

[2019-09-11 17:21] gerrykelly commented on #280
@cstevenson1 @KCI-Ablowers
Updated and deployed to dev. For me, the report ran without error (whether there is a WQI_FIELD_SHEET and/or WQI_PURPOSE_DUMPING or neither, incident ID or not) but please verify.
It would be good to be able to drop the couple remaining fields and test, just to make sure I no longer have any references to them I did not catch.
I think the report results for setting and o

[2019-09-11 17:37] gerrykelly commented on #64
@cstevenson1 @KCI-Ablowers
Undated in dev

[2019-09-12 00:48] KCI-Ablowers commented on #309
@kanglu666 will add the domain to MAINT_AREA_WORK

[2019-09-12 02:22] kanglu666 commented on #280
WQI_FIELD_SHEET.SETTING and WQI_PURPOSE_DUMPING.SETTING have been removed from dev

[2019-09-12 02:22] kanglu666 commented on #309
Domain added, and applied to  WORK_ORDERS.MAINT_AREA_WORK field
also field tool updated, dev version 8.2

[2019-09-13 12:20] mjuber-kci commented on #302
@gerrykelly @KCI-Ablowers Confirmed in dev database and viewer that WQ Report pulls from newly created SETTING and SETTING_OTHER_DESC fields. Push to prod.

[2019-09-13 12:21] mjuber-kci commented on #280
@gerrykelly @KCI-Ablowers Confirmed in dev database and viewer that WQ Report pulls from newly created ODOR and ODOR_OTHER_DESC fields. Push to prod.

[2019-09-13 12:45] KCI-Ablowers commented on #280
confirmed by @mjuber-kci. Push to Prod Confirmed.

[2019-09-13 12:46] KCI-Ablowers commented on #302
confirmed by @mjuber-kci. Push to prod confirmed.

[2019-09-16 13:08] KCI-Ablowers commented on #311
@gerrykelly do you have an update on this?

[2019-09-16 13:08] mjuber-kci commented on #64
Confirmed in dev Viewer. Stream field in WQ Report appears to be populating properly. Push to prod.

![image](https://user-images.githubusercontent.com/16919958/64960298-0cd19580-d861-11e9-9cd5-376c15345529.png)

[2019-09-16 13:12] KCI-Ablowers commented on #64
Confirmed by @mjuber-kci. Push to Prod confirmed.

[2019-09-16 15:54] KCI-Ablowers commented on #321
@cstevenson1 Have you had a chance to loop back around to this issue?

[2019-09-17 12:21] cstevenson1 commented on #321
@KCI-Ablowers No, I was unable to generate the conveyance report and NPDES features are currently not displaying in the Dev Viewer

[2019-09-17 18:30] KCI-Ablowers commented on #300
@cstevenson1 Sorry I didn't assign this to you earlier.

Can you check the MXD at this path and see if it looks like the correct one?

[2019-09-17 18:31] #334 closed

[2019-09-17 18:32] KCI-Ablowers commented on #306
Once NPDES is loading correctly in dev we can double-check the last results.

[2019-09-17 18:55] KCI-Ablowers commented on #321
Once NPDES is loading correctly in the dev viewer we can test.

[2019-09-18 01:02] kanglu666 commented on #309
updated, ready for testing in dev version 8.3

[2019-09-19 12:57] KCI-Ablowers commented on #306
@cstevenson1 can you test this?

[2019-09-19 12:59] KCI-Ablowers commented on #321
@cstevenson1 can you test this?

[2019-09-19 13:37] cstevenson1 commented on #306
@KCI-Ablowers same results. All 4 buttons display in Dev but not Prod.

However, in Dev...
1. Used Base Map Query to search for a community and zoom to location
2. Toggled to Advanced Query Builder and used select by map tool to select handful of structures within subdivision from base map query
3. Loaded details information for a structure and photos did not load at the bottom
4. Returned to feat

[2019-09-19 13:40] cstevenson1 commented on #321
@KCI-Ablowers unable to test. Cannot load feature details for a pipe to generate a report.

[2019-09-19 20:15] KCI-Ablowers commented on #321
notified and assigned @kanglu666.

[2019-09-19 20:15] KCI-Ablowers commented on #306
notified and assigned @kanglu666

[2019-09-20 00:23] kanglu666 commented on #321
re-created the view, ready for testing.

[2019-09-20 01:18] kanglu666 commented on #306
pushed to PROD, ready for testing

[2019-09-20 13:08] cstevenson1 commented on #306
Worked in PROD after clearing cache, closing issue. @KCI-Ablowers

[2019-09-20 13:08] #306 closed

[2019-09-20 17:08] KCI-Ablowers commented on #309
@cstevenson1 Please test when time allows.

[2019-09-20 17:09] KCI-Ablowers commented on #321
@cstevenson1 please test when time allows.

[2019-09-23 12:01] cstevenson1 commented on #309
@KCI-Ablowers values do not match the combined text file you created. Values are missing and the numbers go from 1-16 when they should match the maintenance number provided in the text file.

Snip from Dev Field Tool
![image](https://user-images.githubusercontent.com/16919898/65423851-16667a80-ddd8-11e9-99bd-6e4ec6355df5.png)

[2019-09-23 12:04] KCI-Ablowers commented on #309
@kanglu666 the value should match the text file exactly. Currently, you have sequential numbering. Please update ASAP.

1 - WENDY MARKER
2 - DEXTER MASSEY
3 - FRANK ZIMMERMAN
4 - DUANE RUST
5 - JOHN MARVEL
6 - BJ LEWIS
7 - RON JARRELL
8 - FRANK KERPEN
9 - STEVE LOPER
10 - JOSEPH BAKER
11 - STEW DOUGLASS
12 - STEW DOUGLASS
13 - WAYNE LASHLEY
14 - STEW DOUGLASS
20 - GLENN PHILLIPS
21 - BILLY KEEN
22

[2019-09-23 15:19] cstevenson1 commented on #321
@KCI-Ablowers values need to be updated per #309 but the report appears to be properly pulling from the right field. Push to prod

![image](https://user-images.githubusercontent.com/16919898/65438692-ee851000-ddf3-11e9-816c-d7e7512295f5.png)

[2019-09-24 00:28] kanglu666 commented on #309
Domain has been updated, ready for testin gin 8.3 dev

[2019-09-25 14:32] KCI-Ablowers commented on #321
confirmed by @cstevenson1. Push to Prod - Confirmed

[2019-09-25 14:33] KCI-Ablowers commented on #309
@cstevenson1 Have you had a chance to verify the domain?

[2019-09-26 12:29] KCI-Ablowers commented on #300
@cstevenson1 I checked with Lu and the MXD here - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\ANDREW\DelDOT\Base_Data_Viewer is the most recent version.

[2019-09-26 13:58] KCI-Ablowers commented on #309
@cstevenson1 I checked the domain in the dev database and it is now correct. Please verify in the field tool.

[2019-09-27 11:51] cstevenson1 commented on #309
looks good in dev field tool v8.3

![image](https://user-images.githubusercontent.com/16919898/65767339-999b0f80-e0fb-11e9-8862-48528fd9ecb4.png)

[2019-09-27 11:58] KCI-Ablowers commented on #309
confirmed by @cstevenson1. Push to Prod - Confirmed.

[2019-09-28 18:00] kanglu666 commented on #308
MAINT_AREA_WORK has been added into table BMP_INSPECTION in PROD

[2019-09-28 18:01] kanglu666 commented on #309
MAINT_AREA_WORK has been added into table WORK_ORDER in PROD

[2019-09-28 18:01] kanglu666 commented on #322
MAINT_AREA_WORK filed has been added into BMP_DSF_INSPECTION_DRY table in PROD database

[2019-09-29 16:31] gerrykelly commented on #321
@KCI-Ablowers
Working in prod

[2019-09-29 16:32] gerrykelly commented on #320
@KCI-Ablowers
Working in prod

[2019-09-29 16:39] gerrykelly commented on #308
@KCI-Ablowers
Working in prod

[2019-09-29 16:49] gerrykelly commented on #302
@KCI-Ablowers
Working in prod

[2019-09-29 16:50] gerrykelly commented on #280
@KCI-Ablowers
Working in prod

[2019-09-29 16:50] gerrykelly commented on #64
@KCI-Ablowers
Working in prod

[2019-10-07 11:25] cstevenson1 commented on #308
@KCI-Ablowers appears to be working in PROD with the new values

![image](https://user-images.githubusercontent.com/16919898/66307862-92ca8480-e8d3-11e9-8dc6-3236aff6ebea.png)

[2019-10-07 11:25] #308 closed

[2019-10-07 11:30] cstevenson1 commented on #322
@KCI-Ablowers appears to be working in PROD with the new values

![image](https://user-images.githubusercontent.com/16919898/66308140-46cc0f80-e8d4-11e9-9265-20ce1636f83e.png)

[2019-10-07 11:30] #322 closed

[2019-10-07 11:39] mjuber-kci commented on #302
Confirmed working in Prod.

[2019-10-07 11:39] mjuber-kci commented on #280
Confirmed working in prod.

[2019-10-07 11:42] #302 closed

[2019-10-07 11:42] #280 closed

[2019-10-07 11:53] cstevenson1 commented on #309
confirmed in PROD

![image](https://user-images.githubusercontent.com/16919898/66309386-86482b00-e8d7-11e9-94ce-d2f06bded440.png)

[2019-10-07 11:53] #309 closed

[2019-10-07 14:02] mjuber-kci opened #335 "Change user group view for WQI map template"
User was logged in under the "New Castle County" user group (photo 1) to show structures where OWNER = New Castle County in color and all other owners in grey. When a WQI report was generated, the map showed all New Castle County structures in grey (photo 2). It appears that the report template is using the "DelDOT NPDES" user group view. Please change the template to use the "Other" user group vi

[2019-10-09 12:59] cstevenson1 commented on #320
@KCI-Ablowers appears to be working in PROD

![image](https://user-images.githubusercontent.com/16919898/66483432-11a9f380-ea73-11e9-9157-e2a5416ccaff.png)

[2019-10-09 12:59] #320 closed

[2019-10-09 13:37] cstevenson1 commented on #321
@KCI-Ablowers confirmed in PROD

![image](https://user-images.githubusercontent.com/16919898/66486317-600dc100-ea78-11e9-8b13-bd743abd0d0e.png)

[2019-10-09 13:37] #321 closed

[2019-10-09 16:41] cstevenson1 opened #336 "BMP Report - Populate Previous Performance Rating for BMP - Sand Filters"
Same issue as #292 which has been fixed but for BMP Sand Filters instead of BMP Not Sand Filter.

See snip below for example. BMP 64 has a 2019 inspection and 2017 inspection, but not a 2018 inspection. We generated the 2019 report for the BMP and received the results in the snip. Instead of displaying the Performance Rating for the report year selected (2019) and the Performance Rating from the p

[2019-10-09 16:56] cstevenson1 opened #337 "BMP Report - Populate full description for Performance Rating on Sand Filters"
We generated the 2019 BMP Report for BMP 65 and noticed the 2018 Performance Rating populated as "C" instead of "C - MAJOR MAINTENANCE" (see snip 1). "C - MAJOR MAINTENANCE" is properly displaying though when "C" is the rating for the report year being generated (see snip 2) and "A - NO PERFORMANCE ISSUES" is correct for the 2018 rating.

Snip 1
![image](https://user-images.githubusercontent.com/1

[2019-10-10 19:55] gerrykelly commented on #335
@KCI-Ablowers
The mxd the report maps are based on does not have templates or much dynamic functionally to alter how features are displayed.  But, if I read this right, it could be that simply altering the default symbology could resolve this.

The existing report MXD symbolizes structures like so ...
![image](https://user-images.githubusercontent.com/8259136/66600831-7305bb80-eb74-11e9-9127-f42c2

[2019-10-10 21:04] gerrykelly commented on #336
@KCI-Ablowers
Updated in dev and prod

[2019-10-10 21:20] gerrykelly commented on #337
@KCI-Ablowers
Fixed in dev and prod (and the same problem was also happening with previous inspection rating = B)

[2019-10-11 00:23] KCI-Ablowers commented on #160
@kanglu666 I will find the user guide and either attach it here or email it to you.

[2019-10-11 00:59] KCI-Ablowers commented on #160
@cstevenson1 I have a note that KCI Newark will supply an updated user guide. Is that available?

[2019-10-11 01:02] KCI-Ablowers commented on #324
### From KCI Newark -

Pipe ratings are stored in a separate table from the inspections so this will require a new "view", in addition to adding fields to the advanced query builder. Fields for advanced query builder include: DOWNSTREAM_SEAL, UPSTREAM_SEAL, OVERALL_RATING, and DEBRIS.

### Notes -

VIEW and QUERY in the Advanced Query Builder - add the specific  fields to be included as well as th

[2019-10-11 12:12] mjuber-kci commented on #64
Appears to be working in prod viewer.

![image](https://user-images.githubusercontent.com/16919958/66650514-ce7c8b80-ebfe-11e9-99d0-8585db439722.png)

[2019-10-11 18:48] #64 closed

[2019-10-13 18:47] kanglu666 commented on #160
I need the user guild

[2019-10-14 02:33] kanglu666 commented on #332
working on the viewer

[2019-10-14 11:21] cstevenson1 commented on #337
confirmed in PROD. received server error in DEV
@KCI-Ablowers please close bug if this is sufficient

![image](https://user-images.githubusercontent.com/16919898/66747500-b56c1880-ee52-11e9-92e6-3723594e7ce9.png)

[2019-10-14 11:27] cstevenson1 commented on #336
confirmed in PROD. Unable to test in DEV because data is not current (2019 inspections not present).
@KCI-Ablowers if this is sufficient, please close bug, otherwise reassign to me and I will try to create some test dummy data in DEV

![image](https://user-images.githubusercontent.com/16919898/66747856-8c985300-ee53-11e9-8dd4-3eaaaf951954.png)

[2019-10-15 01:29] kanglu666 commented on #324
ready in dev for testing

[2019-10-15 11:09] cstevenson1 commented on #160
[Web Viewer User Guide_10-14-19.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3728893/Web.Viewer.User.Guide_10-14-19.pdf)

[2019-10-15 12:05] KCI-Ablowers commented on #160
@kanglu666 Please use the guide at the link above (https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/160#issuecomment-542160585).

[2019-10-15 13:31] KCI-Ablowers commented on #337
@cstevenson1 Could you try again in Dev? if you still receive an error I will ask @gerrykelly to take a quick look.

[2019-10-15 13:32] KCI-Ablowers commented on #336
@cstevenson1 I think it would be worth it to create some dummy data and test in DEV.

[2019-10-15 17:15] gerrykelly commented on #312
@KCI-Ablowers
I don't see an action item here for me

[2019-10-15 17:33] gerrykelly commented on #327
@KCI-Ablowers
Running the report in prod, the output is correct ...
![image](https://user-images.githubusercontent.com/8259136/66854680-ccdcfb80-ef4f-11e9-9a3c-907944ae86f7.png)

... I think this probably got resolved when I worked on a similar issue.  There is no WQ Investigation for that structure in dev, but presumably the relevant report-code is the same.

[2019-10-15 18:01] gerrykelly commented on #332
@KCI-Ablowers
Added to the dev report,  I can add to prod, pending comment on if location in report is good, rounded whole feet only is good and confirmation this is only for pipes and not to be added for Swales

![image](https://user-images.githubusercontent.com/8259136/66856826-09125b00-ef54-11e9-8ec0-8c8a7bb0eb8a.png)

[2019-10-15 19:43] gerrykelly commented on #103
@KCI-Ablowers
I have this working in dev (according to my limited testing) and can move to prod whenever pending verification and approval.  (The code for BMP type - Sandfilter is in its own module and I updated comparably to the general BMP code, but just keep that in mind for testing and the existence of preexisting report files)

- There is no change to anything except the backend Python code.

[2019-10-16 13:40] KCI-Ablowers commented on #332
@cstevenson1 Please see Gerrys comment above and confirm - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/332#issuecomment-542334115

[2019-10-16 13:41] KCI-Ablowers commented on #327
@cstevenson1 Please test and confirm.

[2019-10-16 13:42] KCI-Ablowers commented on #312
@kanglu666 is there anything we can do in the DB to fix the date?

[2019-10-16 13:44] KCI-Ablowers commented on #103
@cstevenson1 Please see Gerrys comment above - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/103#issuecomment-542373891. It may be worth testing and bringing in @mortynsky to take a look.

[2019-10-16 14:27] mjuber-kci commented on #327
Appears to be working in prod viewer.

![image](https://user-images.githubusercontent.com/16919958/66928536-8941ca80-efff-11e9-8b32-2dbb03993642.png)

[2019-10-16 14:30] #327 closed

[2019-10-16 15:02] cstevenson1 commented on #332
@KCI-Ablowers 10-16-19 I spoke with Sara from DelDOT and she would prefer the rounded whole number as Gerry has laid out for all pipe segment types (roadway culvert, pipes, driveway culverts, etc.). However, she would also like the length added for swales unless there is a good reason not to.

[2019-10-17 01:06] KCI-Ablowers commented on #319
@kanglu666  https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/160#issuecomment-542178795

[2019-10-17 01:11] KCI-Ablowers commented on #312
Brendan will research this issue further. Unassigning @kanglu666 in the meantime.

[2019-10-17 16:47] KCI-Ablowers opened #338 "DelDOT TSDM - Structure/Conveyance Work Order Update"
DelDOT has requested that the structure and conveyance work orders be updated to address multiple problem codes -

- Update Structure and Conveyance Tables or View with the new `PARENT` field.
- Create a process to generate the "parent" record with the "Multiple" problem code in structures and conveyance work order table or view.
- Update the nightly TDSM process were necessary.

The general idea

[2019-10-17 21:03] gerrykelly commented on #338
reminders to self:
- replace base tables with evw views

[2019-10-18 03:43] kanglu666 commented on #160
updated, will be ready in next dev release

[2019-10-18 03:53] kanglu666 commented on #160
![1](https://user-images.githubusercontent.com/6352480/67064636-4a179480-f139-11e9-940a-8baedb463813.JPG)

[2019-10-18 18:11] cstevenson1 commented on #103
@KCI-Ablowers Push to Prod. Matt and I reviewed the issue and believe Gerry's solution will meet our needs. Post 2017 reports appear to use the normal on-the-fly approach and pre-2017 reports appear to be pulling the static historical reports. Matt stated some BMPs have been renumbered so KCI Newark will need to renumber some PDFs in the location Gerry mentioned so they will properly open in the w

[2019-10-18 18:23] cstevenson1 commented on #160
@KCI-Ablowers confirmed in Dev. Push to Prod

![image](https://user-images.githubusercontent.com/16919898/67117903-bafa9300-f1b1-11e9-9291-731ce4b14baf.png)

[2019-10-19 21:40] kanglu666 commented on #315
will be ready in next dev release

[2019-10-20 01:52] kanglu666 commented on #319
will be ready for testing in next dev release

[2019-10-21 11:42] cstevenson1 commented on #324
Appears to be working in Dev. Please push to prod.

Conveyance 0109020503 properly displayed when I searched by Overall Rating, Debris, Upstream Seal, or Downstream Seal. Confirmed the query is pulling from the most recent inspection.

[2019-10-21 12:03] cstevenson1 commented on #336
Confirmed in DEV. @KCI-Ablowers I would recommend pushing from prod to dev since the data is so outdated. Creating test data for scenarios like the one above can be time consuming and less representative for testing.

[2019-10-21 12:03] #336 closed

[2019-10-22 17:34] gerrykelly commented on #103
@KCI-Ablowers
Updated in Prod (note that inspections for sand filter BMPS are from BMP_DSF_INSPECTION_DRY and there are no pre-2017 inspections to test)

[2019-10-22 18:05] gerrykelly commented on #332
@KCI-Ablowers
Done in dev and prod (swale length now included also)

[2019-10-22 19:15] KCI-Ablowers commented on #103
@cstevenson1 please confirm/test and close when you can.

[2019-10-23 00:37] kanglu666 commented on #21
Last Edit Date and Ownership columns have been removed , ready for testing in dev

[2019-10-23 00:38] kanglu666 commented on #305
MULTIPOLYGON  BMP zoom in function has been added, ready for testing in dev

[2019-10-23 02:55] kanglu666 commented on #263
text symbol has been updated , ready for testing in dev

[2019-10-23 13:05] cstevenson1 commented on #21
@KCI-Ablowers Ownership and Last Edit Date have been removed from the Advanced Query Builder and Base Map Query sections of the web viewer in Dev, however based on my 2/7 and 3/20 comments, it should have only been removed from the Base Map Query section since those fields do not apply. They are applicable and should be shown in the Advanced Query Builder. I can see where the confusion came from b

[2019-10-23 13:14] cstevenson1 commented on #315
@KCI-Ablowers push to prod. appears to be working in Dev.

Tested (results based on outdated data in Dev):
BMP 180 defaulted to 2018
BMP 126 defaulted to 2017
BMP 296 defaulted to 2016

[2019-10-23 13:16] cstevenson1 commented on #315
@KCI-Ablowers push to prod. appears to be working in Dev.

Tested (results based on outdated data in Dev):
BMP 180 defaulted to 2018
BMP 126 defaulted to 2017
BMP 296 defaulted to 2016

[2019-10-23 13:34] KCI-Ablowers commented on #21
@kanglu666 Based on @cstevenson1 comment above https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/21#issuecomment-545433520 please add the Ownership and Last Edit Date fields back to the Advanced Query Builder.

[2019-10-23 14:51] cstevenson1 commented on #305
@KCI-Ablowers User can zoom to multipart feature in Dev now, however it does not highlight all parts. This item was not listed in the priority bugs spreadsheet so I would hold off on addressing the highlighting. We are fine with pushing to prod as-is and addressing the highlighting later if feasible.

![image](https://user-images.githubusercontent.com/16919898/67404840-ed293d80-f581-11e9-8e25-19bb

[2019-10-23 16:13] KCI-Ablowers commented on #305
@kanglu666 Not sure how this issue made it into your queue, but if the multipart highlight is a simple (and quick) fix go ahead and make the necessary update. If not, push to prod.

[2019-10-23 20:03] cstevenson1 commented on #332
Looks good

![image](https://user-images.githubusercontent.com/16919898/67426249-afd7a680-f5a7-11e9-9632-17d72baa779a.png)

![image](https://user-images.githubusercontent.com/16919898/67426270-bbc36880-f5a7-11e9-8620-79d637c02fd7.png)

[2019-10-23 20:03] #332 closed

[2019-10-24 00:32] KCI-Ablowers commented on #263
@kanglu666 same as #305 - Not sure how this issue made it into your queue, but if the multipart highlight is a simple (and quick) fix go ahead and make the necessary update. If not, push to prod.

[2019-10-24 17:39] KCI-Ablowers commented on #247
@cstevenson1 - Path to the prod MXDs for the viewer is - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds\viewer