[2019-10-24 17:40] KCI-Ablowers commented on #58
@cstevenson1 - Path to the prod MXDs for the viewer is - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds\viewer

[2019-10-24 17:40] KCI-Ablowers commented on #267
@cstevenson1 - Path to the prod MXDs for the viewer is - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds\viewer

[2019-10-24 17:44] KCI-Ablowers commented on #300
@cstevenson1 If the mxd in the above comment https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/300#issuecomment-535479697 isn't correct, could it be this one - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds\viewer\BaseData_1_Primary.mxd

[2019-10-24 18:12] KCI-Ablowers commented on #335
@gerrykelly are you able to open that MXD on the deldot-prod-ags VM? It doesn't appear to have arcmap installed. When I copied the MXD locally it broke the data links. I tried to find the source GDB (V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\DelDOTbaseDataFGDBsWithContours\DelDOTBase.gdb) on the V drive but the parent folder "DelDotbaseData....." doesn't seem to exist.

[2019-10-24 19:28] cstevenson1 commented on #337
@KCI-Ablowers I think the issue in Dev is that the data is so outdated that there is not sufficient DSF inspection data to test. Only 2017 DSF inspections appear to be present in Dev. Using dummy data I created in Dev, it appears to be working.

![image](https://user-images.githubusercontent.com/16919898/67518469-dc0c2980-f672-11e9-9f4e-b2d72d6919df.png)

[2019-10-24 19:28] #337 closed

[2019-10-24 20:29] gerrykelly commented on #335
@gerrykelly
What you should be able to do is map a drive from your computer (having ArcGIS desktop 10.3 or better) to the deldot-prod-ags C drive, then open the mxd from your local computer/VM.  Being ArcGIS it's slow to open from a remote location, but that's how I do it and works fine.

[2019-10-24 20:32] gerrykelly commented on #338
@KCI-Ablowers
Just adding the status comment that prototype for the TSDM product has been developed as views in the dev GDB and as pending review by "Newark".  Correspondence on this development was better handled by emails up to this point, but let's now bring it back into the GH issue.

[2019-10-24 20:34] gerrykelly commented on #311
@KCI-Ablowers
I don't believe there is any followup needed on this.  If there is, let me know, if not can you close the issue?  Thanks.

[2019-10-25 02:19] #311 closed

[2019-10-25 16:31] cstevenson1 commented on #103
@KCI-Ablowers confirmed in PROD. Matt/Ryan will update the PDF names for BMPs where the BMP_Num has changed at \\sparkssvm\DelDotPics\BMP_reports as their availability permits.

[2019-10-25 16:31] #103 closed

[2019-10-26 03:29] kanglu666 commented on #21
Last Edit Date and Ownership columns have been added back

[2019-10-26 03:33] kanglu666 commented on #160
ready in PROD

[2019-10-26 03:34] kanglu666 commented on #21
ready in PROD

[2019-10-26 03:55] kanglu666 commented on #305
ready in PROD

[2019-10-26 04:29] kanglu666 commented on #324
ready in PRDO

[2019-10-26 04:34] kanglu666 commented on #315
ready in PROD

[2019-10-28 12:13] cstevenson1 commented on #315
@KCI-Ablowers confirmed in PROD

worked for BMPs 43, 117, and 126.

[2019-10-28 12:13] #315 closed

[2019-10-28 13:31] KCI-Ablowers opened #339 "DelDOT TSDM - BMP WO Processing Request"
Matt's email on 10/28/2019 -

Attachments from matt's email.

[Maximo Problem Codes for BMP-MAINT_UPDATED_3_20_17 for GSG.xlsx](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3778715/Maximo.Problem.Codes.for.BMP-MAINT_UPDATED_3_20_17.for.GSG.xlsx)
[DelDOT BMP MWO Processing for GSG.docx](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3778716/DelDOT.BMP.MWO.Processing.for.GSG.

[2019-10-28 13:32] cstevenson1 commented on #324
@KCI-Ablowers the query works in PROD but does not appear to be pulling from most recent inspection when OVERALL_RATING is POOR. All the new fields added to the advanced query builder for pipe segments, such as debris and overall rating, for all values, such as good fair and poor, should be based on the most recent inspection for the feature.

Examples:
searched for OVERALL_RATING = POOR.....Conve

[2019-10-28 14:22] KCI-Ablowers commented on #335
@gerrykelly Got it.

@cstevenson1 Does Gerry's solution of removing the owner from the symbology work for you?

[2019-10-28 14:46] KCI-Ablowers commented on #324
@kanglu666 please see @cstevenson1 comment (https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/324#issuecomment-546947053)

[2019-10-28 17:50] #160 closed

[2019-10-28 18:19] gerrykelly commented on #339
@KCI-Ablowers
The logic described -- since it involves BMP_INSPECTIONS but not BMP_DSF_INSPECTION_DRY -- means that the queries will not include sand-filter BMPS.  Just making sure that is known and intentional.

[2019-10-28 18:50] cstevenson1 opened #340 "BMP Sand Filter Report - Add Percent Discoloration"
Please add a line to the BMP - Sand Filter Report for "Percent Discoloration" between "Depth of Discoloration" and "Oil or Grease Present". This is on the second page of the report as seen in the attachment. The necessary field is already located in the database (BMP_DSF_INSPECTION_DRY.SND_DISCOLORATION_PERCENT). Sand Filter inspections are done for 2019 so this item can be addressed next fiscal y

[2019-10-28 21:08] gerrykelly commented on #339
@KCI-Ablowers
We can decided if we need to alter the approach later but the content of DelDOT Supervisor List - BMP Work Orders_Updated 07-25-19 for GSG.xlsx needs to exist as a real table someplace.  For now I created new table -- DelDOT_Maximo_Supervisor_List -- in dev.

- In contrast the data from Maximo Problem Codes for BMP-MAINT_UPDATED_3_20_17 for GSG.xlsx should be static and is just key-v

[2019-10-29 12:57] KCI-Ablowers commented on #339
@gerrykelly the lookup table - deldot_migration2.DBO.LU_DISTRICT_SUPERVISORS table in dev/prod has some of the values in that excel file (highlighted in green below). We could modify this table with permission from @cstevenson1 and co. but your new table is probably the best solution

![image](https://user-images.githubusercontent.com/35460336/67767103-4f70bb00-fa26-11e9-807d-6c4a647b0921.png)

[2019-10-29 13:42] cstevenson1 commented on #305
@KCI-Ablowers zoom feature confirmed in PROD but does not appear highlighting was completed. This will be a low priority going forward

[2019-10-29 13:59] KCI-Ablowers commented on #305
@kanglu666 Hold off on making any further changes for this issue. We will have to circle back.

[2019-10-29 15:28] gerrykelly commented on #339
@KCI-Ablowers
From the Word doc:
i)	PARENT = BMP_INSPECTIONS.BMP_ID – Confirm with Supreet
(1)	Should be populated for all BMP Work Orders except:
(a)	Should be left blank for all work order records with a PROBLEM_CODE = MULTIPLE
(2)	**Should be populated with the KCIWONO for all other records**

That differs from the original Excel example (and what we did for structures/conveyances) .  In Excel,

[2019-10-29 15:41] gerrykelly commented on #339
@KCI-Ablowers
And, related to the previous comment, the Word Doc does not describe how I get to "PROBLEM_CODE = MULTIPLE".  We assume it is from an inspection having more than one action.  So, now going back to the Excel example, I am going to use that and **NOT** the direction from the Word doc for direction on PARENT_ID, KCIWONO,PROBLEM_CODE, FUNCTION_CODE

[2019-10-29 16:54] gerrykelly commented on #339
@KCI-Ablowers
I have created a view -- BMP_WORKORDERS -- in both the dev and prod DBs.  I know there is some nuance to come for special situations (beyond the Central district supervisor which is accounted for in the queries), but this view is my best take on what the end product should be given the Excel and Word docs.

Please review.

[2019-10-31 01:07] kanglu666 commented on #324
@cstevenson1  could you please provide few screen shot for what do you mean  "does not appear to be pulling from most recent inspection when OVERALL_RATING is POOR"

[2019-11-01 12:45] cstevenson1 commented on #319
@KCI-Ablowers Not completely sure which emails were impacted. I changed one of our staff from NPDES-Viewer to NPDES-Editor in DEV and below is the email he received.

1) Were all emails associated with changes to the USER GROUP for a user updated, whether it be adding them to a user group for the first time or changing it?
2) Your comment mentioned the user guide, was that supposed to be included?

[2019-11-01 13:11] cstevenson1 commented on #21
@KCI-Ablowers columns have been added back in.
![image](https://user-images.githubusercontent.com/16919898/68026364-e5eee780-fc85-11e9-9ab7-8663145e43fc.png)

However, it is somewhat confusing for users that you can use the Select by Map feature in the Basemap Query work space and see Structures/Conveyances in the list but cannot open them. The user does not need to be able to open them though bec

[2019-11-01 13:39] cstevenson1 commented on #324
@KCI-Ablowers

1. Searched for OVERALL_RATING = POOR
![image](https://user-images.githubusercontent.com/16919898/68027772-9ad6d380-fc89-11e9-929c-b69475787cda.png)
2. Opened Pipe Inspections tab for Conveyance 0110060679 (2018 inspection is most recent)
![image](https://user-images.githubusercontent.com/16919898/68027852-d07bbc80-fc89-11e9-931a-782a16d3f169.png)
3. Opened 2018 inspection and saw O

[2019-11-01 13:48] cstevenson1 commented on #263
@KCI-Ablowers this is unrelated to the multipart highlight.

However, confirmed in DEV.

![image](https://user-images.githubusercontent.com/16919898/68029009-ad064100-fc8c-11e9-93f4-6e94d33dfab0.png)

[2019-11-04 12:36] cstevenson1 commented on #339
@KCI-Ablowers Supreet approved Matt's recommendation (using BMP_INSPECTIONS.GlobalID instead of BMPS.GlobalID)

![image](https://user-images.githubusercontent.com/16919898/68120038-50946300-fed2-11e9-84db-d06c4ba6889f.png)

[2019-11-04 15:46] KCI-Ablowers commented on #319
@kanglu666 can you see @cstevenson1 comment above and address her questions?

For the user's guide, I think we wanted to include the hyperlink in the first comment on the issue. @kanglu666 did you include this URL in all of the email templates?

[2019-11-04 15:47] KCI-Ablowers commented on #324
@kanglu666 please see @cstevenson1 comment above.

[2019-11-04 15:48] KCI-Ablowers commented on #263
@kanglu666 push this to prod as is.

[2019-11-06 15:52] gerrykelly commented on #339
@KCI-Ablowers
I have created tables **in the DEV DB**, an registered them in ArcCatalog, that are a snapshot of the current BMP_WORKORDERS view:
-  BMP_WORKORDERS_DEV
-  BMP_WORKORDERS_PROD

[2019-11-07 04:37] kanglu666 commented on #319
hyperlink has been added to the email. this applies to all the emails.
![1](https://user-images.githubusercontent.com/6352480/68360529-61b9bb80-00ee-11ea-9f71-8ce3431865c2.JPG)

[2019-11-07 13:01] KCI-Ablowers commented on #339
@cstevenson1 and @mortynsky Can you guys please review the tables @gerrykelly created in the **Dev DB** for the BMP work orders?

[2019-11-08 02:52] kanglu666 commented on #324
Working on this one in dev,
new view created, Conveyance_Pipe_VW_NEW

[2019-11-08 12:53] cstevenson1 commented on #324
@KCI-Ablowers understood. please assign to me when the new view is associated with the viewer and ready for testing

[2019-11-08 13:23] KCI-Ablowers commented on #324
Sounds good @kanglu666. Please reassign @cstevenson1 when you have the new view in place.

[2019-11-11 04:35] kanglu666 commented on #324
updated: All the fields in the pipe inspection table, and the new fields added to the advanced query builder for pipe segments, such as debris and overall rating, for all values, such as good fair and poor, are based on the most recent inspection for the feature.

ready for testing in dev and PRDO

[2019-11-11 04:36] kanglu666 commented on #263
ready in PROD

[2019-11-11 14:19] KCI-Ablowers commented on #338
@gerrykelly I spoke with @cstevenson1 today about pushing this to DelDOT. In her email on 11/5, she said -

For us to pass this to DelDot, we thought of two options:

1. Export the DEV views to excel and state that some of the data will be missing or inaccurate because it is the DEV version.
2. Push the PROD data to DEV, then pass the view onto DelDOT so the changes we made in PROD are reflecting

[2019-11-12 12:28] cstevenson1 commented on #263
text color has been fixed in prod

[2019-11-12 12:28] #263 closed

[2019-11-12 12:34] cstevenson1 commented on #335
@KCI-Ablowers Spoke with Julie and Melissa, they both agree that removing Owner from the symbology would be sufficient since that aligns with the "Other" user group view.

[2019-11-12 13:27] cstevenson1 commented on #294
@KCI-Ablowers Ratings are not showing for all pipe types. Appears to be working for conveyance type = pipe but not for conveyance type of driveway culvert, roadway culvert, or guardrail culvert which all use the same pipe segments and pipe inspection tables

[2019-11-12 14:51] KCI-Ablowers commented on #294
@kanglu666 Do you think this would take more than a couple of hours to address?

[2019-11-12 15:40] cstevenson1 commented on #324
@KCI-Ablowers we tested a handful of examples for overall rating, debris, upstream seal, and downstream seal. They all appeared be pulling from the most recent inspection. Closing issue for now but will continue to monitor

[2019-11-12 15:40] #324 closed

[2019-11-12 22:45] gerrykelly commented on #338
@KCI-Ablowers
If the goal here is simply to give DelDOT something to review for structure and content -- with the dev difference from prod as a know issue, the export to Excel seems like the better short run option

[2019-11-13 02:17] KCI-Ablowers commented on #338
@gerrykelly that works for me. I exported both the WORK_ORDERS_MS4_TSDM_temp and the WORK_ORDERS_MS4_withParentWO to Excel -
[WORK_ORDERS_MS4_TSDM_temp.xlsx](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3839118/WORK_ORDERS_MS4_TSDM_temp.xlsx)
[WORK_ORDERS_MS4_withParentWO.xlsx](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3839119/WORK_ORDERS_MS4_withParentWO.xlsx)

I thin

[2019-11-14 00:54] kanglu666 commented on #294
fixed, ready for testing in both dev and prod

[2019-11-18 12:55] cstevenson1 commented on #294
@KCI-Ablowers appears to have been updated for guardrail culverts, roadway culverts, and driveway culverts.

[2019-11-18 12:55] #294 closed

[2019-11-18 14:32] cstevenson1 commented on #339
@KCI-Ablowers Overall the table looked good and is pretty close.

1. What would be the level of effort to have the @ symbol removed from the beginning of the comment which indicates the score for the action
![image](https://user-images.githubusercontent.com/16919898/69058331-772dc000-09e1-11ea-88d3-98c360d84b19.png)
2. Only actions with an @3@ score for an inspection with an Overall "B" rating sho

[2019-11-18 14:43] KCI-Ablowers commented on #335
@cstevenson1 please send me that layer file we spoke about this morning (11/18/19) when you get a chance. I will update the MXD and push it to @gerrykelly to replace the existing one.

[2019-11-18 14:53] cstevenson1 commented on #319
@KCI-Ablowers Changed a user role and the updated text came through in the email. Cannot confirm every automated email scenario though so as long as font is consistent in all automated emails, please push to prod.

![image](https://user-images.githubusercontent.com/16919898/69062422-e4911f00-09e8-11ea-9b92-ef20334abf30.png)

[2019-11-18 15:35] cstevenson1 commented on #319
@KCI-Ablowers if level of effort is low, please resize the logo, it is quite large. See attached PDF of how it currently looks.
[FW_ User roles updated.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3859352/FW_.User.roles.updated.pdf)

[2019-11-18 18:35] cstevenson1 commented on #335
@KCI-Ablowers GitHub did not accept the file type so the layer files have been emailed. The symbology only applies to the WQI map mentioned in this issue.

[2019-11-18 19:53] KCI-Ablowers commented on #319
@kanglu666 can you resize that image without much effort?

[2019-11-18 21:11] KCI-Ablowers commented on #338
I sent the information off to Supreet at DelDOT this afternoon for review.

[2019-11-18 21:14] KCI-Ablowers commented on #335
[Viewer_Issue_335_Layer_Files.zip](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/3860675/Viewer_Issue_335_Layer_Files.zip)
Attaching the layer files @cstevenson1 sent me today (11/18/19)

[2019-11-19 12:55] cstevenson1 opened #341 "WQI Report - Incorrect Ammonia Value in Lab Results"
When the field sheet is exported from the viewer via the Water Quality Investigation report, the value for surfactants comes up as both surfactants and ammonia on the field sheet (see photo below). The values are correct in the database though. Example is from Structure 0110222993

@KCI-Ablowers this is likely just a matter of having Gerry point Ammonia on the report to the correct field in the da

[2019-11-25 19:01] cstevenson1 commented on #338
@KCI-Ablowers per Matt's conversation with Supreet:

1. "Drainage" should be populated for FAIL_CLASS on ALL records. This is currently working for child records, but needs to be implemented for parent records (where PROBLEM_CO = "Multiple")
2. PRIORITY should be populated for ALL records. This is currently working fine for child records but logic needs to be implement for parents records (where P

[2019-12-17 12:18] cstevenson1 commented on #247
@KCI-Ablowers updated in MXD and saved to V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\ANDREW\DelDOT\Base_Data_Viewer\BaseData_Updates

[2019-12-17 12:49] cstevenson1 commented on #300
@KCI-Ablowers MXD for base data to be used for all user group views is located at V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\ANDREW\DelDOT\Base_Data_Viewer\BaseData_Updates

[2019-12-17 12:52] cstevenson1 commented on #58
@KCI-Ablowers no action for me. Please update legends for exported maps to reflect the table of contents after the latest MXD is incorporated. New MXD is located at V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\ANDREW\DelDOT\Base_Data_Viewer\BaseData_Updates

[2019-12-17 12:52] cstevenson1 commented on #267
@KCI-Ablowers This was addressed in the MXD update, located at V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Geospatial_Solutions\Staff\ANDREW\DelDOT\Base_Data_Viewer\BaseData_Updates

[2019-12-23 13:09] KCI-Ablowers commented on #338
@kanglu666 For #6 above https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-558294516 please review the excel and let me know if you have any questions. The updates to the work order UI include removing the two checkboxes highlighted in yellow and modifying the three values circled in red.

[2020-01-03 13:27] KCI-Ablowers commented on #338
@cstevenson1 Per @kanglu666 the DB was designed with identical codes and descriptions from the beginning. From my understanding of item 6 above the description can still display but the problem code needs to write to the work order, is that correct?

[2020-01-03 19:39] cstevenson1 commented on #338
@KCI-Ablowers The identical codes and descriptions was not a design decision made by the Newark group but it has been that way for a while. This has been pushed to the back burner until now because work orders were not being submitted to DelDOT. It however was not like that in our previous database. But yes you are correct; the description can still display but the code needs to be written to the

[2020-01-07 17:05] gerrykelly commented on #338
@KCI-Ablowers
From the 11/25/2019 comments, these issues are addressed as follows (in dev and prod):
- the view -- WORK_ORDERS_MS4_withParentWO will be the product for structure/conveyance WOs going forward (we can name it something better)
- For the FAIL_CLASS the assumption is that **all** WORK_ORDER_PROBLEM_CODES records related to a WO will have the same value for FAILURE_CLASS (currently "dra

[2020-01-08 19:58] gerrykelly commented on #339
@KCI-Ablowers
I've addressed the first 3 issues from the previous comment as follows:
1. The @3@ are removed from the comments as are the new @21@ (or whatever AREA number) that can be at the end of the comments
2. I updated the SQL for this logic
3. Done to the best of my understanding (logic as described in my email to Matt yesterday).  I added a few @21@s to records in the dev DB.  While they a

[2020-01-09 14:19] cstevenson1 commented on #300
@KCI-Ablowers Please make sure Seaford Maintenance Area is changed to Bridgeville Maintenance Area in the maintenance area layer of the base data to ensure it is consistent with the database and field tool.

[2020-01-09 16:39] gerrykelly commented on #339
@KCI-Ablowers
I updated the BMP_WORKORDERS view to account for the logic I got from Matt where the AREA in the comment overrides the BMP AREA so there are not duplicate records.

[2020-01-10 13:06] cstevenson1 opened #342 "Frim should be firm"
Spelling for firm should be corrected for swale inspections in the viewer

![image](https://user-images.githubusercontent.com/16919898/72154970-fc00de80-337f-11ea-872c-3bcfa42f48c6.png)

[2020-01-13 19:21] KCI-Ablowers commented on #342
@cstevenson1 adding this to the FY19 remaining items milestone. It should be a quick update we can knockout with other Viewer items.

[2020-01-13 19:26] KCI-Ablowers commented on #339
@gerrykelly I will capture issues 4 and 5 above in my write up along with the structure/conveyance WOs.

@cstevenson1 I believe Gerry's comment (quoted below) is correct. Can you confirm? -

[2020-01-13 19:47] KCI-Ablowers opened #343 "Advanced Query Builder - And/Or Queries - Enhancement"
During the weekly call on 1/13/2019, @cstevenson1 noted an issue that arose with a DelDOT user and the Advanced Query Builder. The user was unable to successfully query for a set of features due to the lack of parenthesis in the query builder. As discussed, the captured options during the call were:

- Expand the query builder to include parenthesis
- Capture potential "canned query" options that

[2020-01-17 16:01] KCI-Ablowers commented on #338
@gerrykelly

## From Christina's email on 1/17/2019 - Struct/Convey and BMP WO Requests

It looks like this could be due to different data types between your view and the DB table in production. `FUNC_CO` in your view is (nvarchar(58), not null) and `FUNCTION_CODE` in `dbo.LU_WORK_ORDER_CODES` is (numeric(38,8),null)

I did a cursory check and it appears that KCIWONOs with the "multiple" problem c

[2020-01-17 16:06] KCI-Ablowers commented on #339
@gerrykelly and @kanglu666

## From Christina's email on 1/17/2019 - Struct/Convey and BMP WO Requests

I spoke with Brendan and he can perform the backup of dev and push prod to dev. However, I wanted to confirm with you both if there are any new objects that can either be pushed to production as is or temporarily unavailable until the dev backup is restored. Please let me know.

[2020-01-27 14:46] KCI-Ablowers commented on #343
@kanglu666 Is it possible to expand the query builder to include a parenthesis?

[2020-02-17 14:26] KCI-Ablowers commented on #338
@gerrykelly An update to the query -

Only records with a `STATUS` = "Open" should be included/submitted. This field is only updated once DelDOT notifies Newark that the WO is closed.

[2020-02-17 14:26] KCI-Ablowers commented on #339
@gerrykelly An update to the query -

Only records with a `STATUS` = "Open" should be included/submitted. This field is only updated once DelDOT notifies Newark that the WO is closed.

[2020-02-18 00:20] kanglu666 commented on #58
Base map service has been updated with the new MXD
http://vm-deldot103:6080/arcgis/rest/services/deldot/BaseData_1_Primary/MapServer

[2020-02-18 00:21] kanglu666 commented on #247
Base map service has been updated with the new MXD, ready for testing in dev.
http://vm-deldot103:6080/arcgis/rest/services/deldot/BaseData_1_Primary/MapServer

[2020-02-18 00:21] kanglu666 commented on #267
Base map service has been updated with the new MXD, ready for testing in dev.
http://vm-deldot103:6080/arcgis/rest/services/deldot/BaseData_1_Primary/MapServer

[2020-02-19 15:51] KCI-Ablowers commented on #58
@cstevenson1 This is ready to test, but I still need to round up the word/PDF version of the legend so leaving myself assigned.

[2020-02-19 15:54] KCI-Ablowers commented on #335
@kanglu666 Please review the comments above, implement the changes to the MXD and assign me and @gerrykelly when you are finished.

[2020-02-19 16:04] KCI-Ablowers commented on #300
@kanglu666 Please review @cstevenson1's two comments above before proceeding.

[2020-02-20 20:43] gerrykelly commented on #338
@KCI-Ablowers
So far as "b. Likewise the .0 is dropped off at the end of some function codes." ...
- There are no function code values in LU_WORK_ORDER_CODES that end in ".0", nor can there be, since it is type=double, meaning a .0 is not preserved
- The code actually come from the WORK_ORDER_PROBLEM_CODES table where function_code field is a text field that uses the D_FunctionCode domain.  While

[2020-02-20 21:03] KCI-Ablowers commented on #338
@cstevenson1 Regarding the lat/long from the comment above https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-575685582 -

Is this a requirement from DelDOT or a "nice to have"? I spoke with @gerrykelly and up until now the submit process has been explicitly SQL based. Calculating the X/Y will involve developing a geoprocess that will need to be added in, tested, etc. Plea

[2020-02-20 23:51] kanglu666 commented on #300
@cstevenson1  I'm not sure what you mean "Seaford Maintenance Area",
Could you please give me a screen shot for this? I need to know what the "Seaford Maintenance Area" is and where it is? Thanks

[2020-02-21 13:01] cstevenson1 commented on #247
@KCI-Ablowers I cannot test MXD related issues at the moment. Base data is not showing in the DEV viewer. The arrow to expand the group and turn layers on/off is not present. I tried clearing cache and it did not resolve the issues. I can see the NPDES data though.

![image](https://user-images.githubusercontent.com/16919898/75036613-48abff00-5480-11ea-9ef6-d954deb29a5e.png)

[2020-02-21 14:31] KCI-Ablowers commented on #247
@kanglu666 Please look into this. I tried to verify with the dev viewer - http://newarkgisdev.kci.com/deldotwebviewer/index.html#welcome and it is sitting on the "loading map" screen.

[2020-02-21 16:22] gerrykelly commented on #338
@KCI-Ablowers @cstevenson1

So far as "same photo link is used for all records of a single work order ", keep in mind that link is not to a single photo.  It is used to build the URL that returns the JSON with date for **all**  records in WORK_ORDER_PHOTOS related to the WORK_ORDER -- in a second HTTP request

It so happens that the WO with globalID CA532BF1-D918-468D-86A1-04573F43CC7F has only on

[2020-02-21 16:37] gerrykelly commented on #338
@KCI-Ablowers @cstevenson1
For recording whether workorders have been submitted, the most straightforward way would be to add a field to the workorder table.

But that would not work unless for WOs that are output to multiple records for the DelDOT detail, like below, are always all "submitted" or not.  Meaning that if it will be the case that for KCIWONO CA532BF1-D918-468D-86A1-04573F43CC7F, the

[2020-02-21 19:58] gerrykelly commented on #338
@KCI-Ablowers
I added "imd_action = 'No'" to the [WORK_ORDERS_MS4_withParentWO] view (working in DEV only for now)
- since imd_action is directly from WORK_ORDERS.IMMEDIATE_ACTION, there could not be differing values for the same-[KCIWONO] records
- Unless otherwise noted, [WORK_ORDERS_MS4_withParentWO] will be the only view being maintained for this work from here on
-That means that so far the o

[2020-02-24 17:52] cstevenson1 commented on #338
Regarding the dropping the 0 comment (https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-589298977)

We looked into Gerry's comment and observed the same thing. It sounds like it is a string in his environment, which is good. The work order function code field utilizes D_FunctionCode, which has the .0 at the end as it should. However, there is only 1 record in the database

[2020-02-25 20:18] gerrykelly commented on #339
@kanglu666 @KCI-Ablowers

Lu, I might want to add fields (for now just in DEV) to the following tables (and, yes, through ArcCatalog to respect versioning):
- BMP_INSPECTIONS
- BMP_INSPECTION_ACTION
- WORK_ORDERS
- WORK_ORDER_PROBLEM_CODES

Is there any concern that additional fields would impact anything in the viewer, field tool and/or any process?

[2020-02-25 22:21] gerrykelly commented on #339
@cstevenson1 @mortynsky
I have updated the BMP_WORKORDERS view to correct the one "central district logic" error that I found as identified in Matt's 1/22/2020 email.

To get back to that test scenario I needed to append the @AREA@ values to inspection action comments as I had previously done in dev for the inspection related to BMPs 94, 323, and
300.

However with the data having been migrated fr

[2020-02-26 15:17] cstevenson1 commented on #338
Regarding the lat/long comment https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-589310450

Matt spoke with DelDOT and stated "I checked with Supreet yesterday afternoon and confirmed with him that latitude and longitude values DO NOT need to submitted with both the Structure/Conveyance work orders as well as the BMP work orders.

Supreet stated that these values are alre

[2020-02-26 16:01] cstevenson1 commented on #338
Regarding the photos comment https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-589725578

Matt spoke with Supreet and Supreet is good with the way asset photos are submitted so we foresee no issues with using the same methodology for work order photos as Gerry proposed.

[2020-02-27 01:19] kanglu666 commented on #247
services has been turned on, ready for testing

[2020-02-27 01:21] kanglu666 commented on #319
what's the logo/image size you want?

[2020-02-27 01:25] KCI-Ablowers commented on #319
@kanglu666

[2020-02-27 02:51] kanglu666 commented on #335
I have no idea about the report mxd layers. please assign this to @gerrykelly

[2020-02-27 18:25] cstevenson1 commented on #247
@KCI-Ablowers there should be transparency for the municipality so you can see the ortho underneath when it is turned on.

Currently in DEV Viewer
![image](https://user-images.githubusercontent.com/16919898/75474124-6e477580-5964-11ea-9465-bb874171110b.png)

What is should look like
![image](https://user-images.githubusercontent.com/16919898/75474163-7ef7eb80-5964-11ea-95de-c816fa74c039.png)

[2020-02-27 18:28] cstevenson1 commented on #267
@KCI-Ablowers Parcels labels are now defaulted off in Dev. Push to Prod

[2020-02-27 19:47] cstevenson1 commented on #319
@KCI-Ablowers @kanglu666
The red rectangle still appears to be large. We were thinking more along the lines of an email signature logo size. Please temporarily place on-hold until we locate a good example of image size.

[2020-02-28 13:24] KCI-Ablowers commented on #319
@cstevenson1 we can adjust if you want to reduce the image to the desired size and send it back or provide us with a pixel value and we can reduce it. I am not sure where the source image is, but @kanglu666 can provide it if need be.

[2020-02-28 13:27] KCI-Ablowers commented on #267
Push to Prod Confirmed

[2020-02-28 13:28] KCI-Ablowers commented on #247
@cstevenson1 Can you know what transparency level you are using in the screenshot above?

[2020-02-28 13:35] KCI-Ablowers commented on #343
@cstevenson1 Brendan, Lu and I discussed this 2/26/20 and have the following comments:

Lu and Brendan expressed that this would not be a small effort and is probably not feasible without some additional funding and requirements gathering. We should consider this in the next FY if still needed.

If there are specific queries that are repeated often that the advanced query builder can not handle in

[2020-02-29 03:54] kanglu666 commented on #342
updated, ready for testing in dev

[2020-03-02 15:02] cstevenson1 commented on #319
@KCI-Ablowers we discussed with DelDOT and they would like to move away from the Team DelDOT logo and onto their more generic logo if we are in the process of making edits to it anyways. Word said 1.08" for sizing.

Desired sizing would like:
![319 - DelDOT Logo Sizing](https://user-images.githubusercontent.com/16919898/75686487-53c61280-5c6a-11ea-9cba-7be5e5ba5310.png)

[2020-03-02 16:13] KCI-Ablowers commented on #319
@kanglu666 The new image is in the zip file and pasted image below. Please maintain the size shown in the screenshot -
![image](https://user-images.githubusercontent.com/35460336/75694622-d81e9280-5c76-11ea-907d-3553327fdcfc.png)

[DelDOT_logo_sized.zip](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/4276430/DelDOT_logo_sized.zip)

![DelDOT_logo_sized](https://user-images.githubusercont

[2020-03-03 16:56] cstevenson1 commented on #342
confirmed in dev. please push to prod

@KCI-Ablowers as seen in the snip below, the photos weren't loading in Dev. Everything is fine in prod viewer but I will keep an eye on it.

![image](https://user-images.githubusercontent.com/16919898/75799239-d243b280-5d45-11ea-8d4d-865fdf29b433.png)

[2020-03-05 01:47] KCI-Ablowers commented on #342
Push to prod confirmed

[2020-03-06 14:31] KCI-Ablowers commented on #343
@cstevenson1 spoke with Lu and BC again on 3/4/20 and the easiest method will be to include a note in the advanced query builder-

![image](https://user-images.githubusercontent.com/35460336/76092323-360bec80-5f8d-11ea-85dc-5d06504b794f.png)

We (GS) can come up with the appropriate text or you can provide us a statement and @kanglu666 will add it in Dev.

[2020-03-06 20:32] cstevenson1 commented on #339
@KCI-Ablowers @gerrykelly Still trying to check a couple special cases but overall, it looks significantly closer to the desired result. So far we have observed the following:
1.	The DESCRIPTION field should pull from the BMP_INSPECTION_ACTION table and the appropriate ACTION_TYPE associated with that record
2.	The value of “Multiple” in the PROBLEM_CO field should be ALL CAPS

[2020-03-07 20:21] kanglu666 commented on #319
updated in dev, ready for test in dev.
![1](https://user-images.githubusercontent.com/6352480/76151858-4f915f00-6087-11ea-9311-03288cbde8f6.PNG)

[2020-03-09 11:43] cstevenson1 commented on #343
@KCI-Ablowers Please verify level of effort of limiting the query. Sara from DelDOT seemed ok with just adding a note if the query builder sometimes works when using AND and OR but would prefer to restrict the users' combination if it never works (which is likely the case or least mostly the case). Then she said we can reevaluate using canned queries or building in the parentheses later.

[2020-03-09 17:21] gerrykelly commented on #339
@cstevenson1 @KCI-Ablowers
Updated

[2020-03-09 18:22] cstevenson1 commented on #300
@KCI-Ablowers I confirmed Seaford was changed to Bridgeville in DEV.

Dev
![image](https://user-images.githubusercontent.com/16919898/76244837-387e7880-6211-11ea-88a9-66c03fbb528f.png)

Prod
![image](https://user-images.githubusercontent.com/16919898/76244864-43390d80-6211-11ea-8b94-2b51783f8042.png)

[2020-03-11 13:32] cstevenson1 commented on #338
@KCI-Ablowers regarding my comment (https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-590463774)

Should we (Newark) update the FUNCTION_CODE field? We are still unsure why they don't match the coded value domain.

Some records appear to be displaying the code and others the description for the problem code.
![image](https://user-images.githubusercontent.com/16919898/7642

[2020-03-11 14:16] KCI-Ablowers commented on #338
@cstevenson1 did you mean the D_ProblemCode domain? They appear to be updated based on conversations with Lu and looking at the domain in Prod -

![image](https://user-images.githubusercontent.com/35460336/76426369-59fe7200-6381-11ea-844b-57dee93d226c.png)

I believe we decided earlier on in this request that you guys would be responsible for updating the problem codes to match the new domain valu

[2020-03-11 14:32] cstevenson1 commented on #338
@KCI-Ablowers No I mean function code.

https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-589298977

https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-590463774

If there are no concerns with mass updating the records in DEV for testing, I can field calculate the problem codes and function codes. I know the problem codes were updated but were the

[2020-03-11 15:27] KCI-Ablowers commented on #338
@cstevenson1 I don't see any harm in doing the field calculate in DEV. @gerrykelly Do you see any issues arising with that?

[2020-03-12 16:17] gerrykelly commented on #338
@KCI-Ablowers @cstevenson1
I don't see it as a risk ... and if it turns out otherwise, that's what dev is for.

[2020-03-13 14:12] mjuber-kci opened #344 "Map Extent in Viewer is not Accurate"
I set both ArcMap and the viewer to a map scale of 1in = 2,087ft and the extents are completely different.

ArcMap:
![image](https://user-images.githubusercontent.com/16919958/76627232-06229300-6511-11ea-90b0-77448ffa949d.png)

Viewer:
![image](https://user-images.githubusercontent.com/16919958/76627271-19356300-6511-11ea-811c-7402955c4d5b.png)

[2020-03-13 14:30] mjuber-kci commented on #300
**Cannot verify any of the scale extent changes are correct because of Bug #344 .**

**Municipalities:** 40% transparency not working in map, but showing on exported map to PDF
Dev-
![image](https://user-images.githubusercontent.com/16919958/76628826-bc877780-6513-11ea-8805-a0bbaadaf397.png)

Exported PDF-
![image](https://user-images.githubusercontent.com/16919958/76628900-dde86380-6513-11ea-82f8

[2020-03-13 17:59] cstevenson1 commented on #247
@KCI-Ablowers 40%

See Bug #300

[2020-03-21 20:38] kanglu666 commented on #267
updated in PROD,

[2020-03-21 20:40] kanglu666 commented on #342
updated in PROD

[2020-03-21 20:42] kanglu666 commented on #300
Base Map service has been published in PROD, ready for testing

[2020-03-21 20:43] kanglu666 commented on #319
updated in PROD, ready for testing

[2020-03-24 12:11] cstevenson1 commented on #319
@KCI-Ablowers Logo was updated in the one automated email I received/checked. Assuming the change was applied to all emails, this can be closed.

![image](https://user-images.githubusercontent.com/16919898/77424168-07707d00-6da7-11ea-9e13-614cca4c29fb.png)

[2020-03-24 12:21] cstevenson1 commented on #342
confirmed in PROD
![image](https://user-images.githubusercontent.com/16919898/77424977-5ff44a00-6da8-11ea-85bd-2403ce07e293.png)

[2020-03-24 12:21] #342 closed

[2020-03-24 12:28] cstevenson1 commented on #267
Confirmed - parcel labels are defaulted off in PROD

![image](https://user-images.githubusercontent.com/16919898/77425626-6800b980-6da9-11ea-8693-7b75767cfff2.png)

[2020-03-24 12:28] #267 closed

[2020-03-24 13:40] mjuber-kci commented on #300
40% transparency still not working correctly for Wetlands and Municipalities in the map in Prod, but is working in the Exported PDF.

Prod Map -
![image](https://user-images.githubusercontent.com/16919958/77431617-50c6c980-6db3-11ea-9a1e-8af70c85ba98.png)

Exported PDF -
![image](https://user-images.githubusercontent.com/16919958/77431661-63d99980-6db3-11ea-8b9f-ddbef4a7f53b.png)

[2020-03-24 19:11] mjuber-kci commented on #58
Symbology in TOC for exported map has not been updated. Some of the issues noted were layer names in the not being correct in exported map (having underscores ex: Tax_Ditch_Layer, or no spaces ex: ZipCodes), layers not having the correct symbology (ex: Flowlines) and layers not included within the exported map TOC (ex: Contours).

Exported Map TOC -
![image](https://user-images.githubusercontent.c

[2020-03-31 11:46] cstevenson1 commented on #343
on hold until next fiscal year

[2020-04-06 16:35] KCI-Ablowers commented on #319
@kanglu666 Can you confirm this was applied to all emails?

[2020-04-06 16:52] KCI-Ablowers opened #345 "Struct/Convey WO Request - Add "Asset_Type" field"
Add in an `Asset_Type` field to the Struct/Convey WO View/Table. This field will contain the type of either the structure or conveyance feature.

Related to: #338

[2020-04-06 16:56] KCI-Ablowers opened #346 "Struct/Convey WO Request - Drop Parent ID"
Per meeting with Supreet (DelDOT) on 3/31/20 - The Parent ID is not necessary and can be dropped from the Struct/Convey WO Table/View.

Related to: #338

[2020-04-06 17:00] KCI-Ablowers opened #347 "Struct/Convey WO Request - Unique KCIWONO logic"
Supreet (DelDOT) requires a unique KCIWONO per function code. If the function code is the same, a unique KCIWONO is not required.

The option presented include:
1. Create logic to add in a "tag" ("_1", "_2", etc.) to the KCIWONO making it unique
2. Allow SQL to generate a new unique identifier that Supreet can consume in Maximo

@gerrykelly to determine the best method and move forward in Dev.

Re

[2020-04-06 17:40] KCI-Ablowers commented on #221
Reopening to address discussion from DelDOT status call on 4/6/20

Brendan to review the existing configuration and confirm file size.

[2020-04-06 18:30] KCI-Ablowers opened #348 "Struct/Convey WO Request - Photo Link Handling"
Per Supreet (DelDOT) he is currently unable to handle the same photo link being included for the same KCIWONO.

As discussed previously, the photos are associated to the work order, not the individual defects or problem code.

Suggestions from the meeting included -

1. Revise the back end process to create unique photo links using a dummy value which Maximo could ignore.
2. Implement a change in

[2020-04-06 18:32] KCI-Ablowers commented on #348
4/6/20 - On Hold - Waiting to hear back from Supreet about handling the duplicate photo link in Maximo.

[2020-04-06 18:35] KCI-Ablowers opened #349 "BMP WO Request - Drop Parent ID"
Per meeting with Supreet (DelDOT) on 3/31/20 - The Parent ID is not necessary and can be dropped from the BMP WO Table/View.

Related to: #339

[2020-04-06 18:59] KCI-Ablowers opened #350 "BMP WO Request - Drop Text from Function Code 2400.0"
Supreet (DelDOT) requested the text be dropped from the "2400.0" Function code. @gerrykelly looking at the dbo.BMP_WORKORDERS view, this may be a simple field calculation.

@cstevenson1 I can't remember at the moment where this comes from. Is it part of the field tool and stored in a lookup table?

Related to: #339

[2020-04-06 19:13] KCI-Ablowers opened #351 "BMP WO Request - PDF Report Link"
Supreet (DelDOT) inquired about adding in a "report link" similar to the "photo link" for the structure/conveyance work orders. Per the discussion on 3/31/20 a potential solution would be:

1. Modify existing or create new GP process to generate the BMP reports.
2. Process exports to a shared location (similar to photo store).
3. Generated link added to new "report link" field
4. Output reports na

[2020-04-07 11:09] KCI-Ablowers commented on #348
From Supreet 4/6/20 -

Closing this issue and will reopen if needed.

[2020-04-07 11:09] #348 closed

[2020-04-16 17:32] gerrykelly commented on #345
@KCI-Ablowers
Updated in dev (both vm-deldotsql\deldot and deldot-sql2016) and prod
- The view WORK_ORDERS_MS4_withParentWO no longer exists and has been replaced by [WORK_ORDERS_MS4_Complete]
- I also renamed the feature_num field to ASSET_NUM (so structure_num or conveyance_num according to the new ASSET_TYPE field

[2020-04-16 17:50] gerrykelly commented on #346
@KCI-Ablowers
Updated in dev (both vm-deldotsql\deldot and deldot-sql2016) and prod

    The view WORK_ORDERS_MS4_withParentWO no longer exists and has been replaced by [WORK_ORDERS_MS4_Complete]

[2020-04-16 18:24] gerrykelly commented on #347
@KCI-Ablowers
Updated in dev (both vm-deldotsql\deldot and deldot-sql2016) and prod

    The view WORK_ORDERS_MS4_withParentWO no longer exists and has been replaced by [WORK_ORDERS_MS4_Complete]

•	KCIWONO is now a unique ID for distinct workorder-function_code combinations (so, not a unique identifier in the scope of the table and is not intended to be)
o	I thought there was some value in having

[2020-04-16 18:25] gerrykelly commented on #338
@KCI-Ablowers
Outstanding issues are addressed and updated in dev (both vm-deldotsql\deldot and deldot-sql2016) and prod
    The view WORK_ORDERS_MS4_withParentWO no longer exists and has been replaced by [WORK_ORDERS_MS4_Complete]

I'll assign this back to you for now,

[2020-04-17 15:41] gerrykelly commented on #351
@KCI-Ablowers
While I have added a field -- LINK_TO_INSPECTION_REPORT -- that should meet the requirements; example:
KCIWONO=1CE1C9F6-5C9C-4D77-8A66-42D5C93DC416&SUBID=A7&BMPOBJECTID=453&INSPCYEAR=2019&f=pjson
 I have not proceeded far with the GP service/web-request side of things.  We will need to discuss.

[2020-04-17 15:47] gerrykelly commented on #350
@KCI-Ablowers
Updated in BMP_WORKORDERS view in Prod and Dev(s)

[2020-04-17 15:48] gerrykelly commented on #349
@KCI-Ablowers
Updated in BMP_WORKORDERS view in Prod and Dev(s)

[2020-04-17 15:49] gerrykelly commented on #339
@KCI-Ablowers
Just assigning this back to you with knowing that we still need to decide how to proceed with
#351

[2020-04-20 17:47] KCI-Ablowers commented on #351
Meeting 04/20/20 discussion -

- Reports not generated in the same manner as the photos
- The process will be "two" steps needed to generate (request) and retrieve the PDFs either through the browser or FTP (KCI or DelDOT)
- Option could be to generate all reports associated with BMPs in the submittal and include in the package submitted by Matt.
- Will discuss with Supreet to determine if he is a

[2020-04-21 13:46] cstevenson1 commented on #345
@KCI-Ablowers @gerrykelly

I confirmed ASSET_NUM and ASSET_TYPE are present, however ASSET_TYPE should be the actual structure or conveyance type (INLET, MANHOLE, PIPE, SWALE, etc.) as opposed to just conveyance vs structure.

[2020-04-21 14:21] cstevenson1 commented on #346
@KCI-Ablowers @gerrykelly

I have confirmed Parent ID was dropped, however Matt and I believe the multiple logic may not be needed since Parent ID was removed. Matt will verify with Supreet and I will update this thread accordingly.

[2020-04-21 14:26] cstevenson1 commented on #347
@KCI-Ablowers @gerrykelly

Confirmed KCIWONO is unique based on function code (through SQL Server Management Studio).

![image](https://user-images.githubusercontent.com/16919898/79877589-68956b80-83ba-11ea-9581-810fe30e30a3.png)

[2020-04-21 15:20] cstevenson1 commented on #338
@gerrykelly
Lat/Long should be removed
![image](https://user-images.githubusercontent.com/16919898/79880362-e73fd800-83bd-11ea-9a14-e73f2b50db52.png)

@KCI-Ablowers
Any luck on figuring out why the function codes do not match up? I field calculated in Dev for testing purposes and will need to do the same thing in PROD. However, it still appears that all of the coded values for that domain have a v

[2020-04-23 14:44] cstevenson1 commented on #350
@KCI-Ablowers text has been dropped but awaiting feedback from Supreet

[2020-04-23 14:45] cstevenson1 commented on #349
@KCI-Ablowers confirmed it has been dropped but awaiting feedback from Supreet

[2020-04-24 20:20] KCI-Ablowers commented on #351
After meeting on 4/24/20 we decided that the PDF report process should be automated. The reports will either be generated on the fly or cached if available. The will provide a "file stream" for Supreet to consume through Maximo.

[2020-04-27 11:59] cstevenson1 opened #352 "BMP Report - Remove @21@"
@21@ should be removed from the end of the text for action items in the BMP Report
![@21@](https://user-images.githubusercontent.com/16919898/80369819-e515c780-885c-11ea-9139-b0137cc6aebb.jpg)

[2020-04-27 12:24] cstevenson1 opened #353 "Text Color in Exported Map should Match Web Map"
User has ability to change text color when adding graphics to the map but that color does not come through on exported maps (text color is black in the exported map). See example below.

Web Map with red text
![image](https://user-images.githubusercontent.com/16919898/80371723-57d47200-8860-11ea-83f5-44e7c361d79b.png)

Exported Map to PDF
![image](https://user-images.githubusercontent.com/16919898

[2020-04-27 17:35] KCI-Ablowers opened #354 "BMP WO Request - Drop "Multiple" problem code logic"
The logic created to handle the "multiple" problem codes in the BMP WOs can be dropped.

[2020-04-27 17:36] KCI-Ablowers opened #355 "Struct/Convey WO Request - Drop multiple problem code logic"
The logic created to handle the "multiple" problem codes in the Structures/Conveyance WOs can be dropped.

[2020-04-30 11:07] KCI-Ablowers commented on #349
@cstevenson1 This is confirmed, correct?

[2020-04-30 11:08] KCI-Ablowers commented on #350
@cstevenson1 This is confirmed, correct?

[2020-04-30 14:32] gerrykelly commented on #354
@KCI-Ablowers
'MULTIPLE'  PROBLEM_CODE records are no longer included in theBMP_WORKORDERS view

[2020-04-30 21:46] gerrykelly commented on #352
@KCI-Ablowers
Updated -- and I did the SQL for a more general case that will remove the last 3 or 4 characters of a comment when the comment ends with a character or 2 between @'s

[2020-05-01 18:10] cstevenson1 commented on #352
@gerrykelly was this completed in Prod? I reran the report runner tool and we are still seeing the @21@

![image](https://user-images.githubusercontent.com/16919898/80829592-71095580-8bb5-11ea-874f-7a05fcdb53c2.png)

[2020-05-01 18:25] gerrykelly commented on #351
@KCI-Ablowers
This is done:

•	The reports that will be streamed from the service are in: \\sparkssvm\P055\DelDOTbmpWOreportsForWebservice\production\
o	I ran the GP task the created all the prod BMP WO reports there
o	There is also a comparable development folder, but I don’t see any reason to also put work into a dev version of this
•	The base URL is https://newarkgis.kci.com/reportstreamer/stre

[2020-05-01 19:25] gerrykelly commented on #352
@cstevenson1 @mortynsky @KCI-Ablowers
Should be good now.  I had updated the code for the individual report task, but not for the bulk from the reportRunner GP

Now when all reports are run and your ready to call things good, remember they need to go into \\sparkssvm\P055\DelDOTbmpWOreportsForWebservice\Production

[2020-05-01 19:55] gerrykelly commented on #355
@KCI-Ablowers @cstevenson1 @mortynsky
The [WORK_ORDERS_MS4_Complete] view is updated in all 3 DBs

[2020-05-13 19:03] KCI-Ablowers opened #356 "BMP & Struct/Conveyance Request - Two Week lead time for Supreet"
Supreet has requested we give him two weeks' notice before pushing through any BMP or MS4 (Structure/Conveyance) records via the to be automated workflow. Creating this issue as a reminder and it will be mentioned in any issues related to the automation workflow.

[2020-06-01 13:11] KCI-Ablowers opened #357 "Struct/Conveyance Request - Submittal Automation"
To finalize the BMP and Struct/Conveyance "DelDOT requests" the quarterly submittals require an "automated submittal" process.

Initial thoughts on the process include using a new or existing "status" field that indicates a set of records is ready to submit via the existing (to be modified) nightly script. The modified nightly script will continuously check for the agreed-upon "status" value and o

[2020-06-01 15:16] KCI-Ablowers commented on #338
Contacted @kanglu666 this morning to pick back up on the "function code" issues noted above.

[2020-06-01 19:48] cstevenson1 commented on #357
@KCI-Ablowers As discussed in our meeting today, Matt and I agree with the proposed solution above. We were thinking we would have a status, such as "Pending" or "Under Review" to indicate work orders that need to be reviewed for the next submission. Once KCI Newark has reviewed them, we would update the status to "Approved" to indicate they are ready to be included in the nightly submission. Idea

[2020-06-02 13:14] KCI-Ablowers commented on #357
@gerrykelly Let us know if this is not enough background information/ proposed process to get you started.

[2020-06-04 20:56] KCI-Ablowers commented on #338
### Update on Fuction Code Issue

@kanglu666 was able to diagnose the problem and will continue working on updating the field tool, debugging, checking the DB, and releasing a new dev field tool version for testing.

[2020-06-09 18:09] gerrykelly commented on #357
I completed the logic and routine for exporting the workorders and deployed it in dev as follows:

•	The WO_PROBLEM_CODES_STATUS table now has the additional fields:
o	SEND_WITH_NIGHTLY_UPLOAD_YN
o	HAS_BEEN_UPLOADED_YN
o	COMMENTS
•	(Not that it matters in Dev, but I assume that running the GP task to update the WO_PROBLEM_CODES_STATUS table is now ingrained in your workflow)
•	The default value fo

[2020-06-12 12:52] cstevenson1 opened #358 "Add Municipality to Geographic Filters Query"
DelDOT requested adding municipality as a layer that can be used in the geographic filter workspace given the number of towns/cities they are coordinating with. Add as an enhancement for next fiscal year.

![image](https://user-images.githubusercontent.com/16919898/84504398-de66d680-ac89-11ea-8d44-52d0a039514b.png)

[2020-06-15 19:08] cstevenson1 commented on #338
@KCI-Ablowers duplicate value present in field tool

![image](https://user-images.githubusercontent.com/16919898/84696098-f3599900-af19-11ea-8945-bdbfdfb6894a.png)

[2020-06-22 11:58] cstevenson1 commented on #338
decimal came through properly in the sync from Dev 9.3

![image](https://user-images.githubusercontent.com/16919898/85284991-188c6100-b45e-11ea-9d74-89890d70de06.png)

[2020-06-22 14:16] cstevenson1 commented on #346
@KCI-Ablowers Per phone discussions, the previous multiple logic was replaced with a grouping based on function code. This can be closed if you have no additional comments.

[2020-06-22 14:19] cstevenson1 commented on #349
@KCI-Ablowers correct

[2020-06-22 14:19] #349 closed

[2020-06-22 14:22] cstevenson1 commented on #350
@KCI-Ablowers correct

![image](https://user-images.githubusercontent.com/16919898/85298550-3b287500-b472-11ea-822c-49ece14fec47.png)

[2020-06-22 14:22] #350 closed

[2020-06-23 20:52] KCI-Ablowers opened #359 "BMP Request - Submittal Automation"
From @gerrykelly via email on 6/23/20

[2020-06-23 21:00] KCI-Ablowers commented on #338
@kanglu666 - Can you remove the duplicate value @cstevenson1 mentioned above - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-644323018. Once that is complete I believe the field tool related updates for this issue are complete and can move to prod.

[2020-07-01 17:51] #359 closed

[2020-07-01 17:52] #357 closed

[2020-07-01 17:56] KCI-Ablowers commented on #356
@mortynsky contacted Supreet on 6/25/20. No response as of this comment. Closing for now.

[2020-07-01 17:56] #356 closed

[2020-07-01 18:02] #355 closed

[2020-07-01 18:02] #354 closed

[2020-07-01 18:05] #345 closed

[2020-07-01 18:05] #346 closed

[2020-07-01 18:05] #347 closed

[2020-07-01 18:05] #351 closed

[2020-07-01 18:05] #352 closed

[2020-07-01 18:07] #319 closed

[2020-07-01 18:08] KCI-Ablowers commented on #338
Marking as "Push to Prod - Confirmed" but leaving open pending any feedback from DelDOT.

[2020-07-01 18:10] KCI-Ablowers commented on #339
Marking as "Push to Prod - Confirmed" but leaving open pending any feedback from DelDOT.

[2020-07-08 19:43] cstevenson1 opened #360 "Expand Report Runner Functionality"
@KCI-Ablowers Currently the Report Runner is designed to generate inspection reports for a given time frame for BMPs with an open status that have not been submitted. It would be nice to extend the functionality to be able to generate ALL inspection reports for a given time frame, regardless of work orders. This would useful because we must submit all inspection reports (grades A-D) on a quarterly

[2020-08-12 11:52] cstevenson1 opened #361 "Dev - Unable to Generate Structure Reports"
I opened the feature details for a pipe end (0109219520) and clicked "View Report". The page spun for a few seconds with a message of "Loading report...please wait!" at the bottom but the report never appeared. I tried the same structure in PROD and had no issues. I did have the same problem though when I tried generating the report for an inlet structure and after clearing the cache.

[2020-08-12 11:58] cstevenson1 opened #362 "Dev - Unable to Generate Conveyance Reports"
Same as issue #361 but for Conveyances. When I tried generating a report for pipe 0109030266, the loading message appeared at the bottom but the report did not generate. Same problem for swale conveyances.

[2020-08-12 12:30] cstevenson1 opened #363 "Dev - Unable to Generate BMP Report"
I tried various BMPs, including 124, and was unable to download a BMP report. If I tried an inspection year of 2017 or newer, it behaved similar to issues #361 and #362 where it acted to load for a few seconds but no report was generated. If I tried downloading a report older than 2017, I received a Server Error pop up box message.

[2020-08-12 12:34] cstevenson1 opened #364 "Dev - Unable to Generate BMP Report"
I tried various BMPs, including 124, and was unable to download a BMP report. If I tried an inspection year of 2017 or newer, it behaved similar to issues #361 and #362 where it acted to load for a few seconds but no report was generated. If I tried downloading a report older than 2017, I received a Server Error pop up box message.

[2020-08-12 12:34] #364 closed

[2020-08-12 12:51] cstevenson1 opened #365 "Dev - Unable to Generate WQI Report"
Trying various PID points (2041) and structures (0111316405), I was unable to generate a water quality investigation report. I received a mixture of Server Errors and loading messages that did not result in a report; similar to #361, #362, #363.

[2020-08-12 13:26] cstevenson1 opened #366 "Dev - Base Map Query Not Functioning"
In PROD, the user can search for a community using the Base Map Query with a type ahead feature (see Snip 1 below). The user can then select the community they are interested in and zoom to the area. Currently in DEV, the type ahead feature is not working (see Snip 2). If I continued to manually type out the community name and search for it, no results were returned.

Snip 1
![image](https://user-

[2020-08-14 01:13] kanglu666 commented on #365
@gerrykelly  please take a look at the water quality investigation report. it failed on the server side.
![1](https://user-images.githubusercontent.com/6352480/90201788-e20dfb00-dda9-11ea-9c64-8b2613784601.PNG)

[2020-08-14 01:19] kanglu666 commented on #361
updated in the new dev site, ready for testing

[2020-08-14 01:19] kanglu666 commented on #363
updated in the new dev site, ready for testing

[2020-08-14 01:19] kanglu666 commented on #362
updated in the new dev site, ready for testing

[2020-08-14 17:51] KCI-Ablowers commented on #365
@cstevenson1 reassigning this to you for testing. @gerrykelly did some investigating and made some updates on the backend which hopefully have fixed the issue.

[2020-08-19 02:25] kanglu666 commented on #338
Duplicate value has been removed from dev.
Problem code Domain has been updated.
Value in LU_WORK_ORDER_CODES table and  WORK_ORDER_PROBLEM_CODES table have been updated.

[2020-08-19 11:35] cstevenson1 commented on #362
@KCI-Ablowers conveyance report generated this time

[2020-08-19 11:47] cstevenson1 commented on #361
@KCI-Ablowers structure report generated this time. push to prod

[2020-08-19 11:52] cstevenson1 opened #367 "Dev - NPDES Features Unavailable"
@KCI-Ablowers The NPDES features (structures, conveyances, etc.) are not displaying on the web map while testing the dev viewer today. The arrow to expand the table of contents for the NPDES features is unavailable.

![image](https://user-images.githubusercontent.com/16919898/90631382-aa131780-e1f0-11ea-978c-5473feadf08b.png)

[2020-08-19 12:15] cstevenson1 commented on #363
@KCI-Ablowers still unable to generate BMP reports older than 2017 (Server Error).

I am now able to generate BMP reports newer than 2017 but the Action Item Summary Map does not display (which may be fine for the purposes of Dev but please confirm in PROD that it will insert the manually created map image). Also, the BMP Location map is missing base data, which seems to be common issue in Dev so

[2020-08-19 18:40] cstevenson1 commented on #365
@KCI-Ablowers Could not generate a WQI for the following PID Points in Dev but could in prod:
- 2048
- 2046
- 2041

[2020-08-19 18:58] gerrykelly commented on #365
@cstevenson1 @KCI-Ablowers
These reports worked for me after a GP service restart.  So let's hope at some point the nightly database routine works and see if that fixes it, but meanwhile stay hold off on testing

[2020-08-26 17:52] KCI-Ablowers commented on #339
@gerrykelly and @kanglu666 - We are good to move all of this to prod (new prod).

[2020-08-26 17:53] KCI-Ablowers commented on #338
@gerrykelly and @kanglu666 - We are good to move all of this to prod (new prod).

[2020-08-27 21:36] gerrykelly commented on #338
@KCI-Ablowers
Completed.

[2020-08-27 21:37] gerrykelly commented on #339
@KCI-Ablowers
Completed

[2020-09-01 14:40] #339 closed

[2020-09-01 18:40] KCI-Ablowers commented on #338
From DelDOT on 9/1/20 -

Problem codes provided here - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/338#issuecomment-558294516 show that the problem code should be `VACBAS` as present in the database. @cstevenson1 can you confirm that it should be `VACBACS` as Supreeet mentions above?

![image](https://user-images.githubusercontent.com/35460336/91892615-fafb2500-ec60-11ea-91bd-87352c

[2020-09-01 19:13] cstevenson1 commented on #338
@KCI-Ablowers Please put this item on hold. The values in the spreadsheet came from DelDOT a while back so Matt and I plan to discuss internally and with DelDOT to figure out which side (KCI or DelDOT) should change the code.

[2020-09-04 18:36] cstevenson1 opened #368 "New Castle County View Functionality"
When a user with User Group = New Castle County logs into the viewer, they cannot expand the NPDES section in the table of contents even though the features are showing on the map (Snip 1). After running an advanced query, the operations panel cannot be collapsed or it goes blank after trying to open a feature (Snip 2). I tried other views, such as User Group = City of Dover and did not notice thi

[2020-09-04 20:47] KCI-Ablowers commented on #368
@kanglu666 Please investigate the issue above.

[2020-09-10 03:01] kanglu666 commented on #368
Issue fixed for User Group = New Castle County. ready for testing

Note: debug the code, and republished the New Castle County map services from 10.7

[2020-09-10 18:02] KCI-Ablowers commented on #368
Thanks, @kanglu666. @cstevenson1 can you please confirm in Prod?

[2020-09-14 13:03] cstevenson1 commented on #368
@KCI-Ablowers I can now expand the NPDES group in the table of contents, but the symbology is not correct on the map. The symbology appears to be from the DelDOT view. See below where all the DelDOT features are shown in color when they should be gray. Matt observed the same thing.

![image](https://user-images.githubusercontent.com/16919898/93089151-e3606b00-f668-11ea-81e9-836258d54e0b.png)

[2020-09-14 14:34] KCI-Ablowers commented on #368
I think this goes back to the issue - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/335. We will need to discuss further to get on the same page, make the symbology update and republish.

[2020-09-14 18:58] kanglu666 commented on #368
@cstevenson1  could you please provide me the latest updated .Mxd file for the  New Castle County? then i can republish the service

[2020-09-15 17:11] cstevenson1 commented on #368
@KCI-Ablowers please provide @kanglu666 the latest mxd for New Castle County. I know you were gathering all of these and KCI Newark doesn't manage these so I can't guarantee the accuracy of any we may have on our network.

[2020-09-16 00:15] KCI-Ablowers commented on #368
@kanglu666 We compiled these on the new ags box I believe. Please let me know if that is not the case and we can discuss/look on the network.

[2020-09-16 19:43] cstevenson1 commented on #368
@KCI-Ablowers Not sure if you had any luck with his but Matt pointed me to the following location as a potential for the MXD

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds

[2020-09-17 01:34] kanglu666 commented on #368
NCC map service has been updated and republished on PROD server, please test

[2020-09-17 12:10] cstevenson1 commented on #368
@KCI-Ablowers We can expand the NPDES group in the TOC and only the NCC features appear to be displaying in color so I am going to call this item closed until we hear otherwise from users of the New Castle County user group.

[2020-09-17 12:10] #368 closed

[2020-09-21 17:19] #338 closed

[2020-09-22 14:35] KCI-Ablowers opened #369 "Measurement Tool - Acres not measuring correctly"
From @mortynsky on 9/22/20 -

From DelDOT on 9/22/20 -

I couldn't retrieve the screenshots from the DelDOT email.

@kanglu666 Please investigate the discrepancy with the Acre calculations.

[2020-09-23 17:12] kanglu666 commented on #369
Fixed both in new dev and prod, please test

[2020-09-23 18:01] KCI-Ablowers commented on #369
@mortynsky confirmed working in prod.

[2020-10-15 00:52] KCI-Ablowers commented on #300
@kanglu666 Please review and investigate.

[2020-10-19 14:27] kanglu666 commented on #300
transparency issue has been updated in Dev, ready for testing in dev:
 https://devgis.kci.com/deldotwebviewer/index.html

[2020-10-20 21:03] kanglu666 commented on #344
the scale has been updated in dev ready for testing:
https://devgis.kci.com/deldotwebviewer/index.html

[2020-10-23 18:14] cstevenson1 commented on #367
@KCI-Ablowers to confirm, there is a new version of the dev viewer now? The link provided in recent bugs such as #344 does not match the URL we had been using.

Using the URL provided in the aforementioned bugs, we still cannot see the NPDES features on the map. You can search for them and open using the advanced query builder but it does not display on the map. See snip below.
![image](https://us

[2020-10-23 18:53] cstevenson1 commented on #300
@KCI-Ablowers Transparency is coming through on the map which is good but with the Ortho on at 1(in):290(ft), the map was a greenish color.  Not sure if any of this is related or would occur as well when pushed to prod.

![image](https://user-images.githubusercontent.com/16919898/97042753-80070a00-153f-11eb-82e1-9e9ed5bf017a.png)

![image](https://user-images.githubusercontent.com/16919898/9704270

[2020-10-23 19:26] KCI-Ablowers commented on #300
@kanglu666 any thoughts on the imagery?

[2020-10-26 17:24] KCI-Ablowers commented on #300
@kanglu666 do you know where the imagery is being sourced from? BC mentioned on our call today that it may be coming from aservice and this could be a bad tile.

[2020-10-29 00:44] KCI-Ablowers commented on #367
@cstevenson1 for the screenshot above - can you let us know what email address you are using to sign in?

[2020-10-29 01:38] kanglu666 commented on #367
Fixed, please test in new dev.

https://devgis.kci.com/deldotwebviewer/index.html

[2020-11-02 13:40] cstevenson1 opened #370 "Dev - Cannot Select by Map"
I receive the message below when I try to select by map from the dev viewer
https://devgis.kci.com/deldotwebviewer/index.html

![image](https://user-images.githubusercontent.com/16919898/97874422-f695cb80-1ce6-11eb-99f9-8e7c81bd3555.png)

[2020-11-02 13:41] cstevenson1 commented on #367
@KCI-Ablowers I am able to see features now on https://devgis.kci.com/deldotwebviewer/index.html , however see new issue #370

![image](https://user-images.githubusercontent.com/16919898/97874214-aae32200-1ce6-11eb-94ed-a4c7c37ccb1f.png)

[2020-11-02 16:25] cstevenson1 commented on #365
@KCI-Ablowers @gerrykelly So far no issues with structures and conveyances reports but still having difficulties with the WQI report. For example, PID Point 2038 - I can generate the report in prod but not new dev (https://devgis.kci.com/deldotwebviewer/index.html#selection)

[2020-11-02 18:20] KCI-Ablowers commented on #370
Just confirmed this when signed in as the admin account - tried to select an inlet using the "Select By Map" tool and got the same alert/prompt.

[2020-11-02 18:34] cstevenson1 opened #371 "BMP Sand Filter query not using most recent inspection"
@KCI-Ablowers Something seems off with the BMP Sand Filter advanced query.

I tried searching for DelDOT Sand Filters with a C rating in the new dev viewer and it pulled multiple results where the BMP was rated A on the most recent inspection but C on the previous one.

![image](https://user-images.githubusercontent.com/16919898/97904515-9b77cf00-1d0e-11eb-95fc-35e3ef8fc534.png)
![image](https://u

[2020-11-04 20:56] kanglu666 commented on #366
Working fine
![image](https://user-images.githubusercontent.com/6352480/98166961-4bd40780-1eb6-11eb-8bee-cfb1e3b6e547.png)

[2020-11-04 20:57] kanglu666 commented on #370
fixed, ready for testing in dev

[2020-11-06 18:13] cstevenson1 commented on #366
@KCI-Ablowers still working in prod and seems fine in new dev

[2020-11-06 18:13] #366 closed

[2020-11-09 18:17] KCI-Ablowers commented on #371
https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/202 - Updated previously for regular BMPs.

[2020-11-16 15:19] KCI-Ablowers commented on #367
@kanglu666 Last Monday (11/9/20) @cstevenson1 mentioned that the NPDES features do not appear in the new dev viewer again. I just checked this morning and this is still the case. I am signed in as the admin@kci.com user.

![Uploading image.png…]()

[2020-11-16 17:48] cstevenson1 commented on #370
@KCI-Ablowers unable to test. See issue #367 . Removing myself for now

[2020-11-16 19:49] kanglu666 commented on #367
map services updated and restarted, just tested, they are showing in the viewer now, please test

[2020-11-16 20:13] KCI-Ablowers commented on #367
@kanglu666 Looks good to me. We still need to apply the underdrain symbology, but I will make that a new issue.

Any idea why it seems to work intermittently?

[2020-11-16 20:24] cstevenson1 commented on #367
also working for me

[2020-11-16 21:00] KCI-Ablowers opened #372 "Create "Standard" Report for Underdrain Pipe End"
Create a new "Standard" report for underdrain pipe ends. This report should be identical to the existing "standard" report for pipe ends, with the `delineator_flag` field included in the "Inventory and Inspection Information" section/table.

[2020-11-16 21:51] KCI-Ablowers opened #373 "Create Water Quality Investigation Report for Underdrain Pipe End"
Create a new Water Quality Investigation report for underdrain pipe ends. This should be identical to the existing WQI report for pipe ends.

[2020-11-17 01:16] KCI-Ablowers opened #374 "Create "Standard" Report for Underdrain Conveyance"
Create a new "Standard" report for underdrain conveyance. This report should be identical to the existing "standard" report for pipe conveyance features.

[2020-11-17 01:18] KCI-Ablowers opened #375 "Create Water Quality Investigation Report for Underdrain Conveyance"
Create a new Water Quality Investigation report for underdrain conveyances. This should be identical to the existing WQI report for pipe conveyance features.

[2020-11-17 17:11] gerrykelly commented on #374
@KCI-Ablowers
Done

[2020-11-17 17:13] gerrykelly commented on #365
@KCI-Ablowers
I think this is resolved

[2020-11-17 18:39] gerrykelly commented on #372
@gerrykelly
Ready for test

[2020-11-17 19:25] gerrykelly commented on #373
@KCI-Ablowers
There are no WQI records related to Underdrain Pipe Ends, but -- reviewing the code and SQL query -- it looks like it should work as-is.  I also expect that the code to call the report from the viewer also works as-is with Lu not needing to do anything specific due to the new structure type.

[2020-11-17 19:25] gerrykelly commented on #375
@KCI-Ablowers
There are no WQI records related to Underdrain Conveyances but -- reviewing the code and SQL query -- it looks like it should work as-is.  I also expect that the code to call the report from the viewer also works as-is with Lu not needing to do anything specific due to the new Conveyance type.

[2020-11-17 20:17] KCI-Ablowers opened #376 "Update Advanced Query Builder to Include Underdrain Features"
Update the advanced query builder to include `underdrain` conveyance and `underdrain pipe end` structure features in the "select layer" dropdown.

[2020-11-17 20:37] KCI-Ablowers commented on #344
@cstevenson1 Please test since #367 is not an issue at the moment.

[2020-11-17 20:54] KCI-Ablowers opened #377 "Viewer MXD Updates for New Prod"
### File Paths
Viewer MXDs - V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers
MXD for https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/335 - \deldot-prod-ags\C:\Projects\DelDOT_NPDES_Reports\mxds\WQIprod.mxd

### Updates

- [ ] @cstevenson1 has everything been added for https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/300 ? Also, this is

[2020-11-17 21:03] kanglu666 commented on #377
MXDs for viewer (new dev server):
V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers

[2020-11-20 17:14] KCI-Ablowers opened #378 "Create Workflow for Underdrain Conveyance"
Update viewer workflow for underdrain conveyances including:

- #376
- Details
- Reports #374 and #375

[2020-11-20 17:16] KCI-Ablowers opened #379 "Create Workflow for Underdrain Pipe End Structures"
Update viewer workflow for underdrain pipe end structures including:

- #376
- Details
- Reports #372 and #373

[2020-11-23 15:10] cstevenson1 commented on #377
@KCI-Ablowers I'm a little confused by this bug. Are we updating base data MXDs or the NPDES data MXDs? Also, the pathway you provided contains MXDs that were saved in a newer version and I cannot open.

[2020-11-23 19:28] cstevenson1 opened #380 "WQI Report - Incorrect WQI Location Map"
@KCI-Ablowers While testing, we tried to download a WQI report for Structure 0110223188 and noticed the location map is incorrect. It is not zoomed to the correct location and the symbology does not match the previous prod viewer. The parcels should not be solid colored and all labeled as "New Castle".

![image](https://user-images.githubusercontent.com/16919898/100006049-e3cb5f80-2d97-11eb-843d-b

[2020-11-23 19:49] cstevenson1 opened #381 "BMP Report - Incorrect Location Map"
@KCI-Ablowers we are experiencing the same issue Gerry mentioned where the ortho is not displaying properly in the Location Map of the BMP Report. Below is BMP 247, Year 2019

![image](https://user-images.githubusercontent.com/16919898/100008081-f85d2700-2d9a-11eb-9961-8519d883bf15.png)

[2020-11-23 22:18] KCI-Ablowers commented on #377
V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_106.mxd

10.6 Copies of the viewer MXDs - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies

[2020-12-02 20:10] cstevenson1 commented on #377
@KCI-Ablowers Updated the primary DelDOT view (target_viewer_npdes_101_Label_Option_106) for the NPDES data. Would we be able to test this one before adjusting the rest of the views?

Some of the edits made were - added underdrain conveyances, added underdrain pipe ends, added structure drainage area, removed outfall drainage areas, grouped labels so they can all be turned off at once.

[2020-12-03 01:47] KCI-Ablowers commented on #377
@cstevenson1 Talked to Lu and we can publish the MXD above (target_viewer_npdes_101_Label_Option_106) to test the updates/edits. Once published, you will need to test with an account that is a member of the NPDES group.

@kanglu666 Please republish the MXD above - assumed here - V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies named - target_vie

[2020-12-08 18:54] kanglu666 commented on #377
NPDES map service with underdrain has been republished on dev, please test

[2020-12-11 20:32] cstevenson1 commented on #378
@KCI-Ablowers Cannot Use 'Select by Map'

[2020-12-11 20:33] cstevenson1 commented on #379
@KCI-Ablowers Cannot Use 'Select by Map'

[2020-12-11 22:02] KCI-Ablowers commented on #378
https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/378#issuecomment-743412620 Pushed to @kanglu666

[2020-12-12 00:58] kanglu666 commented on #379
fixed, ready for testing in dev

[2020-12-12 02:08] cstevenson1 commented on #379
@KCI-Ablowers confirmed select by map is now working. I do not see the Delineator Flag field listed on the inspection tab.

![image](https://user-images.githubusercontent.com/16919898/101969849-c1896c80-3bf4-11eb-9031-d64c15f463cb.png)

[2020-12-12 02:15] cstevenson1 opened #382 "DEV - Export Map to PDF is not working"
@KCI-Ablowers I was unable to successfully export a map to PDF in the dev viewer. Therefore I cannot confirm the legend was updated to include the underdrain features. After clicking the Export Map to PDF button on the toolbar, it lets you enter a title, submit, and download but the page below appears after clicking the download button.

![image](https://user-images.githubusercontent.com/16919898/

[2020-12-12 02:19] cstevenson1 commented on #376
@KCI-Ablowers I do not see the delineator flag field as a searchable field in the advanced query builder. If there are multiple inspections, it should be pulling from the most recent inspection.

![image](https://user-images.githubusercontent.com/16919898/101970104-69536a00-3bf6-11eb-972a-0586d8a3c97e.png)

[2020-12-12 02:29] cstevenson1 commented on #377
@KCI-Ablowers since the "grouping" cannot easily be implemented, I recommend defaulting "All NPDES Labels" to on and all the individual NPDES label layers (Structures Labels, Conveyances Labels, etc) to off. Otherwise, as it currently sits with the all labels and individual label layers defaulted to on, if the user turns off the "All NPDES Labels" layer, it does nothing because all the individual

[2020-12-12 02:36] cstevenson1 commented on #377
@KCI-Ablowers DelDOT can be removed after the comma but if this is time consuming or will delay the push to prod, then this can probably just be addressed with the next batch of MXD updates.

[2020-12-12 17:07] kanglu666 commented on #379
fixed, ready for testing in dev

[2020-12-12 17:09] kanglu666 commented on #376
delineator flag has been added into the search list, ready for testing in dev

[2020-12-12 17:17] kanglu666 commented on #377
fixed, ready for testing in dev

[2020-12-12 17:31] KCI-Ablowers commented on #377
@cstevenson1 I can't locate the pdf for the symbology. Can i recreate it using a prod example and the legend from this MXD - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies\target_viewer_npdes_101_Label_Option_106.mxd?

[2020-12-12 17:36] KCI-Ablowers commented on #377
@cstevenson1 Scratch the comment above - Lu pointed me to the attached
[NPDES.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/5683502/NPDES.pdf). I will need to recreate this anyway since the formatting needs to be updated.

[2020-12-13 00:55] cstevenson1 commented on #379
@KCI-Ablowers confirmed it is displaying now; assuming its sourced to right field. push to prod

![image](https://user-images.githubusercontent.com/16919898/102000250-87cb6b00-3cb3-11eb-977d-2fd47ebc0272.png)

[2020-12-13 01:10] cstevenson1 commented on #382
@KCI-Ablowers legend in PDF has not been updated. Also missing underdrain features

![image](https://user-images.githubusercontent.com/16919898/102000493-12ad6500-3cb6-11eb-9c78-ceb78617ec0e.png)

[2020-12-13 01:22] cstevenson1 commented on #378
@KCI-Ablowers confirmed its working. push to prod

[2020-12-13 01:39] cstevenson1 commented on #377
@KCI-Ablowers I think this is good for now. Next time updates are made, may be good to remove underscores from the base map layer names and categorize the drainage areas together. Flowlines and Tax Ditch layer are missing directional arrows.

[2020-12-13 01:43] cstevenson1 commented on #376
@KCI-Ablowers confirmed it is in the search list. As long as it is pulling from the most recent inspection, it is good to push to prod. If it isn't, that can probably be addressed later if needed since all the 301 underdrains only have 1 inspection right now.

[2020-12-13 01:46] cstevenson1 commented on #374
@KCI-Ablowers push to prod

[2020-12-13 01:48] cstevenson1 commented on #372
@KCI-Ablowers push to prod

[2020-12-13 14:55] KCI-Ablowers commented on #377
@kanglu666 Use the pdf in the https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/377#issuecomment-743802280 above. Push to prod.

[2020-12-13 14:56] KCI-Ablowers commented on #379
@kanglu666 Push to prod.

[2020-12-13 14:57] KCI-Ablowers commented on #376
@kanglu666 Can you confirm that we are pulling from the most recent inspection? Push to Prod either way.

[2020-12-14 23:49] cstevenson1 commented on #377
@KCI-Ablowers I updated the MXD again per DelDOT's feedback. The PDF legend for the export map function will need to be updated again.

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies
target_viewer_npdes_101_Label_Option_106

[2020-12-14 23:59] KCI-Ablowers commented on #377
Thanks, @cstevenson1. @kanglu666 can you please republish to prod and confirm that the labels are working correctly? I will handle the symbology update and get that to you this evening.

[2020-12-15 12:00] cstevenson1 opened #383 "Move Pipes to bottom of drawing order"
@KCI-Ablowers per our meeting on 12/14, DelDOT would like Pipe Conveyances moved to the bottom of the drawing order for all conveyance types. With the new underdrain addition, and swale symbology change, this would allow swale/underdrain and pipes to be seen when they are drawn on top of each other

[2020-12-15 20:33] KCI-Ablowers commented on #300
@kanglu666 This issue is back for the municipalities and wetlands layers in the viewer. Symbology appears correctly in the map export PDF. Please investigate.

[2020-12-15 20:33] KCI-Ablowers commented on #383
@kanglu666 This change should occur in the MXD correct?

[2020-12-15 20:34] #382 closed

[2020-12-21 15:01] KCI-Ablowers commented on #377
@cstevenson1 I think we need to update the other MXDs and get those published. While you are updating, please incorporate https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/383. We will need to go back to the NPDES MXD and make this change as well and have @kanglu666 republish.

[2020-12-21 15:03] KCI-Ablowers commented on #378
If DelDOT comes back and wants to update the advanced query builder's conveyance selection, I will open a new issue.

[2020-12-21 15:03] #378 closed

[2020-12-21 15:03] #379 closed

[2020-12-21 15:05] #372 closed

[2020-12-21 15:05] #373 closed

[2020-12-21 15:05] #374 closed

[2020-12-21 15:05] #375 closed

[2020-12-21 15:05] #361 closed

[2020-12-21 15:05] #362 closed

[2020-12-21 15:05] #363 closed

[2020-12-21 15:05] #365 closed

[2020-12-21 15:05] #367 closed

[2020-12-21 15:05] #370 closed

[2020-12-21 15:06] KCI-Ablowers commented on #381
@cstevenson1 can you confirm that this is fixed in dev and prod?

[2020-12-21 18:16] KCI-Ablowers commented on #380
@gerrykelly provided MXD to @cstevenson1 who will return when updated.

[2020-12-21 18:27] kanglu666 commented on #383
yes

[2020-12-21 18:37] kanglu666 commented on #300
the transparency issue has been fixed in the dev, ready for testing.

The greenish color in the ortho is the bad tile in the image service. please test by changing a location

[2020-12-21 18:55] cstevenson1 commented on #381
@KCI-Ablowers The imagery appears to be fixed in Dev and Prod for the BMP location map but it looks like the map is displaying the BMP drainage areas in Dev. See snips below

Prod
![image](https://user-images.githubusercontent.com/16919898/102811798-f4b9c180-4393-11eb-9860-37cb75e4d5a3.png)

Dev
![image](https://user-images.githubusercontent.com/16919898/102811782-ec618680-4393-11eb-898d-fa940817a

[2020-12-31 19:55] mjuber-kci commented on #380
We need to add BaseMap layers to the MXD that were previously included. More specifically, we need to add Communities, DNREC Watersheds, Municipalities, Maintenance Areas, Districts, and Counties. @KCI-Ablowers or @gerrykelly where are those saved for the viewer so we can source them directly within the MXD?

[2021-01-04 16:11] KCI-Ablowers commented on #381
@cstevenson1 should the drainage areas be on or off?

[2021-01-04 16:39] KCI-Ablowers commented on #383
@cstevenson1 as we discussed last week the easiest way to implement this change is to reorder the symbology in the MXDs and have @kanglu666 republish. Please let us know when the NPDES MXD is ready.

[2021-01-04 17:45] #333 closed

[2021-01-04 17:53] KCI-Ablowers commented on #380
@mjuber-kci @cstevenson1 I believe the current source data in the GDB located here - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer on the network. You can probably copy/paste the layers from one of the other MXDs with the base data you need.

[2021-01-04 22:27] KCI-Ablowers opened #384 "NPDES Labels not functioning in Prod"
NPDES Labels are not functioning in the Prod Viewer - NPDES View. Dev labels are working and other Prod views (Newcastle, etc.) are working correctly.
![image](https://user-images.githubusercontent.com/35460336/103585898-f4e8af80-4eb1-11eb-9d15-fdc10ab2bb94.png)

[2021-01-05 00:41] kanglu666 commented on #384
fixed, ready for testing in prod

[2021-01-05 18:29] KCI-Ablowers commented on #384
@kanglu666 Labels not working when signed in as the admin or my andrew.blowers@kci.com account (both are in the DelDOT NPDES Group) -
![image](https://user-images.githubusercontent.com/35460336/103683772-a04c3f80-4f58-11eb-833e-7aea0fc0e96f.png).

@cstevenson1 are you experiencing the same on your end?

[2021-01-07 15:18] KCI-Ablowers commented on #384
Labels currently functioning after most recent republish. To try and find the root cause, we will do the following troubleshooting:

- BC to push prod to dev after confirming with Gerry that he has nothing in place in dev that will be lost. We are hoping that if there is an issue with some data value the issue may appear in the dev viewer.
- I will do some investigating in the MXD for issues with

[2021-01-11 23:42] kanglu666 commented on #383
NPDES map service has been updated in dev, ready for testing

[2021-01-12 14:48] cstevenson1 commented on #383
@KCI-Ablowers please confirm the viewer respects the drawing order in the MXD. In the field tool, it appears to go based on when the feature was drawn in, i.e. if you inventory a pipe and then a swale overtop, the swale would draw on top.
See snip below. There are two conveyance IDs for the top segment and two IDs for the bottom segment, which makes sense because there is a pipe and swale in the s

[2021-01-12 15:19] KCI-Ablowers commented on #383
@kanglu666 Based on @cstevenson1 comment above and a check on my end it **does not** look like the viewer is honoring the symbology order. Can you let me know what would need to happen in the viewer to enforce the symbology?

[2021-01-13 18:16] KCI-Ablowers opened #385 "BMP WO - Report Runner - Failed Job"
From @cstevenson1 on 01/13/2021 -

@gerrykelly Please hold on investigating this until tomorrow, 01/14/2021.
![Report Runner](https://user-images.githubusercontent.com/35460336/104492334-78d12480-55a1-11eb-9a6f-2485ebeeaf96.JPG)

[2021-01-13 19:06] gerrykelly commented on #385
@KCI-Ablowers
Does not seem to be anything wrong with the code here.  The service worked after restart.

[2021-01-14 15:07] KCI-Ablowers commented on #384
@cstevenson1 - @kanglu666 pushed the NPDES MXD updates to Prod last night. Please test.

[2021-01-14 21:23] kanglu666 commented on #383
update the MXD to make sure the symbology order work. it's not problem of the viewer.

[2021-01-18 17:12] cstevenson1 commented on #384
@KCI-Ablowers Overall NPDES labels has been removed and individual labels are now properly working. Will continue to monitor. Closing issue for now and will reopen if needed.

[2021-01-18 17:12] #384 closed

[2021-01-18 18:23] #385 closed

[2021-01-18 18:24] KCI-Ablowers commented on #383
@cstevenson1 to check the MXD symbology and report back.

[2021-01-26 12:02] KCI-Ablowers commented on #380
I replaced the MXD on deldot-agsdev and opened it to make sure the data sources were intact, which they were. The original version is now named “WQIDev_Original”.

[2021-01-26 12:57] mjuber-kci commented on #380
Unable to successfully download a WQI report in Dev. We are receiving a server error and therefore cannot confirm if MXD changes have come though.

Also, is there a separate Dev BaseData SDE? The one provided appears to be for prod? If there is a separate Dev SDE, then the base data within the Dev MXD needs to be resourced.

[2021-01-27 13:24] KCI-Ablowers commented on #380
@gerrykelly can you investigate the server error above?

@mjuber-kci there is only one BaseData SDE in Prod so no need to resource the dev MXD.

[2021-01-27 15:42] gerrykelly commented on #380
@cstevenson1 @mjuber-kci @KCI-Ablowers

I believe this is working now.  Two issues:
- As noted in earlier emails, the existing code referenced a layer 'State Parcels'.  That layer is no longer present (at least with that name) in the mxd.  I removed the related geoprocessing code and did the same in PROD in anticipation of the mxd update.
- Then AGS itself was having problems with this report serv

[2021-01-28 14:43] KCI-Ablowers commented on #383
@cstevenson1 I think the MXD is already as described below, but the checkbox wasn't checked so the levels weren't applied.

- Open the symbology properties on the conveyance feature.
- Under the symbology window, click advanced --> symbol levels
- Check the "draw this layer...." box and make sure the symbols show as -
- Advanced View -
![image](https://user-images.githubusercontent.com/35460336/10

[2021-01-28 20:52] cstevenson1 opened #386 "Update Viewer Disclaimer"
DelDOT would like the disclaimer on the main screen of the web viewer (see snip below) to be updated to the following text:

Please note that the drainage system details and any other information provided is for reference only.  Actual conditions may differ from what the provided information shows.  Attempts have been made to classify the infrastructure as DelDOT, Municipality, Private or Unknown,

[2021-02-01 19:11] mjuber-kci commented on #380
Verified updated to map came through on multiple features. Please push to prod.

[2021-02-02 15:21] KCI-Ablowers commented on #380
@gerrykelly - I think you already made the updates in Prod. Is that correct? Since the MXDs appear to be the same, I can copy from dev to prod and update here for final testing.

[2021-02-02 17:34] gerrykelly commented on #380
@KCI-Ablowers
Right, I already updated the code so that updated mxd is acceptable in prod

[2021-02-02 18:34] cstevenson1 commented on #380
@KCI-Ablowers do you want a prod MXD so you don't have to resource? I believe the WQI team has one if that would be faster. I know they'll be needing it soon for annual reports.

[2021-02-02 18:57] KCI-Ablowers commented on #380
@cstevenson1 I should be able to copy it over pretty easily. If not, I will send you an email or a Teams message.

[2021-02-03 12:45] KCI-Ablowers commented on #380
@cstevenson1 The MXD has been replaced on ags2016 - Please test.

[2021-02-03 15:49] cstevenson1 commented on #380
@KCI-Ablowers are you sure you resourced the MXD? All of the maps for newer PID points are not zooming to the correct location. If we try an older one from 2019, it appears to be working fine, which would make sense if you didn't resource the MXD. The newer points wouldn't exist in dev, so the map wouldn't know where to zoom, which would explain why the map in prod is wrong yet the WQI team didn't

[2021-02-04 12:21] KCI-Ablowers commented on #380
@cstevenson1 I copied over the "WQIdev DE edits" MXD you sent on 1/26/21. If you already have one ready for Prod, can you send it to me or attach here? I'll replace it on the box.

[2021-02-04 18:03] mjuber-kci commented on #380
Attached is the prod MXD. Let us know if you have any issues.

[WQIdev_prod - DE Edits.zip](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/5927634/WQIdev_prod.-.DE.Edits.zip)

[2021-02-04 19:27] KCI-Ablowers commented on #380
@cstevenson1 @mjuber-kci - I replaced the MXD on ags2016 with the one attached above. Please test and let us know.

[2021-02-05 15:22] mjuber-kci commented on #380
@KCI-Ablowers we received a few server errors when trying to download reports, but it was successful after a few attempts. Map appears to be updated correctly.

[2021-02-05 15:30] KCI-Ablowers commented on #380
Thanks, @mjuber-kci. We can restart the service as needed.

[2021-02-05 15:30] #380 closed

[2021-02-08 12:10] KCI-Ablowers commented on #383
@cstevenson1 Have you had a chance to try this on your end?

[2021-02-09 15:10] cstevenson1 commented on #383
@KCI-Ablowers This worked on our end. The last path used was V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies

Is the 10.6 Copies folder the best place to grab MXD to click the checkbox?

[2021-02-10 11:01] KCI-Ablowers commented on #383
@cstevenson1 We can make this change to any MXD but I would recommend updating whichever version you have in the past for @kanglu666 to republish.

[2021-02-17 16:24] KCI-Ablowers commented on #247
https://firstmap.delaware.gov/arcgis/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer

[2021-02-23 16:42] KCI-Ablowers commented on #300
https://firstmap.delaware.gov/arcgis/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer

[2021-02-24 13:10] cstevenson1 opened #387 "Viewer Export Functionality is Down"
Client reached out this morning saying they were unable to export to csv from the web viewer. I tried myself and received the same error; "{"Message":"An error has occurred."}". I then tried exporting to File Geodatabase and received the message below.

![image](https://user-images.githubusercontent.com/16919898/109005056-8638fe80-7677-11eb-827f-131c97f44f09.png)

[2021-03-01 14:06] cstevenson1 commented on #387
The export functionality is working with the following caveat: export to csv cannot be used beyond the feature class level.

Exporting to file geodatabase or csv at the feature class level, i.e. a query on the Structures layer works as expected. Exporting a file geodatabase at a “view” level, i.e. query on the Manholes layer works as expected (exports Structures feature class for features captured

[2021-03-01 17:58] KCI-Ablowers commented on #387
@kanglu666 Can you please review @cstevenson's https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/387#issuecomment-787974861 above and recheck the configuration. If you need additional information or clarification, drop it here or send me an email.

[2021-03-03 22:51] KCI-Ablowers commented on #387
@cstevenson1 I found this comment from 2018 that seems to mimic the current issue with the viewer exports - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/1#issuecomment-398771073. Is that correct? @kanglu666 will review the code/logic today to see what the issue may be. He or I will comment here if we need any more information.

[2021-03-08 14:22] cstevenson1 opened #388 "Add Delaware City View"
A "Delaware City" user group should be added to the viewer. MXD for the user group is located at V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies

target_viewer_npdes_cdc_02_18_21_107

Is there a character limits for a label in the table of contents? We can modify Non-Delaware City Conveyances label if needed.

[2021-03-09 13:56] cstevenson1 opened #389 "Default Viewer to NPDES Widget"
Since the ES2M widget is no longer being pursued, DelDOT would like it to be removed from the Welcome Page since it may be deceiving.

![image](https://user-images.githubusercontent.com/16919898/110480707-c905c800-80b4-11eb-92d3-3e257845f9e7.png)

Additionally, since the NPDES widget is the only active one at this time and will be for the foreseeable future, DelDOT wants to know if it would be pos

[2021-03-23 18:14] cstevenson1 opened #390 "Update Supervisor List"
DelDOT has had a change in personnel/assignments and has requested we update our supervisors list. STEW DOUGLASS should be replaced with WAYNE LASHLEY. This change would need to be made throughout...database (look up tables/coded domains), reports, TSDM. We can handle field calculating the actual records as needed. I am unsure if/where STEW DOUGLASS is hard coded in TSDM process or reports but we

[2021-04-01 16:26] gerrykelly commented on #390
@KCI-Ablowers @cstevenson1
I updated the D_Maint_Work_Area domain as described (and I think verified that the edits persisted, with an ArcGIS bug I find that they sometimes revert)

The only other place I know supervisor info to be is in the LU_DISTRICT_SUPERVISORS
- WAYNE LASHLEY was correctly in that table for area 13, but there were no STEW DOUGLASS records/no records for area 11,12,14
- I adde

[2021-04-01 17:18] cstevenson1 commented on #390
@gerrykelly does DelDOT_Maximo_Supervisor_List need to be updated?

[2021-04-01 18:26] gerrykelly commented on #390
@KCI-Ablowers @cstevenson1
Yeah, thanks for catching that (it is not an ArcSDE registered table so I didn't see it where I was looking in SQL Server)
- That had the three entries for STEW DOUGLASS, replaced as shown
- There was no Area 13 records tho (?) ... so, I added one as shown.  Please correct if needed (or delete if there actually was a reason it was not in the table) or have me do it

![im

[2021-04-02 17:41] cstevenson1 commented on #383
@KCI-Ablowers V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies

target_viewer_npdes_101_Label_Option_106.mxd

As previously discussed, we were and still are having some issues when sourced to the sde database. If the MXD is sourced to a local copy, such as an extract, the symbology comes through as expected. Please let us know if this is just a

[2021-04-06 13:06] cstevenson1 commented on #387
@KCI-Ablowers per our discussions, I had a staff member test the export functionality. The red lines/ones that have N for Successful Export are the ones that appear to be having problems. To summarize, the follow are having issues exporting:

- All outfall related fields for Structures layer
- All fields for Underdrain Pipe Ends layer
- All fields for Control Structures layer
- All fields for Culv

[2021-04-06 13:10] KCI-Ablowers commented on #387
@kanglu666 Please review the https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/387#issuecomment-814104658 above and lets discuss ASAP.

[2021-04-06 13:20] cstevenson1 commented on #377
@KCI-Ablowers #383 has been updated.

V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies

target_viewer_npdes_101_Label_Option_106.mxd

As previously discussed, we were and still are having some issues when sourced to the sde database. If the MXD is sourced to a local copy, such as an extract, the symbology comes through as expected. Please let us

[2021-04-07 13:02] cstevenson1 commented on #390
@gerrykelly I confirmed the following with Matt:

-  D_Maint_Work_Area domain was updated as described in prod but I did not see the change in dev.

- LU_DISTRICT_SUPERVISORS snip above appears to match up with the MS4 supervisors, which would explain the absence of Stew Douglass. The new lines for areas 11, 12, and 14 can be removed. We only need Area 13 for Wayne Lashley.
- DelDOT_Maximo_Supervi

[2021-04-07 21:48] gerrykelly commented on #390
@cstevenson1 @KCI-Ablowers

Christina, I _can_ make those changes in PROD and make DEV the same if you would like, but so far as "Can KCI Newark update the domain/lookup tables?", that is exactly what I would suggest and I think that rather than me continuing with this, now would be the time to hand it off.  So I won't make any more changes unless requested and that way when you or whomever edits

[2021-04-09 18:42] KCI-Ablowers commented on #388
From @kanglu666 4/9/2021 -

“Delaware City” map service has been published ; and new user group view has been added in the dev viewer;
I also update the admin@kci.com to Delaware City group. Ready for testing.

https://devgis.kci.com/deldotwebviewer/index.html

[2021-04-13 17:38] cstevenson1 commented on #390
@KCI-Ablowers @gerrykelly

Thanks Gerry.

D_Maint_Work_Area - appears to have been properly updated in Prod; made the same changes in Dev

LU_DISTRICT_SUPERVISORS - new lines for areas 11, 12, and 14 were removed; kept Area 13 for Wayne Lashley; no changes needed in Dev

DelDOT_Maximo_Supervisor_List - new line for Area 13 was removed; area 11, 12, 14 looked fine in prod; made the same changes in

[2021-04-16 14:56] cstevenson1 commented on #388
@KCI-Ablowers A few minor edits needed to be made to MXD based on testing. Please re-publish.

[2021-04-30 15:10] kanglu666 commented on #388
CDC map service has been updated in dev, ready for testing.

https://devgis.kci.com/deldotwebviewer/index.html

[2021-04-30 16:56] cstevenson1 opened #391 "Unable to Download Conveyance Reports with Work Order"
@KCI-Ablowers Currently we are unable to download reports for conveyances with a work order in the viewer. Conveyances without work orders, structures without work orders, and structures with work orders are all working fine.

Below is an example of the server error we are receiving
![Conveyance Report with WO](https://user-images.githubusercontent.com/16919898/116727822-0f8bea80-a9b3-11eb-88c5-4d

[2021-04-30 17:04] cstevenson1 commented on #388
@KCI-Ablowers staff confirmed the changes, please push to prod

[2021-05-03 20:03] KCI-Ablowers commented on #391
@gerrykelly I encountered the same error in Prod, but not in dev for 0109029556 (The other two examples above are not in dev). Can you please investigate and let me know a LOE if it isn't a quick fix?

[2021-05-03 20:04] KCI-Ablowers commented on #388
@kanglu666 Please push to Prod.

[2021-05-06 14:53] #390 closed

[2021-05-06 15:27] cstevenson1 commented on #323
@KCI-Ablowers we have updated layers

[2021-05-06 15:32] cstevenson1 commented on #371
@KCI-Ablowers confirmed this is still broken in prod. Searching based on PERFORMANCE_RATING is not working at all now; generates 0 results.

[2021-05-06 16:23] cstevenson1 commented on #381
@KCI-Ablowers off

[2021-05-06 17:08] cstevenson1 commented on #222
@KCI-Ablowers could this be added to base map query?

[2021-05-06 17:14] cstevenson1 commented on #40
@KCI-Ablowers issue is no longer being observed

[2021-05-06 17:14] #40 closed

[2021-05-06 18:05] #344 closed

[2021-05-11 18:02] gerrykelly commented on #391
@KCI-Ablowers @cstevenson1
Should be fixed now (has to do with how the Python library for SQL Server handles GUIDs vs strings, compared to what used to work before we migrated prod to the "new" server.  I found this would have also happened for workorders related to swale points and fixed.  I don't see this exact problem elsewhere, but no easy way to ever be 100% sure.

[2021-05-11 18:17] KCI-Ablowers commented on #391
Thanks, @gerrykelly. @cstevenson1 Please test and let us know if the issue is cleared for conveyances.

[2021-05-12 14:17] kanglu666 commented on #388
CDC map service has been published in PROD,  ready for testing.
I also update the admin@kci.com to Delaware City group. Ready for testing.
https://newarkgis.kci.com/deldotwebviewer/index.html

[2021-05-12 16:06] cstevenson1 commented on #388
@KCI-Ablowers view is now functional in prod

[2021-05-12 16:06] #388 closed

[2021-05-12 16:45] cstevenson1 commented on #391
@gerrykelly @KCI-Ablowers this fixed the conveyance with WO report issue. We are still trying to troubleshoot the random structure ones that aren't working. We will log a new bug if we notice a pattern.

Structure 0304172750 is an example if Gerry beats us to it.

[2021-05-12 16:45] #391 closed

[2021-05-12 17:24] cstevenson1 opened #392 "Cannot Generate Feature Reports without Inspection"
DelDOT reported having sporadic issues generating feature reports. Structure 0304172750 was the example I was provided. After some troubleshooting, we believe it may be related to the lack of an inspection for features that include an inspection section on their report. For example, junction boxes do not get inspections and we have had no problems generating those reports. However, inlets do get i

[2021-05-12 21:47] gerrykelly commented on #392
@cstevenson1 @KCI-Ablowers
(odd that this never came up before ... I guess in development and testing the assumption was there was always at least one related inspection)

Updated in PROD so far as I think that reports work for the noted features and reports for features with inspection continue to work as they were.  But that only covers inlet & pipe and this problem is specific to each of inspec

[2021-05-12 21:59] KCI-Ablowers commented on #392
Thanks, @gerrykelly. I think making the updates for all types in Dev and testing is a good call. @cstevenson1 can you test the structures and conveyances you listed above in Prod to confirm the reports are working.

[2021-05-12 22:38] KCI-Ablowers commented on #236
@cstevenson1 is this easy to test? The https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/236#issuecomment-394227005 from @kanglu666 above indicates this was updated in Dev back in 2018.

[2021-05-12 23:00] KCI-Ablowers commented on #386
@kanglu666 Please use the text from the comment above to update the disclaimer. If there is little risk of cascading effects, please go ahead and make this change in Dev and Prod.

Please note that the drainage system details and any other information provided is for reference only. Actual conditions may differ from what the provided information shows. Attempts have been made to classify the infra

[2021-05-13 01:47] cstevenson1 commented on #75
@KCI-Ablowers Yes, everyone (including DelDOT) wants it to be sorted automatically to make it more user friendly. Many users don't realize the list can be sorted and/or from a quick glance don't realize the list isn't chronological, which has led to several incorrect assumptions.

[2021-05-13 02:10] cstevenson1 commented on #392
@gerrykelly @KCI-Ablowers No inspection data of any sort is uncommon but it's even more uncommon for someone to generate that report because 99% of the time, the user is generating a report to gather all the inventory and inspection data (with the most recent photos) in one neat form.

Either way, the examples above are now working in prod.

Just by looking at the table of contents, I know all con

[2021-05-13 13:48] KCI-Ablowers commented on #75
@cstevenson1 Understood, the list should load automatically in a descending (newest to oldest) order.

[2021-05-13 16:36] gerrykelly commented on #392
@cstevenson1 @KCI-Ablowers
It turned out that it was only inspectionless inlets and pipes with this particular problem.  The updates for other subtypes were so minor and safe that I did it prod & dev.
Also, seeing how some other queries we working without making the report fail, I revised the fix from yesterday (in prod and dev also) so that with no inspection, instead of omitting the section(s) I

[2021-05-13 17:30] KCI-Ablowers commented on #392
@gerrykelly I checked all of Christina's examples and was able to get a report successfully. @cstevenson1 Can you confirm and update or close the issue?

[2021-05-13 19:27] KCI-Ablowers commented on #58
updated PDF here - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/377#issuecomment-743802280

[2021-05-15 22:49] gerrykelly commented on #210
@cstevenson1 @KCI-Ablowers
Updated in dev and prod

[2021-05-15 23:08] gerrykelly commented on #329
![image](https://user-images.githubusercontent.com/8259136/118380595-f6895900-b5b0-11eb-8c52-59e983a29109.png)

[2021-05-17 15:30] KCI-Ablowers commented on #210
@cstevenson1 Please confirm and update or close the issue.

[2021-05-17 15:33] KCI-Ablowers commented on #323
@cstevenson1 Can you send us a path to the updated layers?

[2021-05-17 15:53] KCI-Ablowers commented on #111
related to https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/389

[2021-05-17 19:50] gerrykelly commented on #340
@cstevenson1 @KCI-Ablowers
Updated in DEV.  Some things are off with the dev sandfilter report's layout (but not worth spending time on), so just review for this new line and its report section.
Assign back to me if anything is wrong or when ready to go to PROD

[2021-05-17 20:27] gerrykelly commented on #341
@KCI-Ablowers
Once I finally found the problem, it was a one keystroke fix, so updated in prod and dev.
So, @cstevenson1 please close if you check an verify.

[2021-05-17 21:12] gerrykelly commented on #150
@KCI-Ablowers
- Another case where the update was clear and self-contained, so I updated in PROD as well as DEV
- I also updated the query for subdivision in a couple other places on the report to match what I had done for #329 (also note that I had stated in that issue: "For structures there were about 660 SUBDIVISION_NAME_FIELD = 'NONE', so I now make them 'N/A' ", that number should have read 6

[2021-05-19 20:58] gerrykelly commented on #154
@KCI-Ablowers
Another case where once updated it made sense just to do it in PROD also.
and @cstevenson1 another check it and, if verified, close the issue

[2021-05-20 15:18] cstevenson1 opened #393 "BMP Inspection Report - Remove "No" before Prior Performance Rating"
When you generate a BMP Inspection report, the report pulls the performance rating from the selected inspection year and the performance rating from the previous inspection. In cases where there is no previous inspection, it is currently set up to populate N/A next to "No Prior Performance Rating" as shown below. We would like the "No" before prior to be removed so it only says "Prior Performance

[2021-05-20 16:58] gerrykelly commented on #211
![image](https://user-images.githubusercontent.com/8259136/119019246-00bda580-b96b-11eb-81ee-3a5b09d47a5b.png)

[2021-05-20 20:32] gerrykelly commented on #211
@gerrykelly
Just pasting in the new functions here to have a copy outside the database:

USE [deldot_migration2]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTitleCase]    Script Date: 5/20/2021 4:32:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[fnTitleCase] (@InputString VARCHAR(4000) )
RETURNS VARCHAR(4000)
AS
BEGIN
DECLARE @Index INT
DECLARE @Char CHAR

[2021-05-21 16:25] cstevenson1 commented on #212
![image](https://user-images.githubusercontent.com/16919898/119169083-9c184e80-ba2f-11eb-8c80-38afcc478647.png)

fixed in dev and prod

[2021-05-21 16:25] #212 closed

[2021-05-21 16:28] cstevenson1 commented on #154
![image](https://user-images.githubusercontent.com/16919898/119169455-08934d80-ba30-11eb-8533-6e1b19138440.png)

fixed in dev and prod

[2021-05-21 16:28] #154 closed

[2021-05-21 16:44] cstevenson1 commented on #341
WQI team verified updated in dev and prod

[2021-05-21 16:44] #341 closed

[2021-05-21 16:47] cstevenson1 commented on #210
@gerrykelly @KCI-Ablowers The new title has resulted in the documentation dropping to a second page in multiple cases, which is not desired. Please adjust title and/or spacing below it to fit on one page. Example below is from Structure 0110222993

![image](https://user-images.githubusercontent.com/16919898/119171460-9c661900-ba32-11eb-876e-ae34330e12cb.png)

[2021-05-21 17:03] cstevenson1 commented on #340
@gerrykelly @KCI-Ablowers verified in dev. push to prod

![image](https://user-images.githubusercontent.com/16919898/119172973-9113ed00-ba34-11eb-8458-6b70d52354dd.png)

[2021-05-21 17:17] cstevenson1 commented on #150
WQI team confirmed updated in dev and prod

[2021-05-21 17:17] #150 closed

[2021-05-21 17:24] gerrykelly commented on #210
@cstevenson1 @KCI-Ablowers
Updated in PROD and TEST.  This WQI and another that I saw with the same issue are now back to having the tracking form on one page.  Hopefully that means that none go to two pages or produce a blank page afterward, but I don't know why some were still staying on one page after I added the title.

[2021-05-21 17:25] cstevenson1 commented on #329
WQI team verified updated in dev and prod

[2021-05-21 17:25] #329 closed

[2021-05-21 17:34] cstevenson1 commented on #211
@gerrykelly thanks Gerry. Current methodology is all caps for the address field and we're moving away from RT and SR at the beginning so your fixes will likely work fine for our purposes. Some of the weird looking addresses are from old migrated data that should hypothetically be updated when our staff touches it. Please push to prod

[2021-05-21 17:38] cstevenson1 commented on #392
confirmed they are now generating on our end. will close issue for now and reopen if new instances are reported

[2021-05-21 17:38] #392 closed

[2021-05-21 18:06] cstevenson1 commented on #75
@kanglu666 @KCI-Ablowers push to prod

[2021-05-21 18:20] cstevenson1 commented on #210
confirmed in prod. will reopen if new instances are identified. thanks!

[2021-05-21 18:20] #210 closed

[2021-05-21 18:36] gerrykelly commented on #211
@cstevenson1 @KCI-Ablowers
Pushed to PROD

[2021-05-21 18:41] gerrykelly commented on #340
@cstevenson1 @KCI-Ablowers
Pushed to PROD

[2021-05-24 17:58] cstevenson1 commented on #369
@KCI-Ablowers DelDOT reported having this issue again. Please priortize

[2021-05-25 12:34] cstevenson1 commented on #386
@KCI-Ablowers does not appear to be updated in either

Dev
![image](https://user-images.githubusercontent.com/16919898/119498701-e5201980-bd33-11eb-974e-d956eb090bcc.png)

Prod
![image](https://user-images.githubusercontent.com/16919898/119498763-f79a5300-bd33-11eb-9b2b-192ecc642dcc.png)

[2021-05-25 13:38] kanglu666 commented on #389
@cstevenson1 if the use is an new user by default, the new user has no access to the NPDES Widget, then he/she need to be in the Welcome page to request access first.
Option 1: keep it as is
Option 2: Users have access to the Widget default to the NPDES, all new users default to the Welcome page.

[2021-05-25 15:42] kanglu666 commented on #369
updated, ready for testing in in both dev and PROD

[2021-05-25 15:48] KCI-Ablowers commented on #386
@cstevenson1 Can you clear your cache and try again? Dev is updated on my end -

![image](https://user-images.githubusercontent.com/35460336/119528364-1eb24e00-bd4f-11eb-992f-010261477185.png)

[2021-05-25 15:52] KCI-Ablowers commented on #389
@kanglu666 I vote for option two unless there is a case where a user will (or should) never have access to the widget. @cstevenson1 Could you get Matt and Bruce's thoughts on this too?

[2021-05-25 15:59] gerrykelly commented on #393
@cstevenson1 @KCI-Ablowers
Done in dev & prod

[2021-05-25 16:53] gerrykelly commented on #393
@KCI-Ablowers @cstevenson1
(I also updated this for the dev & prod report-runner versions of the BMP reports, but would usually not remember to that.  So, let's try to keep the report-runner versions of the BMP reports in sync and remind me if I missed anything)

[2021-05-25 18:55] gerrykelly commented on #360
@KCI-Ablowers

•	I wound up just going ahead and revising the report runner GP task so that it could also bulk-generate (I did not limit by anything – like, say DelDOT owned -- except the date range)
•	This is kind of a kluge, but a lot less effort than adding a dedicated, properly named, task to the GP service.
•	If this feature is to be called from the UI then all Lu would need to do (other than

[2021-05-26 15:16] cstevenson1 commented on #222
@KCI-Ablowers Just met with DelDOT and base map query is sufficient

[2021-05-27 00:55] kanglu666 commented on #358
CITY has been added into the Geographic Filters Query, ready for testing in dev

[2021-05-27 17:52] kanglu666 commented on #383
viewer map services have been republished on dev, ready for testing in dev

[2021-05-28 19:54] kanglu666 commented on #377
NPDES export legend PDF  has been updated.
Please update all others:
CDC, NCC, Maintenance, etc

[2021-05-31 17:16] cstevenson1 commented on #386
@KCI-Ablowers confirm in dev. please push to prod

[2021-05-31 17:23] cstevenson1 commented on #325
@KCI-Ablowers fixed in dev using the example above. push to prod

[2021-05-31 17:37] cstevenson1 commented on #358
@KCI-Ablowers I don't believe this is functioning as expected. The Geographic Filters workspace is supposed to be more of a spatial query than attribute. This helps ignore typos and blanks that are actively being cleaned up (see example below). Attribute queries are accomplished through the Advanced Query Builder workspace. Additionally, municipality is not the same as City. Every feature is assig

[2021-06-01 01:38] cstevenson1 commented on #389
@KCI-Ablowers we frequently have users that request access to the widget but DelDOT doesn't approve the request so the account more of less sits in limbo with no user role assigned. These users can still theoretically access the welcome page but not the widget. If @kanglu666 is saying that any user that has been granted access, will be defaulted to the NPDES widget (not have to click on NPDES Web

[2021-06-01 14:43] KCI-Ablowers commented on #389
@kanglu666 If a user is not automatically assigned permissions to access the NPDES widget, will they still hit the "welcome page" with an empty map?

[2021-06-01 15:00] KCI-Ablowers commented on #358
@cstevenson1 we should be using - DelDOTBase.DBO.Municipalities - Municipalities, correct?

![image](https://user-images.githubusercontent.com/35460336/120345535-8e34ba00-c2c8-11eb-9020-d612f771817a.png)

[2021-06-01 15:13] KCI-Ablowers commented on #222
@cstevenson1 Do you have a "maintenance yard" feature class? There are only "maintenance areas" in DelDOTBase.

[2021-06-01 15:14] KCI-Ablowers commented on #211
@cstevenson1 please confirm and close.

[2021-06-02 01:24] kanglu666 commented on #389
updated: Users have access to the Widget default to the NPDES, all new users default to the Welcome page.

ready for testing in dev

[2021-06-03 00:28] KCI-Ablowers commented on #360
@cstevenson1 We should review this process and get your comments here before having @kanglu666 make viewer updates.

[2021-06-03 00:31] #211 closed

[2021-06-03 00:31] #340 closed

[2021-06-03 00:39] KCI-Ablowers commented on #162
@kanglu666 will remove the pages in dev and update here.

[2021-06-03 00:45] KCI-Ablowers commented on #328
@kanglu666 will debug in dev and update here.

[2021-06-03 01:19] kanglu666 commented on #328
issue fixed, ready for testing in dev

[2021-06-03 01:53] kanglu666 commented on #44
updated, ready for testing in dev

[2021-06-03 17:57] cstevenson1 commented on #44
confirmed in dev for manholes, inlets, pipes, and swales. push to prod

[2021-06-03 18:02] cstevenson1 commented on #328
tested a handful of pipe conveyances in dev and all worked. push to prod

[2021-06-03 18:16] cstevenson1 commented on #222
@KCI-Ablowers attached a gdb containing a DelDOT maintenance yards feature class. Users would search based on the "NAME" field, ie Chapman, Bear, Talley etc. Please note that the Talley maintenance yard is a multi part feature. If it highlights all 3 polygons but technically zooms to one, that should be fine.

[DelDOT_Maintenance_Yards.gdb.zip](https://github.com/leeensminger/DelDOT-NPDES-Viewer/f

[2021-06-03 22:43] kanglu666 commented on #45
updated, ready for testing in dev

[2021-06-03 22:55] kanglu666 commented on #110
updated, ready for testing in dev

[2021-06-04 19:10] gerrykelly commented on #134
@KCI-Ablowers
Updated in DEV and PROD (also space added between title block and structure location table).  That line appeared in many report pages, but revising code in a couple places should cover them all ....
So, @cstevenson1 please check a couple reports as a representative sample and close if good.

[2021-06-07 13:49] kanglu666 commented on #162
paging has been removed, also filter has been added for Name, first name and last name columns. ready for testing in dev.

[2021-06-07 14:19] KCI-Ablowers commented on #387
@kanglu666 have you reviewed the excel file @cstevenson1 provided?

[2021-06-07 16:51] kanglu666 commented on #234
updated, ready for testing in dev

[2021-06-07 16:52] kanglu666 commented on #236
updated, ready for testing in dev

[2021-06-07 17:09] kanglu666 commented on #156
"Conveys Stream" has been added in the feature detail for pipe. ready for testing in dev

[2021-06-07 18:04] kanglu666 commented on #111
User Notification has been added. and the select by map tool will be available when inside the NPDES widget.
Ready for testing in dev

[2021-06-07 18:09] cstevenson1 commented on #369
verified in dev and prod

[2021-06-07 18:09] #369 closed

[2021-06-07 18:19] cstevenson1 commented on #45
@KCI-Ablowers push to prod

[2021-06-07 18:33] cstevenson1 commented on #134
@KCI-Ablowers staff confirmed a representative sample, closing issue

[2021-06-07 18:33] #134 closed

[2021-06-08 01:28] cstevenson1 commented on #162
@KCI-Ablowers paging removal and filters confirmed in dev. push to prod. Load time has increased due to the number of users on a single page now but it is still significantly faster than scrolling through all pages. We may want to leave as enhancement or open new bug to decrease load time in the future

[2021-06-08 01:37] cstevenson1 commented on #393
@KCI-Ablowers confirmed in dev, prod, and prod report-runner

[2021-06-08 01:37] #393 closed

[2021-06-08 01:44] cstevenson1 commented on #156
@KCI-Ablowers confirmed in dev. Conveys Stream is visible in query and in Conveyances tab. Push to prod. May have to add enhancement to display details for the stream in the feature details.

[2021-06-08 01:58] cstevenson1 commented on #389
@KCI-Ablowers ES2M widget should be removed from UI on the welcome page. Defaulting to NPDES widget appears to be working for user that has access to the NPDES widget. User without widget access is defaulted to welcome page.

![image](https://user-images.githubusercontent.com/16919898/121109795-39b6a080-c7da-11eb-9e63-6a83cd5ab374.png)

[2021-06-08 13:14] KCI-Ablowers commented on #156
@kanglu666 push to prod and update here. @cstevenson1 if you want to add an enhancement please do.

[2021-06-08 17:15] KCI-Ablowers commented on #360
https://deldot-agsdev/arcgis/rest/services/DelDotReports/ReportRunner/GPServer

[2021-06-08 17:42] KCI-Ablowers commented on #389
@kanglu666 please drop the ES2M widget and update here.

[2021-06-08 18:21] cstevenson1 opened #394 "WQI Report - date line on separate page"
WQI team reported the following: "The issue where the date line is on a separate page from the memo text is still present – see attached example"

![image](https://user-images.githubusercontent.com/16919898/121230703-91e2b680-c85d-11eb-8831-fc1b962fbf8e.png)

Example is PID Point 2464

[2021-06-08 18:25] cstevenson1 opened #395 "WQI Report - Update Referred By"
WQI Team asked the following :
can the STOPPIT option be changed from “STOPPIT Campaign” to “302STOPPIT Hotline.” (with the period at the end). And can all of the Determination options have periods at the end as well?

Example below was manually edited. @gerrykelly is this coded on your end or do we just need to update a coded domain?

![image](https://user-images.githubusercontent.com/16919898/12

[2021-06-09 14:55] kanglu666 commented on #138
Title font size updated, should fit well now. Ready for testing in dev

[2021-06-09 14:59] gerrykelly commented on #395
@cstevenson1 @KCI-Ablowers
I added the period after the determination value (in dev and prod).  It occurred to be that you you might want to have me do that for the "referred by" if/when you update values, rather than having the period actually part of the value in the table.  But, unassigning myself on this for now; let me know.

[2021-06-09 15:02] kanglu666 commented on #389
ES2M widget has been removed from UI on the welcome page.

[2021-06-09 15:22] gerrykelly commented on #394
@cstevenson1 @KCI-Ablowers
With the Python reporting code I am using I cannot control where page breaks occur (there is no keep together, keep with next ... option), so while not ideal, this is expected.  To resolve it I would need to rewrite a fairly complicated routine to generate this section in quite a different manner.  I think this would take a full day at least.
Let me know.

[2021-06-09 15:38] KCI-Ablowers commented on #394
@cstevenson1 Given the info from Gerry above, do you think this issue is large enough to warrant the time for development and testing?

[2021-06-09 15:41] KCI-Ablowers commented on #389
Appears to function as expected when signing in as the admin@kci.com account.

[2021-06-09 18:39] gerrykelly commented on #164
@cstevenson1 @KCI-Ablowers
And, after all that I guess there is still the fundamental question that was the first (and my) comment from Sep. 2017:
_If File_Attachment is NOT being written to by the app and kept in sync with File_Attachments_Cloud then **if it should be it needs to be fixed.**_

[2021-06-09 20:17] gerrykelly commented on #164
@KCI-Ablowers
One more thing I noticed is that WQI_ATTACHMENTS is not used.  Should we delete from SDE?

[2021-06-10 21:37] cstevenson1 commented on #389
push to prod

[2021-06-14 12:38] cstevenson1 commented on #386
@KCI-Ablowers per DelDOT request, please update disclaimer to read.

The drainage system details and any other information provided is for reference only.  Actual conditions may differ from what the provided information shows.  Attempts have been made to classify the infrastructure as DelDOT, Municipality, Private or Unknown.  The distinction between DelDOT and Municipality has been based on a rev

[2021-06-14 13:04] cstevenson1 commented on #234
@KCI-Ablowers please add a period to the end of the sentence

[2021-06-14 13:09] cstevenson1 commented on #236
@KCI-Ablowers please remove the extra "!" at the end of the sentence

[2021-06-14 14:14] cstevenson1 commented on #111
@KCI-Ablowers since dev now defaults to NPDES widget, is this bug still applicable? I could not get the user notification to appear but the select by map tool was enabled the whole time (since it defaults to NPDES widget). Close bug if user notification will not be needed now.

[2021-06-14 14:42] cstevenson1 commented on #138
@KCI-Ablowers Title did not fit and no warning was given

![image](https://user-images.githubusercontent.com/16919898/121910891-3c932300-ccfd-11eb-833f-2b618fda9f8e.png)

[2021-06-14 17:15] KCI-Ablowers commented on #386
@kanglu666 Please update the disclaimer with the text above and copied below. Reassign to @cstevenson1 when you finish.

The drainage system details and any other information provided are for reference only. Actual conditions may differ from what the provided information shows. Attempts have been made to classify the infrastructure as DelDOT, Municipality, Private or Unknown. The distinction betwe

[2021-06-14 17:16] KCI-Ablowers commented on #234
@kanglu666 please add a period as shown above - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/234#issuecomment-860667623

[2021-06-14 17:17] KCI-Ablowers commented on #236
@kanglu666 Please drop the extra exclamation point at the end of the warning text as shown above - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/236#issuecomment-860671505

[2021-06-14 17:26] KCI-Ablowers commented on #138
@kanglu666 I assume the font size is static based on the settings in the MXD, so its doesn't "scale" based on the amount of text or other elements on the layout. Could we adjust the text area in the MXD so it could fit two rows of text? I'm thinking it would automatically push the text to the next line if it hits the end of the text area.

[2021-06-14 17:35] KCI-Ablowers commented on #111
@cstevenson1 I think we can close this since #389 was successful. I don't think user notification is necessary since the button on the map viewer toolbar is available on load.

[2021-06-14 17:35] #111 closed

[2021-06-14 17:53] cstevenson1 commented on #46
@KCI-Ablowers

Confirmed in dev for structure, conveyance, and BMP. Push to prod

![image](https://user-images.githubusercontent.com/16919898/121936658-dd8ed780-cd17-11eb-94de-9301c28a46ac.png)

[2021-06-14 18:18] kanglu666 commented on #236
updated, ready for testing in dev

[2021-06-15 13:55] kanglu666 commented on #386
updated, ready for testing in dev.

NOTE: the hyperlink will not be clickable in the DISCLAIMER, since it's a static background image.

[2021-06-15 14:08] kanglu666 commented on #234
updated, ready for testing in dev

[2021-06-15 15:55] cstevenson1 opened #396 "WQI Report - "Other" Photos Out of Order"
Currently in PROD, WQI photos in the report are ordered by category...Landscape, Structure, then Other. The Other photos are not ordered chronologically and the WQI team says they are also not arranged based on the order which they were entered, which should be consistent with the order of their OBJECTIDs. They would like the order to stay Landscape, Structure, Other BUT would like the Other photo

[2021-06-15 17:59] cstevenson1 commented on #360
@gerrykelly @KCI-Ablowers works great; only change request at this time is for file name. Year is not needed so we would like the PDF name to reflect the BMP Number

Current: DelDOT_NPDES_BMP _469_YR2020_report.pdf
Proposed: BMP 758.pdf

[2021-06-15 18:09] cstevenson1 commented on #358
@KCI-Ablowers correct, assuming it's relatively current (since town boundaries rarely change). Layer should match https://firstmap-delaware.opendata.arcgis.com/datasets/346fa5b8f19148f8a323b8fb3db64245_3/explore?location=39.145250%2C-75.387000%2C9.55

[2021-06-15 18:16] cstevenson1 commented on #394
@KCI-Ablowers @gerrykelly vote was no but to leave issue as enhancement for later down the road potentially.

[2021-06-15 18:31] cstevenson1 commented on #395
@KCI-Ablowers I'm not seeing the period on my end.

![image](https://user-images.githubusercontent.com/16919898/122104515-bc94b800-cde5-11eb-9d94-74771efea04a.png)

[2021-06-15 18:41] cstevenson1 commented on #164
@KCI-Ablowers KCI Newark does not use the regular attachment tables in the field tool/database. We were instructed to upload through the viewer a few years ago (excluding regular photo attachments for inspections). We would prefer any unnecessary/unused tables be deleted to reduce confusion.

[2021-06-15 18:51] cstevenson1 commented on #383
@KCI-Ablowers I don't think this is working properly; see snip below. What was determined from my previous comment? https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/383#issuecomment-812635301

![image](https://user-images.githubusercontent.com/16919898/122107262-e4394f80-cde8-11eb-8d25-7706e1619168.png)

[2021-06-15 18:55] cstevenson1 commented on #234
@KCI-Ablowers period has been added. push to prod

![image](https://user-images.githubusercontent.com/16919898/122107998-b9033000-cde9-11eb-975b-13f4bf797f5c.png)

[2021-06-15 20:05] cstevenson1 commented on #236
@KCI-Ablowers push to prod

![image](https://user-images.githubusercontent.com/16919898/122116368-8827f880-cdf3-11eb-968f-59da50488b86.png)

[2021-06-16 15:05] gerrykelly commented on #395
@cstevenson1 @KCI-Ablowers

As described, I had not added the period after the referring party bc I was not sure if you were going to include it as part of your new values (which wouldn't make sense I guess).  I just added it (dev & prod).

- And just a reminder that with updating the domain values, you also need to update the existing values in the table.

![image](https://user-images.githubuserc

[2021-06-16 15:38] gerrykelly commented on #360
@cstevenson1 @KCI-Ablowers
I updated the file naming and I updated the code in prod (looks like it works, fine, but always good for someone else to test)

[2021-06-16 15:50] KCI-Ablowers commented on #358
@cstevenson1 looks like the obvious changes are in Cheswold and Millsboro. We can replace it with the version you provided above if that is ok with you.

[2021-06-16 16:22] cstevenson1 commented on #358
@KCI-Ablowers Yes, please replace with most current version from FirstMap.

[2021-06-16 16:25] cstevenson1 commented on #395
@gerrykelly sorry misinterpreted your comment. Confirmed in PROD but could not get a WQI report to generate in dev; received Server Error. Were you able to generate one in dev?

KCI Newark will update domain in dev and prod, then close issue once it has been verified on the report.

[2021-06-16 16:25] KCI-Ablowers commented on #358
@kanglu666 Can you replace the current feature class in DelDOTBase with the attached shapefile? will you need to update MXDs and republish if we do the update "in-place?"  [Delaware_Boundaries.zip](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/6664431/Delaware_Boundaries.zip)

[2021-06-16 16:36] gerrykelly commented on #395
@cstevenson1
I just got the same error.  I restarted the service and it worked fine.  Seems like DEV AGS is always sensitive to updates and this happens, I should try to remember to always restart as a matter of practice.

[2021-06-16 17:44] gerrykelly commented on #396
@cstevenson1 @KCI-Ablowers
I updated this in dev and prod with an order by clause of:

- order by (case WQI_PHOTO_CATEGORY when 'Landscape' then 1 when 'Structure' then 2 else  3 end ), isnull(try_convert(date, right(trim(ph.WQI_PHOTO_COMMENTS),8) , 10),'1/1/1900'), objectid

Which means that photos will be ordered by:
- Landscape
- Structure
- Others with no date by objectid
- Others with date or

[2021-06-16 18:01] gerrykelly commented on #396
@cstevenson1 @KCI-Ablowers

I couldn't resist going back and updating the query to strip out parenthesis and periods when looking for the date.  So that is now fine (I can't see adding any more to the logic tho) WQI with object 26425 is a good test

[2021-06-17 00:40] KCI-Ablowers opened #397 "Update First Map URLs"
Update 7/7/21 - Database upgrades are impacting additional URLs listed in the attached PDF.
[FirstMap_UpdatedURLs_20210707.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/6780637/FirstMap_UpdatedURLs_20210707.pdf)

Update URL for Ortho imagery to new URL - https://imagery.firstmap.delaware.gov/imagery/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer

Lidar does not appear to be

[2021-06-18 14:18] KCI-Ablowers commented on #72
@kanglu666 Consensus is to update the "select by map" to work off object id. Also, remove paging from the results. Depending on performance, we will investigate providing a prompt indicated increased load times based on the count.

[2021-06-18 14:45] KCI-Ablowers commented on #358
PID points should be added to the advanced query builder (#331) in anticipation of the geographic filter being replaced by an updated advanced query builder query.

[2021-06-20 23:46] kanglu666 commented on #138
resized the title text fond size. ready for testing in dev

[2021-06-21 17:35] cstevenson1 commented on #44
confirmed in prod for manholes, inlets, pipes, and swales

[2021-06-21 17:35] #44 closed

[2021-06-21 17:38] cstevenson1 commented on #162
@KCI-Ablowers confirmed in prod and performance is better than dev. I'll create an enhancement if performance goes down drastically.

[2021-06-21 17:38] #162 closed

[2021-06-21 18:18] cstevenson1 commented on #360
@gerrykelly I have a feeling I'm missing something....

I successfully ran the expanded functionality reports using BMP_INSPECTIONS in prod and the file naming appears correct (i.e. BMP 758.pdf). However, I was unsuccessful in running the BMP_WORKORDERS task; see message below. I tried again and it said successful but there were no reports generated and I know BMP 106 should have at least been gen

[2021-06-21 20:32] gerrykelly commented on #360
@cstevenson1

Nope, you weren't missing anything, it was just that in adding the new functionality I introduced an error into what was working before -- as caught by your regression testing (as they call it)
Should be good now.

[2021-06-22 13:04] kanglu666 commented on #161
Edit selected query statement function has been added in viewer, ready for testing in dev.

Note: double click record that needs to be edit, after edit, click the update button

[2021-06-22 17:42] KCI-Ablowers commented on #300
@kanglu666 Can you replace the URL here - https://imagery.firstmap.delaware.gov/imagery/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer and republish? I'm hoping that the tiles may be updated.

[2021-06-22 17:43] KCI-Ablowers commented on #323
@cstevenson1 to provide updated data and we will replace in the MXD(s) and republish.

[2021-06-22 17:58] KCI-Ablowers commented on #383
Works when sourced to a local copy in the MXD, but currently appears as above in Dev (https://user-images.githubusercontent.com/16919898/122107262-e4394f80-cde8-11eb-8d25-7706e1619168.png) when sourced to the SDE.

[2021-06-22 18:01] KCI-Ablowers commented on #381
@kanglu666 @KCI-Ablowers We need to turn off the drainage areas in the Dev MXD and republish. Prod is displaying as it should be in the report.

[2021-06-22 21:19] KCI-Ablowers commented on #222
@kanglu666 Can you confirm the steps below to complete this issue in dev and prod?

- Add Maintenance Yards to DelDOTBase
- Add Maintenance Yards to Base Data MXD (or would this feature need to be in all of the "viewer group" MXDs?)
- Add Maintenance Yards to Base Map Query - Layer List
- Test
- Update symbology PDFs, etc.

[2021-06-22 21:40] KCI-Ablowers commented on #331
PID points should be added to the advanced query builder (#331) in anticipation of the geographic filter being replaced by an updated advanced query builder query.

[2021-06-23 17:58] kanglu666 commented on #300
new ortho map has been updated in dev viewer, ready for testing in dev

[2021-06-23 18:07] kanglu666 commented on #222
Yes, the steps are correct

[2021-06-23 18:14] kanglu666 commented on #42
updated, ready for testing in dev

[2021-06-23 19:50] gerrykelly commented on #221
Appears to be resolved in DEV by adding the following to the <system.webServer> section of the webconfig.

	  <security>
		<requestFiltering>
		  <requestLimits maxAllowedContentLength="2147483648" />
		</requestFiltering>
	  </security>

[2021-06-23 20:23] cstevenson1 commented on #396
@gerrykelly @KCI-Ablowers WQI team checked a few in prod (limited options in dev due to outdated data) and are satisfied with how it is currently working.

[2021-06-23 20:23] #396 closed

[2021-06-23 20:39] gerrykelly commented on #221
@KCI-Ablowers
Tested in PROD and 170MB+ file upload worked.  Removing my assignment.

[2021-06-24 12:29] cstevenson1 commented on #328
@KCI-Ablowers confirmed in prod

[2021-06-24 12:29] #328 closed

[2021-06-25 04:06] #389 closed

[2021-06-25 04:10] cstevenson1 commented on #42
@KCI-Ablowers confirmed in dev. push to prod

![image](https://user-images.githubusercontent.com/16919898/123368377-b6bb7700-d549-11eb-8a7e-bf36d09a49e5.png)

[2021-06-25 04:12] cstevenson1 commented on #46
confirmed in prod

[2021-06-25 04:12] #46 closed

[2021-06-25 04:25] cstevenson1 commented on #138
@KCI-Ablowers push to prod. It doesn't seem like it pushes to the next line but the text has been resized. Pending DelDOT feedback, we can open an enhancement to restrict or warn users on a character limit.

![image](https://user-images.githubusercontent.com/16919898/123369244-66451900-d54b-11eb-81c3-b83970a5c2e5.png)

![image](https://user-images.githubusercontent.com/16919898/123369441-c3d96580-

[2021-06-26 02:44] cstevenson1 commented on #397
@KCI-Ablowers unable to directly attach zipped gdb. Sent via email

[2021-06-26 02:45] cstevenson1 commented on #323
@KCI-Ablowers unable to directly attach zipped gdb. Sent via email

[2021-06-28 13:29] cstevenson1 commented on #234
@KCI-Ablowers confirmed in prod

[2021-06-28 13:29] #234 closed

[2021-06-28 13:32] cstevenson1 commented on #236
@KCI-Ablowers confirmed in prod

[2021-06-28 13:32] #236 closed

[2021-06-28 14:38] cstevenson1 commented on #45
@KCI-Ablowers confirmed in prod

[2021-06-28 14:38] #45 closed

[2021-06-28 17:31] cstevenson1 commented on #156
@KCI-Ablowers confirmed in prod; will add enhancement pending client feedback

[2021-06-28 17:31] #156 closed

[2021-06-28 17:44] cstevenson1 commented on #325
@KCI-Ablowers confirmed in prod

[2021-06-28 17:44] #325 closed

[2021-06-28 17:51] cstevenson1 commented on #161
@KCI-Ablowers let's table this one until next FY since changing it may take longer than we have time for. Couple notes for whenever we pick this bug back up:

1. Typo in the warning message if you click Update before modifying the query
2.

[2021-07-08 00:33] KCI-Ablowers commented on #397
@gerrykelly Are you using any of the services above for reports?

[2021-07-08 00:34] KCI-Ablowers commented on #381
@gerrykelly Can you send me a path to the Dev report MXDs? I can make the change above and @kanglu666 can republish.

[2021-07-08 13:32] KCI-Ablowers commented on #383
The issue appears to be with the "advanced renderer" settings not applying to the feature service when published. Link to the 10.6 support page - https://desktop.arcgis.com/en/arcmap/10.6/map/publish-map-services/20027-layer-uses-advanced-renderer-settings.htm. Excerpt below -

I changed the symbology order a few times in the standard properties, but the swales still do not always draw above the p

[2021-07-08 17:36] KCI-Ablowers commented on #222
@kanglu666 can you load the feature in the attached GDB - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/222#issuecomment-854079400 into DelDOTBase?

[2021-07-08 18:25] kanglu666 commented on #331
PID Points query has been added in Advanced query section, ready for testing in dev

[2021-07-08 18:46] kanglu666 commented on #164
We are using the Viewer to upload all attachments to the Azure Cloud and store the records in the File_Attachments_Cloud table in the devDeldot database.

File_Attachments table has the original records, and we loaded those files to the Azure Cloud at the very beginning, then never use the File_Attachments table anymore.

[2021-07-08 18:47] kanglu666 commented on #164
And yes, we should do a database cleaning up at some point.

[2021-07-08 18:59] kanglu666 commented on #358
@KCI-Ablowers  as we discussed earlier, we are not doing the spatial query in the web viewer, all the geographic filter in viewer is based on the Domain table and attribute.

Move this to future enhancement, since this is a work flow change, and need some effort.

[2021-07-08 19:09] KCI-Ablowers commented on #323
@kanglu666 are the county parcel layers only present in the "BaseData_1_Primary" MXD? Path -

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\fieldtool

Parcel layers @cstevenson1 mentioned above https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/323#issuecomment-868932809
[SharePoint - Parcels By County](https://kci365.sharepoint.com/:u:/s/DelDOT/Eds7U4X

[2021-07-08 20:14] KCI-Ablowers commented on #395
@cstevenson1 @gerrykelly any status update for this issue? I think it may have moved to an email thread.

[2021-07-09 19:08] kanglu666 commented on #58
NPDES export legend PDF has been updated.
Please update all others:
CDC, NCC, Maintenance, etc

[2021-07-09 19:30] cstevenson1 commented on #331
@KCI-Ablowers push to prod

[2021-07-12 12:53] kanglu666 commented on #383
not sure what the solution is. add an new integer field apply 1 for high priority features , 2 for low priority features ,and do a sort in the table?   not sure if it will work as expected or mess up anything else for the rendering,

[2021-07-12 12:56] kanglu666 commented on #323
We need to do a database back up first. this will affect the field tool once the parcel layer updated for mpk

[2021-07-13 16:56] KCI-Ablowers commented on #58
@cstevenson1 Do you know off hand which views/groups the current PDF can be reused for?

[2021-07-13 18:52] gerrykelly commented on #331
@KCI-Ablowers
Just removing my assignment.  I don't think I have a part in this one.

[2021-07-13 19:11] gerrykelly commented on #381
@cstevenson1 @KCI-Ablowers
I unchecked the drainage areas in the DEV mxd that is the image source (but there is still time to go the other way and turn it on in PROD since it looks nicer with the DAs :-) )

[2021-07-13 19:26] gerrykelly commented on #397
@KCI-Ablowers

**I updated from:**

Service Name: DE_Imagery/DE_Imagery_2017
Connection: Internet
Server: https://firstmap.delaware.gov/arcgis/services
URL: https://firstmap.delaware.gov/arcgis/services/DE_Imagery/DE_Imagery_2017/ImageServer

**To:**

Service Name: DE_Imagery/DE_Imagery_2017
Connection: Internet
Server: https://imagery.firstmap.delaware.gov/imagery/services
URL: https://imagery.fi

[2021-07-13 19:47] KCI-Ablowers commented on #397
@gerrykelly I successfully generated BMP reports in dev and prod. Both report's reference maps showed the aerial imagery.

[2021-07-13 19:47] #397 closed

[2021-07-13 22:36] KCI-Ablowers commented on #383
I _assume_ this is why so many features are currently missing in Dev. I took a look at the definition query applied to structures in the "target_viewer_npdes_101_Label_Option_106" MXD. Right now, the query is - "STRUCTURE_TYPE <> 'Underdrain Pipe End' AND STRUCTURE_COMMENTS NOT IN ('UNDERDRAIN PIPE CONNECTION')" which matches 109,515 out of 323,621 records. I'm guessing something is going on with

[2021-07-15 00:13] KCI-Ablowers commented on #161
On Hold.

[2021-07-15 00:38] KCI-Ablowers commented on #164
@kanglu666 rename table name to include "_delete" to observe any issues. If no issues arise after ~2 weeks, then delete.

[2021-07-16 18:29] kanglu666 commented on #222
Maintenance Yards has been loaded into the DelDOTBase
 Base Map Query has been updated including the Maintenance Yards querying; ready for testing in dev

[2021-07-21 15:00] KCI-Ablowers commented on #358
@kanglu666 Can you do the following in dev:

- Create "D_Municipality" domain using the codes/values here - [Municipality_Boundaries.xls](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/6856692/Municipality_Boundaries.xls)
- Add field  "MUNICIPALITY" (text, 100) to PID Points, Structures, Conveyances, and BMPs feature classes and apply the "D_Municipality" domain
- Update/Republish servi

[2021-07-23 00:29] kanglu666 commented on #323
new parcel data has been added into the basedata db, and the veiwer base map service has been updated:
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer

will work on the fieldtool basemap

[2021-07-23 00:40] kanglu666 commented on #323
Field tool has no county pacel data, no need to update.

[2021-07-27 02:49] kanglu666 commented on #358
dev npdes database has been cleaned, all sub versions have been deleted.
"D_Municipality" domain has been added into DB,
field "MUNICIPALITY" (text, 100) has been added to PID Points, Structures, Conveyances, and BMPs feature classes and apply the "D_Municipality" domain

[2021-08-03 17:04] KCI-Ablowers commented on #358
Thanks, @kanglu666. Please update this post when you finish the last two items.

[2021-08-04 16:03] kanglu666 commented on #358
Done, Geographic Filter has been updated to include   "Municipality" and the input value list include the domain values
Ready for testing in dev,

NOTE: someone need to populate the value in MUNICIPALITY column for PID Points, Structures, Conveyances, and BMPs feature classes

[2021-08-04 16:31] cstevenson1 commented on #222
confirmed base map query in dev is working. however, based on https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/222#issuecomment-866341621, the following still needs to be done...

Add Maintenance Yards to Base Data MXD (or would this feature need to be in all of the "viewer group" MXDs?)
Update symbology PDFs, etc.

[2021-08-05 11:57] cstevenson1 commented on #381
@KCI-Ablowers still correct in PROD but unable to download report in DEV. it spins for a second and then nothing happens (no error message and report doesn't generate).

[2021-08-05 13:31] KCI-Ablowers commented on #381
@gerrykelly Can you remind me how to restart the dev services? I assume we just need to "turn if off and turn it back on" to get a report out of the dev viewer.

[2021-08-05 13:32] KCI-Ablowers commented on #221
@cstevenson1 Gerry and I tested this in Dev and Prod with a range of file sizes. As he mentioned above a 170+ MB file working in both environments. Do you want to test in one or both? or can we close this?

[2021-08-05 13:57] gerrykelly commented on #381
@KCI-Ablowers Please use the dev AGS connection I just sent in an email in ArcCatalog.  If that does not fix the problem let me know, since there could be another issue causing this in this case

[2021-08-05 14:47] KCI-Ablowers commented on #222
Updated MXD (saved down to 10.6)-V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_106_NEW.mxd

Updated Symbology PDF - [NPDES_Updated_20210805.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/6939505/NPDES_Updated_20210805.pdf)

@kanglu666 I copy/pasted the maintenance yards feature class into the local DelDOTBase.gdb to source

[2021-08-05 16:58] cstevenson1 commented on #110
@KCI-Ablowers confirmed in Dev; Bruce said fine for now. push to prod

![image](https://user-images.githubusercontent.com/16919898/128390746-09b5710b-bd94-4d34-b2b6-8341d96b8042.png)

[2021-08-05 17:03] cstevenson1 commented on #386
@KCI-Ablowers

confirmed in Dev; text is bigger than it was but please push to prod and will update as needed based on any comments we receive from DelDOT

![image](https://user-images.githubusercontent.com/16919898/128391343-8824d462-0b98-47c8-9ab7-e48ddf18c399.png)

[2021-08-13 13:34] kanglu666 commented on #140
Reviewing

[2021-08-19 19:32] kanglu666 commented on #140
Simple Query has been added into the "can query" section, ready for testing.

[2021-08-23 13:59] KCI-Ablowers commented on #300
Appears fixed in dev for this particular location -

![Viewer_Imagery_Issue300_202010823](https://user-images.githubusercontent.com/35460336/130460243-5a65d2c0-19bd-4f27-96dd-31ad3ee013b3.png)

[2021-08-31 16:56] cstevenson1 commented on #221
@KCI-Ablowers tested in dev and prod. worked with ~250mb file.

[2021-08-31 16:56] #221 closed

[2021-08-31 17:51] cstevenson1 opened #398 "Highlight selected features on map"
DelDOT requested to see all features highlighted on the map when using the "Select by Map" function. Priority will likely be based on level of effort.

[2021-08-31 19:27] cstevenson1 commented on #140
@KCI-Ablowers The canned query appears to allow the user to search based on ID in dev but...

1. There is no indication that the user is searching based on ID. It just says Input Value (see below)
![image](https://user-images.githubusercontent.com/16919898/131563932-60bcbb34-9d57-4b48-b9dc-d736464c5721.png)

2. How does this affect future canned queries that may be made up of multiple query statem

[2021-09-02 00:46] KCI-Ablowers commented on #300
Confirmed updated in Prod. Blue imagery does not appear in the area shown above at various scale ranges. https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/300#issuecomment-903797656

![image](https://user-images.githubusercontent.com/35460336/131763758-08e3e7c7-7beb-437a-8ba6-91cdf507d09c.png)

[2021-09-07 12:07] cstevenson1 commented on #360
@KCI-Ablowers on-hold for testing until I can access the site again

[2021-09-07 13:05] cstevenson1 commented on #358
@KCI-Ablowers I verified the following was completed in dev per your previous comment. However, for item 2, the length is 100 for Conveyances but 50 for Structures and BMPs.

Additionally, we should discuss level of effort to incorporate new field in advanced query builder and to display in the attributes for the features in the viewer.

1. Create "D_Municipality" domain using the codes/values her

[2021-09-07 14:22] cstevenson1 commented on #395
@KCI-Ablowers @gerrykelly

Added 302STOPPIT Hotline to D_ExternalReportType in dev and field calculated records as needed. Confirmed the value and then the period Gerry added appeared on the report as expected.

Did the same in prod. Considering issue complete and closing.

[2021-09-07 14:22] #395 closed

[2021-09-08 14:09] #300 closed

[2021-09-08 14:10] KCI-Ablowers commented on #164
@kanglu666 We did rename this table, correct?

[2021-09-08 15:54] KCI-Ablowers commented on #335
@gerrykelly I updated the symbology using the layer files @cstevenson1 provided above https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/335#issuecomment-555211971.

For some reason I don't have write permissions to \\deldot-ags2016\D\Projects\DelDOT_NPDES_Reports\mxds where the MXDs should be placed. The two updated MXDs are in the attached zip file - [Issue_335_MXDs_103_updated.zip](http

[2021-09-08 16:37] KCI-Ablowers commented on #398
@cstevenson1 Below are two thoughts @kanglu666 had while determining an LOE for this issue:

1. All features will be represented by the same "selected" symbology - i.e. the light blue color in ArcMap.
2. To maintain map performance, we will determine if a scale range at which users can select features on the map should be implemented. If too many features are selected, the means by which we will h

[2021-09-08 18:06] KCI-Ablowers commented on #58
Newest PDF is here - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/222#issuecomment-893519426 which includes the "Maintenance Areas" feature class.

[2021-09-08 19:35] KCI-Ablowers commented on #358
@kanglu666 Did the length for the field on conveyance need to be different from the other three features? We need to lock that in so @cstevenson1 can do the field calculates.

[2021-09-08 20:13] KCI-Ablowers commented on #381
I downloaded the attached report from Dev this afternoon without restarting the service. The map appears to be correct now. @cstevenson1 can you confirm?
[BMP_25_Dev_Report.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/7131538/BMP_25_Dev_Report.pdf)

[2021-09-08 21:23] KCI-Ablowers commented on #140
@kanglu666 Is it possible to show what value the query is on in a read-only box above the input value? Similar to how it is set up for geographic filters? Mock-up below for Structures -
![New Mockup 1](https://user-images.githubusercontent.com/35460336/132587480-e81e66e5-a6bf-4a9d-b2e0-bf65121c4aac.png)

[2021-09-08 21:27] KCI-Ablowers commented on #360
@cstevenson1 Are you still getting the error above when trying to hit - https://newarkgis.kci.com/arcgis/rest/services/DelDotReports/ReportRunner/GPServer? I wanted to check before going back to BC.

[2021-09-13 17:30] cstevenson1 commented on #323
@KCI-Ablowers it looks like the data itself was updated (I found a couple cases where a parcel was in the old data but not the new to verify the latest layer was being pulled in dev). However, was anything changed for the labeling? In the example below, the addresses along Hartly Rd in Kent display in prod but not dev at the same extent (I double checked labels were turned on in my table of conten

[2021-09-13 17:55] cstevenson1 commented on #381
@KCI-Ablowers map looks the same in dev and prod now. The map is using the most current ortho right? If so, we can consider this bug complete and close it.

Dev on left, prod on right
![image](https://user-images.githubusercontent.com/16919898/133132532-114eee4f-fc27-4155-859d-0daf7df29386.png)

[2021-09-13 18:11] cstevenson1 commented on #360
@KCI-Ablowers @gerrykelly Had no issues while testing in prod today. Based on Gerry's comments above, it sounds like it would also grab DNREC reports. At this time, I think it's fine but we may end up having to make an enhancement to be able to chose owner.

[2021-09-13 18:11] #360 closed

[2021-09-14 15:05] cstevenson1 commented on #383
@KCI-Ablowers I used the above query (STRUCTURE_TYPE <> 'Underdrain Pipe End' OR STRUCTURE_COMMENTS <> 'UNDERDRAIN PIPE CONNECTION' OR STRUCTURE_COMMENTS <> 'UNDERDRAIN PIPE CONNECTION.') and the features did not draw as expected locally or when sourced to the SDE. The 3 underdrain pipe ends you referenced above were not filtered out for me. Additionally, there were still a lot of pipe connections

[2021-09-15 18:40] KCI-Ablowers commented on #323
@kanglu666 Can you check to make sure the labels are turned on in the Dev MXD? If yes, can you compare the label properties from Dev to Prod and make sure they are identical? If no, turn the labels on a republish.

[2021-09-15 18:53] KCI-Ablowers commented on #381
@gerrykelly I don't think you ever sent me a path to this MXD. Can you confirm the ortho is sourced to https://imagery.firstmap.delaware.gov/imagery/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer? See https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/397 if you need more details.

[2021-09-15 23:12] KCI-Ablowers commented on #358
@kanglu666 to update all lengths to 100.

[2021-09-16 00:32] kanglu666 commented on #358
lengths have been bump to 100 for Structures, PID Points, and BMPs, ready for testing in dev

[2021-09-17 19:57] gerrykelly commented on #335
@KCI-Ablowers
Sorry I let this one slide, but is it still an issue? (I assume so)  I can't seem to access deldot-ags2016 and other servers no, even as GS_ADMIN
![image](https://user-images.githubusercontent.com/8259136/133846371-b9cf2bdd-721f-4254-a547-afe17629ab9d.png)

so, maybe remind me on Monday if something needs to be done and will see if things work then

[2021-09-17 20:21] gerrykelly commented on #381
@KCI-Ablowers

I just keep confusing myself on this.  In #397 I state the update I did, but maybe did not get the correct URL after all.
The MXDs in prod or dev are "D:\Projects\DelDOT_NPDES_Reports\mxds\BMPS.mxd"

Feel free to check (and even update if you are _sure_ it is incorrect and what you have is correct), or we could look at it together.

[2021-09-20 00:40] kanglu666 commented on #164
I just rechecked the Filed tool and found that the field tool is download the File_Attachment table even the table is not even been used in the filed tool. (that was set up at the very beginning.)

option 1: rename the file_attachment table to file_attachment_delete and update the config file for the field tool (remove the file attachment id 28 from the download layer list).

option 2: leave the f

[2021-09-24 15:51] gerrykelly opened #399 "DNREC report development"
To keep track of issues related to the DNREC report version, the table of DNREC BMP data, linking with the BMP featureclass, etc.

[2021-09-24 20:02] gerrykelly commented on #399
Attached is 1) Excel sheet to be added to the database 2) DNREC BMP Report template comments

-	The DNREC BMP Report template should only be applied when BMPS.OWNER = DNREC
-	Yellow highlighting calls out differences between this report and the standard DelDOT report
-	Green highlighting is an example value. If you want a separate template to house the examples, please let me know.
o	Overall forma

[2021-09-24 20:43] gerrykelly commented on #399
@cstevenson1 @KCI-Ablowers

The DNREC reporting is available for testing in the DEV environment
- The table created from the Excel sheet is BMPS_DNREC_INFO (it's also in PROD)
      - For the three records in Excel with duplicate BMPNumber, I updated the values of each 2nd occurrence of the BMPNumber to end with the highest number in the series of IDs based on ProjectNumber so that it can be used

[2021-09-29 15:33] cstevenson1 opened #400 "Allow immediate action MS4 work orders to be submitted"
@gerrykelly Historically, DelDOT has only wanted non immediate action MS4 work orders submitted, which I believe you accounted for based on looking at the script for WORK_ORDERS_MS4_Complete_TO_SEND. However, now DelDOT would like the ability to address them on a case-by-case basis and potentially submit immediate action work orders. Please let us know if this request is as simple as updating the

[2021-09-29 16:34] cstevenson1 commented on #399
@KCI-Ablowers @gerrykelly

1. As discussed, the values on the first page of the report should be in all caps to be consistent with the DelDOT report.
DelDOT
![image](https://user-images.githubusercontent.com/16919898/135310358-c8200df7-3423-4ba4-afab-cd1af7ab4cc4.png)
DNREC
![image](https://user-images.githubusercontent.com/16919898/135310625-a2248d58-611a-4831-b06d-5ad1431b185b.png)

2. The locat

[2021-09-29 22:51] #381 closed

[2021-09-29 23:06] KCI-Ablowers commented on #164
@cstevenson1 The easiest method is option 2 from above:

Option 1 requires Lu to rename the table, update the config file for the field tool and then that be updated on all of your crew's devices, Dev and Prod.

I still vote for option 2 along with @kanglu666 and BC.

[2021-09-30 19:13] kanglu666 commented on #140
updated, ready for testing in dev

[2021-10-01 15:09] cstevenson1 commented on #399
@KCI-Ablowers @gerrykelly

"None" instead of NONE is still showing when there's no previous spillway inspection

![image](https://user-images.githubusercontent.com/16919898/135643531-3abf63bd-2d48-41cd-822c-18abc3a82570.png)

Additionally, we will need to update the BMP location map on the first page once I receive input from Bruce/DNREC. It currently shows all BMPs and labels them based on BMP_NU

[2021-10-01 15:55] gerrykelly commented on #399
@KCI-Ablowers

@cstevenson1 I think the best way to handle this is not so much in my code, but at the mxd level.  And best of all that means you get to do it :-) !

Currently, regardless of owner,the report gets the location map from  BMPS.mxd  in
\\deldot-agsdev\D$\Projects\DelDOT_NPDES_Reports\mxds

I made a copy, BMPS_DNREC.mxd, that I will now call when owner is DNREC (I have made that update

[2021-10-01 16:07] gerrykelly commented on #399
@cstevenson1 @KCI-Ablowers

The ArcMap join of BMPS featureclass to the BMPS_DNREC_INFO table now works.

The BMPS_DNREC_INFO table had a field name, TYPE, inherited from Excel.  That is a reserved work in SQL Server and should not be used as a field name.  Ironically SQL Server was fine with it, but ArcMap was not.  Anyway I changed it to TYPE_OF (probably should have changed it BMP_TYPE ... if y

[2021-10-01 16:20] gerrykelly commented on #400
@cstevenson1 @KCI-Ablowers

Christina, we can discuss this at our next meeting, but if you think an update of that SQL can resolve this and think you know what to do, you can give it a try.

[2021-10-05 16:43] cstevenson1 commented on #164
@KCI-Ablowers we are fine tabling this issue until the next field tool release but would prefer not to permanently leave as-is

[2021-10-08 18:04] cstevenson1 commented on #358
@KCI-Ablowers confirmed in dev. push to prod

[2021-10-09 23:40] gerrykelly commented on #400
@KCI-Ablowers @cstevenson1
I can't look into this now, but the cause is almost certainly a change to the account under which the Windows scheduled task for this runs.  Brendan made the fix in PROD, so he'll know and I'd think can quickly do the same in DEV

[2021-10-13 14:47] cstevenson1 opened #401 "Add DNREC View"
A "DNREC" user group should be added to the viewer. MXD for the user group is located at V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\10_6_Copies

target_viewer_npdes_dnrec_10_13_21_107

[2021-11-03 16:48] cstevenson1 commented on #399
@gerrykelly I was able to get it to work using your example above, which was a pre-existing BMP but the location map did not load as expected for a newly created BMP (BMP_NUM = 6666). Other than the location map, the report seemed to generate as expected.

![image](https://user-images.githubusercontent.com/16919898/140105235-21d57306-2a8c-444c-ae44-c8997cc0e033.png)

[2021-11-03 23:08] KCI-Ablowers commented on #400
@cstevenson1 Lu restarted the feature service - can you please try the download again?

[2021-11-03 23:16] KCI-Ablowers commented on #387
This issue will take some effort because there is no "blanket" solution and @kanglu666 will need to investigate each export individually for schema changes, etc. and update the logic.

[2021-11-08 19:42] cstevenson1 commented on #400
@KCI-Ablowers @gerrykelly I was able to download a work area in dev.

I removed imd_act = 'No' from the view code for WORK_ORDERS_MS4_Complete and WORK_ORDERS_MS4_Complete_TO_SEND and that appears to have generated the expected results. Immediate action work orders are now displaying in WORK_ORDERS_MS4_Complete_TO_SEND  which is what is used for the nightly core gdb (please confirm), when SEND_WIT

[2021-11-09 12:28] KCI-Ablowers commented on #400
@cstevenson1 confirmed WORK_ORDERS_MS4_Complete_TO_SEND is the correct table - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/357#issuecomment-641483692. Please push to Prod

[2021-11-15 18:59] cstevenson1 commented on #398
@KCI-Ablowers I discussed with Matt and we agree, assuming the scale range is reasonable.

[2021-11-16 14:23] cstevenson1 commented on #400
@KCI-Ablowers pushed to prod. Will assign back to me and leave open until verified in prod.

[2021-11-16 18:02] gerrykelly commented on #399
@cstevenson1 @KCI-Ablowers

I think this is working, please test.

[2021-11-16 19:40] KCI-Ablowers opened #402 "Details Icon Not Available after Performing a Base Map Query and Select by Map"
When a user performs a base map query in the viewer then selects features on the map using the "Select by Map" tool, the details icon is not available in the feature list. This behavior is present in both the Dev and Prod viewers. User's should be able to view details for a selected feature from the feature list following this workflow.

Steps to replicate:
- Perform base map query - Maintenance A

[2021-11-21 04:26] kanglu666 commented on #401
map service has been published in PROD:
https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/DNREC/MapServer/

user group :DNREC has been added in PROD viewer

Admin Account has been set to group DNREC.
Ready for testing.

[2021-11-22 14:58] KCI-Ablowers commented on #402
@kanglu666 took a look at this and came up with two options:

Option 1 -Leave as-is and introduce a workaround for viewing feature details. Users can perform the base map query to zoom to an area of interest, then switch to the advanced query builder before performing the select by map. Performing the select by map with the advanced query builder open presents the option to load details and trace

[2021-11-23 15:14] cstevenson1 opened #403 "PID Points - Enable Select by Map"
User is unable to use 'Select by Map' function for PID Point features. It will pull it into the feature list but you cannot open the details for the feature. The site will just spin.

![image](https://user-images.githubusercontent.com/16919898/143050737-9123d806-0fd7-4638-ac75-23dde84c197f.png)

[2021-11-23 17:24] cstevenson1 commented on #401
@KCI-Ablowers unable to test because we cannot change the user group. The User List is blank. This is the case for both myself and Matt.

![image](https://user-images.githubusercontent.com/16919898/143073547-53cbb8ca-6196-43b9-b545-8e25678094a3.png)

[2021-11-23 18:39] KCI-Ablowers commented on #402
@kanglu666 After talking with @cstevenson1 and the group, the update should get us a workflow like - Base map query --> drill down to AOI using zoom to location --> click select by map tool --> Make a selection on the Map --> Viewer flips the feature list to the advanced query builder with selected features. We think this would avoid you having to make any changes to the "Base Map Query" feature l

[2021-11-23 19:34] cstevenson1 commented on #402
@KCI-Ablowers Preferably, we would want it to switch to the Advanced Query Builder panel whenever the user uses the Select by Map tool, not just within the Base Map Query. We ran it by DelDOT to make sure this would be satisfactory before abandoning option 2 and they like the idea (assuming it's feasible).

We told them...
-	We discussed the “Select by Map” within Base Map Query quirk and are expl

[2021-11-24 17:31] cstevenson1 commented on #401
@KCI-Ablowers Just an FYI, still not working using Chrome but I just tried Edge and was able to access the user list.

[2021-11-30 18:32] cstevenson1 commented on #399
@gerrykelly per our phone call, please confirm the action summary maps for the DNREC BMP reports should be placed at \\sparkssvm\DelDotPics\BMP_DATABASE_MAPS

Additionally, do we need to use a different file naming convention or stick with BMP_NUM_XXXX_YEAR_XXXX.jpg?

Below is an example action summary map from a report. It's Page 3 of the report.
![image](https://user-images.githubusercontent.com

[2021-12-02 00:22] KCI-Ablowers opened #404 "Publish Flattened NPDES Feature Service"
DelDOT has requested a new NPDES map service that provides feature information such as pipe size and material. We proposed a "flattened" service published with related tables joined to the Conveyance and Structure feature classes. The joined field names should clearly identify the source table and field name.

Current Service -
https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/NPDES/M

[2021-12-03 21:02] gerrykelly commented on #399
@cstevenson1 @KCI-Ablowers

I copied a jpeg -- BMP_NUM_6666_YEAR_2021.jpg -- into \sparkssvm\DelDotPics\BMP_DATABASE_MAPS then ran the 2021 report for that test DNREC BMP in dev and the pic showed in the report as it should.  Just need to make sure that DNREC BMPS get unique-in-the featureclass BMP_NUMs,

[2021-12-04 21:05] kanglu666 commented on #402
updated.
if the user is in "Base Map Query" or "Canned Query" view.
After using the "Select By Map" tool, they will be automatically redirect to "Advanced Query Builder" view. And also the selected features in the Map will show in the Advanced Query Builder.
Ready for testing in DEV,
https://devgis.kci.com/deldotwebviewer/index.html

NOTE: No changes in "Geographic Filters" since it support featur

[2021-12-04 21:10] kanglu666 commented on #383
@KCI-Ablowers  I'm not sure what you want me to do with this one.
If it's not working correctly on in a local MXD, when published as a map service, it still will NOT work.
If you want me to publish as a map service to check, please send me the updated MXD.

[2021-12-06 14:19] KCI-Ablowers commented on #383
@kanglu666 We are hoping that the Prod to Dev push this past weekend will address the issue once @cstevenson1 has a chance to review the data for the underdrain pipe connection features. No action on your part at the moment.

[2021-12-06 14:43] KCI-Ablowers commented on #402
@cstevenson1 confirmed working as expected from the base map query and canned query. Please test.

[2021-12-07 21:01] KCI-Ablowers commented on #404
@kanglu666 prepared the MXD here - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\target_viewer_npdes_Flatten.mxd which contains the "flattened" views based on the table I provided in the initial comment.

@cstevenson1 & @mortynsky - right now the views include all fields from the feature and the related table. You will notice that the duplicate fields (

[2021-12-09 00:16] KCI-Ablowers opened #405 "User Admin Table Not Loading in Prod Viewer"
Currently, the User Admin Table (screenshot below) is not loading in the Production viewer. We are experiencing this in multiple browsers, even after a hard reload and cache clear.

![image](https://user-images.githubusercontent.com/35460336/145311540-e0f7305a-b988-40e0-919b-87a246497964.png)

[2021-12-09 00:33] kanglu666 commented on #404
map service has been published in dev.
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer

[2021-12-09 13:25] KCI-Ablowers commented on #405
Table loaded first time for me in Prod following the fix. Leaving open while we monitor for a bit.

[2021-12-09 13:29] KCI-Ablowers commented on #404
@kanglu666 Any thoughts on my comment above -

[2021-12-09 13:36] KCI-Ablowers commented on #383
Prod to dev push occurred between 12/3-12/5/21.

[2021-12-20 18:17] cstevenson1 commented on #399
@gerrykelly thanks! please push to prod

[2021-12-21 18:16] KCI-Ablowers commented on #401
Admin list updated - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/405.

[2021-12-23 17:37] gerrykelly commented on #399
@cstevenson1 @KCI-Ablowers

This is now deployed in PROD:
- GP service updated
- PROD version of DNREC mxd created

I tested with one DNREC and one DELDOT BMP

[2021-12-27 13:46] KCI-Ablowers opened #406 "Viewer Role Permissions and Multiple SuperAdmin Users"
@kanglu666
Question 1 - Do we have any existing documentation that lists Viewer Roles (SuperAdmin, NPDES-Editor, SystemAdmin, NPDES-Viewer, etc.) and their permissions? If not, Newark has asked that we prepare a document that clearly states all user roles and permissions across the Viewer.  We will discuss further.

Question 2 - @mortynsky and @cstevenson1 recall an issue with the account request

[2021-12-28 14:30] cstevenson1 commented on #399
@KCI-Ablowers I also tested a DNREC and DelDOT report with no issues. Each pulled the correct template. I am closing the issue and will re-open or create a new one if Ryan finds any quirks as he finishes the field inspections and subsequent reports.

[2021-12-28 14:30] #399 closed

[2021-12-28 15:10] cstevenson1 commented on #404
@KCI-Ablowers Matt and I both took a look and have the following comments:

1. Fields should be hidden as outlined in the attached document.
2. Symbology should match existing services. While doing so, keep in mind a DelDOT and non-DelDOT symbology will be necessary for each layer to visually reproduce the same look as the existing services. Additionally, layers should be ordered to ensure everyth

[2021-12-28 15:27] cstevenson1 commented on #405
@KCI-Ablowers Matt and I haven't had issues since the fix. Will close for now and re-open if issue comes back.

[2021-12-28 15:27] #405 closed

[2021-12-28 19:37] cstevenson1 commented on #402
@KCI-Ablowers the functionality appears to be working from base map query and canned query as Lu stated. However, per previous comment https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/402#issuecomment-977068780, we were hoping the process would be the same as identify where using 'Select by Map' would default you to the applicable workspace (advanced query builder in this case). Currentl

[2022-01-05 18:29] KCI-Ablowers commented on #404
@cstevenson1 I updated the symbology for the flattened Conveyance_Pipe, Conveyance_Swale, Structure_Inlet, and Structure_Manhole

[2022-01-07 04:03] kanglu666 commented on #404
Flatten service has been updated:
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer

Please update the symbolofy in the MXD

[2022-01-07 18:16] KCI-Ablowers opened #407 "DEV TSDM Sync Process Failing Since 12/8/21"
The Dev TSDM Process has been failing since at least 12/8/21 with all emails having the same errors:

@gerrykelly Please investigate and update us here.

[2022-01-10 15:15] gerrykelly commented on #407
@KCI-Ablowers
Should be working again

[2022-01-11 13:30] KCI-Ablowers commented on #407
We have had a few successful syncs of Dev since @gerrykelly looked into this issue. Closing for now.

[2022-01-11 13:30] #407 closed

[2022-01-11 20:19] KCI-Ablowers commented on #404
### Updates
- Symbology is updated for all features
- Noted fields turned off in all features

### Questions

1. > 3. The following structure types are missing from the flatted services: Dummy Point, Temporary Dummy, Junction Box, Culvert Point, Swale Point

@cstevenson1 These features should not be "flattened," correct? If they have a join table, can you update my table in the initial comment?

2

[2022-01-11 20:34] kanglu666 commented on #402
updated, ready for testing in dev

[2022-01-12 00:59] KCI-Ablowers commented on #402
@cstevenson1 I tested this in dev and I think it matches what you were expecting from our call. Please test.

[2022-01-12 16:47] KCI-Ablowers commented on #222
@cstevenson1 All of the MXDs in the Base_Data_Viewer folder have the centerlines symbolized as black text with a white halo. If everything else is as expected in the "NEW" MXD, could we just update the labeling on the centerlines and proceed with this file?

[2022-01-12 19:31] kanglu666 commented on #387
I have tested the "Pipe Segment" export in dev with "Frim = KCI". Which is working fine.
The only issue here is it takes long time to export. since the with query "Firm =KCI', there are around 100000 records returned, the query itself in SQL takes long time to get the data.
But the Export function for pipe segment  works fine.

[2022-01-18 13:27] KCI-Ablowers commented on #383
@cstevenson1 Have you had any luck with your edits? We should set up a time with you, BC, and me to go over this issue.

[2022-01-18 17:10] cstevenson1 commented on #404
@KCI-Ablowers

1. These should not be kept; my guess would be that it is at least in part from the field tool improperly handling structure type changes or deletions, resulting in a particular structure type such as a pipe end having a related record in the pipe end and pipe connection table. Ideally, these "pseudo orphan" records would be deleted, i.e. records in the pipe connections table that d

[2022-01-18 17:45] cstevenson1 commented on #222
@KCI-Ablowers I only caught the centerline issue by chance, which made me question if it was the latest MXD. Someone would need to confirm all other layers are "as expected" and not an earlier iteration of the symbology like the centerlines. If you want me to do this, please reassign to me.

[2022-01-18 17:59] KCI-Ablowers commented on #404
@kanglu666 can you drop the conveyances with a type equal to 'underdrain' from the "Conveyance_Pipe" view?

Drawing order updated to match current NPDES REST view used by DelDOT.

Dropped structure and conveyance text from layer names

Dropped Structure_Outfall from MXD

[2022-01-18 18:57] cstevenson1 commented on #383
@KCI-Ablowers I think I found a solution that works. Please let me know which MXD I should make the updates to. target_viewer_npdes_101_Label_Option_106_CS.mxd was used during early unsuccessful testing and should be deleted or archived.

[2022-01-18 18:58] cstevenson1 commented on #402
@KCI-Ablowers appears to be working as expected now. Please push to prod

[2022-01-18 19:50] cstevenson1 commented on #401
@KCI-Ablowers confirmed in prod

[2022-01-18 19:50] #401 closed

[2022-01-19 02:05] kanglu666 commented on #406
"SystemAdmin" is the system level role; been used to Create "SuperAdmin" users

"SuperAdmin":
	1: get Email when an new user request access to the viewer.
	2: able to view all users in the system
	3: able to update users' roles

"NPDESAdmin":
	1: get email when an new request "NPDES" widget access
	2: Only able to view users with "NPDES" roles

"NPDESViewer":
	No access to view users info.

Not us

[2022-01-19 17:37] cstevenson1 opened #408 "WO_PROBLEM_CODE_STATUS table"
@gerrykelly Should the number of records in the WO_PROBLEM_CODES_STATUS table match the number of records in WORK_ORDER_PROBLEM_CODES? All of the records in WORK_ORDER_PROBLEM_CODES relate to one in the status table but there are "orphans" in the status table that do not relate to a problem code. If the whole work order or just a problem code is deleted, does it remain in the status table?

[2022-01-19 22:12] gerrykelly commented on #408
@cstevenson1 @KCI-Ablowers
- There is nothing automated in the database that would delete a record  from WO_PROBLEM_CODES_STATUS, and
- Only the ExportWorkorders GP operates programmatically on the table -- but the only action is to append new records (meaning those in the default version of WORK_ORDER_PROBLEM_CODES,  but not in WO_PROBLEM_CODES_STATUS)

If this needs to change, I can think of a f

[2022-01-19 22:51] KCI-Ablowers commented on #387
The only issue here is it takes long time to export. since the with query "Firm =KCI', there are around 100000 records returned, the query itself in SQL takes long time to get the data.
But the Export function for pipe segment works fine.

The Pipe Segment and Swale exports are functioning as expected but result in much larger processing times with the selections highlighted in the provided excel

[2022-01-26 13:35] cstevenson1 commented on #387
@KCI-Ablowers The Structures Export appears to be working in Dev now. My staff did not test Pipe Segments or any of the other exports as discussed. Please adjust the labels as necessary since I'm not sure if the plan is to push this piece to prod or correct the other exports first.

[2022-01-26 14:14] KCI-Ablowers commented on #383
@cstevenson1 Here is a new MXD to test your updates - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\target_viewer_npdes_101_Label_Option_UD_Query.mxd

[2022-01-26 16:44] KCI-Ablowers opened #409 "Clean Up Erroneous Related Records for Structures and Conveyances"
The flattened views created #404 contain a number of "pseudo orphaned" or erroneous records not that do not match the structure or conveyance type. We need to eliminate these erroneous records in the database as a clean-up for the DB and symbology for the flattened service.

Examples -
Structures should have one related record in the appropriate child table based on type. Example - A Structure wit

[2022-01-26 18:17] KCI-Ablowers commented on #222
@cstevenson1 The symbology for the Base Data Viewer feature service in the prod viewer - https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer matches the "_NEW" MXD besides the centerline labels. The non-DelDOT ponds/BMPs are not currently in this feature service. The Maintenance Yards (#222) will go in when this issue is pushed to prod.

[2022-01-26 19:19] KCI-Ablowers commented on #404
Created https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/409 to address the erroneous records.

[2022-01-26 19:38] cstevenson1 commented on #409
@KCI-Ablowers @gerrykelly In addition to what Andrew has outlined for Structures, it should be a cascade delete, i.e. if Structure Type = Inlet and there is a record in the MANHOLES tables, not only should the record in the MANHOLES table be deleted but also the child records related to that manhole record, such as one in MANHOLE_INSPECTIONS. It should be more rare but the same cascade delete appl

[2022-01-27 19:31] cstevenson1 commented on #383
@KCI-Ablowers the MXD has been updated. My solution, which was approved by Bruce/Matt was to:
1. Add an "Underdrain" value to D_StructureClassification.
2. Populate this value on applicable underdrain structures (select pipe connections and dummy points, in addition to all underdrain pipe ends)
3. Apply definition query of STRUCTURE_CLASSIFICATION = 'Underdrain' on the Underdrain Structures layer

[2022-01-27 21:12] KCI-Ablowers commented on #404
### Updates
- Updated the symbology for PipeConnection, PipeEnd, TempDummy, and SwaleConnection. Relates to #409.
- Updated the "Other" symbology label for all applicable features.

[2022-01-28 15:56] KCI-Ablowers commented on #404
### Updates
- Applied Underdrain queries (equals and does not equal) from #383 to all structures and labels.

@cstevenson1 Gerry should have an update for #409 this afternoon. Can you please review the MXD for completeness and let me know if there are any other items to address? @kanglu666 can get this published for review before we complete #409.

[2022-01-28 16:14] KCI-Ablowers commented on #383
@cstevenson1 I tried to update the Structure and Underdrain Structure Label definition queries but keep getting an error on save. Can you update those two and try to save the MXD?

![image](https://user-images.githubusercontent.com/35460336/151582145-b0bf5bdf-6d6c-441c-92cb-ea4d30252165.png)
![image](https://user-images.githubusercontent.com/35460336/151582174-ce460e3f-1e2e-4d34-866f-06f14a37c6bf.

[2022-01-28 17:29] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers
I've written SQL that I think captures most structure type discrepancies (and will do the same for conveyances -- just want to get this reviewed ASAP in case I should be doing something differently)

The query switches the version to Field and then looks at the 11 structure types (you can check that I get them all and correctly in the statement starting with "insert into

[2022-01-28 18:46] KCI-Ablowers commented on #383
MXD should be working again.

[2022-01-28 19:03] cstevenson1 commented on #409
@gerrykelly I'm still reviewing this but wanted to relay finding as I come across them. For your third bullet, are you saying you it didn't find any where there was a record in the type specific table but not the structures feature class? If so, I would use TEMP_DUMMY table for testing because there are 1367 records that only relate to 1346 structures.

[2022-01-28 19:57] gerrykelly commented on #409
@cstevenson1 @cstevenson1
Right, but the fact that those 1367 records relate to 1346 structures (and, BTW, a bunch are not of the correct structure type) does **not** mean that not all the TEMP_DUMMY records relate to a structure.  They do.  The problem is duplicate structure_ids in the table.
You can verify that all TEMP_DUMMY records match a structure feature in ArcMap by selecting all records i

[2022-01-28 20:14] cstevenson1 commented on #409
@gerrykelly I follow you now and agree. Would we (KCI Newark) be able to just run the query on a semi regular basis and just clean up manually as we see fit? I'm assuming if it was programmatically handled, it might be added to the nightly script, which we would like to avoid at this time since it's somewhat temperamental.

@KCI-Ablowers I propose the flattened service have the "invalid" symbols r

[2022-01-28 20:16] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers
Here's the updated SQL for structures with a few new tests.  It's only the duplicate structure IDs in tables that return new records currently

[structure_vs_structuretype_fieldversion_QA.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/7961618/structure_vs_structuretype_fieldversion_QA.txt)

[2022-01-28 20:18] KCI-Ablowers commented on #409
@cstevenson1 I agree. The symbology should be set (as of writing this) and we can tweak the records and views (if needed, but not the schema) without having to republish I believe.

[2022-01-28 20:22] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers
Unless upon review you find that I am missing a lot of errors I should be catching (I think I now query everything relevant, although I was expecting to find more problems that I have)  I think it should be a manual process reviewing the results of the SQL and editing in ArcMap.  After the initial cleanup, which is not huge, you would only expect a handful of issues like

[2022-01-28 21:10] KCI-Ablowers commented on #404
@kanglu666 please republish the "Flatten" mxd over the dev service - https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer and publish a new service on the Prod server. You can drop the link in a comment on this issue. We are going to hold off on sharing until we have time to review.

[2022-01-28 21:16] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers

And finally for today, here is the comparable SQL for conveyance QA (to be combined with the structures SQL once both are finalized).  I'm only coming up with 11 records.
[conveyance_vs_convtype_fieldversion_QA.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/7961874/conveyance_vs_convtype_fieldversion_QA.txt)

[2022-01-28 21:44] KCI-Ablowers commented on #383
@cstevenson1 - New MXD - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\target_viewer_npdes_101_Label_Option.mxd. I moved the old version (last saved 6/28/20) to an archive folder.

@kanglu666 please republish this service in Dev for testing.

[2022-01-28 21:59] KCI-Ablowers commented on #222
@cstevenson1 Fixed the centerline labels in the MXD - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_106_NEW.mxd. I'm not sure why the symbology was flipped but I updated all of the classes to white text with a black halo. Please review and let us know if we can republish.

[2022-01-30 16:15] kanglu666 commented on #383
map service has been updated with the new MXD:
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/NPDES/MapServer

[2022-01-30 16:31] kanglu666 commented on #404
'underdrain' has been removed from the "Conveyance_Pipe" view.
Flatten service has been republished in dev.
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer

[2022-01-31 19:26] kanglu666 commented on #404
Flatten views have been created in PROD DB.
Flatten Map service has been published in PROD:
https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer

[2022-01-31 20:25] KCI-Ablowers commented on #404
@cstevenson1 can you and Matt review the services Lu linked above?

[2022-02-01 19:50] cstevenson1 commented on #404
@KCI-Ablowers following issues were identified:

1. Underdrain pipe connections and dummy points are not showing. Not sure if you can adjust the view to show the multiple structure types or if additional layers will be needed for each "type" of underdrain structure.
Snip from Service
![image](https://user-images.githubusercontent.com/16919898/152036637-3bdd765d-633e-455c-ba26-bda289ffa933.png)
Sni

[2022-02-01 20:11] KCI-Ablowers commented on #404
@kanglu666 How did you publish this to Prod? I don't see an MXD in the Prod folder - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds\viewer

[2022-02-01 21:29] kanglu666 commented on #404
I was using the DEV mxd and mapping to the prod database, then publish it in PROD.
Please create an new MXD using PROD db, then i will republish it.

[2022-02-01 23:10] KCI-Ablowers commented on #404
@kanglu666 Created new MXD here - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\prod_mxds\prod_mxds\viewer\target_viewer_npdes_Flatten.mxd. I remapped the source using the "Set Data Source" option in ArcCatalog to a Prod SQL database connection I have locally. Can you make sure the version is pointed to default before republishing? There are a few errors in the MXD from the

[2022-02-01 23:17] KCI-Ablowers commented on #358
@cstevenson1 I know we discussed holding off on updating the Prod values until Monday, but would you have time to field calculate in Dev before Friday?

[2022-02-02 02:21] kanglu666 commented on #404
@KCI-Ablowers  Remove the JunctionBox layer from the MXD and re-add it from PROD database will fix the error

[2022-02-02 14:16] KCI-Ablowers commented on #404
@kanglu666 I removed, readded, definition queried, and symbolized the Junction Box, Swale, and Dummy Points, which eliminated the drawing errors.

Did anything change in the dev or prod "Flatten_Structure_UnderDrain" view? In @cstevenson1's snip from the dev MXD yesterday, the "underdrain connection" structure is present -
![image](https://user-images.githubusercontent.com/35460336/152169433-8bffa

[2022-02-02 16:11] KCI-Ablowers commented on #358
Correct, sorry about that. I updated my comment above to say "Sunday" instead of "Monday."

[2022-02-02 16:59] cstevenson1 commented on #408
@gerrykelly thanks for the answer. After internal discussion, we decided to leave as-is for now. We can make identifying those and adding an appropriate comment part of our workflow for now (for our own tracking purposes). Could we delete them from the table ourselves though if we know its no longer a valid record?

After a response, I'll probably change this to an enhancement that can be addresse

[2022-02-02 17:09] gerrykelly commented on #408
@cstevenson1 That table is just there to support what you need to do for workorder workflow, so if you'd like to delete records, feel free.

[2022-02-02 18:28] cstevenson1 commented on #408
@KCI-Ablowers changing to enhancement until further notice

[2022-02-03 15:16] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers
If you check the email for the Dev nightly process, you'll see a new line:
"Errors with regard to structure and conveyance features vs their types/related tables (in Field version) is also logged in the file"
Check the attached log file and you'll see the new info.

Let me know if this works as the way of dealing with the errors.  If so, let me know when to make the upda

[2022-02-03 15:31] KCI-Ablowers commented on #404
@kanglu666 Can you please republish the Prod MXD? I had to add the scale range back to Junction Box, Dummy Point, and Swales in the MXD.

[2022-02-03 17:38] cstevenson1 commented on #409
@gerrykelly I looked at the log file and this method works for me, assuming it has no impact on the nightly script (i.e. couldn't cause the nightly script to fail for any reason).

I'm probably missing something again but do you know why Conveyance 0302314596 wouldn't have been flagged for missing a related record? I believe it was a known issue for driveway culverts after the migration where many

[2022-02-03 17:39] cstevenson1 commented on #358
@KCI-Ablowers The values have been populated in Dev for Structures, Conveyances, BMPs, and PID Points. Please let me know when ready to populate in prod.

[2022-02-03 17:54] KCI-Ablowers commented on #358
@kanglu666 Can you handle the above?

[2022-02-03 17:59] cstevenson1 commented on #404
@KCI-Ablowers I just updated some in DEV. 50ish records

[2022-02-03 19:43] cstevenson1 commented on #383
@KCI-Ablowers to be consistent with the services, please remove underdrain dummy point from the table of contents. Other than that, it looks ready for prod.

![image](https://user-images.githubusercontent.com/16919898/152416865-7758887b-806e-45cd-a229-0894cd48c39d.png)

Underdrain pipe connections working in dev
![image](https://user-images.githubusercontent.com/16919898/152416719-53061c9b-f21a-46

[2022-02-03 20:15] cstevenson1 commented on #404
@KCI-Ablowers Matt and I reviewed services and the table of contents is still not displaying right for the following layers: Junction Box, Pipe Connection, Control Structure, Temporary Dummy Point, Underdrain Pipes, Swale, and Hydraulic Connection.

![image](https://user-images.githubusercontent.com/16919898/152421774-855b19a5-b5d3-4d15-91fe-894f78278dba.png)

[2022-02-03 21:01] cstevenson1 opened #410 "Remove Non-DelDOT BMPs From Base Map"
@KCI-Ablowers The 2 Non-DelDOT BMP layers have been inventoried as polygons in our BMPs NPDES layer. Non-DelDOT Ponds and Non-DelDOT BMPs can be removed from the base data MXD.

![image](https://user-images.githubusercontent.com/16919898/152427913-872209a5-569c-4ded-a04e-0431e04cc753.png)

this should be addressed with #222

[2022-02-03 21:02] cstevenson1 commented on #222
#410 to be addressed when MXD is republished

[2022-02-03 21:04] KCI-Ablowers commented on #410
Dropped from the MXD -  V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_106_NEW.mxd.

@kanglu666 We can move to dev and prod when republishing for #222.

[2022-02-04 11:15] cstevenson1 commented on #409
@gerrykelly additionally, would it be possible to add structure/conveyance number to the output? If large effort, then keep as-is with OID and globalid.

[2022-02-04 15:29] gerrykelly commented on #409
@cstevenson1
- I can add the structure/conveyance numbers
- For your question on Conveyance 0302314596 tho, I had followed the direction"A conveyance with Type = Pipe should have a record in the PIPE_SEGMENTS table" and only looked for type = 'Pipe'.  So I take it Driveway Culvert also should relate to PIPE_SEGMENTS.  Also Guardrail Culvert, Roadway Culvert & Underdrain?

[2022-02-04 15:34] cstevenson1 commented on #409
@gerrykelly that would be great, thank you.

And yes you are correct. I believe your second bullet covers them all but also copied below.

![image](https://user-images.githubusercontent.com/16919898/152556623-72cdef01-34db-44d7-a18a-22b1babf80c5.png)

[2022-02-04 15:49] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers
Yeah, my mistake.  So, here's the problem:  While adding 'Guardrail Culvert','Roadway Culvert','Underdrain' to the query only introduces one more record returned to the 11 we had, the 'Driveway Culvert' returns 31400 'no related record' errors.

It seems like this needs to be dealt with on a separate track until there are related records.  Please advise

[2022-02-04 15:52] gerrykelly commented on #409
[conveyance_vs_convtype_fieldversion_QA.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/8004373/conveyance_vs_convtype_fieldversion_QA.txt)

@cstevenson1 @KCI-Ablowers
SQL that includes 'Guardrail Culvert','Roadway Culvert','Underdrain'  & 'Driveway Culvert'  in QA test

[2022-02-04 15:58] cstevenson1 commented on #409
@gerrykelly no worries. I'll clean up everything excluding driveway culverts today.

The driveway culverts have been this way for 5 years now so I think we are ok to proceed with everything else as planned unless it is easy to programmatically enter a blank record for each of those, then Newark populates values over time as we field inspect or find details from the office.

On a separate note, I w

[2022-02-04 16:01] gerrykelly commented on #409
@cstevenson1
Are you sure that query window is for the deldot_migration2 database?  Call me for a screenshare if still not working

[2022-02-04 16:11] cstevenson1 commented on #409
@gerrykelly that'll do it, thanks. I was connected to the right database but cursor got moved. Figured I was staring right at the problem.

[2022-02-04 16:35] gerrykelly commented on #409
@cstevenson1 @KCI-Ablowers
I've added structure/conveyance number (as "asset_num") to the queries.
This file is the complete SQL that I will next update in the nightly routine:
[conveyance_AND_structure_vs_type_fieldversion_QA.txt](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/8004678/conveyance_AND_structure_vs_type_fieldversion_QA.txt)
- For the driveway culverts with no related reco

[2022-02-04 20:18] KCI-Ablowers commented on #383
@cstevenson1 Underdrain dummy point was removed from both dev and prod NPDES MXDs.

@kanglu666 Can you update the data source in this MXD to the dev database - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers\target_viewer_npdes_101_Label_Option.mxd and republish? I can't get it to update through catalog on my end.

[2022-02-06 14:39] kanglu666 commented on #331
Ready for testing in PRDO

[2022-02-06 14:39] kanglu666 commented on #42
ready for testing in PRDO

[2022-02-06 14:45] kanglu666 commented on #358
Domain and Field have been added in PROD, please populate values in PROD.

Viewer has been updated in PRDO, once data has been populated, ready for testing in PROD

[2022-02-06 14:46] kanglu666 commented on #140
updated, Ready for testing in PROD

[2022-02-06 14:48] kanglu666 commented on #402
Ready for testing in PRDO