[2022-02-06 14:50] kanglu666 commented on #386
updated in PROD, ready for testing in PROD

[2022-02-06 14:51] kanglu666 commented on #110
ready for testing in PROD

[2022-02-06 15:02] kanglu666 commented on #138
ready for testing in PROD

[2022-02-06 21:46] cstevenson1 commented on #42
@KCI-Ablowers confirmed in prod

![image](https://user-images.githubusercontent.com/16919898/152702639-63c618e7-256b-47f4-b729-4be1b1363a2b.png)

[2022-02-06 21:46] #42 closed

[2022-02-06 21:59] cstevenson1 commented on #386
@KCI-Ablowers confirmed in prod

![image](https://user-images.githubusercontent.com/16919898/152703075-92db2b79-2547-43f1-a907-4de9fa04476d.png)

[2022-02-06 21:59] #386 closed

[2022-02-06 22:28] cstevenson1 commented on #402
@KCI-Ablowers confirmed in prod. Using "Select by Map" tool toggles user to advanced query builder window with results showing. If features were already present in the list, the new results are appended.

[2022-02-06 22:28] #402 closed

[2022-02-06 23:06] cstevenson1 commented on #358
@KCI-Ablowers I populated values in prod. However, the viewer does not appear to be working for Structures or BMPs. Elsmere is a good example to check.

[2022-02-07 01:17] kanglu666 commented on #358
Fixed, ready for testing both in DEV and PROD

[2022-02-07 12:36] cstevenson1 commented on #138
@KCI-Ablowers confirmed in PROD. As previously stated, it does not scale but will be left as-is pending DelDOT feedback.

[2022-02-07 12:36] #138 closed

[2022-02-07 12:42] cstevenson1 commented on #222
@KCI-Ablowers unassigning myself until it's republished and ready for testing

[2022-02-07 12:49] cstevenson1 commented on #331
@KCI-Ablowers confirmed in prod

[2022-02-07 12:49] #331 closed

[2022-02-07 12:54] cstevenson1 commented on #110
@KCI-Ablowers confirmed in prod

[2022-02-07 12:54] #110 closed

[2022-02-07 13:07] cstevenson1 commented on #140
@KCI-Ablowers confirmed in prod

[2022-02-07 13:07] #140 closed

[2022-02-07 13:11] cstevenson1 commented on #358
@KCI-Ablowers confirmed in dev and prod

[2022-02-07 13:11] #358 closed

[2022-02-07 17:34] mjuber-kci opened #411 "Structure/Conveyance Report Pulling Photos from All Work ORders"
If there are more than one Work Order related to a Structure or Conveyance, the report pulls the information from the most recent Work order (correct) but it pulls the defect photos from ALL related Work Orders (wrong). For example, if there are three photos related to the old Work Order and two related to the new Work Order, the report is currently pulling all five defect photos but it should onl

[2022-02-08 18:58] cstevenson1 opened #412 "Programmatically add related record for driveway culvert conveyances"
Through #409 , over 31k driveway culvert conveyances were identified as not having a related record in the PIPE_SEGMENTS table. We would like a related "blank" pipe segments record added for each of those conveyances. Logic for populating the fields in the blank record is outlined below (excluding 15). Let me know if you need additional details.

1. OBJECTID (No logic needed)
2. CONVEYANCE_ID - CO

[2022-02-08 19:58] gerrykelly commented on #411
@KCI-Ablowers

@cstevenson1 I updated dev, but I did see the same issues for the structures in the list that I saw for the example conveyance.  So, please give it a test in dev, vs prod, and if you can give me an example where I can see a prod structure with pics from more than one WO, please do.  Otherwise if it seems to be working, it's just take a minute for me to update PROD

[2022-02-08 20:11] mjuber-kci commented on #411
@gerrykelly The structures listed above are having the same issue on our end. The second structure listed (Structure 0112050526) has 0 photos for the old work order and 1 for the newer work order, so that is probably not the best example. However the other two structures are good examples.

Structure 0112049765 - two work orders present, each with 1 photo. Report is pulling 2 defect photos.
Struct

[2022-02-08 22:13] gerrykelly commented on #411
@mjuber-kci @KCI-Ablowers @cstevenson1

OK see that in default production Structure 0112049765 is as described for work orders/photos.  I was trying to stay in DEV and that was not what I saw.  Anyway, I applied the update to PROD since it needs to be tester there.

The report went from ...
![image](https://user-images.githubusercontent.com/8259136/153083486-f6d90f4c-4ce6-4409-ba3c-39c16629d40f.pn

[2022-02-09 12:52] KCI-Ablowers commented on #404
@cstevenson1 Both Dev and Prod are republished. Please test.

https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer

https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/viewer_npdes_Flatten/MapServer

[2022-02-09 14:41] gerrykelly commented on #412
@KCI-Ablowers
I need direction for:
- PIPE_SEGMENT_NUM (Coordinate with AB/BC/LK because I think this is part of the nightly script)

[2022-02-09 16:45] gerrykelly commented on #412
@cstevenson1
The PIPE_SEGMENT_NUM logic (it is not part of the nightly script) is a holdup, but otherwise I completed the routine to insert these records.  I ran it on the unifier version in DEV if you'd like to review (for now all PIPE_SEGMENT_NUM = 0)
- The added records can most easily by identified by PIPES_COMMENTS ='Added programmatically for Driveway Culvert' (31399 and when all selected in

[2022-02-09 18:23] KCI-Ablowers commented on #412
From @gerrykelly 2/9/22 -

For your meeting (with Lu) today,
Having gone around in circles on this and with questions for Lu pending, I searched my email and found this direction from Lee from when I was doing the ETL 6 years ago (!)

So, if that standard still applies I can calc values for the 31k+ new records by left-4-characters of the related conveyance_num + number-in-sequence-starting-with-(

[2022-02-10 01:21] KCI-Ablowers commented on #412
https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/252

[2022-02-10 17:12] KCI-Ablowers commented on #412
From @kanglu666 2/9/22 -

For Conveyance "Pipe" ,"Driveway Culvert" , "Roadway Culvert" , "Guardrail Culvert" , "Underdrain"

The PIPE Segment Number is :

CountyNumber + Maintainence Area Number + current Hour + current minutes  + current seconds

I don’t think they are using the pipe segment number for anything.

Also just checked the data. For “Driveway Culvert”, there are lots of data I believ

[2022-02-10 17:45] gerrykelly commented on #412
@cstevenson1 @KCI-Ablowers

Lu's description explains the duplicates, supports that the field is not properly maintained and likely not used for anything (it should not be in its current state)

Given the value generation scheme, the last 6 characters will never be a number greater than 23xxxx (confirmed).  So for what it is worth, for the sake of getting "correct" and unique values for the new re

[2022-02-11 01:18] kanglu666 commented on #383
NPDES map service has been updated in both dev and prod:

https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/NPDES/MapServer

https://newarkgis.kci.com/arcgis/rest/services/DelDotWebViewer/NPDES/MapServer

[2022-02-15 13:46] cstevenson1 commented on #412
@gerrykelly @KCI-Ablowers From a database perspective, the new records look good to me. If there are no concerns with its impact on the field tool, then I am good with Gerry proceeding in prod. If the impact on the field tool is unknown, then I suggest we reconcile the field version with default in dev so that we can downloaded a work area in the dev field tool to make sure the record behaves as e

[2022-02-15 14:19] cstevenson1 commented on #383
@KCI-Ablowers symbology has been updated in dev and prod. closing issue but #58 still needs to be addressed

[2022-02-15 14:19] #383 closed

[2022-02-15 14:22] cstevenson1 commented on #404
@KCI-Ablowers as discussed, service appears to be working and has been passed along to DelDOT

[2022-02-15 14:22] #404 closed

[2022-02-15 17:31] KCI-Ablowers commented on #412
@cstevenson1 I will check with @kanglu666 on the field tool side and update here.

[2022-02-15 18:24] cstevenson1 commented on #409
@KCI-Ablowers this method works for us for now

[2022-02-15 18:24] #409 closed

[2022-02-17 01:10] KCI-Ablowers commented on #410
@cstevenson1The Non-DelDOT Ponds and BMPs are not currently in the viewer. @kanglu666 did not republish the MXD above. I don't see any other issues (open or closed). Can I close?

[2022-02-17 01:23] KCI-Ablowers commented on #412
No issues are expected on the field tool side but BC and @kanglu666 suggested performing the update on a weekend with a Friday work area check-in, backup, etc.

[2022-02-17 01:45] kanglu666 commented on #222
basemap service has been updated in dev:
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer

[2022-02-19 19:46] gerrykelly commented on #412
@cstevenson1 @KCI-Ablowers
I have updated the DEFAULT version of PROD to create  31202 new DW Culvert records.

[2022-02-21 18:57] cstevenson1 commented on #222
@KCI-Ablowers are you sure the MXDs were the same?

Dev
![image](https://user-images.githubusercontent.com/16919898/155012765-e2e20671-e7f7-4fa3-88a5-d88d0939ba96.png)

Prod
![image](https://user-images.githubusercontent.com/16919898/155012804-cfa1791d-f7e4-4992-9927-85d10e247301.png)

[2022-02-25 01:05] KCI-Ablowers commented on #222
@kanglu666  Can you republish the new dev mxd here - V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_NewDev_20220224.mxd

[2022-02-25 18:32] #410 closed

[2022-03-01 17:45] cstevenson1 commented on #411
@KCI-Ablowers @gerrykelly I spoke with @mjuber-kci and it appears to be functioning as expected now in PROD. Closing issue.

[2022-03-01 17:45] #411 closed

[2022-03-04 19:59] cstevenson1 opened #413 "Add Milford View"
A new user group should be added for "Milford". The MXD for the user group is located at

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers
target_viewer_npdes_Milford

Similar to #401

[2022-03-08 12:21] cstevenson1 opened #414 "Cannot Select by Map for Underdrain Pipe End or Underdrain Pipe Connection"
@KCI-Ablowers As of recently, we are unable to use the select by map tool on underdrain pipe end or underdrain pipe connection structures from the DelDOT NPDES user group. The advanced query builder is still working for underdrain pipe ends. You can also select them by map from other user groups such as "Delaware City" where they would be lumped in with "Other Structures".

Select by Map is workin

[2022-03-08 18:11] KCI-Ablowers commented on #414
Adding to @cstevenson1 comment above - Underdrain Conveyance can be selected with the "select by map tool"

[2022-03-08 20:07] KCI-Ablowers commented on #222
@kanglu666 I made some updates in the dev and prod MXD to bring them in line with the prod service. Can you please republish the Dev MXD - V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_NewDev_20220224.mxd again for me? Thanks!

[2022-03-08 20:08] KCI-Ablowers commented on #323
Check with republish of #222

[2022-03-15 17:20] kanglu666 commented on #413
new service has been published in dev:
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/target_viewer_npdes_Milford/MapServer

i will work on to add the new user group.

[2022-03-15 23:12] kanglu666 commented on #413
user group "Milford" has been added in dev. ready for testing.

[2022-03-15 23:32] kanglu666 commented on #414
fixed: underdrain pipe end  can be selected by map. ready for testing in dev

[2022-03-17 18:16] cstevenson1 opened #415 "Add Location Map to Structure Report"
@KCI-Ablowers @gerrykelly Similar to the location map on BMP Reports (see snip below), DelDOT would like to add a general location map to the Structure Reports. The report feature should be selected on the map. Ideally, I think the location map would go on the first page of the report.

![image](https://user-images.githubusercontent.com/16919898/158867332-d047ef21-c1f9-4811-bc1a-c7f52c9c367f.png)

[2022-03-17 18:18] cstevenson1 opened #416 "Add Location Map to Conveyance Report"
@KCI-Ablowers @gerrykelly Similar to the location map on BMP Reports (see snip below), DelDOT would like to add a general location map to the Structure Reports. The report feature should be selected on the map. Ideally, I think the location map would go on the first page of the report.

![image](https://user-images.githubusercontent.com/16919898/158869529-99a3f632-1769-450f-a896-02b48815356c.png)

[2022-03-17 18:27] cstevenson1 opened #417 "Submit Feature Report with MS4 Work Orders"
@KCI-Ablowers Similar to how BMP Reports are copied to a designated folder for Supreet to consume and attach to the BMP work orders in MAXIMO, DelDOT is interested in attaching the feature report to MS4 work orders. Level of effort may determine how soon it is implemented. I believe @gerrykelly  added a "LINK_TO_INSPECTION_REPORT" field to the submission table for BMPs so we were wondering/hoping

[2022-03-17 22:20] kanglu666 commented on #222
publish , ready for testing in dev:
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer

[2022-03-17 22:49] kanglu666 commented on #323
label has been turned on.

https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer

[2022-03-18 17:43] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
If the map goes on the first page, even if I put the following fields on one line instead of two (maybe not a bad idea anyway)
![image](https://user-images.githubusercontent.com/8259136/159054619-574c41ba-a7f3-4624-9625-eac2a54f9cbb.png)

that only leave room for a map height of about 2.5" vs about 3.5" for the BMP map, so area-wise the map would be only about half the s

[2022-03-18 18:16] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
Also, for comparison, here is a map in the report at the 4500 scale of the mxd ..
![image](https://user-images.githubusercontent.com/8259136/159060196-4d55f774-68d2-4c5a-9783-b452f7d6179d.png)

... vs the 1500 that is used for the BMP map:
![image](https://user-images.githubusercontent.com/8259136/159060341-6a2c1e1b-fb66-4c1a-b9b5-68b7484e2614.png)

So, please make a cal

[2022-03-18 18:42] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
Updated in dev for review.  The map is on the first page as large as can fit

The mxd is located ..
\\deldot-agsdev\d$\Projects\DelDOT_NPDES_Reports\mxds\Structures.mxd
,,, and may be updated in place or replaced with one of the same name

[2022-03-21 14:11] cstevenson1 commented on #415
@gerrykelly Bruce agreed it is fine on first page but trying to decide how we want to modify the appearance of the selected feature. Using the default selection color can blend with the swale point symbology. Let us know if you have suggestions, otherwise, we'll brainstorm internally.

![image](https://user-images.githubusercontent.com/16919898/159278805-bf2008b7-c18b-406b-81b1-4741c7c4d0f8.png)

[2022-03-21 14:14] cstevenson1 commented on #416
@gerrykelly similar comment to the structure report. We are brainstorming how to make the selected feature more apparently to the user.

![image](https://user-images.githubusercontent.com/16919898/159279750-a50667d1-169e-4498-bfbf-3900c817f767.png)

[2022-03-21 18:07] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
While I could write code to dynamically put a graphic on the mxd, or the jpeg, that would take some time (I think more than it's worth).  What might work well is something like I did for the DNREC BMP on the map, where there is a separate layer where the report code applies a definition query for only the selected feature (and we then don't have a selection in the map, s

[2022-03-21 18:13] cstevenson1 commented on #415
@gerrykelly I think I follow you. Could we put a halo of some sort around the feature in the copied layer similar to the snip below (no callout boxes)?

![image](https://user-images.githubusercontent.com/16919898/159337400-b0bb44de-5727-4067-9d3b-2b7d2278f9b4.png)

[2022-03-21 18:20] cstevenson1 commented on #417
@KCI-Ablowers @gerrykelly Matt received approval from Supreet to begin implementing the new process in dev. Similar to BMPs, DelDOT will need to do testing on their end and will want a copy of a dev submission BEFORE we push to production so they can make the necessary changes on their end to consume the data.

[2022-03-23 12:03] cstevenson1 commented on #412
@gerrykelly @KCI-Ablowers was a rec and post from field to default completed before creating the new records? All the issues seem to be within a very short time frame.

[2022-03-23 13:09] gerrykelly commented on #412
@cstevenson1 @KCI-Ablowers
It's a good bet that is what happened, whether or not -- the duplicates need to be fixed ... and just keep an eye on the log file to see if this duplication ever happens again.

[2022-03-23 14:03] cstevenson1 opened #418 "NPDES Web Viewer Account Request Email Delivery Issue"
@KCI-Ablowers per email sent on 3/23

A DelDOT employee created an NPDES web viewer account yesterday (3/22) and reached out to Sara to have the account activated. Matt nor I received the typical system email stating a new account had been created and needed approval.

Is it possible for you confirm everything looks good on the backend for the automated emails?

[2022-03-23 14:32] gerrykelly commented on #417
feature_globalid in
('E72B817F-0759-445E-88D6-840D011AD184',
'0AC96F87-CD14-4088-8615-FA2C1274A712',
'6047A334-9CBD-4AA3-A2F7-E300C509486C',
'AD2E47E1-3AF6-4C02-B89A-0A29DDB53596')

[2022-03-23 19:03] cstevenson1 commented on #414
@KCI-Ablowers select by map is now working for underdrain pipe ends ad underdrain pipe connections in dev for DelDOT NPDES group. please push to prod

[2022-03-23 19:18] cstevenson1 commented on #222
@KCI-Ablowers It still doesn't look right when I check it. Newark can go ahead and redo the MXD. Should we make a copy of V:_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer\BaseData_1_Primary_NewDev_20220224.mxd?

Dev
![image](https://user-images.githubusercontent.com/16919898/159778854-4fb1017d-2543-4fad-bac1-f2c664a3f106.png)

Prod
![image](https://user-images.g

[2022-03-23 19:33] cstevenson1 commented on #323
@KCI-Ablowers is this working for you? I'm not even seeing the parcel lines now.

Dev
![image](https://user-images.githubusercontent.com/16919898/159781158-55ab680c-6b35-45fc-8e34-749a18005b5f.png)

Prod
![image](https://user-images.githubusercontent.com/16919898/159781235-8ae914bc-2c9d-4b32-96ca-d565031cf3d7.png)

[2022-03-24 14:47] cstevenson1 commented on #413
@KCI-Ablowers push to prod AFTER #222 / base map issues are fixed.

[2022-03-24 14:49] cstevenson1 opened #419 "Forgot Password not working in dev"
@KCI-Ablowers Matt was unable to reset the password for his KCI account in the dev viewer.

[2022-03-24 17:47] gerrykelly commented on #417
@cstevenson1 @KCI-Ablowers
(Just the same content as earlier today email)

The new geoprocessing task for bulk export of structure and conveyance (with workorder) reports is deployed at:
https://deldot-agsdev/arcgis/rest/services/DelDotReports/multiReportStructConvey/GPServer/multiReportStructConvey/submitJob
•	I’ll add it to prod ASAP (it doesn’t conflict with anything, so no need to wait on test

[2022-03-24 17:48] gerrykelly commented on #417
@cstevenson1 @KCI-Ablowers
(Just the same content as earlier today email)

For the new webservice download option for structure and conveyance (with workorder) reports, I’ve:
•	Added a field -- [LINK_TO_REPORT] -- to WORK_ORDERS_MS4_Complete_TO_SEND & WORK_ORDERS_MS4
o	Values like: reportfilename=EE26912B-62B3-41CF-BFB2-09DAD4CCEECB.pdf&env=Dev&f=pjson
•	Updated the https://newarkgis.kci.com/repor

[2022-03-24 19:33] gerrykelly commented on #417
@cstevenson1 @KCI-Ablowers

I published the service to prod:
https://newarkgis.kci.com/arcgis/rest/services/DelDotReports/multiReportStructConvey/GPServer/multiReportStructConvey/submitJob

I'm testing it by having "Save reports to folder as";  \\sparkssvm\DelDotPics\DelDOTstructure_conveyanceWOreportsForWebservice\Production_Testing
- That folder being there just for our testing and going forward

[2022-03-25 13:53] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
For the sake of getting the code in place and testing, I added a second structures layer to the mxd and have inlets a special symbol in that layer.  I no longer show selected feature symbology in the map, but rather show only the "selected" feature in the top layer.  You can run the report for an inlet and get the idea,  Then update symbology for all in the top layer --

[2022-03-25 14:27] gerrykelly commented on #416
@cstevenson1 @KCI-Ablowers
Similar to for structures, I added a copy of the conveyance layer and gave the pipe symbol in the top one a different symbol to test and get things started.
- I set the scale to 4500 (structures still 2500) ... please make a call for each
- I am also increasing the image resolution from 120dpi to 300.  That results in larger files and may be overkill, but 120dpi was not

[2022-03-30 13:59] cstevenson1 commented on #400
@KCI-Ablowers successfully submitted immediate action in prod.

[2022-03-30 13:59] #400 closed

[2022-03-30 14:56] gerrykelly commented on #418
@cstevenson1 @KCI-Ablowers
Sorry, same old story, this is Lu thing for now

[2022-03-30 15:06] gerrykelly commented on #418
@cstevenson1 @KCI-Ablowers
That said tho, I did look at the code and webservice generally and if it was working, it should still be working.  Maybe a transient, KCI email server problem.  Can you test and see if it is back to working?  If so, "one of those things"; if not: Lu

[2022-04-04 16:36] cstevenson1 commented on #412
@KCI-Ablowers issue has not reoccurred. Closing issue for now.

[2022-04-04 16:36] #412 closed

[2022-04-04 16:37] cstevenson1 commented on #406
@KCI-Ablowers closing issue. Will re-open if we have additional questions about the roles.

[2022-04-04 17:24] cstevenson1 commented on #21
@KCI-Ablowers this was addressed when defaulting select by map tool to the advanced query builder

[2022-04-04 17:24] #21 closed

[2022-04-08 16:02] cstevenson1 commented on #415
@KCI-Ablowers @gerrykelly updated MXD in provided location (updated selected feature symbology, added underdrain features, conveyance drawing order, etc.). Matt and Bruce approved the updated. Please push to prod

We are aware that if the comments are long, it will push the map to the second page as shown below but we decided this is fine for now since 90+% of them should fall on the first page.

[2022-04-08 18:31] cstevenson1 commented on #416
@KCI-Ablowers @gerrykelly I updated the MXD and got approval from Bruce and Matt.

We noticed if the conveyance length is relatively short, it's difficult to see on the map. Is there a way to address the variation in conveyance length? For now we say push to prod and can potentially discuss/address this later as an enhancement.

Example Conveyance 0110197433

![MicrosoftTeams-image (2)](https://us

[2022-04-12 14:52] cstevenson1 commented on #417
@gerrykelly will do. I imagine it will be another week; it's been passed off to the client for testing to allow them to make necessary updates on their end to consume the reports.

[2022-04-12 15:32] gerrykelly commented on #416
@cstevenson1 @KCI-Ablowers
Note: as part of Push to Prod I copied the mxd to the comparable location on the Prod server -- deldot-ags2016 -- and updated the data sources to use the prod GDB.  (always good to verify that tho) any further updates on symbology should be done in place on the mxd

[2022-04-12 15:32] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
Note: as part of Push to Prod I copied the mxd to the comparable location on the Prod server -- deldot-ags2016 -- and updated the data sources to use the prod GDB.  (always good to verify that tho) any further updates on symbology should be done in place on the mxd

[2022-04-13 16:00] gerrykelly commented on #415
@cstevenson1 @KCI-Ablowers
Done (and removing my assignment). Please review.  I thought I was going to need to do a followup update to get the maps on the reports generated by the https://newarkgis.kci.com/arcgis/rest/services/DelDotReports/multiReportStructConvey/GPServer/multiReportStructConvey/submitJob task, but that just seems to be working correctly as-is, (Verify sometime when you're workin

[2022-04-13 23:30] kanglu666 commented on #418
fixed, ready for testing in dev.

[2022-04-13 23:33] kanglu666 commented on #419
fixed, ready for testing in dev,

[2022-04-25 15:41] cstevenson1 commented on #418
@KCI-Ablowers I received the new account request in dev for MFS Report. As long as that is correct, then I think it's good to push to prod.

![image](https://user-images.githubusercontent.com/16919898/165122626-bf07fa3b-9367-4d19-ac0f-66a29cf70f18.png)

[2022-05-09 00:34] kanglu666 commented on #418
Ready for testing in PROD

[2022-05-09 00:35] kanglu666 commented on #419
ready for testing in PROD

[2022-05-09 00:36] kanglu666 commented on #414
ready for testing in PROD

[2022-05-09 16:17] cstevenson1 commented on #323
@KCI-Ablowers please confirm we should replace the layers in: V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer
DelDOTBase.gdb

and make copy of BaseData_1_Primary_NewDev_20220224.mxd

[2022-05-09 17:52] cstevenson1 commented on #416
@gerrykelly @KCI-Ablowers appears to be working in prod. will create new issue as needed for future enhancements regarding symbology

[2022-05-09 17:52] #416 closed

[2022-05-09 17:56] cstevenson1 commented on #415
@gerrykelly @KCI-Ablowers appears to be working in prod. will create new issue as needed for future enhancements regarding symbology

[2022-05-09 17:56] #415 closed

[2022-05-18 00:52] kanglu666 commented on #371
Fixed, ready for testing in dev

[2022-05-31 17:03] KCI-Ablowers commented on #417
Closing for now and will reopen if any issues arise from Supreet/DelDOT

[2022-05-31 17:03] #417 closed

[2022-06-15 19:23] #419 closed

[2022-06-16 15:31] cstevenson1 commented on #414
@KCI-Ablowers not working in prod; still working in dev though.

[2022-06-16 17:51] KCI-Ablowers opened #420 "Prod Viewer - User List Clean-Up"
@kanglu666 The attached excel file contains 47 user accounts from the Prod NPDES Viewer that we would like to **remove** (not just deactivate). Once the updated list is confirmed by Newark, we will overwrite the Dev NPDES Viewer user list with the updated Prod list to keep them in line.
[MASTER_NPDES Web Viewer_User List 20220616.xlsx](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/8921

[2022-06-21 00:43] kanglu666 commented on #420
users in the list have been completely removed from system. ready for testing in PRDO

[2022-06-21 11:32] cstevenson1 commented on #420
@KCI-Ablowers We confirmed the users in the attached list have been removed from prod. please proceed with making dev match.

[2022-06-21 16:59] KCI-Ablowers commented on #414
@kanglu666 Can you confirm this update is present in Prod? @cstevenson1 mentioned last week that it didn't appear to be in place - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/414#issuecomment-1157799258

[2022-06-22 17:14] cstevenson1 opened #421 "Update source for Comments field on Conveyance Report"
@KCI-Ablowers @gerrykelly currently, I believe the Comments field on the Conveyance report is sourced to PIPE_SEGMENTS.PIPES_COMMENTS or SWALES.SWALES_COMMENTS depending on the conveyance type. We have valuable information in the comments field on the feature class and would like to capture both comments on the report. Something along the lines of CONVEYANCES.LOC_COMMENTS + " " + PIPE_SEGMENTS.PIP

[2022-06-22 23:57] KCI-Ablowers commented on #420
@kanglu666 Please update/replace the Dev user list.

[2022-06-23 15:48] cstevenson1 commented on #421
@gerrykelly Matt and I are good with what you have above (putting the entry on one line each instead of the current two). Please proceed. Can we also put the entry on one line instead of two for structure reports to make it consistent and give us more space with comments?

[2022-06-23 17:51] gerrykelly commented on #421
@cstevenson1 @KCI-Ablowers
Update in PROD
- Structure reports already had those entries on one line
- When I tested in PROD for conveyance 0207318978, I did not get the conveyance LOC_COMMENTS in the report as seen in DEV.  It turned out that the code update was good, but those comments actually did not exist in PROD.  Does that make sense? (like is there updating going on in DEV as a test before

[2022-06-23 19:05] cstevenson1 commented on #421
@gerrykelly @KCI-Ablowers

Yes that makes sense. There is occasionally testing in Dev that would not necessarily also occur in Prod but it more probable that the comment was deleted in prod because it was no longer applicable. Comments are getting updated daily in Prod and Dev tends to be pretty outdated.

Just to confirm, these revisions will carry over to conveyance reports generated through the

[2022-06-23 20:47] gerrykelly commented on #421
@KCI-Ablowers
Thanks for reminding me of multiReportStructConvey.  I hadn't thought of that and I have now updated dev and prod.

BTW, if it was not a GP service or I'd had 20/20 foresight anything that generates the same reports would use the same code files, but because of the beyond annoying way that you need to publish to ArcGIS Server, I'm stuck with needing to update for the specific task's

[2022-06-24 16:25] cstevenson1 commented on #377
@KCI-Ablowers all are not ready yet but the following MXDs are. We will continue to update the thread as more are ready.

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\viewers

target_viewer_npdes_cnc_06_22_22

[2022-06-30 00:38] kanglu666 commented on #414
NPDES map service has the it's own "under drain pipe" layer, outside the original Structure layer.
the identify by map is query from the Structure layer. that's why it's NOT showing up for NPDES group, but works for any other groups.

Will need to update the viewer for that. working on that.

[2022-06-30 00:54] kanglu666 commented on #414
fixed in PROD, ready for testing

[2022-06-30 16:09] cstevenson1 commented on #414
@KCI-Ablowers confirmed in prod

[2022-06-30 16:09] #414 closed

[2022-07-05 19:17] cstevenson1 opened #422 "PID Documentation Cutting Off"
@KCI-Ablowers @gerrykelly The WQI team has recently had a couple of water quality investigations that have been particularly long (lots of memo lines and photos). They have reported that not all of the memo text and photos are being pulled in the report from the viewer.

The two known cases are:

Structure # 0109216544 and PID Point OBJECTID 2463

[2022-07-05 20:24] gerrykelly commented on #422
@KCI-Ablowers
@cstevenson1 I don’t know what made you lie about this issue, but I’m sure you had your reasons :-) But, seriously, I cannot reproduce it.

From my testing and Andrew running the reports from the prod and dev viewers the only thing that makes sense now is that the report was dev, not prod.

So, let's take a step back and could you run the reports fresh from PROD and recheck?  If you

[2022-07-06 12:29] cstevenson1 commented on #422
@KCI-Ablowers

@gerrykelly Just trying to keep you on your toes but....
[Structure 0109216544 WQI Report.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/9054501/Structure.0109216544.WQI.Report.pdf)

Can you send the report that generates for you? Both Julie and I tried again this morning from PROD (she doesn't even have access to dev so I know that's not where it was previously gene

[2022-07-06 12:44] KCI-Ablowers commented on #422
@cstevenson1 @gerrykelly I just generated the attached report for that structure in Prod and it has the 2022 notes and 18 photos. I am using the admin account which is in the 'DelDOT NPDES' group (not sure that matters).
[Structure.0109216544.WQI.Report.pdf](https://github.com/leeensminger/DelDOT-NPDES-Viewer/files/9054737/Structure.0109216544.WQI.Report.pdf)

Here is the URL for the report - http

[2022-07-06 13:09] cstevenson1 commented on #422
@KCI-Ablowers @gerrykelly  Julie and I are both in the DelDOT NPDES group so I would assume that's unrelated. Melissa and I both cleared our cache and received the same result (no 2022 data). I also had Danielle try who has never downloaded that report before and she is not seeing the 2022 data.

I exclusively use Chrome at the office so I tried Edge and still the same thing. Julie uses Firefox so

[2022-07-06 13:45] KCI-Ablowers commented on #422
@cstevenson1 Can you rerun the report in Prod and drop the URL in a comment?

[2022-07-06 14:05] gerrykelly commented on #422
@KCI-Ablowers @cstevenson1
Christina, I'd be curious about the results of the following test:
- Let's focus on the PID Point OBJECTID 2463
- Bring up the DEV version of that in in ArcMap and navigate to the relationed WQI, then memo.  Add the word DEV to the start of the last comment and end of last comment
- Then do the same with the PROD version, but with the word "PROD" (and delete that after w

[2022-07-06 14:06] KCI-Ablowers commented on #422
@cstevenson1 @gerrykelly  It looks like that URL is referencing Dev compared to my URL above -

![image](https://user-images.githubusercontent.com/35460336/177568317-d8d0e7bd-cebe-4ff4-acc6-85c6aef60349.png)

[2022-07-06 14:11] gerrykelly commented on #422
@cstevenson1 @KCI-Ablowers
So, maybe hold off on the test I outlined, since the URL issue might point at the evidence I was trying to get to.  Is the viewer from which the bad reports are being generated a different version from what Andrew was using when we tested yesterday?  Somehow the PROD version is referencing DEV it seems (and only for WQI ... that seems unlikely, but I don't know this side

[2022-07-06 15:58] KCI-Ablowers commented on #422
@kanglu666 We need to check the config files for the Prod viewer and confirm there are no references to Dev GP services. Please review the comments above for context and we can discuss this evening (7/6/22) - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/422#issuecomment-1176267170 and https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/422#issuecomment-1176202861

[2022-07-07 01:07] kanglu666 commented on #422
Reports issue has been fixed in PROD. Please clear your browser cache and test.

[2022-07-07 13:29] #422 closed

[2022-07-07 13:44] KCI-Ablowers commented on #422
@kanglu666 Can you please add a comment on this issue describing the problem and resolution? Thanks

[2022-07-08 02:03] kanglu666 commented on #420
User list have been replaced with the user list in PROD. ready for testing

[2022-07-08 18:48] cstevenson1 opened #423 "Use MAINT_AREA_WORK to populate EMPLOYEE_ID and SUPERVISOR on work orders"
@KCI-Ablowers @gerrykelly

It currently looks like EMPLOYEE_ID and SUPERVISOR from the work order submission table (WORK_ORDERS_MS4_Complete_TO_SEND) is based on the value in WORK_ORDERS.SUPERVISOR however we added a MAINT_AREA_WORK field that reflects who the work order should be assigned to (similar to BMP work orders). More times than not, the SUPERVISOR and MAINT_AREA_WORK are the same but sin

[2022-07-08 19:12] cstevenson1 opened #424 "SCORE and COMMENT should be bolded"
@KCI-Ablowers @gerrykelly For BMP Inspection reports generated from the report runner, SCORE and COMMENT should be bolded for EMBANKMENT INSPECTION. It is properly bolded when the report is generated directly from the viewer.

Assuming this is minimal effort, please complete whenever Gerry has availability.

![SCORE and COMMENT](https://user-images.githubusercontent.com/16919898/178054344-082de2f1

[2022-07-08 19:41] gerrykelly commented on #423
@cstevenson1 @KCI-Ablowers
I updated the queries in PROD and DEV to use the MAINT_WORK_AREA text after the dash (and trimming leading space(s)) so as to get a clean version of just the person's name.

This value is then used to get the Employee ID from the LU_DISTRICT_SUPERVISORS table.  This works, but in the case of EUGENE KERPEN (and likely others?) it comes up with a null value because that na

[2022-07-08 20:09] gerrykelly commented on #424
@KCI-Ablowers
@cstevenson1 Can't you just take a black Sharpie and trace over the text?  :-) Updated in Prod and Dev

[2022-07-11 02:25] kanglu666 commented on #377
Map services have been updated in dev, ready for testing.

https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/CNC/MapServer
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/NCC/MapServer
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/Maintenance/MapServer
https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/DNREC/MapServer
https://devgis.kci.com/arcgis/rest/

[2022-07-11 12:18] KCI-Ablowers commented on #323
@cstevenson1 Do you still need anything from me on this issue?

[2022-07-18 15:37] cstevenson1 commented on #420
@KCI-Ablowers I had someone compare the prod to dev user list and they reported the following:

"I found three people who were in prod but were not in dev or the spreadsheet, all accounts are deactivated.

David Thorp - Dthorp513@gmail.com
Gavin Ferris – gavin.ferris@delaware.gov
Gordon Woodrow – gordon@toolfactory.com (this is a duplicate account, Gordon Woodrow has an active account at gordon.wo

[2022-07-18 18:33] KCI-Ablowers commented on #420
@cstevenson1, These may only appear in Prod because the request came in after the update was made in Dev. I wonder if maybe they submitted these on Friday when the emails weren't functioning correctly to try and troubleshoot?

@kanglu666 Do we have a created or requested timestamp associated with an account in the database?

[2022-07-19 17:06] KCI-Ablowers commented on #423
@kanglu666 can we add new values to the LU_DISTRICT_SUPERVISORS table without causing an issue in the field tool? Gerry's current "workaround" is above - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/423#issuecomment-1179308599

[2022-07-21 17:56] KCI-Ablowers commented on #420
BC is going to research these three accounts

[2022-07-21 17:59] KCI-Ablowers commented on #423
@kanglu666 will review the field tool and provide details on how the overlays and supervisors are used to help us determine if we could consolidate.

[2022-07-21 18:57] BC89 commented on #420
![image](https://user-images.githubusercontent.com/3298355/180294642-61caa012-08eb-4965-852e-ed7b168ca616.png) @KCI-Ablowers

[2022-07-22 13:00] KCI-Ablowers commented on #420
@BC89 Thanks!

[2022-07-26 17:19] KCI-Ablowers commented on #420
@BC89 Is it possible for you to resend the account activation emails to the three deactivated users above?

[2022-07-29 17:10] cstevenson1 commented on #424
@KCI-Ablowers looks good

![image](https://user-images.githubusercontent.com/16919898/181809899-20872985-0108-4e64-baf3-f169eab1c4d5.png)

[2022-07-29 17:10] #424 closed

[2022-07-29 19:35] cstevenson1 commented on #222
@KCI-Ablowers please republish

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer
BaseData_1_Primary_NewDev_20220520.mxd

[2022-08-02 16:01] cstevenson1 commented on #413
@KCI-Ablowers minor changes have been made to the MXD. Please republish, along with the base map from #222

target_viewer_npdes_milford_08_01_22

[2022-08-02 16:04] cstevenson1 commented on #377
@KCI-Ablowers minor edits were made to the MXDs listed above and updates were made to the remaining user group MXDs. Please republish all user group MXDs to dev.

[2022-08-02 16:07] cstevenson1 commented on #323
@KCI-Ablowers should be handled when #222 is addressed

republish of BaseData_1_Primary_NewDev_20220520

[2022-08-02 16:46] KCI-Ablowers commented on #222
@kanglu666 Ready to be republished in Dev

[2022-08-02 16:48] KCI-Ablowers commented on #377
@kanglu666 please republish the MXDs below (pulled from https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/377#issuecomment-1165734065) and the "remaining" user groups (please reach out if you are unclear which need to be republished)

[2022-08-02 16:49] KCI-Ablowers commented on #413
@kanglu666 Ready to be republished in Dev

[2022-08-02 16:51] KCI-Ablowers commented on #323
@kanglu666 Please update this issue when #222 is republished.

[2022-08-05 00:46] kanglu666 commented on #377
All MXDs data source re-pointed to dev DB,
All map services have been republished in dev, ready for testing.

[2022-08-11 00:04] KCI-Ablowers commented on #323
V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Base_Data_Viewer

[2022-08-11 00:05] #420 closed

[2022-08-11 00:05] #418 closed

[2022-08-11 01:33] kanglu666 commented on #222
base map has been republished: https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer

[2022-08-11 01:33] kanglu666 commented on #323
base map has been republished in dev:

https://devgis.kci.com/arcgis/rest/services/DelDotWebViewer/BaseData_1_Primary/MapServer

[2022-08-11 12:09] KCI-Ablowers commented on #222
@cstevenson1 Ready for testing in Dev.

[2022-08-11 12:10] KCI-Ablowers commented on #323
@cstevenson1 Ready for testing in Dev.

[2022-08-29 17:05] cstevenson1 commented on #377
@KCI-Ablowers We have reviewed the MXDs and a few are ready for prod, a few need to be republished, and a few are not working as expected but not sure why. Please see break down below. Additionally, once the Status field is ready, I imagine we will need to add a definition query to each MXD to hide the DelDOT BMPs that do not have a status of accepted or construction. If it is almost ready, then w

[2022-08-29 17:13] cstevenson1 commented on #413
@KCI-Ablowers this will addressed with #377

[2022-08-29 17:18] cstevenson1 commented on #421
@KCI-Ablowers I think we are good on this one. Will continue to monitor and will re-open if anything comes up.

[2022-08-29 17:18] #421 closed

[2022-08-31 16:23] KCI-Ablowers commented on #335
@cstevenson1 will this be addressed with #377 ?

[2022-09-30 16:55] cstevenson1 commented on #398
@KCI-Ablowers please provide a number of hours. I think Bruce wants to move this up the queue of items to address.

[2022-10-11 15:31] KCI-Ablowers commented on #398
@cstevenson1 Lu estimates 24 hours to complete this update.

[2022-10-18 19:40] cstevenson1 commented on #377
@KCI-Ablowers I haven't heard back about the labels from my previous comment but we can try republishing to see if that fixes the issues on its own if you'd like. All of the NPDES MXDs are ready to republish as listed below. Once these have been confirmed in Dev, please update the flattened MXD for the service.

V:\_RESOURCE_MANAGEMENT\Greater_Mid_Atlantic\Tech_Services\LU\DelDot\Dev_mxds\mxds\vie

[2022-10-20 00:14] KCI-Ablowers commented on #377
@kanglu666  Please republish the MXDs above - https://github.com/leeensminger/DelDOT-NPDES-Viewer/issues/377#issuecomment-1282913756 - to dev and double-check that the data source is pointing to Dev. If not, let me know which one(s). After you get them republished, can you verify that the Structure Drainage Area labels for "target_npdes_viewer_ncc," "target_viewer_maintenance," and "target_viewer_

[2022-10-20 18:05] kanglu666 commented on #398
selected features are highlighted in the map. ready for testing in dev

[2022-10-21 00:28] KCI-Ablowers commented on #398
@cstevenson1 Please test and let us know your thoughts. My initial thoughts are:

- We need to see if Lu can adjust the transparency or just present an "outline." Right now, the feature symbology is obscured by the overlay highlight.
- We should tie the highlights to the "clear" button in the feature list. You can select a set of features, then select another set. The highlight is shown on the sec

[2022-10-21 14:18] cstevenson1 commented on #398
@KCI-Ablowers

- I agree it would be nice if the features were a little more distinguishable while highlighted.
- I agree the feature list, clear button (from feature list and toolbar), and highlighting should be linked. If you click Clear on the feature list, the highlighting should also clear and vice versa if you clear the highlighting, it should clear the list. The list and highlighting would

[2022-10-31 19:50] kanglu666 commented on #377
all map services have been republished, ready for testing in dev

[2022-11-03 13:04] KCI-Ablowers commented on #398
@cstevenson1 We spoke with Lu last night, and he said he can do pretty much anything with the highlight symbology. I am thinking of opacity like a selection in ArcGIS Pro (screenshot below). We could probably outline the BMPs instead of showing a fill, so the new symbology shows up. If you have a different idea and can provide an example, we can have Lu see if he can replicate it.
![image](https:/

[2022-11-03 13:06] KCI-Ablowers commented on #330
@cstevenson1 Lu will do some testing and provide a level of effort to generate CSVs for the structure and conveyance. Currently, the export only generates a CSV for the selected BMPs.

[2022-11-03 13:09] KCI-Ablowers commented on #72
@cstevenson1 Lu will provide an LOE to capture the selected structures and conveyances and populate the feature classes in the export GDB. Currently, the export has feature classes for BMPs, structures, and conveyances but only populates the BMPs.

[2022-11-04 15:35] cstevenson1 commented on #377
@KCI-Ablowers

1. Structure Drainage Area labels still aren't working for:
target_npdes_viewer_ncc_10_18_22
target_viewer_maintenance_10_18_22
2. Is the view utilized by the advanced query builder going to align with the map? For example, a definition query was added to the MXD to ensure Design BMPs weren't displayed but they still come up using the query and will highlight on the map. We can disc

[2022-11-07 13:24] KCI-Ablowers commented on #377
1. I will get @kanglu666 to investigate the labels for these. Do you have any queries on the labels in the MXDs @cstevenson1 ?
2. I believe the advanced query builder is against the database, not the contents of the MXD. @kanglu666 can you please confirm?
3. Correct, we will need to wait until DelDOT has the BMP statuses finalized and get the status field populated in Prod before these get publish

[2022-11-10 18:36] kanglu666 commented on #377
target_npdes_viewer_ncc_10_18_22
target_viewer_maintenance_10_18_22

Both map services have been republished with the  "Structure Drainage Area labels " updated. ready for testing in dev.

[2022-11-10 19:14] KCI-Ablowers commented on #377
@cstevenson1 Please test when you can. Also, I confirmed with Lu that the advanced query builder works against the database and not the data present in the MXD.

[2022-11-11 13:01] cstevenson1 commented on #377
@KCI-Ablowers the labels are working. Pushing to prod is on-hold until the BMP unifier data is ready

[2022-11-15 18:22] KCI-Ablowers commented on #398
@kanglu666 Can you apply the following updates in Dev:

- update the point and conveyance symbology to be 50% transparent
- update the polygons to have no fill and just an outline
- update the color to #09dede (Screenshot below) instead of the dark blue

![image](https://user-images.githubusercontent.com/35460336/201995696-8f23a361-482d-40fa-b89c-8ad14cc31d9a.png)

[2022-11-17 13:53] KCI-Ablowers commented on #398
@kanglu666 to investigate possibility of matching symbology shape for the highlight and only showing an outline (no fill) on the point features. Conveyances will be a 50% transparent highlight instead of an outline due to line width. Polygons will have an outline and no fill.

[2022-11-17 14:04] KCI-Ablowers commented on #72
@cstevenson1 Currently, the CSV and GDB export options only work off the query in the Advanced Query Builder. There are still some concerns about front-end load times with large queries (county, watershed, etc.) and removing the paging. We will have to remove the paging if we want the export to go against the feature list and modify the code that runs the exports. We should consider adding an opti